Repository carbon-design-system/carbon-website, pull requests merged in 2018-09, with the labels that each got.

#54 Add DocSearch
  package.json
  src/components/GlobalSearch/GlobalSearch.js
  src/components/GlobalSearch/global-search.scss
  src/components/GlobalSearch/index.js
  src/components/Layouts/index.js
  src/components/SideNav/SideNav.js
  src/components/SideNav/side-nav.scss
  src/content/experimental/shell/shell.md
  src/content/experimental/text-input/code.md
  src/content/experimental/text-input/style.md
  src/content/experimental/text-input/usage.md
  src/data/navigation/navigation.json
  src/html.js
  src/styles/_demo-overrides.scss
  src/styles/experimental.scss
  src/styles/index.scss
  yarn.lock
Labels: project: website, status: visual review :eyes:

#84 content: First piece of the layout page guidance
  src/content/experimental/layout/images/mini_unit_grid.png
  src/content/experimental/layout/layout.md
Labels: status: WIP 👩‍💻

#124 fix: Update sidenav to allow selected top item to open/close
  src/components/SideNav/SideNav.js
  src/components/SideNav/SideNavItem.js
  src/components/SideNav/side-nav.scss
Labels: status: ready for review :eyes:

#140 search bug fixes
  src/components/GlobalSearch/GlobalSearch.js
  src/components/PageHeader/page-header.scss
  src/components/SideNav/SideNav.js
  src/components/SideNav/side-nav.scss
  src/components/markdown/markdown.scss
  src/content/guidelines/content/general.md
Labels: status: merge conflict :no_entry_sign:

#149 Add experimental breadcrumb
  .yarn-offline-mirror/carbon-components-9.21.0.tgz
  .yarn-offline-mirror/carbon-components-9.25.0.tgz
  package.json
  src/content/experimental/accordion/code.md
  src/content/experimental/breadcrumb/code.md
  src/content/experimental/breadcrumb/style.md
  src/content/experimental/breadcrumb/usage.md
  src/data/components.json
  src/data/navigation/navigation.json
  yarn.lock
Labels: status: ready for review :eyes:

#148 Fix nav style bug
  src/components/SideNav/side-nav.scss
Labels: status: ready for review :eyes:

#106 Add Password Text input
  .yarn-offline-mirror/@reach-router-1.2.1.tgz
  .yarn-offline-mirror/@storybook-addon-info-3.4.10.tgz
  .yarn-offline-mirror/@storybook-addon-info-3.4.11.tgz
  .yarn-offline-mirror/@storybook-client-logger-3.4.11.tgz
  .yarn-offline-mirror/@storybook-components-3.4.11.tgz
  .yarn-offline-mirror/@types-node-10.11.0.tgz
  .yarn-offline-mirror/@types-node-10.11.2.tgz
  .yarn-offline-mirror/carbon-components-9.26.0.tgz
  .yarn-offline-mirror/carbon-components-react-6.32.4.tgz
  .yarn-offline-mirror/carbon-components-react-6.33.3.tgz
  package.json
  src/components/ComponentExample/ComponentExample.js
  src/content/components/text-input/code.md
  yarn.lock
Labels: status: ready for review :eyes:
