Repository carbon-design-system/carbon-website, pull requests merged in 2018-10, with the labels that each got.

#110 Add shell variations
  src/components/ComponentExample/component-overrides.scss
  src/content/experimental/ui-shell/code.md
  src/styles/_demo-overrides.scss
  src/styles/index.scss
Labels: status: ready for review :eyes:

#111 feat: add docs for exp-component feature-flag usage
  src/content/experimental/about/overview.md
  src/content/experimental/about/usage.md
Labels: status: ready for review :eyes:

#166 feat(add-iconography): add experimental iconography section
  .yarn-offline-mirror/@carbon-icons-react-0.0.1-alpha.1.tgz
  .yarn-offline-mirror/carbon-components-9.25.0.tgz
  package.json
  src/components/IconLibrary/IconLibraryExperimental.js
  src/content/experimental/iconography/contribution.md
  src/content/experimental/iconography/library.md
  src/content/experimental/iconography/usage.md
  src/data/navigation/navigation.json
  src/styles/experimental.scss
  src/templates/page.js
  yarn.lock
Labels: status: ready for review :eyes:

#222 Add inline-loading back to nav
  src/content/components/inline-loading/style.md
  src/data/navigation/navigation.json
Labels: status: ready for review :eyes:

#211 Image and content updates
  src/content/experimental/ui-shell/usage.md
Labels: status: ready for review :eyes:

#237 fix: set font to plex for experimental components
  src/styles/experimental.scss
Labels: status: ready for review :eyes:

#238 Internal updates for TT
  src/components/SideNav/SideNav.js
  src/components/SideNav/side-nav.scss
  src/components/SideNavToggleBtn/side-nav-toggle-btn.scss
  src/content/about/design-language/design-language.md
  src/content/about/whats-new/images/dropdown-new.gif
  src/content/about/whats-new/images/sketch-libraries.png
  src/content/about/whats-new/images/sketch-palettes.png
  src/content/about/whats-new/images/small-toggle.gif
  src/content/about/whats-new/images/usage-bar-graph.png
  src/content/about/whats-new/images/usage-small-tooltip.png
  src/content/about/whats-new/whats-new.md
  src/data/navigation/navigation.json
  src/pages/index.js
  src/styles/_home.scss
  src/styles/_page.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#244 fix toast notification styles on website
  src/components/markdown/markdown.scss
Labels: status: ready for review :eyes:

#243 Image bugs
  .yarn-offline-mirror/carbon-components-9.26.0.tgz
  .yarn-offline-mirror/carbon-components-9.27.0.tgz
  .yarn-offline-mirror/carbon-components-react-6.33.3.tgz
  .yarn-offline-mirror/carbon-components-react-6.39.1.tgz
  docs/CONTENT.md
  package.json
  src/components/markdown/image-grid.scss
  src/components/markdown/markdown.scss
  src/content/components/button/style.md
  src/content/components/checkbox/style.md
  src/content/components/checkbox/usage.md
  src/content/components/code-snippet/style.md
  src/content/components/content-switcher/style.md
  src/content/components/data-table/style.md
  src/content/components/date-picker/style.md
  src/content/components/date-picker/usage.md
  src/content/components/dropdown/style.md
  src/content/components/file-uploader/style.md
  src/content/components/inline-loading/usage.md
  src/content/components/link/style.md
  src/content/components/list/style.md
  src/content/components/list/usage.md
  src/content/components/loading/style.md
  src/content/components/modal/style.md
  src/content/components/number-input/style.md
  src/content/components/number-input/usage.md
  src/content/components/overflow-menu/style.md
  src/content/components/overflow-menu/usage.md
  src/content/components/pagination/code.md
  src/content/components/radio-button/style.md
  src/content/components/search/style.md
  src/content/components/search/usage.md
  src/content/components/select/style.md
  src/content/components/select/usage.md
  src/content/components/slider/usage.md
  src/content/components/structured-list/style.md
  src/content/components/structured-list/usage.md
  src/content/components/tag/style.md
  src/content/components/text-input/style.md
  src/content/components/text-input/usage.md
  src/content/components/toggle/style.md
  src/content/components/toggle/usage.md
  src/content/components/tooltip/style.md
  src/content/components/tooltip/usage.md
  src/content/data-visualization/gauge/usage.md
  src/content/data-visualization/pie-chart/usage.md
  src/content/data-visualization/tooltip/style.md
  src/content/getting-started/faq/faq.md
  src/content/utilities/filtering/filtering.md
  src/content/utilities/overflow-content/images/BrowserTooltip.png
  src/content/utilities/overflow-content/overflow-content.md
  src/styles/_page.scss
  src/styles/index.scss
  yarn.lock
Labels: status: ready for review :eyes:

#260 Make side nav keyboard accessible.
  src/components/Layouts/index.js
  src/components/SideNav/SideNav.js
  src/components/SideNav/SideNavItem.js
  src/components/SideNav/side-nav.scss
Labels: status: ready for review :eyes:

#290 Updating broken gif
  src/content/experimental/color/images/IBM_UI_Screens_new.gif
Labels: priority: low

#286 187 color block
  docs/CONTENT.md
  src/components/ColorBlock/ColorBlock.js
  src/components/ColorBlock/ColorBlock.stories.jsx
  src/components/ColorBlock/color-block.scss
  src/components/ColorBlock/index.js
  src/components/ColorCard/ColorCard.js
  src/components/ColorCard/color-card.scss
  src/components/markdown/Markdown.js
  src/components/markdown/markdown.scss
  src/content/experimental/iconography/usage.md
  src/content/guidelines/color/usage.md
  src/content/guidelines/iconography/usage.md
  src/styles/index.scss
  src/templates/page.js
Labels: status: visual review :eyes:

#322 Update library.md
  src/content/experimental/iconography/library.md
Labels: status: blocked 🙅‍♀️

#324 Fix link for tabs with multiple spaces
  gatsby-node.js
  src/components/PageTabs/PageTabs.js
  src/components/PageTabs/page-tabs.scss
Labels: status: ready for review :eyes:
