Repository carbon-design-system/carbon-website, pull requests merged in 2018-11, with the labels that each got.

#364 Fix broken links on contributing page
  src/content/contributing/developers.md
Labels: status: ready for review :eyes:

#366 Add articles & featured back to website
  src/content/resources/images/article-1.png
  src/content/resources/images/article-2.png
  src/content/resources/images/article-3.png
  src/content/resources/images/article-4.png
  src/content/resources/images/article-4a.png
  src/content/resources/images/article-5.png
  src/content/resources/images/article-5a.png
  src/content/resources/images/article-6.png
  src/content/resources/images/article-7.png
  src/content/resources/images/article-8.png
  src/content/resources/resources.md
Labels: status: ready for review :eyes:

#362 Updated getting started content
  src/content/getting-started/designers/designers.md
  src/content/getting-started/designers/images/designers-2.png
  src/content/getting-started/designers/images/designers-3.png
  src/content/getting-started/designers/images/designers-4.png
  src/content/getting-started/designers/images/designers-5.png
  src/content/getting-started/designers/images/gif.gif
  src/content/getting-started/designers/images/png.png
  src/content/getting-started/designers/images/svg.svg
Labels: status: waiting for response :thought_balloon:, type: docs :book:

#384 Add experimental overflow menu
  .yarn-offline-mirror/carbon-components-9.44.0.tgz
  .yarn-offline-mirror/carbon-components-9.48.4.tgz
  .yarn-offline-mirror/carbon-components-react-6.45.2.tgz
  .yarn-offline-mirror/carbon-components-react-6.49.0.tgz
  .yarn-offline-mirror/flatpickr-2.6.3.tgz
  package.json
  src/components/ComponentExample/component-overrides.scss
  src/content/experimental/overflow-menu/code.md
  src/content/experimental/overflow-menu/usage.md
  src/content/experimental/ui-shell/code.md
  src/data/components.json
  src/data/navigation/navigation.json
  yarn.lock
Labels: status: WIP 👩‍💻

#455 feat(codesnippet/textarea): add experimental components to website
  .yarn-offline-mirror/@carbon-colors-0.0.1-alpha.0.tgz
  .yarn-offline-mirror/carbon-components-9.48.4.tgz
  .yarn-offline-mirror/carbon-components-9.54.0.tgz
  package.json
  src/content/experimental/code-snippet/code.md
  src/content/experimental/code-snippet/usage.md
  src/content/experimental/text-input/code.md
  src/data/components.json
  src/data/navigation/navigation.json
  yarn.lock
Labels: status: ready for review :eyes:

#456 feat(inline-loading): add experimental inline-loading
  .yarn-offline-mirror/carbon-components-9.54.3.tgz
  .yarn-offline-mirror/carbon-components-9.54.5.tgz
  .yarn-offline-mirror/mini-svg-data-uri-1.0.1.tgz
  .yarn-offline-mirror/mini-svg-data-uri-1.0.2.tgz
  src/components/ComponentExample/component-overrides.scss
  src/content/experimental/inline-loading/code.md
  src/content/experimental/inline-loading/usage.md
  src/content/experimental/loading/code.md
  src/content/experimental/loading/usage.md
  src/data/components.json
  src/data/navigation/navigation.json
  src/html/inline-loading/inline-loading.html
  src/html/loading/loading--small.html
  src/html/loading/loading--without-overlay.html
  src/html/loading/loading.html
  yarn.lock
Labels: status: merge conflict :no_entry_sign:, status: ready for review :eyes:

#387 Fix experimental date picker styles on website
  .yarn-offline-mirror/carbon-components-9.54.5.tgz
  .yarn-offline-mirror/carbon-components-9.56.3.tgz
  package.json
  src/components/ComponentExample/component-overrides.scss
  yarn.lock
Labels: status: help wanted :open_hands:, status: visual review :eyes:

#468 feat(tabs): add experimental tabs
  .yarn-offline-mirror/carbon-components-9.57.0.tgz
  .yarn-offline-mirror/carbon-components-9.58.2.tgz
  package.json
  src/components/ComponentExample/component-overrides.scss
  src/content/experimental/tabs/code.md
  src/content/experimental/tabs/usage.md
  src/data/components.json
  src/data/navigation/navigation.json
  src/html/tabs/tabs.html
  yarn.lock
Labels: project: website, status: ready for review :eyes:
