Repository carbon-design-system/carbon-website, pull requests merged in 2018-12, with the labels that each got.

#501 feat(progress-bar): adds experimental progress bar to website
  src/content/experimental/progress-indicator/code.md
  src/content/experimental/progress-indicator/usage.md
  src/data/components.json
  src/data/navigation/navigation.json
  src/html/progress-indicator/progress-indicator.html
Labels: status: ready for review :eyes:

#502 Mobile nav
  src/components/CodeSnippet/CodeSnippet.js
  src/components/ComponentCode/ComponentCode.js
  src/components/ComponentDocs/ComponentDocs.js
  src/components/ComponentOverview/ComponentOverview.js
  src/components/ComponentReact/ComponentReact.js
  src/components/ComponentStatus/ComponentStatus.js
  src/components/Footer/Footer.js
  src/components/Glossary/Glossary.js
  src/components/IconLibrary/IconLibrary.js
  src/components/IconLibrary/IconLibraryExperimental.js
  src/components/Layouts/index.js
  src/components/LeftNav/LeftNav.js
  src/components/LeftNav/left-nav.scss
  src/components/PageHeader/PageHeader.js
  src/components/PageTable/PageTable.js
  src/components/PageTabs/PageTabs.js
  src/components/markdown/Markdown.js
  src/components/markdown/markdown.scss
  src/pages/index.js
  src/styles/_mixins.scss
  src/styles/_page.scss
  src/styles/index.scss
  src/templates/page.js
Labels: v10 :new:

#583 V10 homepage updates
  .yarn-offline-mirror/carbon-components-9.60.0.tgz
  .yarn-offline-mirror/carbon-components-9.61.1.tgz
  .yarn-offline-mirror/carbon-components-react-6.58.0.tgz
  .yarn-offline-mirror/carbon-components-react-6.59.0.tgz
  package.json
  src/components/ClickableTile/ClickableTile.js
  src/components/ClickableTile/clickable-tile.scss
  src/components/FeatureTile/FeatureTile.js
  src/components/FeatureTile/feature-tile.scss
  src/components/Homepage/Homepage.js
  src/components/Homepage/homepage.scss
  src/components/TileGroup/TileGroup.js
  src/components/TileGroup/TileGroup.stories.jsx
  src/components/TileGroup/index.js
  src/components/TileGroup/tile-group.scss
  src/components/markdown/Markdown.js
  src/components/markdown/markdown.scss
  src/content/components/date-picker/code.md
  src/content/components/form/code.md
  src/content/components/search/code.md
  src/content/components/search/usage.md
  src/content/guidelines/accessibility/color.md
  src/content/guidelines/accessibility/developers.md
  src/content/guidelines/accessibility/keyboard.md
  src/content/guidelines/accessibility/overview.md
  src/content/guidelines/content/guidance.md
  src/content/guidelines/layout/layout.md
  src/content/guidelines/themes/themes.md
  src/content/guidelines/typography/expressive.md
  src/content/homepage/images/getting-started-designers.png
  src/content/homepage/images/homepage_img.jpg
  src/content/index.md
  src/content/resources/images/article-4.png
  src/content/resources/images/article-5.png
  src/content/resources/images/article-6.png
  src/content/resources/images/article-7.jpg
  src/content/resources/images/article-7.png
  src/content/resources/images/article-8.png
  src/content/resources/images/article-9.png
  src/content/resources/resources.md
  src/data/components.json
  src/styles/_page.scss
  src/styles/index.scss
  yarn.lock
Labels: status: visual review :eyes:

#530 Pagination: Next & Previous buttons on content pages
  src/components/NextPrevious/NextPrevious.js
  src/components/NextPrevious/index.js
  src/components/NextPrevious/next-previous.scss
  src/styles/index.scss
  src/templates/page.js
Labels: status: ready for review :eyes:

#597 V10 back to top
  .yarn-offline-mirror/detect-passive-events-1.0.4.tgz
  .yarn-offline-mirror/react-scroll-up-1.3.3.tgz
  .yarn-offline-mirror/tween-functions-1.2.0.tgz
  package.json
  src/components/BackToTop/BackToTop.js
  src/components/BackToTop/back-to-top.scss
  src/components/BackToTop/index.js
  src/components/SideNavToggleBtn/SideNavToggleBtn.js
  src/components/SideNavToggleBtn/SideNavToggleBtn.stories.jsx
  src/components/SideNavToggleBtn/index.js
  src/components/SideNavToggleBtn/side-nav-toggle-btn.scss
  src/content/getting-started/designers/designers.md
  src/styles/index.scss
  src/templates/page.js
  yarn.lock
Labels: status: ready for review :eyes:, status: visual review :eyes:

#602 fix: full-width background color for next/previous buttons on larger views
  src/components/NextPrevious/NextPrevious.js
  src/html/pagination/pagination.html
Labels: type: bug 🐛, type: dev :robot:
