Repository carbon-design-system/carbon-website, pull requests merged in 2019-06, with the labels that each got.

#1694 WIP: docs(tutorial): improve step 2
  src/content/tutorial/overview/overview.mdx
  src/content/tutorial/react-step-1/react-step-1.mdx
  src/content/tutorial/react-step-2/images/landing-layout.png
  src/content/tutorial/react-step-2/images/landing-r1-spacing.png
  src/content/tutorial/react-step-2/images/landing-r1-type.png
  src/content/tutorial/react-step-2/images/landing-r2-spacing.png
  src/content/tutorial/react-step-2/images/landing-r3-spacing.png
  src/content/tutorial/react-step-2/react-step-2.mdx
  src/data/navigation/navigation.json
Labels: status: WIP 👩‍💻

#1688 docs: tooltip guidance/image
  src/content/components/tooltip/images/definition_tooltip_image.png
  src/content/components/tooltip/images/interactive_tooltip.png
  src/content/components/tooltip/images/tooltip-usage-1-bottom.png
  src/content/components/tooltip/images/tooltip-usage-1-left-right.png
  src/content/components/tooltip/images/tooltip-usage-1-top.png
  src/content/components/tooltip/images/tooltip-usage-3-v2.png
  src/content/components/tooltip/images/tooltip_placement.png
  src/content/components/tooltip/usage.mdx
Labels: status: ready to merge :tada:

#1696 docs: Add guidance to modal
  src/content/components/modal/images/modal-usage-4a.png
  src/content/components/modal/images/modal-usage-4b.png
  src/content/components/modal/usage.mdx
Labels: status: ready for review :eyes:, type: content :book:

#1690 Update starter screenshot
  src/content/getting-started/developers/images/carbon-angular-starter.png
Labels: status: ready to merge :tada:

#1692 feat(color, theme): add new tokens
  src/content/guidelines/themes/themes.mdx
  src/data/guidelines/color-tokens.js
Labels: status: ready to merge :tada:

#1704 docs: added requested text entry copy
  src/content/components/text-input/images/text-area-usage-1.png
  src/content/components/text-input/images/text-input-header-usage.png
  src/content/components/text-input/usage.mdx
Labels: status: one more review :eyes:, type: content :book:

#1682 Add information personal access token for push
  src/content/tutorial/react-step-1/react-step-1.mdx
Labels: status: ready to merge :tada:

#1708 docs: added new article
  src/content/index.mdx
  src/content/resources/images/10_3-image.png
  src/content/resources/images/Article_01.png
  src/content/resources/resources.mdx
Labels: status: ready for review :eyes:

#1707 docs: clarify icon placement
  src/content/components/UI-shell-header/images/header-usage-5.png
  src/content/components/UI-shell-header/images/header-usage-6.png
  src/content/components/UI-shell-header/usage.mdx
Labels: status: one more review :eyes:

#1716 chore: update to 10.3
  .yarn-offline-mirror/@carbon-icon-helpers-0.0.1-beta.5.tgz
  .yarn-offline-mirror/@carbon-icon-helpers-10.2.0.tgz
  .yarn-offline-mirror/@carbon-icons-react-0.0.1-beta.5.tgz
  .yarn-offline-mirror/@carbon-icons-react-10.3.0.tgz
  .yarn-offline-mirror/carbon-components-10.1.0.tgz
  .yarn-offline-mirror/carbon-components-10.3.0.tgz
  .yarn-offline-mirror/carbon-components-react-7.0.0.tgz
  .yarn-offline-mirror/carbon-components-react-7.3.0.tgz
  package.json
  packages/addons-website/scss/components/_typeface-sub-families.scss
  packages/addons-website/scss/components/_website-side-nav.scss
  packages/addons-website/src/components/Grid/Grid.js
  packages/addons-website/src/components/TypeTester/TypeTester.js
  src/components/CodePage/CodePage.js
  src/components/LeftNav/LeftNav.js
  src/components/WebsiteTabs/WebsiteTabs.js
  src/content/components/data-table/code.mdx
  src/content/components/data-table/style.mdx
  yarn.lock
Labels: status: ready to merge :tada:

#1721 fixing typo
  src/content/tutorial/react-step-2/react-step-2.mdx
Labels: status: ready to merge :tada:

#1715 feat: update switcher links
  lerna.json
  packages/addons-website/package.json
  packages/addons-website/scss/components/_website-switcher.scss
  packages/addons-website/src/components/WebsiteSwitcher/WebsiteSwitcher-story.js
  src/components/Layouts/index.js
Labels: status: one more review :eyes:

#1717 docs(tutorial): update and publish step 3
  src/content/tutorial/overview/overview.mdx
  src/content/tutorial/react-step-2/react-step-2.mdx
  src/content/tutorial/react-step-3/react-step-3.mdx
  src/data/navigation/navigation.json
Labels: status: ready for review :eyes:

#1698 fix(IconLibrary): add 20/24 sizes
  src/components/IconLibrary/IconLibrary.js
Labels: priority: high, status: ready to merge :tada:

#1719 update contributing guidelines to correct website name
  .github/CONTRIBUTING.md
Labels: status: ready to merge :tada:

#1750 docs(tutorial): publish step 4
  src/content/tutorial/overview/overview.mdx
  src/content/tutorial/react-step-2/react-step-2.mdx
  src/content/tutorial/react-step-4/images/DAP-violations.png
  src/content/tutorial/react-step-4/images/info-layout.png
  src/content/tutorial/react-step-4/images/info-spacing.png
  src/content/tutorial/react-step-4/react-step-4.mdx
  src/data/navigation/navigation.json
Labels: status: WIP 👩‍💻

#1739 docs: new article
  src/content/index.mdx
  src/content/resources/images/june_option_3.png
  src/content/resources/resources.mdx
Labels: status: ready to merge :tada:

#1753 docs: removed unnecessary heading
  src/content/components/overview/overview.mdx
Labels: status: one more review :eyes:, type: content :book:

#1741 fix(markdown): remove unused classname prop in `a` component
  src/components/markdown/Markdown.js
Labels: status: one more review :eyes:

#1722 feat: add ui shell to vue
  src/data/components.json
Labels: status: ready to merge :tada:

#1757 fix(modal): style tab images
  src/content/components/modal/images/modal-style-1.png
  src/content/components/modal/images/modal-style-2.png
  src/content/components/modal/images/modal-style-4.png
  src/content/components/modal/style.mdx
Labels: status: ready to merge :tada:

#1723 fix: tab styles
  src/components/WebsiteTabs/website-tabs.scss
Labels: status: ready to merge :tada:

#1742 fix(anchor-links): display block on `li` to fix `a` hover underline in chrome
  packages/addons-website/scss/components/_anchor-links.scss
Labels: status: ready to merge :tada:

#1726 chore: addons version number
  lerna.json
  package.json
  packages/addons-website/package.json
Labels: status: ready to merge :tada:

#1731 docs(tutorial): add more step 3 instructions
  src/content/tutorial/react-step-3/react-step-3.mdx
Labels: status: ready to merge :tada:

#1763 Docs: Content style fixes
  src/content/guidelines/content/general.mdx
Labels: status: ready to merge :tada:

#1724 feat: add 10.3 shell component examples
  src/components/ComponentDocs/component-docs.scss
  src/components/markdown/markdown.scss
  src/content/components/UI-shell-header/code.mdx
  src/content/components/UI-shell-header/style.mdx
  src/content/components/UI-shell-header/usage.mdx
  src/content/components/UI-shell-left-panel/code.mdx
  src/content/components/UI-shell-left-panel/style.mdx
  src/content/components/UI-shell-left-panel/usage.mdx
  src/content/components/UI-shell-right-panel/code.mdx
  src/content/components/UI-shell-right-panel/style.mdx
  src/content/components/UI-shell-right-panel/usage.mdx
  src/data/components.json
  src/styles/_overrides.scss
Labels: status: one more review :eyes:, status: ready to merge :tada:

#1771 fix: change brand link in switcher
  src/components/Layouts/index.js
Labels: status: ready to merge :tada:

#1770 Updated image size
  src/content/experimental/deleting/deleting.mdx
Labels: status: ready to merge :tada:

#1775 chore(homepage): update links to monorepo location
  src/content/index.mdx
Labels: status: one more review :eyes:

#1774 Fix link to Sketch library on Chatbot Overview Page
  src/content/experimental/chatbot/overview.mdx
Labels: status: one more review :eyes:

#1776 chore: add netlify link to footer
  src/components/Layouts/index.js
Labels: status: ready to merge :tada:, type: content :book:

#1786 chore(icons): update link to monorepo for icons
  src/content/guidelines/iconography/library.mdx
Labels: status: ready to merge :tada:

#1777 fix: broken anchor links
  src/components/ComponentCode/ComponentCode.js
  src/components/markdown/Markdown.js
Labels: status: ready to merge :tada:

#1778 docs(tutorial): add note on speeding up deploys
  src/content/tutorial/react-step-5/react-step-5.mdx
Labels: status: one more review :eyes:, status: ready to merge :tada:

#1785 fix(tutorial): typos in doc for step 5
  src/content/tutorial/react-step-5/react-step-5.mdx
Labels: status: ready to merge :tada:

#1767 fix(typography): update to remove old scale reference
  src/content/guidelines/typography/expressive.mdx
Labels: status: one more review :eyes:, status: ready to merge :tada:

#1773 fix(theme): update theme page
  src/content/guidelines/themes/themes.mdx
Labels: status: ready to merge :tada:

#1793 chore: update lets encrypt instructions
  docs/lets-encrypt.md
Labels: status: ready for review :eyes:
