Repository carbon-design-system/carbon-website, pull requests merged in 2019-07, with the labels that each got.

#1794 docs(tutorial): add wrapping up page
  src/content/tutorial/wrapping-up/images/carbon-badge.png
  src/content/tutorial/wrapping-up/images/carbon-tee.png
  src/content/tutorial/wrapping-up/wrapping-up.mdx
  src/data/navigation/navigation.json
Labels: status: ready for review :eyes:

#1798 fix: update carbon badge image
  src/content/tutorial/wrapping-up/images/carbon-badge.png
Labels: status: ready to merge :tada:

#1799 docs: image update
  src/content/resources/images/code_palette.png
  src/content/resources/images/june_option_3.png
Labels: status: one more review :eyes:

#1714 docs: Export pattern
  src/content/experimental/export-pattern/export-pattern.mdx
  src/content/experimental/export-pattern/images/1.png
  src/content/experimental/export-pattern/images/2.png
  src/content/experimental/export-pattern/images/3.5.png
  src/content/experimental/export-pattern/images/3.png
  src/content/experimental/export-pattern/images/4.png
  src/content/experimental/export-pattern/images/contextual.png
  src/data/navigation/navigation.json
Labels: status: ready to merge :tada:

#1788 feat: remove banner and update homepage
  src/components/ClickableTile/ClickableTile.js
  src/components/ClickableTile/clickable-tile.scss
  src/components/FeatureTile/FeatureTile.js
  src/components/FeatureTile/feature-tile.scss
  src/components/Homepage/Homepage.js
  src/components/Homepage/Homepage.js.rej
  src/components/Homepage/homepage.scss
  src/components/HomepageVideo/homepage-video.scss
  src/components/Layouts/index.js
  src/components/markdown/markdown.scss
  src/content/index.mdx
  src/data/guidelines/glossary.js
  src/styles/_sticky.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:, status: waiting for response :thought_balloon:

#1797 docs(migration): Removed incorrect references and broken links
  src/content/guidelines/layout/layout.mdx
  src/content/updates/migration/migration.mdx
  src/content/updates/v10-migration/design.mdx
  src/content/updates/v10-migration/develop.mdx
  src/content/updates/v10-migration/developers.mdx
  src/content/updates/v10-migration/overview.mdx
  src/data/navigation/navigation.json
Labels: status: one more review :eyes:, type: content :book:

#1800 docs: removed unnecessary content
  src/content/guidelines/content/guidance.mdx
Labels: status: ready to merge :tada:

#1806 Update designers.mdx
  src/content/contributing/designers/designers.mdx
Labels: status: ready to merge :tada:, type: content :book:

#1811 docs(glossary): removal of all idioms
  src/content/guidelines/content/glossary.mdx
  src/data/guidelines/glossary.js
Labels: status: one more review :eyes:, type: content :book:

#1814 docs(tutorial): Fix typos in tutorial
  .github/CONTRIBUTING.md
  src/content/tutorial/react-step-1/react-step-1.mdx
  src/content/tutorial/react-step-2/react-step-2.mdx
  src/content/tutorial/react-step-3/react-step-3.mdx
  src/content/tutorial/react-step-4/react-step-4.mdx
Labels: status: ready for review :eyes:, type: content :book:

#1816 docs(data table): removed line about title casing
  src/content/components/data-table/style.mdx
Labels: status: one more review :eyes:, type: content :book:

#1801 docs(tutorial): add note on filtering by author
  src/content/tutorial/wrapping-up/wrapping-up.mdx
Labels: type: content :book:

#1789 icon library pages cupcake updates
  src/components/IconCard/icon-card.scss
  src/components/IconEmptyState/IconEmptyState.js
  src/components/IconEmptyState/icon-empty-state.scss
  src/components/IconLibrary/IconLibrary.js
  src/components/IconLibrary/icon-library.scss
  src/content/guidelines/iconography/contribute.mdx
  src/content/guidelines/iconography/library.mdx
  src/content/guidelines/iconography/usage.mdx
  src/styles/index.scss
  yarn.lock
Labels: status: ready to merge :tada:

#1808 Update stale.yml to 30 days + 30 days
  .github/stale.yml
Labels: status: ready to merge :tada:

#1818 chore: update to 10.4.0
  .yarn-offline-mirror/@carbon-colors-10.1.1.tgz
  .yarn-offline-mirror/@carbon-colors-10.3.0.tgz
  .yarn-offline-mirror/@carbon-elements-10.4.0.tgz
  .yarn-offline-mirror/@carbon-grid-10.4.0.tgz
  .yarn-offline-mirror/@carbon-icon-helpers-10.2.0.tgz
  .yarn-offline-mirror/@carbon-icon-helpers-10.3.0.tgz
  .yarn-offline-mirror/@carbon-icons-10.4.0.tgz
  .yarn-offline-mirror/@carbon-icons-react-10.3.0.tgz
  .yarn-offline-mirror/@carbon-icons-react-10.4.0-alpha.5390.tgz
  .yarn-offline-mirror/@carbon-icons-react-10.4.1.tgz
  .yarn-offline-mirror/@carbon-import-once-10.3.0.tgz
  .yarn-offline-mirror/@carbon-layout-10.3.0.tgz
  .yarn-offline-mirror/@carbon-motion-10.3.0.tgz
  .yarn-offline-mirror/@carbon-themes-10.4.0.tgz
  .yarn-offline-mirror/@carbon-type-10.1.1.tgz
  .yarn-offline-mirror/@carbon-type-10.3.0.tgz
  .yarn-offline-mirror/carbon-components-10.3.0.tgz
  .yarn-offline-mirror/carbon-components-10.4.1.tgz
  .yarn-offline-mirror/carbon-components-react-7.3.0.tgz
  .yarn-offline-mirror/carbon-components-react-7.4.1.tgz
  .yarn-offline-mirror/flatpickr-4.5.5.tgz
  .yarn-offline-mirror/flatpickr-4.6.1.tgz
  package.json
  packages/addons-website/scss/components/_website-side-nav.scss
  src/components/WebsiteTabs/WebsiteTabs.js
  yarn.lock
Labels: status: one more review :eyes:

#1827 chore(layout): update link to grid package
  src/content/guidelines/layout/layout.mdx
Labels: status: ready to merge :tada:

#1822 fix(resources): added ui shell template
  src/content/components/UI-shell-header/images/sketch-icon.png
  src/content/components/UI-shell-header/usage.mdx
  src/content/components/UI-shell-left-panel/images/sketch-icon.png
  src/content/components/UI-shell-left-panel/usage.mdx
  src/content/components/UI-shell-right-panel/images/sketch-icon.png
  src/content/components/UI-shell-right-panel/usage.mdx
  src/content/getting-started/designers/designers.mdx
  src/content/resources/resources.mdx
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1819 fix(tokens): updated color values
  src/data/guidelines/color-tokens.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1807 Adding experimental nav pattern
  src/content/experimental/navigation-pattern/images/between-offerings.png
  src/content/experimental/navigation-pattern/images/drill-down.png
  src/content/experimental/navigation-pattern/images/header-leftpanel-example.png
  src/content/experimental/navigation-pattern/images/header-only-example.png
  src/content/experimental/navigation-pattern/images/within-offering.png
  src/content/experimental/navigation-pattern/overview.mdx
  src/content/patterns/navigation/accessibility.mdx
  src/content/patterns/navigation/overview.mdx
  src/content/patterns/navigation/usage.mdx
  src/data/navigation/navigation.json
Labels: status: ready to merge :tada:

#1780 docs(contrib): New contribution guidelines
  src/components/Layouts/index.js
  src/content/contributing/add-ons/add-ons.mdx
  src/content/contributing/designers/designers.mdx
  src/content/contributing/developers/developers.mdx
  src/content/contributing/governance/governance.mdx
  src/content/contributions/bugs-and-requests/bugs-and-requests.mdx
  src/content/contributions/component/components.mdx
  src/content/contributions/component/images/content-switcher-style-1.png
  src/content/contributions/component/images/github-icon.png
  src/content/contributions/component/images/spec.png
  src/content/contributions/documentation/documentation.mdx
  src/content/contributions/overview/governance.mdx
  src/content/contributions/overview/overview.mdx
  src/content/contributions/pattern/pattern.mdx
  src/content/patterns/overview/overview.mdx
  src/data/navigation/navigation.json
Labels: status: one more review :eyes:, type: content :book:

#1832 feat: convert color blocks to html
  src/content/guidelines/color/overview.mdx
  src/styles/_color-ui.scss
  src/styles/index.scss
Labels: status: one more review :eyes:, status: visual review :eyes:

#1837 a11y note about label & placeholder, minor text revisions
  src/content/components/search/usage.mdx
Labels: status: ready to merge :tada:

#1843 docs: select versus dropdown detailed explanations
  src/content/components/dropdown/usage.mdx
  src/content/components/select/usage.mdx
Labels: status: ready for review :eyes:, type: content :book:

#1849 fix(progress-indicator): tooltip glitch
  src/styles/_overrides.scss
Labels: status: one more review :eyes:
