Repository carbon-design-system/carbon-website, pull requests merged in 2019-09, with the labels that each got.

#225 fix: Do/don't example on iconography usage page now shows one do and …
  src/pages/guidelines/iconography/usage.mdx
Labels: status: content review ✍️, status: one more review :eyes:, status: visual review :eyes:

#226 fix: adds mobile images to color guidelines page
  src/components/ColorBlock/color-block.scss
  src/components/ColorGrid/ColorGrid.js
  src/components/ColorGrid/_color-grid.scss
  src/components/ColorGrid/index.js
  src/pages/guidelines/color/images/Duo_Mobile_Color_in_UI-Digital_Accessibility_WCAG_2_Standards_01.svg
  src/pages/guidelines/color/images/Duo_Mobile_Color_in_UI-Digital_Accessibility_WCAG_2_Standards_02.svg
  src/pages/guidelines/color/images/accessibility.png
  src/pages/guidelines/color/images/accessibility_02.png
  src/pages/guidelines/color/images/wcag-dos-donts.svg
  src/pages/guidelines/color/images/wcag2-blues.svg
  src/pages/guidelines/color/overview.mdx
  src/styles/index.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#217 fix: add white background to all content images
  src/pages/guidelines/layout/index.mdx
  src/styles/_images.scss
Labels: status: ready to merge 🎉

#235 docs: removed the remaining idioms section
  src/data/guidelines/glossary.js
Labels: status: content review ✍️, status: ready for review :eyes:, type: docs :book:

#230 [Link] Style tab spec typo
  src/pages/components/link/style.mdx
Labels: status: ready to merge 🎉

#199 docs(pattern): import pattern
  src/data/nav-items.yaml
  src/pages/experimental/delete-pattern/images/1.png
  src/pages/experimental/delete-pattern/images/1_1.png
  src/pages/experimental/delete-pattern/images/1_2.png
  src/pages/experimental/delete-pattern/images/2.png
  src/pages/experimental/delete-pattern/images/3.png
  src/pages/experimental/delete-pattern/images/5_0.png
  src/pages/experimental/delete-pattern/images/5_1.png
  src/pages/experimental/delete-pattern/images/5_2.png
  src/pages/experimental/delete-pattern/images/6.png
  src/pages/experimental/delete-pattern/images/7_updated.png
  src/pages/experimental/delete-pattern/index.mdx
  src/pages/experimental/export-pattern/images/1.png
  src/pages/experimental/export-pattern/images/2.png
  src/pages/experimental/export-pattern/images/3.5.png
  src/pages/experimental/export-pattern/images/3.png
  src/pages/experimental/export-pattern/images/4.png
  src/pages/experimental/export-pattern/images/contextual.png
  src/pages/experimental/export-pattern/index.mdx
  src/pages/experimental/import-pattern/images/0.5.png
  src/pages/experimental/import-pattern/images/1.png
  src/pages/experimental/import-pattern/images/2.png
  src/pages/experimental/import-pattern/images/3.png
  src/pages/experimental/import-pattern/images/4.png
  src/pages/experimental/import-pattern/images/5.png
  src/pages/experimental/import-pattern/index.mdx
Labels: status: ready to merge 🎉, type: contribution 👏

#145 fix: multiple visual bug fixes
  src/components/TypesetStyle/TypesetStyle.js
  src/components/TypesetStyle/typeset-example.scss
  src/components/TypesetStyle/typeset-style.scss
  src/data/nav-items.yaml
  src/pages/updates/roadmap/index.mdx
  src/pages/updates/v10-migration/overview.mdx
  src/pages/updates/whats-new/index.mdx
Labels: status: ready to merge 🎉

#252 fix: remove unnecessary entry title
  src/components/GlossaryComponent/GlossaryList/GlossaryList.js
  src/components/GlossaryComponent/GlossaryList/glossary-list.scss
Labels: status: ready to merge 🎉

#121 docs(pattern): creation flows
  src/data/nav-items.yaml
  src/pages/experimental/creation-flows/images/1.png
  src/pages/experimental/creation-flows/images/10.png
  src/pages/experimental/creation-flows/images/11.png
  src/pages/experimental/creation-flows/images/12.png
  src/pages/experimental/creation-flows/images/13.png
  src/pages/experimental/creation-flows/images/14.png
  src/pages/experimental/creation-flows/images/15.png
  src/pages/experimental/creation-flows/images/16.png
  src/pages/experimental/creation-flows/images/2.png
  src/pages/experimental/creation-flows/images/3.png
  src/pages/experimental/creation-flows/images/4.png
  src/pages/experimental/creation-flows/images/5.png
  src/pages/experimental/creation-flows/images/6.png
  src/pages/experimental/creation-flows/images/7.7.png
  src/pages/experimental/creation-flows/images/7.8.png
  src/pages/experimental/creation-flows/images/7.9.png
  src/pages/experimental/creation-flows/images/7.png
  src/pages/experimental/creation-flows/images/8.png
  src/pages/experimental/creation-flows/images/9.png
  src/pages/experimental/creation-flows/index.mdx
Labels: status: one more review :eyes:, type: contribution 👏

#256 docs: added intro, changed terms to lowercase
  package.json
  src/data/guidelines/glossary.js
  src/pages/guidelines/content/glossary.mdx
Labels: status: content review ✍️, status: ready for review :eyes:

#253 chore: upgrade packages 10.6
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#202 docs(pattern): removing pattern
  src/data/nav-items.yaml
  src/pages/experimental/remove-pattern/images/first-view.png
  src/pages/experimental/remove-pattern/images/modal-in-context.png
  src/pages/experimental/remove-pattern/images/second-view.png
  src/pages/experimental/remove-pattern/index.mdx
Labels: status: one more review :eyes:, type: contribution 👏

#255 docs: added pattern template
  docs/pattern-template.mdx
  src/pages/contributions/documentation.mdx
  src/pages/contributions/pattern.mdx
Labels: status: one more review :eyes:, type: docs :book:

#205 docs(pattern): generating an API key
  src/data/nav-items.yaml
  src/pages/experimental/create-flows/images/1.png
  src/pages/experimental/create-flows/images/10.png
  src/pages/experimental/create-flows/images/11.png
  src/pages/experimental/create-flows/images/12.png
  src/pages/experimental/create-flows/images/13.png
  src/pages/experimental/create-flows/images/14.png
  src/pages/experimental/create-flows/images/15.png
  src/pages/experimental/create-flows/images/16.png
  src/pages/experimental/create-flows/images/2.png
  src/pages/experimental/create-flows/images/3.png
  src/pages/experimental/create-flows/images/4.png
  src/pages/experimental/create-flows/images/5.png
  src/pages/experimental/create-flows/images/6.png
  src/pages/experimental/create-flows/images/7.7.png
  src/pages/experimental/create-flows/images/7.8.png
  src/pages/experimental/create-flows/images/7.9.png
  src/pages/experimental/create-flows/images/7.png
  src/pages/experimental/create-flows/images/8.png
  src/pages/experimental/create-flows/images/9.png
  src/pages/experimental/create-flows/index.mdx
  src/pages/experimental/generate-an-api-key/images/1.png
  src/pages/experimental/generate-an-api-key/images/2.png
  src/pages/experimental/generate-an-api-key/images/3.png
  src/pages/experimental/generate-an-api-key/images/4.png
  src/pages/experimental/generate-an-api-key/images/5.png
  src/pages/experimental/generate-an-api-key/images/6.png
  src/pages/experimental/generate-an-api-key/images/7.png
  src/pages/experimental/generate-an-api-key/images/8.png
  src/pages/experimental/generate-an-api-key/index.mdx
Labels: status: content review ✍️, status: ready for review :eyes:, type: contribution 👏

#264 docs: added October release article
  src/pages/index.mdx
  src/pages/resources/images/october_release.png
  src/pages/resources/index.mdx
Labels: status: ready to merge 🎉

#265 docs: Updated the Experimental>Coming soon table
  src/pages/experimental/overview/index.mdx
Labels: status: ready to merge 🎉

#261 fix: tooltip demo styles and color block alignment
  src/pages/guidelines/color/overview.mdx
  src/styles/_overrides.scss
Labels: status: ready to merge 🎉

#292 fix: component overview styles
  src/components/ComponentOverview/component-overview.scss
Labels: status: one more review :eyes:

#321 docs(pattern): Login pattern from IoT
  src/data/nav-items.yaml
  src/pages/experimental/login-pattern/images/login-background-Image.png
  src/pages/experimental/login-pattern/images/login-landing-page-dropdown.png
  src/pages/experimental/login-pattern/images/login-pattern-example1.png
  src/pages/experimental/login-pattern/images/login-pattern-example2.png
  src/pages/experimental/login-pattern/images/login-pattern-example3.png
  src/pages/experimental/login-pattern/images/login-pattern-example4.png
  src/pages/experimental/login-pattern/images/login-split-screen.png
  src/pages/experimental/login-pattern/index.mdx
Labels: status: one more review :eyes:, type: contribution 👏

#325 fix: color sticky switcher z-index
  src/components/ColorTokenTable/color-token-table.scss
Labels: status: ready for review :eyes:

#274 docs: created CODEOWNERS file
  .github/CODEOWNERS
Labels: status: ready to merge 🎉

#276 docs: further changes to the glossary
  src/components/GlossaryComponent/GlossaryList/glossary-list.scss
  src/data/guidelines/glossary.js
  src/pages/guidelines/content/glossary.mdx
Labels: status: ready to merge 🎉

#283 docs: added loading pattern
  src/data/nav-items.yaml
  src/pages/patterns/loading-pattern/images/inline-loading-animated.gif
  src/pages/patterns/loading-pattern/images/inline-loading.png
  src/pages/patterns/loading-pattern/images/larger-loader.png
  src/pages/patterns/loading-pattern/images/load-more.png
  src/pages/patterns/loading-pattern/images/prog-loading-1.png
  src/pages/patterns/loading-pattern/images/prog-loading-2.png
  src/pages/patterns/loading-pattern/images/prog-loading-3.png
  src/pages/patterns/loading-pattern/images/skeleton.png
  src/pages/patterns/loading-pattern/images/small-loading.gif
  src/pages/patterns/loading-pattern/index.mdx
  src/pages/patterns/overview.mdx
Labels: status: ready to merge 🎉

#316 fix: multiple small bugs
  src/components/ComponentExample/ComponentExample.js
  src/pages/components/accordion/code.mdx
  src/pages/components/breadcrumb/code.mdx
  src/pages/components/button/code.mdx
  src/pages/components/checkbox/code.mdx
  src/pages/components/code-snippet/code.mdx
  src/pages/components/content-switcher/code.mdx
  src/pages/components/data-table/code.mdx
  src/pages/components/date-picker/code.mdx
  src/pages/components/dropdown/code.mdx
  src/pages/components/file-uploader/code.mdx
  src/pages/components/form/code.mdx
  src/pages/components/inline-loading/code.mdx
  src/pages/components/link/code.mdx
  src/pages/components/list/code.mdx
  src/pages/components/loading/code.mdx
  src/pages/components/modal/code.mdx
  src/pages/components/notification/code.mdx
  src/pages/components/number-input/code.mdx
  src/pages/components/overflow-menu/code.mdx
  src/pages/components/pagination/code.mdx
  src/pages/components/progress-indicator/code.mdx
  src/pages/components/radio-button/code.mdx
  src/pages/components/search/code.mdx
  src/pages/components/select/code.mdx
  src/pages/components/slider/code.mdx
  src/pages/components/structured-list/code.mdx
  src/pages/components/tabs/code.mdx
  src/pages/components/tag/code.mdx
  src/pages/components/text-input/code.mdx
  src/pages/components/text-input/style.mdx
  src/pages/components/tile/code.mdx
  src/pages/components/toggle/code.mdx
  src/pages/components/tooltip/code.mdx
  src/pages/guidelines/layout/index.mdx
  src/styles/_overrides.scss
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#299 docs(pattern): Added Cloud PAL guidance to Common actions pattern
  src/pages/patterns/common-actions/images/notification-usage-3.png
  src/pages/patterns/common-actions/index.mdx
Labels: status: ready to merge 🎉

#338 docs: update tutorial wrapping up
  src/pages/tutorial/react/wrapping-up.mdx
  src/pages/tutorial/vue/wrapping-up.mdx
Labels: status: ready for review :eyes:

#311 Expand Button Usage Guidance to include order, alignment
  src/pages/components/button/images/button-usage-3.png
  src/pages/components/button/images/button-usage-4.png
  src/pages/components/button/images/button-usage-5.png
  src/pages/components/button/images/button-usage-6.png
  src/pages/components/button/images/button-usage-7.png
  src/pages/components/button/images/button-usage-8.png
  src/pages/components/button/images/button-usage-9.png
  src/pages/components/button/usage.mdx
Labels: status: ready to merge 🎉

#350 [docs] content tweaks
  src/pages/components/button/usage.mdx
Labels: status: content review ✍️, status: ready for review :eyes:

#317 Adding new images and button guidance for forms
  src/pages/components/form/images/form-usage-5.png
  src/pages/components/form/images/form-usage-6.png
  src/pages/components/form/images/form-usage-7.png
  src/pages/components/form/images/form-usage-8.png
  src/pages/components/form/usage.mdx
Labels: status: ready to merge 🎉

#336 docs: missing colon
  src/pages/experimental/login-pattern/index.mdx
Labels: status: ready to merge 🎉

#341 Split component example
  src/components/CodeExample/CodeExample.js
  src/components/CodeExample/CodeExampleHTML.js
  src/components/ComponentCode/ComponentCode.js
  src/components/ComponentExample/ComponentExample.js
  src/components/ComponentExample/ComponentExampleLive.js
  src/utils/getHTMLFile.js
Labels: status: ready to merge 🎉

#359 update-deps
  package.json
  yarn.lock
Labels: status: one more review :eyes:

#358 Fix link to IBM Plex typeface
  src/pages/guidelines/typography/overview.mdx
  src/pages/resources/index.mdx
Labels: status: ready to merge 🎉

#361 feat: add 404 page
  Staticfile
  src/data/nav-items.yaml
  src/pages/404.js
  src/pages/get-started/develop/angular.mdx
  src/pages/get-started/develop/other-frameworks.mdx
  src/pages/get-started/develop/react.mdx
  src/pages/get-started/develop/vanilla.mdx
  src/pages/get-started/develop/vue.mdx
Labels: status: one more review :eyes:, status: ready to merge 🎉

#368 docs(contribution): Order summary template
  .github/CODEOWNERS
  src/components/GlossaryComponent/GlossaryList/glossary-list.scss
  src/data/nav-items.yaml
  src/pages/experimental/order-summary-template/code.mdx
  src/pages/experimental/order-summary-template/images/kubernetes-example.png
  src/pages/experimental/order-summary-template/images/specs_ordersummary.png
  src/pages/experimental/order-summary-template/images/summary-hero.png
  src/pages/experimental/order-summary-template/style.mdx
  src/pages/experimental/order-summary-template/usage.mdx
Labels: status: ready to merge 🎉

#369 fix: 404 status code syntax
  Staticfile
Labels: status: ready for review :eyes:

#373 chore: remove old search implementation
  gatsby-ssr.js
  package.json
  src/gatsby-theme-carbon/util/hooks/useSearch.js
  src/styles/_search.scss
  src/styles/index.scss
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#375 Switch from staticfile buildpack to nginx buildpack
  .cfignore
  Staticfile
  buildpack.yml
  conf.d/cache.conf
  conf.d/rewrite.conf
  manifest.production.yml
  mime.types
  nginx.conf
Labels: status: ready for review :eyes:

#370 refactor: remove vimeo in favor of native video element
  src/components/HomepageVideo/HomepageVideo.js
  src/components/HomepageVideo/ToggleIcon.js
  src/components/HomepageVideo/carbon.mp4
  src/components/HomepageVideo/carbon.webm
  src/components/HomepageVideo/homepage-video.scss
  src/gatsby-theme-carbon/templates/Homepage.js
Labels: status: ready for review :eyes:

#382 refactor: use regular js page for Icon library
  src/pages/guidelines/iconography/library.js
  src/pages/guidelines/iconography/library.mdx
Labels: status: ready for review :eyes:

#385 chore: compress application/json
  nginx.conf
Labels: status: ready for review :eyes:

#379 Update theming documentation
  src/pages/guidelines/themes/index.mdx
Labels: status: ready for review :eyes:

#384 feat: add mobile video resolutions and poster
  package.json
  src/components/HomepageVideo/HomepageVideo.js
  src/components/HomepageVideo/carbon-mobile.mp4
  src/components/HomepageVideo/carbon-mobile.webm
  src/components/HomepageVideo/poster.png
Labels: status: ready to merge 🎉

#394 docs: updated experimental table and article cards
  src/pages/experimental/overview/index.mdx
  src/pages/index.mdx
  src/pages/resources/images/because-colors.png
  src/pages/resources/index.mdx
Labels: status: one more review :eyes:

#393 fix: update links to carbon-angular
  src/pages/contributions/bugs-and-requests.mdx
  src/pages/contributions/component/index.mdx
  src/pages/get-started/develop/angular.mdx
  src/pages/get-started/develop/other-frameworks.mdx
  src/pages/help/faq/index.mdx
  src/pages/help/support/index.mdx
  src/pages/how-to-contribute/bugs-and-requests.mdx
  src/pages/how-to-contribute/component/index.mdx
  src/pages/index.mdx
  src/pages/resources/index.mdx
Labels: status: ready for review :eyes:

#399 docs: updated experimental table
  src/pages/experimental/overview/index.mdx
Labels: status: ready to merge 🎉

#404 docs(contribution): Dashboard widgets
  src/data/nav-items.yaml
  src/pages/experimental/dashboard-widgets/images/empty_state_small.png
  src/pages/experimental/dashboard-widgets/images/error_state_small.png
  src/pages/experimental/dashboard-widgets/images/list_widget.png
  src/pages/experimental/dashboard-widgets/images/loading_state_small.png
  src/pages/experimental/dashboard-widgets/images/normal_state_small-1.png
  src/pages/experimental/dashboard-widgets/images/normal_state_small.png
  src/pages/experimental/dashboard-widgets/images/permission_state_small.png
  src/pages/experimental/dashboard-widgets/images/sample_dashboard.png
  src/pages/experimental/dashboard-widgets/images/small_empty_plain.png
  src/pages/experimental/dashboard-widgets/images/widget_dimensions.png
  src/pages/experimental/dashboard-widgets/images/widget_terminology.png
  src/pages/experimental/dashboard-widgets/images/widget_tile.png
  src/pages/experimental/dashboard-widgets/style.mdx
  src/pages/experimental/dashboard-widgets/usage.mdx
Labels: status: content review ✍️, status: ready for review :eyes:

#407 docs: cards pattern
  .github/CODEOWNERS
  src/data/nav-items.yaml
  src/pages/experimental/cards/images/card-anatomy.png
  src/pages/experimental/cards/images/card-color.png
  src/pages/experimental/cards/images/card-headings.png
  src/pages/experimental/cards/images/cards-hero.png
  src/pages/experimental/cards/images/content-blocks-example.png
  src/pages/experimental/cards/images/editable-cards.png
  src/pages/experimental/cards/images/example-in-product.png
  src/pages/experimental/cards/images/first-step-example.png
  src/pages/experimental/cards/images/general-card-specs-2.png
  src/pages/experimental/cards/images/learning-example.png
  src/pages/experimental/cards/images/marketing-example.png
  src/pages/experimental/cards/style.mdx
  src/pages/experimental/cards/usage.mdx
  src/pages/experimental/overview/index.mdx
Labels: status: ready to merge 🎉

#408 docs: remove Dribble image
  src/pages/experimental/cards/usage.mdx
Labels: status: ready to merge 🎉

#406 fix(docs): general updates
  src/pages/components/.DS_Store
  src/pages/components/button/.DS_Store
  src/pages/components/button/images/button-style-1.png
  src/pages/components/button/images/button-style-14.png
  src/pages/components/button/images/button-style-7.png
  src/pages/components/data-table/.DS_Store
  src/pages/components/data-table/images/data-table-usage-13.png
  src/pages/components/data-table/usage.mdx
Labels: status: one more review :eyes:
