Repository carbon-design-system/carbon-website, pull requests merged in 2019-02, with the labels that each got.

#855 404 page
  packages/addons-website/scss/components/_404.scss
  packages/addons-website/scss/styles.scss
  packages/addons-website/src/components/404/404-story.js
  packages/addons-website/src/components/404/404.js
  packages/addons-website/src/components/404/index.js
  packages/addons-website/src/index.js
  src/components/404/404.js
  src/components/404/404.scss
  src/components/Layouts/index.js
  src/components/LeftNav/LeftNav.js
  src/pages/404.js
  src/styles/_page.scss
  src/styles/index.scss
  src/templates/page.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#801 Motion page content
  docs/CONTENT.md
  src/components/DoDontExample/do-dont-example.scss
  src/components/SimpleColumns/SimpleColumns.js
  src/components/SimpleColumns/index.js
  src/components/SimpleColumns/simple-columns.scss
  src/components/WebsiteTabs/website-tabs.scss
  src/content/guidelines/motion/basics.md
  src/content/guidelines/motion/choreography.md
  src/content/guidelines/motion/resources.md
  src/styles/_page.scss
  src/styles/index.scss
  src/templates/page.js
Labels: status: one more review :eyes:

#846 fix: remove closed site switcher links from tab order and unneeded aria role
  packages/addons-website/src/components/WebsiteSwitcher/WebsiteSwitcher.js
Labels: status: one more review :eyes:

#764 Editorial pass - Accessibility
  src/content/guidelines/accessibility/color.md
  src/content/guidelines/accessibility/developers.md
  src/content/guidelines/accessibility/keyboard.md
  src/content/guidelines/accessibility/overview.md
Labels: status: ready for review :eyes:, status: visual review :eyes:

#879 Typography tweaks
  src/content/guidelines/typography/images/github-icon.png
  src/content/guidelines/typography/overview.md
Labels: status: one more review :eyes:, status: visual review :eyes:

#772 QA / edits: Content, Iconography
  src/content/guidelines/accessibility/overview.md
  src/content/guidelines/content/general.md
  src/content/guidelines/content/glossary.md
  src/content/guidelines/content/guidance.md
  src/content/guidelines/iconography/contribution.md
  src/content/guidelines/iconography/library.md
  src/content/guidelines/iconography/usage.md
Labels: status: merge conflict :no_entry_sign:

#885 Adding date picker usage gif
  src/content/components/date-picker/images/date-picker-usage-animation-1.gif
  src/content/components/date-picker/usage.md
Labels: status: one more review :eyes:, status: visual review :eyes:

#872 fix: update heading id to ignore special characters
  src/components/markdown/Markdown.js
Labels: status: ready for review :eyes:

#891 fix: switch addons-website to use alpha over latest release
  .yarn-offline-mirror/@carbon-addons-website-0.0.1-alpha.16.tgz
  package.json
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#888 Adding Slider usage GIF
  src/content/components/slider/images/slider-usage-animation-1.gif
  src/content/components/slider/usage.md
Labels: status: ready for review :eyes:

#848 fix: footer/nav layout bug fixes
  lerna.json
  packages/addons-website/package.json
  packages/addons-website/scss/components/_website-footer.scss
  packages/addons-website/scss/components/_website-side-nav.scss
  src/components/Layouts/index.js
  src/components/LeftNav/left-nav.scss
  src/html.js
Labels: status: ready for review :eyes:

#877 Layout page tweak
  src/content/guidelines/layout/images/sketch-icon.png
Labels: status: ready for review :eyes:, status: visual review :eyes:

#874 Icon page update
  src/components/IconCard/icon-card.scss
  src/components/IconLibrary/IconLibrary.js
Labels: status: one more review :eyes:

#893 feat: Add top banner to next site
  src/components/Layouts/index.js
  src/components/markdown/markdown.scss
  src/styles/_page.scss
Labels: status: visual review :eyes:

#899 chore(packages): update carbon components to latest versions
  .yarn-offline-mirror/@carbon-addons-website-0.0.1-alpha.16.tgz
  .yarn-offline-mirror/carbon-components-9.69.0.tgz
  .yarn-offline-mirror/carbon-components-9.70.0.tgz
  .yarn-offline-mirror/carbon-components-react-6.70.0.tgz
  .yarn-offline-mirror/carbon-components-react-6.85.0.tgz
  package.json
  yarn.lock
Labels: status: ready for review :eyes:

#894 feat: add banner to v9 website
  src/components/Layouts/index.js
  src/styles/_page.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#858 Visual sweep of the Spacing Page
  src/content/guidelines/spacing/images/layout_revised.png
  src/content/guidelines/spacing/images/spacing-10.svg
  src/content/guidelines/spacing/images/spacing-11.svg
  src/content/guidelines/spacing/images/spacing-12.svg
  src/content/guidelines/spacing/images/spacing-13.svg
  src/content/guidelines/spacing/images/spacing-14.svg
  src/content/guidelines/spacing/images/spacing-15.svg
  src/content/guidelines/spacing/images/spacing-16.svg
  src/content/guidelines/spacing/images/spacing-17.svg
  src/content/guidelines/spacing/images/spacing-18.svg
  src/content/guidelines/spacing/images/spacing-1_revised.png
  src/content/guidelines/spacing/images/spacing-3.svg
  src/content/guidelines/spacing/images/spacing-4.svg
  src/content/guidelines/spacing/images/spacing-5.svg
  src/content/guidelines/spacing/images/spacing-6.svg
  src/content/guidelines/spacing/images/spacing-7.svg
  src/content/guidelines/spacing/images/spacing-8.svg
  src/content/guidelines/spacing/images/spacing-9.svg
  src/content/guidelines/spacing/spacing.md
Labels: status: one more review :eyes:, status: visual review :eyes:

#900 fix(anchor-link): fixes extra :before on anchor links
  src/components/markdown/markdown.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#878 Experimental tweaks
  src/content/experimental/about/overview.md
  src/content/experimental/about/usage.md
  src/content/experimental/ui-shell/images/L1-navigation.png
  src/content/experimental/ui-shell/images/L2-side-nav.png
  src/content/experimental/ui-shell/images/footer.png
  src/content/experimental/ui-shell/images/header-panel.png
  src/content/experimental/ui-shell/images/on-page-panel.png
  src/content/experimental/ui-shell/images/side-nav-panel.png
  src/content/experimental/ui-shell/images/zones-global.png
  src/content/experimental/ui-shell/images/zones-local.png
  src/content/experimental/ui-shell/images/zones-platform.png
  src/content/experimental/ui-shell/usage.md
Labels: status: merge conflict :no_entry_sign:, status: one more review :eyes:, status: visual review :eyes:

#915 fix: update switcher
  lerna.json
  package.json
  packages/addons-website/package.json
  packages/addons-website/scss/components/_website-switcher.scss
  packages/addons-website/src/components/WebsiteSwitcher/WebsiteSwitcher-story.js
  src/components/Layouts/index.js
  src/styles/_page.scss
Labels: status: ready for review :eyes:

#922 fix(alert-banner): remove wrapping anchor from tab order v9
  src/components/Layouts/index.js
Labels: type: a11y

#921 fix(alert-banner): remove wrapping anchor from tab order
  src/components/Layouts/index.js
Labels: type: a11y

#909 Update CONTENT.md
  docs/CONTENT.md
Labels: status: one more review :eyes:

#898 fix(image-component): fixed the fixed width
  src/components/ImageComponent/image-component.scss
  src/content/components/accordion/images/test1.png
  src/content/components/accordion/style.md
  src/content/components/form/style.md
Labels: status: visual review :eyes:

#935 Simple fix: Fixed breadcrumb variation table
  src/content/components/breadcrumb/usage.md
  src/content/components/form/usage.md
Labels: status: ready for review :eyes:

#906 Usage images update
  src/content/components/structured-list/images/structured-list-usage-2.png
  src/content/components/structured-list/usage.md
  src/content/components/tabs/images/tab-usage-1.png
  src/content/components/tabs/usage.md
  src/content/components/tag/images/tag-usage-1.png
  src/content/components/tag/images/tag-usage-2.png
  src/content/components/text-input/images/text-input-usage-1.png
  src/content/components/text-input/images/text-input-usage-2.png
  src/content/components/text-input/images/text-input-usage-3.png
  src/content/components/tile/images/tile-usage-1.png
  src/content/components/tile/images/tile-usage-2.png
  src/content/components/tile/images/tile-usage-3.png
  src/content/components/tile/images/tile-usage-4.png
  src/content/components/tile/usage.md
  src/content/components/toggle/images/toggle-usage-1.png
  src/content/components/toggle/images/toggle-usage-2.png
  src/content/components/toggle/usage.md
  src/content/components/tooltip/images/tooltip-usage-1.png
  src/content/components/tooltip/images/tooltip-usage-2.png
  src/content/components/tooltip/images/tooltip-usage-3.png
  src/content/components/tooltip/usage.md
Labels: status: ready for review :eyes:

#937 fix(code-snippet): change type, remove border. Adjust small anchor ma…
  src/components/markdown/markdown.scss
  src/styles/_page.scss
Labels: status: one more review :eyes:, status: visual review :eyes:

#936 Fix typo
  src/content/guidelines/typography/expressive.md
Labels: status: one more review :eyes:

#931 one more style image
  src/content/components/file-uploader/images/file-uploader-style-1.png
Labels: status: one more review :eyes:

#934 Patterns Common Action Updates
  src/content/patterns/common-actions/common-actions.md
  src/content/patterns/common-actions/images/common-action-1.png
  src/content/patterns/common-actions/images/common-action-11.png
  src/content/patterns/common-actions/images/common-action-2.png
  src/content/patterns/common-actions/images/common-action-4.png
  src/content/patterns/common-actions/images/common-action-5.png
  src/content/patterns/common-actions/images/common-action-6.png
Labels: status: one more review :eyes:

#933 accessibility image updates (take 2)
  src/content/guidelines/accessibility/color.md
  src/content/guidelines/accessibility/images/color-accessibility-1.png
  src/content/guidelines/accessibility/images/color-accessibility-2.png
  src/content/guidelines/accessibility/overview.md
Labels: status: one more review :eyes:

#927 adding usage images
  src/content/components/notification/images/notification-usage-1.png
  src/content/components/notification/images/notification-usage-2.png
  src/content/components/notification/images/notification-usage-3.png
  src/content/components/notification/usage.md
  src/content/components/number-input/images/number-input-usage-1.png
  src/content/components/number-input/usage.md
  src/content/components/overflow-menu/images/overflow-menu-usage-1.png
  src/content/components/overflow-menu/images/overflow-menu-usage-2.png
  src/content/components/overflow-menu/images/overflow-menu-usage-3.png
  src/content/components/overflow-menu/usage.md
  src/content/components/pagination/images/pagination-usage-1.png
  src/content/components/pagination/images/pagination-usage-2.png
  src/content/components/pagination/usage.md
  src/content/components/progress-indicator/images/progress-indicator-usage-1.png
  src/content/components/progress-indicator/usage.md
  src/content/components/search/images/search-usage-1.png
  src/content/components/search/usage.md
  src/content/components/select/images/select-usage-1.png
  src/content/components/select/images/select-usage-3.png
  src/content/components/select/images/select-usage-4.png
  src/content/components/select/usage.md
  src/content/components/slider/images/slider-usage-1.png
  src/content/components/slider/images/slider-usage-animation-1.gif
  src/content/components/slider/usage.md
Labels: status: one more review :eyes:

#917 fix: update banner styles
  src/components/Layouts/index.js
  src/styles/_page.scss
Labels: status: ready for review :eyes:

#980 fix: use correct capitalization for modal usage page
  src/content/components/modal/usage.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#985 fix: use correct capitalization for form style page
  src/content/components/form/style.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#998 fix: update sentence case
  src/content/components/code-snippet/code.md
  src/content/components/date-picker/code.md
  src/content/components/file-uploader/code.md
  src/content/components/inline-loading/code.md
  src/content/components/notification/code.md
  src/content/components/progress-indicator/code.md
  src/content/components/radio-button/code.md
Labels: QA :male_detective:, status: one more review :eyes:

#953 fix: use camel case for stylized names
  src/components/LeftNav/LeftNav.js
  src/content/getting-started/developers/vanilla.md
  src/content/guidelines/color/overview.md
  src/content/updates/migrating-to-carbon-x/migrating-to-carbon-x.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#994 fix(website): QA fixes
  src/components/GlossaryNav/glossary-nav.scss
  src/components/NextPrevious/NextPrevious.js
  src/content/components/pagination/style.md
  src/content/components/toggle/code.md
  src/content/contributing/developers/developers.md
  src/content/experimental/ui-shell/code.md
Labels: QA :male_detective:, status: one more review :eyes:

#940 fix(do-dont-components): fixed padding and top line
  src/components/DoDontExample/do-dont-example.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1019 fix(tables): fixed overflow on page tables
  src/components/PageTable/PageTable.js
  src/components/PageTable/page-table.scss
Labels: status: ready for review :eyes:

#1010 WebsiteTabs fixes
  src/components/Layouts/index.js
  src/components/WebsiteTabs/website-tabs.scss
Labels: QA :male_detective:, Severity 1 🚨, priority: high, status: ready for review :eyes:

#1011 fix(a11y): remove redundant alt text on clickable tiles
  src/content/getting-started/designers/designers.md
  src/content/getting-started/developers/angular.md
  src/content/getting-started/developers/react.md
  src/content/guidelines/color/overview.md
  src/content/guidelines/layout/layout.md
  src/content/guidelines/themes/themes.md
  src/content/guidelines/typography/overview.md
  src/content/index.md
  src/content/resources/resources.md
Labels: priority: medium, status: one more review :eyes:, status: ready for review :eyes:, type: a11y

#992 fix: use correct capitalization for home page
  src/content/index.md
Labels: status: ready for review :eyes:

#1020 QA - Shixie's fixes
  src/content/components/form/images/form-usage-2.png
  src/content/components/form/images/form-validation.gif
  src/content/components/form/usage.md
  src/content/components/overview/images/Breadcrumb.svg
  src/content/components/overview/images/Button.svg
  src/content/components/overview/images/Code Snippet.svg
  src/content/components/overview/images/File Uploader.svg
  src/content/components/overview/images/Inline Loading.svg
  src/content/components/overview/images/Link.svg
  src/content/components/overview/images/Multiselect.svg
  src/content/components/overview/images/Pagination.svg
  src/content/components/overview/images/UI Shell.svg
Labels: status: ready for review :eyes:

#1018 fix(a11y): add aria roles and landmarks
  packages/addons-website/src/components/WebsiteSwitcher/WebsiteSwitcher.js
  src/components/Homepage/Homepage.js
  src/components/Layouts/index.js
Labels: priority: high, type: a11y

#1042 QA jeanservaas
  src/content/contributing/add-ons/add-ons.md
  src/content/contributing/designers/designers.md
  src/content/contributing/governance/governance.md
  src/content/experimental/about/overview.md
  src/content/experimental/about/usage.md
  src/content/updates/migration/images/github-icon.png
  src/content/updates/migration/images/react-icon.png
  src/content/updates/migration/migration.md
  src/content/updates/release-highlights/release-highlights.md
  src/content/updates/whats-new/whats-new.md
  src/data/navigation/navigation.json
Labels: status: visual review :eyes:

#1064 Removed duplicate sentence in Layout
  src/content/components/overflow-menu/usage.md
  src/content/components/pagination/usage.md
  src/content/components/slider/usage.md
  src/content/guidelines/layout/layout.md
Labels: status: one more review :eyes:

#1023 fix(component-overview): fixed ui shell tile link and capitalization
  src/components/ComponentOverview/ComponentOverview.js
  src/content/components/overview/images/Code snippet.svg
  src/content/components/overview/images/Content switcher.svg
  src/content/components/overview/images/Data table.svg
  src/content/components/overview/images/Date picker.svg
  src/content/components/overview/images/File uploader.svg
  src/content/components/overview/images/Inline loading.svg
  src/content/components/overview/images/Number input.svg
  src/content/components/overview/images/Overflow menu.svg
  src/content/components/overview/images/Progress indicator.svg
  src/content/components/overview/images/Radio button.svg
  src/content/components/overview/images/Structured list.svg
  src/content/components/overview/images/Text input.svg
  src/content/components/overview/images/UI shell.svg
  src/data/components.json
Labels: QA :male_detective:, status: one more review :eyes:, status: ready for review :eyes:

#1072 fix(code-snippets): removed border-radius
  src/components/ComponentDocs/component-docs.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1068 fix(side-nav-overlay): adds in a transition to the overlay
  packages/addons-website/scss/components/_website-side-nav.scss
  src/components/LeftNav/left-nav.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1075 fix(resources): fixed bethanys last name
  src/content/resources/resources.md
Labels: status: ready for review :eyes:

#1071 fix: add missing special characters for anchor link fix
  src/components/markdown/Markdown.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1076 Mike's QA issues fix
  src/content/guidelines/iconography/contribution.md
  src/content/guidelines/iconography/library.md
  src/content/guidelines/iconography/usage.md
Labels: status: ready for review :eyes:

#1073 feat: add logic to link to experimental storybook. add react links to all component pages
  src/components/ComponentExample/ComponentExample.js
  src/components/ComponentExample/component-example.scss
  src/content/components/accordion/code.md
  src/content/components/breadcrumb/code.md
  src/content/components/button/code.md
  src/content/components/checkbox/code.md
  src/content/components/code-snippet/code.md
  src/content/components/content-switcher/code.md
  src/content/components/date-picker/code.md
  src/content/components/dropdown/code.md
  src/content/components/file-uploader/code.md
  src/content/components/form/code.md
  src/content/components/inline-loading/code.md
  src/content/components/link/code.md
  src/content/components/list/code.md
  src/content/components/loading/code.md
  src/content/components/modal/code.md
  src/content/components/notification/code.md
  src/content/components/number-input/code.md
  src/content/components/overflow-menu/code.md
  src/content/components/pagination/code.md
  src/content/components/progress-indicator/code.md
  src/content/components/radio-button/code.md
  src/content/components/search/code.md
  src/content/components/select/code.md
  src/content/components/slider/code.md
  src/content/components/structured-list/code.md
  src/content/components/tabs/code.md
  src/content/components/tag/code.md
  src/content/components/text-input/code.md
  src/content/components/tile/code.md
  src/content/components/toggle/code.md
  src/content/components/tooltip/code.md
  src/content/experimental/button/code.md
  src/content/experimental/date-picker/code.md
  src/content/experimental/file-uploader/code.md
  src/content/experimental/iconography/usage.md
  src/content/experimental/layout/layout.md
  src/content/experimental/overflow-menu/code.md
  src/content/experimental/ui-shell/code.md
Labels: status: ready for review :eyes:

#1065 Update search image (usage)
  src/content/components/dropdown/images/dropdown-usage-1.png
  src/content/components/dropdown/images/dropdown-usage-2.png
  src/content/components/dropdown/images/dropdown-usage-3.png
  src/content/components/dropdown/images/dropdown-usage-4.png
  src/content/components/search/images/search-usage-1.png
Labels: status: one more review :eyes:, status: visual review :eyes:

#1080 Patterns updates
  src/content/patterns/disabled-states/disabled-states.md
  src/content/patterns/disabled-states/images/disabled-1.png
  src/content/patterns/disabled-states/images/disabled-2.png
  src/content/patterns/disabled-states/images/disabled-4.png
  src/content/patterns/filtering/filtering.md
  src/content/patterns/filtering/images/filter-3.png
  src/content/patterns/filtering/images/filter-4.png
  src/content/patterns/filtering/images/filter-5.png
  src/content/patterns/filtering/images/filter-6.png
  src/content/patterns/filtering/images/filter-7.png
  src/content/patterns/loading/loading.md
  src/content/patterns/overflow-content/overflow-content.md
Labels: status: one more review :eyes:, status: visual review :eyes:

#1086 QA fixes
  src/content/components/checkbox/images/checkbox-style-1.png
  src/content/getting-started/designers/designers.md
Labels: status: ready for review :eyes:

#1077 Motion page QA Fixes
  src/content/guidelines/motion/basics.md
  src/content/guidelines/motion/choreography.md
  src/content/guidelines/motion/resources.md
Labels: status: ready for review :eyes:

#1093 Removed Loading from Patterns + table update
  src/content/patterns/overview/overview.md
  src/data/navigation/navigation.json
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1099 fix(snippet): two different type styles
  src/styles/_page.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1102 fix(video): fixed the margins on the video component
  src/styles/_page.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1114 fix(Icon/Contribution): illustrator screenshot
  src/content/guidelines/iconography/contribution.md
Labels: status: ready for review :eyes:

#1118 fix(icon): bad hint texts
  src/components/IconLibrary/IconLibrary.js
Labels: status: one more review :eyes:

#1110 fix(Color/Usage): several updates & fixes
  src/components/ColorTokenTable/ColorTokenTable.js
  src/data/guidelines/color-tokens.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1119 Style tab QA
  src/content/components/accordion/style.md
  src/content/components/breadcrumb/style.md
  src/content/components/button/style.md
Labels: status: ready for review :eyes:

#1111 feat(type): update type package, fix notification example
  .yarn-offline-mirror/@carbon-grid-0.0.1-alpha.31.tgz
  .yarn-offline-mirror/@carbon-grid-0.0.1-alpha.32.tgz
  .yarn-offline-mirror/@carbon-import-once-0.0.1-alpha.32.tgz
  .yarn-offline-mirror/@carbon-layout-0.0.1-alpha.31.tgz
  .yarn-offline-mirror/@carbon-layout-0.0.1-alpha.32.tgz
  .yarn-offline-mirror/@carbon-type-0.0.1-alpha.31.tgz
  .yarn-offline-mirror/@carbon-type-0.0.1-alpha.32.tgz
  .yarn-offline-mirror/@types-prop-types-15.5.8.tgz
  .yarn-offline-mirror/@types-prop-types-15.5.9.tgz
  .yarn-offline-mirror/@types-react-16.8.2.tgz
  .yarn-offline-mirror/@types-react-16.8.3.tgz
  .yarn-offline-mirror/carbon-components-9.74.3.tgz
  .yarn-offline-mirror/carbon-components-9.74.4.tgz
  .yarn-offline-mirror/carbon-components-react-6.93.0.tgz
  .yarn-offline-mirror/carbon-components-react-6.93.2.tgz
  .yarn-offline-mirror/cssnano-4.1.10.tgz
  .yarn-offline-mirror/cssnano-4.1.9.tgz
  .yarn-offline-mirror/follow-redirects-1.6.1.tgz
  .yarn-offline-mirror/follow-redirects-1.7.0.tgz
  .yarn-offline-mirror/parse-asn1-5.1.3.tgz
  .yarn-offline-mirror/parse-asn1-5.1.4.tgz
  .yarn-offline-mirror/stylehacks-4.0.2.tgz
  .yarn-offline-mirror/stylehacks-4.0.3.tgz
  package.json
  packages/addons-website/scss/components/_website-footer.scss
  packages/addons-website/scss/components/_website-header-nav.scss
  packages/addons-website/scss/components/_website-header.scss
  packages/addons-website/scss/components/_website-side-nav.scss
  packages/addons-website/scss/components/_website-switcher.scss
  src/components/ClickableTile/clickable-tile.scss
  src/components/CodeExample/code-example.scss
  src/components/ColorBlock/color-block.scss
  src/components/ColorCard/color-card.scss
  src/components/ComponentDocs/component-docs.scss
  src/components/ComponentExample/component-example.scss
  src/components/ComponentOverview/component-overview.scss
  src/components/DoDontExample/do-dont-example.scss
  src/components/FeatureTile/feature-tile.scss
  src/components/GlobalSearch/global-search.scss
  src/components/GlossaryList/glossary-list.scss
  src/components/GlossaryNav/glossary-nav.scss
  src/components/Homepage/homepage.scss
  src/components/IconCard/icon-card.scss
  src/components/ImageComponent/image-component.scss
  src/components/NextPrevious/next-previous.scss
  src/components/PageHeader/page-header.scss
  src/components/PageTable/page-table.scss
  src/components/PageTabs/page-tabs.scss
  src/components/TypeScaleTable/type-scale-table.scss
  src/components/TypeSpec/type-spec.scss
  src/components/markdown/markdown.scss
  src/content/guidelines/themes/themes.md
  src/content/guidelines/typography/expressive.md
  src/content/guidelines/typography/productive.md
  src/styles/_page.scss
  src/styles/index.scss
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1079 fix(spacing): fix pattern > loading table
  src/styles/_page.scss
Labels: status: visual review :eyes:

#1101 fix(footer): fixed capitalization and hover color
  src/components/ColorTokenTable/ColorTokenTable.js
  src/components/NextPrevious/NextPrevious.js
  src/components/NextPrevious/next-previous.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1103 fix(anchor-links): fixed spacing on mobile
  src/components/markdown/markdown.scss
Labels: status: one more review :eyes:

#1096 Various spelling, capitalization, and other minor errors via QA
  src/content/getting-started/developers/react.md
  src/content/getting-started/developers/vanilla.md
  src/content/guidelines/iconography/usage.md
  src/content/guidelines/motion/resources.md
  src/content/guidelines/spacing/spacing.md
  src/content/help/faq/faq.md
  src/content/help/support/support.md
  src/content/patterns/common-actions/common-actions.md
  src/content/patterns/disabled-states/disabled-states.md
  src/content/patterns/filtering/filtering.md
  src/content/patterns/overflow-content/overflow-content.md
  src/content/your-product-on-ibm-cloud/catalog-entry/catalog-entry.md
  src/content/your-product-on-ibm-cloud/service-providers/design-approval.md
  src/content/your-product-on-ibm-cloud/service-providers/general.md
  src/content/your-product-on-ibm-cloud/service-providers/service-icon.md
Labels: status: visual review :eyes:

#1131 chore: hide Expressive page
  src/content/guidelines/typography/expressive.md
  src/content/guidelines/typography/overview.md
  src/content/guidelines/typography/productive.md
Labels: status: ready for review :eyes:

#895 feat: add global search
  src/components/GlobalSearch/GlobalSearch.js
  src/components/GlobalSearch/global-search.scss
  src/components/Layouts/index.js
  src/html.js
Labels: status: ready for review :eyes:

#1100 fix(resource-tile): remove margin on mobile
  src/components/ClickableTile/clickable-tile.scss
Labels: status: visual review :eyes:

#1125 Glossary page style updates
  src/components/Glossary/Glossary.js
  src/components/GlossaryList/GlossaryList.js
  src/components/GlossaryList/glossary-list.scss
  src/components/GlossaryNav/GlossaryNav.js
  src/components/GlossaryNav/glossary-nav.scss
  src/components/NextPrevious/next-previous.scss
  src/components/markdown/markdown.scss
Labels: status: WIP 👩‍💻, status: ready for review :eyes:

#1059 feat(ComponentReact): re-enable React component example page
  .yarn-offline-mirror/carbon-components-9.74.0.tgz
  .yarn-offline-mirror/string-replace-loader-2.1.1.tgz
  gatsby-node.js
  package.json
  src/components/ComponentExample/component-example.scss
  src/components/ComponentReact/ComponentReact.js
  src/content/components/dropdown/code.md
  yarn.lock
Labels: status: one more review :eyes:, status: visual review :eyes:

#1140 Removed references to cards on pages, also fixed typos/capitalization…
  src/content/components/select/usage.md
  src/content/guidelines/layout/layout.md
  src/content/patterns/loading/loading.md
Labels: status: one more review :eyes:

#1151 Resource page image updates
  src/content/resources/images/Article_02.png
  src/content/resources/images/Featured_04.png
  src/content/resources/images/Featured_05.svg
  src/content/resources/images/react-icon.png
  src/content/resources/images/sandbox-icon.png
  src/content/resources/images/sketch-icon.png
Labels: status: one more review :eyes:

#1138 Update style tab continued
  src/content/components/checkbox/style.md
  src/content/components/code-snippet/style.md
  src/content/components/content-switcher/style.md
  src/content/components/date-picker/style.md
  src/content/components/dropdown/style.md
Labels: status: ready for review :eyes:

#1161 fix(do-dont): add right padding
  src/components/DoDontExample/do-dont-example.scss
Labels: status: visual review :eyes:

#1168 fix(images): component image artifacts
  src/content/components/file-uploader/images/file-uploader-style-1.png
  src/content/components/notification/images/notification-usage-2.png
  src/content/components/select/images/select-usage-3.png
  src/content/components/tag/usage.md
  src/content/patterns/common-actions/images/common-action-7.png
Labels: status: ready for review :eyes:

#1155 video inside of WebsiteTabs padding fix
  src/styles/_page.scss
Labels: status: visual review :eyes:

#1146 Increased column width for image captions
  src/components/ImageComponent/ImageComponent.js
Labels: status: one more review :eyes:

#1174 fix(code-snippet): update code snippet styles
  src/components/CodeExample/code-example.scss
  src/components/CodeSnippet/CodeSnippet.js
  src/components/CodeSnippet/code-snippet.scss
  src/html/code-snippet/code-snippet--multi.html
  src/html/code-snippet/code-snippet.html
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1173 fix(padding): remove padding from last table child
  src/components/PageTable/page-table.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1172 feat(component): added WebsiteBackToTopBtn and fixed alignment
  packages/addons-website/package.json
  packages/addons-website/rollup.config.js
  packages/addons-website/scss/components/_website-back-to-top-btn.scss
  packages/addons-website/scss/styles.scss
  packages/addons-website/src/components/WebsiteBackToTopBtn/WebsiteBackToTopBtn-story.js
  packages/addons-website/src/components/WebsiteBackToTopBtn/WebsiteBackToTopBtn.js
  packages/addons-website/src/components/WebsiteBackToTopBtn/index.js
  packages/addons-website/src/index.js
  src/components/BackToTop/BackToTop.js
  src/components/BackToTop/index.js
  src/styles/index.scss
  src/templates/page.js
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1177 update(content):productive type specs
  src/content/guidelines/typography/productive.md
Labels: status: one more review :eyes:, status: visual review :eyes:

#1171 Update migration.md
  src/content/updates/migration/migration.mdx
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1178 fix(max-width): remove max-width from captions, rely on padding
  src/components/DoDontExample/do-dont-example.scss
Labels: status: one more review :eyes:, status: visual review :eyes:

#1179 feat: update component status page
  src/components/ComponentOverview/ComponentOverview.js
  src/components/ComponentStatus/ComponentStatus.js
  src/components/ComponentStatus/component-status.scss
  src/data/components.json
Labels: status: one more review :eyes:, status: visual review :eyes:

#1176 fix(style tab): Content QA
  src/content/components/date-picker/style.mdx
  src/content/components/modal/style.mdx
  src/content/components/notification/style.mdx
  src/content/components/number-input/style.mdx
  src/content/components/overflow-menu/style.mdx
  src/content/components/pagination/style.mdx
  src/content/components/progress-indicator/style.mdx
  src/content/guidelines/color/overview.mdx
  src/content/guidelines/themes/themes.mdx
Labels: status: one more review :eyes:, status: visual review :eyes:

#1183 fix: update spacing to fix small images in do-dont
  src/content/guidelines/iconography/usage.mdx
  src/content/guidelines/layout/layout.mdx
  src/content/guidelines/motion/basics.mdx
  src/content/guidelines/typography/overview.mdx
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1182 fix: content edits - getting started designers
  src/content/getting-started/designers/designers.mdx
Labels: status: one more review :eyes:, status: visual review :eyes:

#1169 getting started-designer--image update
  src/content/getting-started/designers/images/designers-2_new.png
  src/content/getting-started/designers/images/designers-3.png
  src/content/getting-started/designers/images/designers-4.png
  src/content/getting-started/designers/images/designers-5.png
Labels: status: one more review :eyes:, status: visual review :eyes:

#1205 chore: component cleanup, swap from string to bool
  docs/CONTENT.md
  src/components/ComponentCode/ComponentCode.js
  src/components/ComponentExample/ComponentExample.js
  src/content/components/accordion/code.mdx
  src/content/components/breadcrumb/code.mdx
  src/content/components/button/code.mdx
  src/content/components/checkbox/code.mdx
  src/content/components/code-snippet/code.mdx
  src/content/components/content-switcher/code.mdx
  src/content/components/data-table/code.mdx
  src/content/components/date-picker/code.mdx
  src/content/components/dropdown/code.mdx
  src/content/components/file-uploader/code.mdx
  src/content/components/form/code.mdx
  src/content/components/inline-loading/code.mdx
  src/content/components/link/code.mdx
  src/content/components/list/code.mdx
  src/content/components/loading/code.mdx
  src/content/components/modal/code.mdx
  src/content/components/notification/code.mdx
  src/content/components/number-input/code.mdx
  src/content/components/overflow-menu/code.mdx
  src/content/components/pagination/code.mdx
  src/content/components/progress-indicator/code.mdx
  src/content/components/radio-button/code.mdx
  src/content/components/search/code.mdx
  src/content/components/select/code.mdx
  src/content/components/slider/code.mdx
  src/content/components/structured-list/code.mdx
  src/content/components/tabs/code.mdx
  src/content/components/tag/code.mdx
  src/content/components/text-input/code.mdx
  src/content/components/tile/code.mdx
  src/content/components/toggle/code.mdx
  src/content/components/tooltip/code.mdx
  src/content/experimental/ui-shell/code.mdx
  src/styles/_page.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1195 fix(captions): adjust caption width, based on grid now
  src/components/DoDontExample/do-dont-example.scss
  src/components/ImageComponent/ImageComponent.js
  src/content/guidelines/motion/basics.mdx
  src/styles/_page.scss
Labels: status: visual review :eyes:

#1203 docs(developers): deprecate src in vanilla NPM package
  src/content/getting-started/developers/vanilla.mdx
Labels: status: one more review :eyes:

#1194 Added February note, changed title to sentence casing, added "archive"
  src/content/updates/whats-new/whats-new.mdx
Labels: status: one more review :eyes:, status: visual review :eyes:

#1207 fix: Lead space update
  docs/CONTENT.md
  src/components/Homepage/homepage.scss
  src/components/PageHeader/PageHeader.js
  src/components/PageHeader/page-header.scss
  src/content/components/data-table/code.mdx
  src/content/components/data-table/style.mdx
  src/content/components/data-table/usage.mdx
  src/content/guidelines/accessibility/color.mdx
  src/content/guidelines/color/overview.mdx
  src/content/updates/design-language/design-language.mdx
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1224 V9 cloud governance - Adding Page Header tab
  src/content/your-product-on-ibm-cloud/page-header/code.md
  src/content/your-product-on-ibm-cloud/page-header/images/ex_addition_pagefilter.png
  src/content/your-product-on-ibm-cloud/page-header/images/ex_addition_tabs.png
  src/content/your-product-on-ibm-cloud/page-header/images/pageheader_large.png
  src/content/your-product-on-ibm-cloud/page-header/images/pageheader_large_specs.png
  src/content/your-product-on-ibm-cloud/page-header/images/pageheader_medium.png
  src/content/your-product-on-ibm-cloud/page-header/images/pageheader_medium_specs.png
  src/content/your-product-on-ibm-cloud/page-header/images/pageheader_small.png
  src/content/your-product-on-ibm-cloud/page-header/images/pageheader_small_specs.png
  src/content/your-product-on-ibm-cloud/page-header/style.md
  src/content/your-product-on-ibm-cloud/page-header/usage.md
  src/data/navigation/navigation.json
Labels: status: one more review :eyes:

#1225 Fix contribution link on home page and footer
  packages/addons-website/src/components/WebsiteFooter/WebsiteFooter-story.js
  src/components/Homepage/Homepage.js
Labels: status: help wanted :open_hands:, status: ready for review :eyes:
