Repository carbon-design-system/carbon-website, pull requests merged in 2019-08, with the labels that each got.

#1854 chore(iconography): update links to packages
  src/content/guidelines/iconography/usage.mdx
Labels: status: ready to merge :tada:

#1852 fix(typography): update typography page
  packages/addons-website/scss/components/_website-sticky-container.scss
  packages/addons-website/src/components/TypesetExample/TypesetExample.js
  packages/addons-website/src/components/TypesetStyle/TypesetStyle.js
  src/content/guidelines/typography/expressive.mdx
  src/content/guidelines/typography/overview.mdx
Labels: status: ready to merge :tada:

#1833 fix: update iconography page resource links
  src/content/guidelines/iconography/contribute.mdx
  src/content/guidelines/iconography/usage.mdx
Labels: status: ready to merge :tada:

#1855 docs: fix type on contributions overview page
  src/content/contributions/overview/overview.mdx
Labels: status: ready to merge :tada:

#1858 docs: added july article
  src/content/index.mdx
  src/content/resources/images/Aug_preview_rev_2.png
  src/content/resources/resources.mdx
Labels: status: one more review :eyes:

#1862 docs: added add-ons
  src/content/contributions/add-ons/add-ons.mdx
  src/data/navigation/navigation.json
Labels: status: one more review :eyes:, type: content :book:

#1863 docs: nav update
  src/data/navigation/navigation.json
Labels: status: ready to merge :tada:, type: content :book:, type: enhancement 💡

#1865 fix(typography): add expressive-heading-06
  packages/addons-website/src/components/TypesetStyle/TypesetStyle.js
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1860 fix(typography): remove orphaned heading
  src/content/guidelines/typography/expressive.mdx
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1840 docs: updated old pages
  src/content/updates/release-information/changelog.mdx
  src/content/updates/release-information/highlights.mdx
  src/content/updates/release-information/known-issues.mdx
  src/content/updates/roadmap/images/github-icon.png
  src/content/updates/roadmap/images/icon-proj.png
  src/content/updates/roadmap/roadmap.mdx
  src/content/updates/whats-new/images/dropdown-new.gif
  src/content/updates/whats-new/images/sketch-libraries.png
  src/content/updates/whats-new/images/sketch-palettes.png
  src/content/updates/whats-new/images/small-toggle.gif
  src/content/updates/whats-new/images/usage-bar-graph.png
  src/content/updates/whats-new/images/usage-small-tooltip.png
  src/content/updates/whats-new/whats-new.mdx
  src/data/navigation/navigation.json
Labels: status: content review :pencil:, status: ready for review :eyes:, type: content :book:

#1828 docs: Icon contribution update
  src/content/guidelines/iconography/contribute.mdx
Labels: status: ready for review :eyes:, status: visual review :eyes:
