Repository carbon-design-system/carbon-website, pull requests merged in 2019-05, with the labels that each got.

#1577 fix width of easing video examples to 12 col
  src/content/guidelines/motion/basics.mdx
Labels: status: one more review :eyes:

#1581 fix: typo
  src/content/resources/resources.mdx
Labels: status: one more review :eyes:

#1580 fix: sending resource tile to correct location
  src/content/index.mdx
Labels: status: one more review :eyes:, status: ready to merge :tada:, type: bug 🐛, type: content :book:

#1579 Update designers.mdx
  src/content/getting-started/designers/designers.mdx
Labels: status: one more review :eyes:, status: ready to merge :tada:

#1567 fix: sticky nav on color page
  src/components/ColorTokenTable/ColorTokenTable.js
  src/components/ColorTokenTable/color-token-table.scss
  src/styles/_sticky.scss
Labels: status: ready to merge :tada:

#1585 [fix] Sentence casing, removed intro italics
  src/content/components/tooltip/usage.mdx
Labels: status: ready to merge :tada:

#1589 [docs] Content pass on FAQ
  src/content/help/faq/faq.mdx
Labels: status: one more review :eyes:, type: content :book:

#1588 [fix] Sentence casing on user-flow.mdx
  src/content/your-product-on-ibm-cloud/user-flow/user-flow.mdx
Labels: status: one more review :eyes:

#1593 docs: create new branch from upstream branch
  src/content/tutorial/react-step-1/react-step-1.mdx
Labels: status: ready for review :eyes:

#1598 fix(website): add links to component variations
  src/components/ComponentCode/ComponentCode.js
  src/components/ComponentDocs/ComponentDocs.js
  src/components/HomepageVideo/HomepageVideo.js
  src/components/WebsiteAlert/WebsiteAlert.js
  src/content/components/date-picker/usage.mdx
Labels: status: ready for review :eyes:

#1606 Correcting Typo
  src/content/components/breadcrumb/usage.mdx
Labels: status: one more review :eyes:, type: content :book:

#1595 fix(copy-button): provide text to copy button
  packages/addons-website/src/components/WebsiteCodeSnippet/WebsiteCodeSnippet.js
Labels: status: one more review :eyes:

#1609 chore(step-1): tutorial fixes
  src/content/tutorial/react-step-1/react-step-1.mdx
Labels: status: ready to merge :tada:

#1601 feat(tutorial): add step 2 instructions
  src/content/tutorial/react-step-1/react-step-1.mdx
  src/content/tutorial/react-step-2/react-step-2.mdx
Labels: status: ready to merge :tada:

#1586 [docs] Added requested information to Interactive tooltip usage page
  src/content/components/tooltip/usage.mdx
Labels: type: content :book:

#1618 [chore] Add new article to home page and resource page
  src/content/index.mdx
  src/content/resources/images/mono_repo_teal.png
  src/content/resources/resources.mdx
Labels: status: ready for review :eyes:, type: content :book:

#1626 fix: add color zip file to download
  src/content/guidelines/color/images/IBM_Colors_RGB.zip
  src/content/guidelines/color/overview.mdx
Labels: status: one more review :eyes:

#1625 fix: corrected duration token names
  src/content/guidelines/motion/basics.mdx
Labels: status: ready to merge :tada:

#1635 feat(homepage) Add new article
  src/content/index.mdx
  src/content/resources/images/code_palette.png
  src/content/resources/resources.mdx
Labels: status: visual review :eyes:

#1529 fix: missing call to function and fixed type checking
  packages/addons-website/src/components/Carousel/Carousel.js
  packages/addons-website/src/components/ImageComponent/ImageComponent.js
  packages/addons-website/src/components/TypesetExample/TypesetExample.js
  src/components/ColorBlock/ColorBlock.js
  src/components/ComponentExample/ComponentExample.js
  src/components/Homepage/Homepage.js
  src/components/HomepageVideo/HomepageVideo.js
  src/components/IconLibrary/IconLibrary.js
  src/components/ImageComponent/ImageComponent.js
  src/components/Layouts/index.js
  src/components/LeftNav/LeftNav.js
  src/components/NextPrevious/NextPrevious.js
  src/components/TypeWeight/TypeWeight.js
  src/templates/page.js
Labels: status: ready to merge :tada:

#1623 fix: component example bugs
  src/styles/_overrides.scss
  src/styles/_page.scss
  src/styles/index.scss
Labels: status: one more review :eyes:

#1645 docs(tutorial): update overview, 1, 2
  src/content/tutorial/overview/overview.mdx
  src/content/tutorial/react-step-1/react-step-1.mdx
  src/content/tutorial/react-step-2/react-step-2.mdx
  src/styles/_page.scss
Labels: status: ready to merge :tada:

#1648 docs: added additional definition tooltip guidance
  src/content/components/tooltip/usage.mdx
Labels: status: one more review :eyes:

#1636 fix(data table): Updated incorrect guidance
  src/content/components/data-table/usage.mdx
Labels: status: ready to merge :tada:

#1643 updates copy wrt plex and IDL
  src/content/resources/resources.mdx
Labels: status: ready to merge :tada:

#1628 fix: update text to be 8 columns
  src/components/markdown/Markdown.js
Labels: status: ready to merge :tada:

#1652 Removed duplicated content (Inline notifications)
  src/content/components/notification/usage.mdx
Labels: status: one more review :eyes:, type: content :book:

#1653 docs: updated Medium link in footer (v2)
  src/components/Layouts/index.js
Labels: status: ready to merge :tada:, type: content :book:

#1634 chore(polyfills): update polyfills file location
  src/content/getting-started/developers/vanilla.mdx
Labels: status: ready to merge :tada:

#1657 docs: replace image
  src/content/resources/images/Carbon_what_to_expect.png
  src/content/resources/resources.mdx
Labels: status: one more review :eyes:, type: content :book:

#1668 docs(tutorial): publish step 1
  src/content/tutorial/overview/overview.mdx
  src/content/tutorial/react-step-1/react-step-1.mdx
  src/data/navigation/navigation.json
Labels: status: blocked 🙅‍♀️, status: ready for review :eyes:, type: content :book:

#1661 Update layout.mdx
  src/content/guidelines/layout/layout.mdx
Labels: status: ready to merge :tada:

#1664 [docs] Reformatted resources page slightly, added tiles
  src/content/resources/images/ase.png
  src/content/resources/resources.mdx
Labels: status: one more review :eyes:, type: content :book:

#1678 fix: broken download link
  src/content/guidelines/color/overview.mdx
  src/content/resources/resources.mdx
  static/files/IBM_Colors_RGB.zip
Labels: status: one more review :eyes:

#1684 link fix
  src/content/getting-started/designers/designers.mdx
Labels: status: ready to merge :tada:

#1669 docs(getting-started): note on Sass compilers
  src/content/getting-started/developers/vanilla.mdx
Labels: status: ready to merge :tada:

#1687 docs: added guidance for data table enhancements
  src/content/components/data-table/images/data-table-usage-10.png
  src/content/components/data-table/images/data-table-usage-11.png
  src/content/components/data-table/images/data-table-usage-12.png
  src/content/components/data-table/images/data-table-usage-8.png
  src/content/components/data-table/images/data-table-usage-9.png
  src/content/components/data-table/usage.mdx
Labels: status: ready to merge :tada:

#1671 docs: Deleting pattern
  src/content/experimental/deleting/deleting.mdx
  src/content/experimental/deleting/images/1.png
  src/content/experimental/deleting/images/2.png
  src/content/experimental/deleting/images/3.png
  src/content/experimental/deleting/images/4.png
  src/content/experimental/deleting/images/5.png
  src/content/experimental/deleting/images/6.png
  src/content/experimental/deleting/images/7.png
  src/content/experimental/deleting/images/8.png
  src/data/navigation/navigation.json
Labels: status: ready for review :eyes:, type: content :book:
