Repository carbon-design-system/carbon-website, pull requests merged in 2019-04, with the labels that each got.

#1417 feat: Carbon x vue
  .github/ISSUE_TEMPLATE.md
  docs/CONTENT.md
  src/components/ComponentCode/ComponentCode.js
  src/components/ComponentExample/ComponentExample.js
  src/content/components/accordion/code.mdx
  src/content/components/breadcrumb/code.mdx
  src/content/components/button/code.mdx
  src/content/components/checkbox/code.mdx
  src/content/components/code-snippet/code.mdx
  src/content/components/content-switcher/code.mdx
  src/content/components/data-table/code.mdx
  src/content/components/date-picker/code.mdx
  src/content/components/dropdown/code.mdx
  src/content/components/file-uploader/code.mdx
  src/content/components/form/code.mdx
  src/content/components/inline-loading/code.mdx
  src/content/components/link/code.mdx
  src/content/components/list/code.mdx
  src/content/components/loading/code.mdx
  src/content/components/modal/code.mdx
  src/content/components/notification/code.mdx
  src/content/components/number-input/code.mdx
  src/content/components/overflow-menu/code.mdx
  src/content/components/pagination/code.mdx
  src/content/components/progress-indicator/code.mdx
  src/content/components/radio-button/code.mdx
  src/content/components/search/code.mdx
  src/content/components/select/code.mdx
  src/content/components/slider/code.mdx
  src/content/components/structured-list/code.mdx
  src/content/components/tabs/code.mdx
  src/content/components/tag/code.mdx
  src/content/components/text-input/code.mdx
  src/content/components/tile/code.mdx
  src/content/components/toggle/code.mdx
  src/content/components/tooltip/code.mdx
  src/content/contributing/developers/developers.mdx
  src/content/contributing/governance/governance.mdx
  src/content/getting-started/about-carbon/about-carbon.mdx
  src/content/getting-started/developers/angular.mdx
  src/content/getting-started/developers/other-frameworks.mdx
  src/content/getting-started/developers/react.mdx
  src/content/getting-started/developers/vanilla.mdx
  src/content/getting-started/developers/vue.mdx
  src/content/help/faq/faq.mdx
  src/content/help/support/support.mdx
  src/content/index.mdx
  src/content/resources/images/vue-icon.png
  src/content/resources/resources.mdx
  src/data/components.json
Labels: status: one more review :eyes:

#1421 chore: update search api key to www
  src/components/GlobalSearch/GlobalSearch.js
Labels: status: ready for review :eyes:, v10 :new:

#1392 chore: update circle ci to deploy site to www instead of next
  .circleci/config.yml
Labels: status: ready for review :eyes:, v10 :new:

#1422 Update governance.mdx
  src/content/contributing/governance/governance.mdx
Labels: status: one more review :eyes:

#1403 feat: add automatic sitemap generation
  .yarn-offline-mirror/gatsby-plugin-sitemap-2.0.10.tgz
  .yarn-offline-mirror/sitemap-1.13.0.tgz
  .yarn-offline-mirror/underscore-1.9.1.tgz
  .yarn-offline-mirror/url-join-1.1.0.tgz
  gatsby-config.js
  package.json
  yarn.lock
Labels: v10 :new:

#1425 fix: update internal build for Carbon website
  gatsby-config.js
  packages/addons-website/src/components/WebsiteSwitcher/WebsiteSwitcher-story.js
  src/components/Homepage/Homepage.js
  src/components/Layouts/index.js
  src/components/LeftNav/LeftNav.js
Labels: status: ready for review :eyes:

#1313 UI shell docs revisions
  src/content/experimental/ui-shell/code.mdx
  src/content/experimental/ui-shell/images/L2-side-nav2.png
  src/content/experimental/ui-shell/images/fixed-side-nav.png
  src/content/experimental/ui-shell/images/flex-nav-collapsed.png
  src/content/experimental/ui-shell/images/flex-nav-expanded.png
  src/content/experimental/ui-shell/images/header-app-switcher3.png
  src/content/experimental/ui-shell/images/header-generic2.png
  src/content/experimental/ui-shell/images/header-panel2.png
  src/content/experimental/ui-shell/images/header-responsive2.png
  src/content/experimental/ui-shell/images/on-page-panel-2.png
  src/content/experimental/ui-shell/images/shell-header.png
  src/content/experimental/ui-shell/images/shell-header2.png
  src/content/experimental/ui-shell/images/side-nav-panel2.png
  src/content/experimental/ui-shell/images/side-nav-panel3.png
  src/content/experimental/ui-shell/images/zones-platform-old.png
  src/content/experimental/ui-shell/images/zones-platform.png
  src/content/experimental/ui-shell/usage.mdx
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1427 chore: update website sass imports
  src/styles/index.scss
Labels: status: ready for review :eyes:

#1444 fix: Link to migration docs on Getting started page was broken
  src/content/getting-started/designers/designers.mdx
Labels: status: one more review :eyes:, type: bug 🐛

#1437 chore: Lets encrypt docs update
  docs/lets-encrypt.md
Labels: status: ready for review :eyes:

#1450 Fix (form/usage): gif with correct validation style
  src/content/components/form/images/form-validation.gif
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1456 fix: bold text on homepage
  src/components/PageTable/page-table.scss
  src/styles/_page.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1457 update:New featured articles on homepage
  src/content/index.mdx
  src/content/resources/images/bee_70.png
  src/content/resources/images/designing_with_carbon.png
  src/content/resources/images/minimal_css.png
Labels: status: ready for review :eyes:

#1447 fix: Missing data table usage images
  src/content/components/data-table/images/data-table-usage-1.png
  src/content/components/data-table/images/data-table-usage-2.png
  src/content/components/data-table/images/data-table-usage-3.png
  src/content/components/data-table/images/data-table-usage-6.png
  src/content/components/data-table/images/data-table-usage-7.png
  src/content/components/data-table/images/data-table-usage-8.png
  src/content/components/data-table/style.mdx
  src/content/components/data-table/usage.mdx
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1442 fix: fix overflow scroll for wide content
  src/styles/_page.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1431 Change links from kit repo to sketch cloud
  src/components/LeftNav/LeftNav.js
  src/content/index.mdx
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1469 fix[known issues]: H2 too long
  src/content/updates/release-information/known-issues.mdx
Labels: status: one more review :eyes:

#1465 feat(codepen): add codepen links to all component examples
  src/content/components/accordion/code.mdx
  src/content/components/breadcrumb/code.mdx
  src/content/components/button/code.mdx
  src/content/components/checkbox/code.mdx
  src/content/components/code-snippet/code.mdx
  src/content/components/content-switcher/code.mdx
  src/content/components/data-table/code.mdx
  src/content/components/date-picker/code.mdx
  src/content/components/dropdown/code.mdx
  src/content/components/file-uploader/code.mdx
  src/content/components/form/code.mdx
  src/content/components/inline-loading/code.mdx
  src/content/components/link/code.mdx
  src/content/components/list/code.mdx
  src/content/components/loading/code.mdx
  src/content/components/modal/code.mdx
  src/content/components/notification/code.mdx
  src/content/components/number-input/code.mdx
  src/content/components/overflow-menu/code.mdx
  src/content/components/pagination/code.mdx
  src/content/components/progress-indicator/code.mdx
  src/content/components/radio-button/code.mdx
  src/content/components/search/code.mdx
  src/content/components/select/code.mdx
  src/content/components/slider/code.mdx
  src/content/components/structured-list/code.mdx
  src/content/components/tabs/code.mdx
  src/content/components/tag/code.mdx
  src/content/components/text-input/code.mdx
  src/content/components/tile/code.mdx
  src/content/components/toggle/code.mdx
  src/content/components/tooltip/code.mdx
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1467 Content: Commented-out outdated guidance on Loading/Usage page
  src/content/components/loading/usage.mdx
Labels: project: website, status: ready for review :eyes:, status: visual review :eyes:, type: bug 🐛

#1463 Update faq.mdx
  src/content/help/faq/faq.mdx
Labels: status: one more review :eyes:

#1471 chore: update breakpoint include prefix
  lerna.json
  packages/addons-website/package.json
  packages/addons-website/scss/components/_website-grid.scss
  packages/addons-website/src/components/Grid/Grid.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1473 chore: update v2 links for carbon components vue
  src/components/ComponentExample/ComponentExample.js
Labels: status: one more review :eyes:

#1476 fix[value]:productive-heading-05
  src/content/guidelines/typography/productive.mdx
Labels: status: one more review :eyes:

#1474 Fix formatting
  src/content/components/code-snippet/code.mdx
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1475 Add angular storybook links to component demos
  src/components/ComponentCode/ComponentCode.js
  src/components/ComponentExample/ComponentExample.js
  src/components/ComponentReact/ComponentReact.js
  src/content/components/accordion/code.mdx
  src/content/components/breadcrumb/code.mdx
  src/content/components/button/code.mdx
  src/content/components/checkbox/code.mdx
  src/content/components/code-snippet/code.mdx
  src/content/components/content-switcher/code.mdx
  src/content/components/data-table/code.mdx
  src/content/components/date-picker/code.mdx
  src/content/components/dropdown/code.mdx
  src/content/components/file-uploader/code.mdx
  src/content/components/inline-loading/code.mdx
  src/content/components/link/code.mdx
  src/content/components/list/code.mdx
  src/content/components/loading/code.mdx
  src/content/components/modal/code.mdx
  src/content/components/notification/code.mdx
  src/content/components/number-input/code.mdx
  src/content/components/overflow-menu/code.mdx
  src/content/components/pagination/code.mdx
  src/content/components/progress-indicator/code.mdx
  src/content/components/radio-button/code.mdx
  src/content/components/search/code.mdx
  src/content/components/select/code.mdx
  src/content/components/slider/code.mdx
  src/content/components/structured-list/code.mdx
  src/content/components/tabs/code.mdx
  src/content/components/tag/code.mdx
  src/content/components/text-input/code.mdx
  src/content/components/tile/code.mdx
  src/content/components/toggle/code.mdx
  src/content/components/tooltip/code.mdx
  src/content/experimental/ui-shell/code.mdx
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1415 Mr carousel
  packages/addons-website/scss/components/_carousel.scss
  packages/addons-website/scss/styles.scss
  packages/addons-website/src/components/Carousel/Carousel-story.js
  packages/addons-website/src/components/Carousel/Carousel.js
  packages/addons-website/src/components/Carousel/index.js
  packages/addons-website/src/components/ImageComponent/ImageComponent-story.js
Labels: IDL, status: one more review :eyes:, status: ready for review :eyes:

#1365 Mr aspect ratio tile
  grid-temp.png
  packages/addons-website/scss/components/_aspect-ratio-tile.scss
  packages/addons-website/scss/styles.scss
  packages/addons-website/src/components/AspectRatioTile/AspectRatioTile-story.js
  packages/addons-website/src/components/AspectRatioTile/AspectRatioTile.js
  packages/addons-website/src/components/AspectRatioTile/README.md
  packages/addons-website/src/components/AspectRatioTile/index.js
  static/images/GitHubIcon.svg
  static/images/SketchIcon.svg
  static/images/big-arrow.svg
  static/images/blue1.jpg
  static/images/grid-temp.png
  static/images/hero-video-poster-fpo.png
  static/images/landing-color-grid.svg
  static/images/landing-gallery-watson-duo-phone-mobile.jpg
  static/images/landing-gallery-watson-duo-phone.jpg
  static/images/landing-illustration-ibm-rand-logo.svg
  static/images/landing-photography-gallery-1-mobile.jpg
  static/images/landing-photography-gallery-2-mobile.jpg
  static/images/landing-photography-gallery-2.jpg
  static/images/landing-plex-animation.gif
  static/images/landing-typeface-animation.jpeg
  static/images/plex-a-weights.png
  static/images/product-gallery.jpg
  static/images/three-icons-stacked.svg
  static/images/tooltip-components.svg
  static/images/type-scales.svg
Labels: IDL, status: ready for review :eyes:

#1480 feat(homepage): add homepage video component
  .yarn-offline-mirror/@vimeo-player-2.8.2.tgz
  .yarn-offline-mirror/native-promise-only-0.8.1.tgz
  .yarn-offline-mirror/weakmap-polyfill-2.0.0.tgz
  package.json
  src/components/Homepage/Homepage.js
  src/components/Homepage/homepage.scss
  src/components/HomepageVideo/HomepageVideo.js
  src/components/HomepageVideo/homepage-video.scss
  src/components/HomepageVideo/index.js
  src/styles/index.scss
  yarn.lock
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1491 homepage article img updates
  src/content/resources/images/designing_with_carbon.png
  src/content/resources/images/minimal_css.png
Labels: status: one more review :eyes:

#1493 fix: align vue tile on resources page
  src/content/resources/resources.mdx
Labels: status: ready for review :eyes:

#1489 fix(nextprevious): convert item name titles with more than one space
  src/components/NextPrevious/NextPrevious.js
Labels: status: one more review :eyes:

#1291 fix(mdx): bring IE11 support back
  .yarn-offline-mirror/@babel-plugin-proposal-object-rest-spread-7.3.4.tgz
  .yarn-offline-mirror/@mdx-js-loader-0.16.8.tgz
  .yarn-offline-mirror/@mdx-js-loader-1.0.0-alpha.6.tgz
  .yarn-offline-mirror/@mdx-js-mdx-0.16.8.tgz
  .yarn-offline-mirror/@mdx-js-mdx-1.0.0-alpha.6.tgz
  .yarn-offline-mirror/@mdx-js-tag-0.16.8.tgz
  .yarn-offline-mirror/@mdx-js-tag-1.0.0-alpha.6.tgz
  .yarn-offline-mirror/gatsby-mdx-0.3.6.tgz
  .yarn-offline-mirror/gatsby-mdx-0.5.2.tgz
  .yarn-offline-mirror/hast-to-hyperscript-6.0.0.tgz
  .yarn-offline-mirror/hast-util-from-parse5-5.0.0.tgz
  .yarn-offline-mirror/hast-util-raw-5.0.0.tgz
  .yarn-offline-mirror/hast-util-to-parse5-5.0.0.tgz
  .yarn-offline-mirror/hastscript-5.0.0.tgz
  .yarn-offline-mirror/property-information-5.0.1.tgz
  .yarn-offline-mirror/remark-mdx-1.0.0-alpha.6.tgz
  gatsby-config.js
  package.json
  yarn.lock
Labels: status: one more review :eyes:

#1496 fix: Deleted duplicate paragraph in Tooltip
  src/content/components/tooltip/usage.mdx
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1494 chore:Added latest articles to resources
  src/content/resources/resources.mdx
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1498 typos fixed
  src/content/getting-started/about-carbon/about-carbon.mdx
Labels: status: one more review :eyes:

#1482 chore: bug fixes
  package.json
  src/components/ComponentExample/component-example.scss
  src/components/Layouts/index.js
  src/components/markdown/Markdown.js
  src/components/markdown/markdown.scss
  src/content/components/radio-button/code.mdx
  src/styles/_overrides.scss
  src/styles/_page.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1499 typo fixed
  src/content/help/faq/faq.mdx
Labels: status: one more review :eyes:

#1502 fix(status): update angular component status
  src/data/components.json
Labels: status: one more review :eyes:

#1507 [content] Sentence casing and wording fix on homepage resource section
  src/content/index.mdx
Labels: project: website, status: one more review :eyes:, type: content :book:

#1497 fix(ComponentExample): fix overflow menu position for FF
  src/components/ComponentExample/ComponentExample.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1512 Update capitalization guidance
  src/content/guidelines/content/guidance.mdx
Labels: project: website, status: one more review :eyes:, type: content :book:

#1517 fix: Add charts to resources
  src/content/resources/images/charts_icon.png
  src/content/resources/resources.mdx
Labels: status: one more review :eyes:, type: content :book:

#1515 [content] Experimental overview page refresh
  src/content/components/button/usage.mdx
  src/content/experimental/about/overview.mdx
  src/content/experimental/about/usage.mdx
Labels: status: ready to merge :tada:, type: content :book:

#1506 feat: move DoDontExample to addons
  gatsby-config.js
  packages/addons-website/scss/components/_do-dont-example.scss
  packages/addons-website/scss/styles.scss
  packages/addons-website/src/components/DoDontExample/DoDontExample-story.js
  packages/addons-website/src/components/DoDontExample/DoDontExample.js
  packages/addons-website/src/components/DoDontExample/index.js
  packages/addons-website/src/index.js
  src/content/guidelines/motion/basics.mdx
  src/styles/_page.scss
  src/styles/index.scss
Labels: status: ready to merge :tada:

#1520 docs(type): update overview.mdx
  src/content/guidelines/typography/overview.mdx
Labels: status: ready to merge :tada:, type: content :book:

#1513 chore: Update spacing tokens
  packages/addons-website/scss/components/_404.scss
  packages/addons-website/scss/components/_aspect-ratio-tile.scss
  packages/addons-website/scss/components/_carousel.scss
  packages/addons-website/scss/components/_do-dont-example.scss
  packages/addons-website/scss/components/_image-component.scss
  packages/addons-website/scss/components/_overlay.scss
  packages/addons-website/scss/components/_swatch-palette-widget.scss
  packages/addons-website/scss/components/_type-tester.scss
  packages/addons-website/scss/components/_typeface-sub-families.scss
  packages/addons-website/scss/components/_website-code-snippet.scss
  packages/addons-website/scss/components/_website-footer.scss
  packages/addons-website/scss/components/_website-header.scss
  packages/addons-website/scss/components/_website-homepage-video.scss
  packages/addons-website/scss/components/_website-input-range.scss
  packages/addons-website/scss/components/_website-non-latin-script.scss
  packages/addons-website/scss/components/_website-side-nav.scss
  packages/addons-website/scss/components/_website-switcher.scss
  packages/addons-website/scss/components/_website-typeset-example.scss
  packages/addons-website/scss/components/_website-typeset-style.scss
  packages/addons-website/src/components/DoDontExample/DoDontExample.js
  src/components/ClickableTile/clickable-tile.scss
  src/components/CodeExample/code-example.scss
  src/components/ColorBlock/color-block.scss
  src/components/ColorCard/color-card.scss
  src/components/ColorTokenTable/color-token-table.scss
  src/components/ComponentDocs/component-docs.scss
  src/components/ComponentExample/component-example.scss
  src/components/ComponentStatus/component-status.scss
  src/components/EditLink/edit-link.scss
  src/components/FeatureTile/feature-tile.scss
  src/components/GlobalSearch/global-search.scss
  src/components/GlossaryList/glossary-list.scss
  src/components/GlossaryNav/glossary-nav.scss
  src/components/Homepage/homepage.scss
  src/components/IconCard/icon-card.scss
  src/components/IconEmptyState/icon-empty-state.scss
  src/components/ImageComponent/image-component.scss
  src/components/NextPrevious/next-previous.scss
  src/components/PageHeader/page-header.scss
  src/components/PageTable/page-table.scss
  src/components/PageTabs/page-tabs.scss
  src/components/SimpleColumns/simple-columns.scss
  src/components/TypeScaleTable/type-scale-table.scss
  src/components/TypeSpec/type-spec.scss
  src/components/TypeWeight/type-weight.scss
  src/components/WebsiteTabs/website-tabs.scss
  src/components/markdown/markdown.scss
  src/content/guidelines/spacing/spacing.mdx
  src/styles/_home.scss
  src/styles/_overrides.scss
  src/styles/_page.scss
Labels: status: ready to merge :tada:

#1524 [content] Removed reference to internal comms channels
  src/content/getting-started/designers/designers.mdx
Labels: status: ready to merge :tada:, type: content :book:

#1495 chore: move anchor link styles to add-ons
  packages/addons-website/scss/components/_404.scss
  packages/addons-website/scss/components/_anchor-links.scss
  packages/addons-website/scss/styles.scss
  packages/addons-website/src/components/AnchorLinks/AnchorLinks.js
  src/components/markdown/markdown.scss
  src/styles/_overrides.scss
  src/styles/index.scss
Labels: status: one more review :eyes:

#1531 [docs] Add GitHub links to "Known Issues" page
  src/content/updates/release-information/known-issues.mdx
Labels: status: ready to merge :tada:

#1535 [docs] Changed intro H3 on Typography to be in line with Carbon voice
  src/content/guidelines/typography/overview.mdx
Labels: status: ready for review :eyes:, type: content :book:

#1487 fix height of WebsiteTabs links
  src/components/WebsiteTabs/website-tabs.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1539 Fixed CLA anchor link
  src/content/contributing/governance/governance.mdx
Labels: status: one more review :eyes:

#1534 [docs] Sentence casing on Resources page
  src/content/resources/resources.mdx
Labels: status: one more review :eyes:

#1532 Update tracking ID
  gatsby-config.js
Labels: status: one more review :eyes:

#1505 fix: Type scale style fixes
  .yarn-offline-mirror/@carbon-icon-helpers-10.1.1.tgz
  .yarn-offline-mirror/@carbon-icons-react-10.1.1.tgz
  docs/CONTENT.md
  src/components/TypeScaleTable/type-scale-table.scss
  src/components/TypeWeight/TypeWeight.js
  src/components/TypeWeight/type-weight.scss
  src/content/guidelines/typography/_type-scale-table.md
Labels: status: one more review :eyes:

#1525 fix:Add charts to FAQ
  src/content/help/faq/faq.mdx
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1508 feat: update expressive typeset component
  packages/addons-website/scss/components/_website-typeset-example.scss
  packages/addons-website/scss/components/_website-typeset-style.scss
  packages/addons-website/src/components/TypesetStyle/TypesetStyle.js
  src/components/ColorTokenTable/color-token-table.scss
  src/components/TypeSpec/index.js
  src/content/guidelines/typography/expressive.mdx
  src/content/guidelines/typography/overview.mdx
  src/content/guidelines/typography/productive.mdx
  src/styles/_page.scss
  src/styles/index.scss
Labels: status: ready to merge :tada:

#1504 chore(dependencies): upgrade to MDX 1.0
  .yarn-offline-mirror/@babel-core-7.4.3.tgz
  .yarn-offline-mirror/@babel-helper-module-transforms-7.4.3.tgz
  .yarn-offline-mirror/@babel-helper-regex-7.4.3.tgz
  .yarn-offline-mirror/@babel-helpers-7.4.3.tgz
  .yarn-offline-mirror/@babel-parser-7.4.3.tgz
  .yarn-offline-mirror/@babel-plugin-proposal-object-rest-spread-7.4.3.tgz
  .yarn-offline-mirror/@babel-plugin-transform-classes-7.4.3.tgz
  .yarn-offline-mirror/@babel-plugin-transform-destructuring-7.4.3.tgz
  .yarn-offline-mirror/@babel-plugin-transform-dotall-regex-7.4.3.tgz
  .yarn-offline-mirror/@babel-plugin-transform-for-of-7.4.3.tgz
  .yarn-offline-mirror/@babel-plugin-transform-function-name-7.4.3.tgz
  .yarn-offline-mirror/@babel-plugin-transform-modules-commonjs-7.4.3.tgz
  .yarn-offline-mirror/@babel-plugin-transform-parameters-7.4.3.tgz
  .yarn-offline-mirror/@babel-plugin-transform-regenerator-7.4.3.tgz
  .yarn-offline-mirror/@babel-plugin-transform-reserved-words-7.2.0.tgz
  .yarn-offline-mirror/@babel-plugin-transform-unicode-regex-7.4.3.tgz
  .yarn-offline-mirror/@babel-preset-env-7.4.3.tgz
  .yarn-offline-mirror/@babel-traverse-7.4.3.tgz
  .yarn-offline-mirror/@mdx-js-loader-1.0.0-alpha.6.tgz
  .yarn-offline-mirror/@mdx-js-loader-1.0.10.tgz
  .yarn-offline-mirror/@mdx-js-mdx-1.0.0-alpha.6.tgz
  .yarn-offline-mirror/@mdx-js-mdx-1.0.10.tgz
  .yarn-offline-mirror/@mdx-js-react-1.0.6.tgz
  .yarn-offline-mirror/@mdx-js-tag-1.0.0-alpha.6.tgz
  .yarn-offline-mirror/browserslist-4.5.5.tgz
  .yarn-offline-mirror/caniuse-lite-1.0.30000960.tgz
  .yarn-offline-mirror/dataloader-1.4.0.tgz
  .yarn-offline-mirror/electron-to-chromium-1.3.124.tgz
  .yarn-offline-mirror/gatsby-mdx-0.5.2.tgz
  .yarn-offline-mirror/gatsby-mdx-0.6.2.tgz
  .yarn-offline-mirror/mdast-util-toc-3.1.0.tgz
  .yarn-offline-mirror/node-releases-1.1.15.tgz
  .yarn-offline-mirror/remark-10.0.1.tgz
  .yarn-offline-mirror/remark-mdx-1.0.0-alpha.6.tgz
  .yarn-offline-mirror/remark-mdx-1.0.8.tgz
  .yarn-offline-mirror/remark-stringify-6.0.4.tgz
  .yarn-offline-mirror/strip-markdown-3.0.3.tgz
  gatsby-config.js
  package.json
  src/components/Layouts/index.js
  src/templates/page.js
  yarn.lock
Labels: status: one more review :eyes:

#1545 chore: update vue component status
  src/data/components.json
Labels: status: one more review :eyes:

#1538 chore(styles): migrate misc Sass features for v10
  .yarn-offline-mirror/@carbon-grid-0.0.1-alpha.32.tgz
  .yarn-offline-mirror/@carbon-import-once-0.0.1-alpha.32.tgz
  .yarn-offline-mirror/@carbon-layout-0.0.1-alpha.32.tgz
  packages/addons-website/package.json
  packages/addons-website/scss/components/_do-dont-example.scss
  packages/addons-website/scss/components/_image-component.scss
  src/components/IconEmptyState/icon-empty-state.scss
  src/components/ImageComponent/image-component.scss
  src/components/PageHeader/page-header.scss
  yarn.lock
Labels: status: one more review :eyes:

#1546 fix: update font-weight for productive heading 03
  .yarn-offline-mirror/@carbon-icon-helpers-10.1.1.tgz
  .yarn-offline-mirror/@carbon-icons-react-10.1.1.tgz
  packages/addons-website/src/components/TypesetStyle/TypesetStyle.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#1555 [docs] Update capitalization guidance
  src/content/guidelines/content/guidance.mdx
Labels: status: ready for review :eyes:, status: ready to merge :tada:, type: content :book:

#1537 [docs] Cleaned up dev contribution page
  src/content/contributing/developers/developers.mdx
  src/content/contributing/developers/images/github-icon.png
Labels: status: one more review :eyes:, status: ready to merge :tada:, type: content :book:

#1549 [docs] Add h3 to date picker
  src/content/components/date-picker/usage.mdx
  src/content/contributing/developers/developers.mdx
  src/content/contributing/governance/governance.mdx
Labels: status: ready for review :eyes:, status: ready to merge :tada:, type: content :book:

#1500 Internal site component - widget guidelines
  src/content/your-product-on-ibm-cloud/widget-guidelines/approval.mdx
  src/content/your-product-on-ibm-cloud/widget-guidelines/code.mdx
  src/content/your-product-on-ibm-cloud/widget-guidelines/images/empty_state_small.png
  src/content/your-product-on-ibm-cloud/widget-guidelines/images/error_state _small.png
  src/content/your-product-on-ibm-cloud/widget-guidelines/images/large_normal_plain.png
  src/content/your-product-on-ibm-cloud/widget-guidelines/images/list_widget.png
  src/content/your-product-on-ibm-cloud/widget-guidelines/images/loading_state_small.png
  src/content/your-product-on-ibm-cloud/widget-guidelines/images/normal_state_large.png
  src/content/your-product-on-ibm-cloud/widget-guidelines/images/normal_state_small.png
  src/content/your-product-on-ibm-cloud/widget-guidelines/images/permission_state_small.png
  src/content/your-product-on-ibm-cloud/widget-guidelines/images/sample_dashboard.png
  src/content/your-product-on-ibm-cloud/widget-guidelines/images/skeleton_state_small.png
  src/content/your-product-on-ibm-cloud/widget-guidelines/images/small_empty_plain.png
  src/content/your-product-on-ibm-cloud/widget-guidelines/images/small_normal_plain.png
  src/content/your-product-on-ibm-cloud/widget-guidelines/images/widget_dimensions.png
  src/content/your-product-on-ibm-cloud/widget-guidelines/images/widget_terminology.png
  src/content/your-product-on-ibm-cloud/widget-guidelines/images/widget_tile.png
  src/content/your-product-on-ibm-cloud/widget-guidelines/style.mdx
  src/content/your-product-on-ibm-cloud/widget-guidelines/usage.mdx
  src/data/navigation/navigation.json
Labels: status: ready to merge :tada:

#1559 [docs] Add themes guidance to Designers/getting-started
  src/content/contributing/developers/developers.mdx
  src/content/getting-started/designers/designers.mdx
Labels: status: ready for review :eyes:, type: content :book:

#1556 Kit resources
  src/components/LeftNav/LeftNav.js
  src/content/resources/resources.mdx
Labels: status: ready to merge :tada:

#1453 sticky page tabs, and hide-able website header
  packages/addons-website/package.json
  packages/addons-website/scss/components/_website-header.scss
  src/components/Layouts/index.js
  src/components/LeftNav/left-nav.scss
  src/components/PageHeader/PageHeader.js
  src/components/PageTabs/page-tabs.scss
  src/components/WebsiteAlert/WebsiteAlert.js
  src/components/WebsiteAlert/index.js
  src/components/WebsiteAlert/website-alert.scss
  src/components/WebsiteHeader/WebsiteHeader.js
  src/components/WebsiteHeader/index.js
  src/components/WebsiteHeader/website-header.scss
  src/styles/_page.scss
  src/styles/_sticky.scss
  src/styles/index.scss
  src/templates/page.js
Labels: status: ready for review :eyes:, status: visual review :eyes:

#1562 implement hover style for WebsiteTabs
  src/components/WebsiteTabs/website-tabs.scss
Labels: status: one more review :eyes:, type: bug 🐛

#1560 fix(overview): stay centered at all breakpoints
  src/components/ComponentOverview/component-overview.scss
Labels: status: ready to merge :tada:

#1565 Fix: Removed extra spaces in image component wrapper
  src/content/your-product-on-ibm-cloud/widget-guidelines/style.mdx
  src/content/your-product-on-ibm-cloud/widget-guidelines/usage.mdx
Labels: status: one more review :eyes:

#1566 [docs] Sentence casing in left nav for "repos"
  src/components/LeftNav/LeftNav.js
Labels: status: one more review :eyes:, status: ready to merge :tada:

#1561 fix(modal): increase modal z-index
  src/styles/_overrides.scss
Labels: status: ready to merge :tada:

#1569 fix(color-page): flip overflow menu
  src/components/ColorTokenTable/ColorTokenTable.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1572 [fix] space missing between # on H2
  src/content/components/radio-button/usage.mdx
Labels: status: ready for review :eyes:, type: content :book:

#1571 [chore] add new article to homepage/resource page
  src/content/index.mdx
  src/content/resources/images/carbon_themes.png
  src/content/resources/images/preview_carbon.png
  src/content/resources/resources.mdx
Labels: status: ready to merge :tada:

#1563 feat: update color block component
  docs/CONTENT.md
  src/components/ColorBlock/ColorBlock.js
  src/components/ColorBlock/color-block.scss
  src/components/ColorTokenTable/color-token-table.scss
Labels: status: one more review :eyes:, status: ready for review :eyes:, type: visual :art:

#1573 Bump website package v0.0.1-alpha.21
  package.json
  packages/addons-website/package.json
Labels: status: one more review :eyes:
