Repository carbon-design-system/carbon-website, pull requests merged in 2019-11, with the labels that each got.

#563 Docs: Fixed Accordion-usage-1.png
  src/pages/components/accordion/images/accordion-usage-1.png
Labels: status: ready to merge 🎉

#570 docs: updated pattern template
  docs/pattern-template.mdx
  src/pages/how-to-contribute/pattern.mdx
Labels: status: ready to merge 🎉

#579 Pattern definition
  src/pages/how-to-contribute/pattern.mdx
  src/pages/patterns/overview.mdx
Labels: status: content review ✍️, status: ready for review :eyes:

#578 Update to pattern template headings
  docs/pattern-template.mdx
  src/pages/components/accordion/images/accordion-usage-1.png
  src/pages/experimental/export-pattern/images/0.png
  src/pages/experimental/export-pattern/images/1.png
  src/pages/experimental/export-pattern/images/2.png
  src/pages/experimental/export-pattern/images/3.png
  src/pages/experimental/export-pattern/images/download0.png
  src/pages/experimental/export-pattern/images/download1.png
  src/pages/experimental/export-pattern/images/newimage1.png
  src/pages/experimental/export-pattern/images/newimage2.png
  src/pages/experimental/export-pattern/images/newimage3.png
  src/pages/experimental/export-pattern/images/newimage4.png
  src/pages/experimental/export-pattern/images/newimage5.png
  src/pages/resources/images/adobe-xd.png
Labels: status: one more review :eyes:

#580 docs: template refinement based on feedback
  docs/pattern-template.mdx
  src/pages/how-to-contribute/pattern.mdx
Labels: status: one more review :eyes:

#569 fix: seperate heading-01 to expressive and productive
  src/components/TypesetStyle/TypesetStyle.js
Labels: status: ready to merge 🎉

#565 docs: Fix broken links and old information on React getting started
  src/pages/get-started/develop/react.mdx
Labels: status: ready to merge 🎉

#554 fix alignment -> alignments anchor reference
  src/pages/guidelines/2x-grid/implementation.mdx
Labels: status: ready to merge 🎉

#581 fix: update accessiblity docs with correct content
  src/pages/components/accordion/accessibility.mdx
  src/pages/components/breadcrumb/accessibility.mdx
  src/pages/components/checkbox/accessibility.mdx
Labels: status: ready to merge 🎉

#566 crisp up instructions where the RepoTable is supposed to go
  src/pages/tutorial/react/step-2.mdx
Labels: status: ready to merge 🎉

#560 docs(inline-loading): add accessibility tab
  src/pages/components/inline-loading/accessibility.mdx
  src/pages/components/inline-loading/code.mdx
  src/pages/components/inline-loading/style.mdx
  src/pages/components/inline-loading/usage.mdx
Labels: status: ready to merge 🎉

#586 docs(modal): add a11y modal docs
  src/pages/components/modal/accessibility.mdx
  src/pages/components/modal/code.mdx
  src/pages/components/modal/style.mdx
  src/pages/components/modal/usage.mdx
Labels: status: ready for review :eyes:

#582 Update pattern-template.mdx
  docs/pattern-template.mdx
  src/pages/how-to-contribute/pattern.mdx
Labels: status: ready to merge 🎉

#593 docs: Remove old contribution docs
  src/pages/contributions/add-ons.mdx
  src/pages/contributions/bugs-and-requests.mdx
  src/pages/contributions/component/images/content-switcher-style-1.png
  src/pages/contributions/component/images/spec.png
  src/pages/contributions/component/index.mdx
  src/pages/contributions/documentation.mdx
  src/pages/contributions/governance.mdx
  src/pages/contributions/overview.mdx
  src/pages/contributions/pattern.mdx
Labels: status: ready for review :eyes:

#588 docs(tag): add a11y tag docs
  src/pages/components/tag/accessibility.mdx
  src/pages/components/tag/code.mdx
  src/pages/components/tag/style.mdx
  src/pages/components/tag/usage.mdx
Labels: status: ready to merge 🎉

#584 docs(loading): adds a11y docs
  src/pages/components/loading/accessibility.mdx
  src/pages/components/loading/code.mdx
  src/pages/components/loading/style.mdx
  src/pages/components/loading/usage.mdx
Labels: status: ready for review :eyes:

#607 docs: typo fix pattern contribution
  docs/pattern-template.mdx
  src/pages/how-to-contribute/pattern.mdx
Labels: status: ready to merge 🎉

#611 fix(checkbox): removes css overrides
  src/styles/_overrides.scss
Labels: status: one more review :eyes:

#555 docs(link): adds A11y link docs
  src/pages/components/link/accessibility.mdx
  src/pages/components/link/code.mdx
  src/pages/components/link/style.mdx
  src/pages/components/link/usage.mdx
Labels: status: ready to merge 🎉

#546 Update step-5.mdx
  src/pages/tutorial/react/step-5.mdx
Labels: status: ready for review :eyes:

#601 fix(tab): container tab usage
  src/pages/components/tabs/images/tab-usage-1.png
  src/pages/components/tabs/images/tab-usage-2.png
  src/pages/components/tabs/usage.mdx
Labels: status: ready to merge 🎉

#608 docs(text-input): add text input and text area a11y docs to website
  src/pages/components/text-input/accessibility.mdx
  src/pages/components/text-input/code.mdx
  src/pages/components/text-input/style.mdx
  src/pages/components/text-input/usage.mdx
Labels: status: ready to merge 🎉

#597 fix(notification): updated images
  src/pages/components/notification/images/notification-style-2.png
  src/pages/components/notification/images/notification-style-3.png
  src/pages/components/notification/images/notification-usage-3.png
  src/pages/components/notification/images/notification-usage-4.png
Labels: status: ready to merge 🎉

#587 docs(notification): adds A11y notification docs
  src/pages/components/notification/accessibility.mdx
  src/pages/components/notification/code.mdx
  src/pages/components/notification/style.mdx
  src/pages/components/notification/usage.mdx
Labels: status: ready to merge 🎉

#583 docs(list): add a11y list docs
  src/pages/components/list/accessibility.mdx
  src/pages/components/list/code.mdx
  src/pages/components/list/style.mdx
  src/pages/components/list/usage.mdx
Labels: status: ready to merge 🎉

#559 docs(search): adds accessibility tab to search component
  src/pages/components/search/accessibility.mdx
  src/pages/components/search/code.mdx
  src/pages/components/search/style.mdx
  src/pages/components/search/usage.mdx
Labels: status: ready to merge 🎉
