Repository carbon-design-system/carbon-website, pull requests merged in 2019-10, with the labels that each got.

#412 chore: update pictograms to be fluid in their containers
  src/components/SvgLibraries/PictogramLibrary/PictogramCategory.js
  src/components/SvgLibraries/shared/SvgLibrary.module.scss
Labels: status: visual review :eyes:

#411 Docs: typo fix on button
  src/pages/components/button/usage.mdx
Labels: status: ready to merge 🎉

#410 Docs: typo fix on breadcrumb
  src/pages/components/breadcrumb/usage.mdx
Labels: status: ready to merge 🎉

#409 Docs: typo fix on data table
  src/pages/components/data-table/usage.mdx
Labels: status: ready to merge 🎉

#416 Docs: missing word on text input
  src/pages/components/text-input/usage.mdx
Labels: status: ready to merge 🎉

#419 docs: update COO point of contact
  src/pages/get-started/about-carbon.mdx
  src/pages/help/faq/index.mdx
Labels: status: one more review :eyes:

#422 Use `AnchorLink` in grid behaviors
  src/pages/guidelines/layout/index.mdx
Labels: status: ready to merge 🎉

#426 docs: typo fix
  src/pages/data-visualization/chart-types/index.mdx
Labels: status: one more review :eyes:

#430 docs: small fixes to chart content
  src/data/nav-items.yaml
  src/pages/data-visualization/axes-and-labels/index.mdx
  src/pages/data-visualization/basic-charts/index.mdx
  src/pages/data-visualization/chart-types/index.mdx
  src/pages/data-visualization/color-palettes/index.mdx
  src/pages/data-visualization/dashboards/index.mdx
  src/pages/data-visualization/getting-started/angular.mdx
  src/pages/data-visualization/getting-started/react.mdx
  src/pages/data-visualization/getting-started/shared-data-options-section.mdx
  src/pages/data-visualization/legends/index.mdx
Labels: status: content review ✍️, status: ready for review :eyes:

#420 docs: new article
  src/pages/index.mdx
  src/pages/resources/images/hacktoberfest.png
  src/pages/resources/index.mdx
Labels: status: ready to merge 🎉

#421 chore(ComponentReact): use it for entire dropdown page
  src/components/ComponentReact/ComponentReact.js
  src/pages/components/dropdown/code.mdx
Labels: status: one more review :eyes:, status: visual review :eyes:

#377 feat: rename layout page to 2x grid and add implementation page
  conf.d/rewrite.conf
  src/data/nav-items.yaml
  src/pages/components/data-table/usage.mdx
  src/pages/experimental/cards/usage.mdx
  src/pages/experimental/dashboard-widgets/usage.mdx
  src/pages/guidelines/.DS_Store
  src/pages/guidelines/2x-grid/basics.mdx
  src/pages/guidelines/2x-grid/images/16px_do.png
  src/pages/guidelines/2x-grid/images/16px_dont.png
  src/pages/guidelines/2x-grid/images/16px_gutter.png
  src/pages/guidelines/2x-grid/images/2px_do.png
  src/pages/guidelines/2x-grid/images/2px_dont.png
  src/pages/guidelines/2x-grid/images/2px_gutter.png
  src/pages/guidelines/2x-grid/images/32px_do.png
  src/pages/guidelines/2x-grid/images/32px_dont.png
  src/pages/guidelines/2x-grid/images/32px_gutter.png
  src/pages/guidelines/2x-grid/images/AR_do_1.png
  src/pages/guidelines/2x-grid/images/AR_do_2.png
  src/pages/guidelines/2x-grid/images/AR_dont_1.png
  src/pages/guidelines/2x-grid/images/AR_dont_2.png
  src/pages/guidelines/2x-grid/images/Aspect_Ratio.png
  src/pages/guidelines/2x-grid/images/Aspect_Ratio_flexible.png
  src/pages/guidelines/2x-grid/images/Condensed.png
  src/pages/guidelines/2x-grid/images/Full_bleed.png
  src/pages/guidelines/2x-grid/images/Layout_overview_Aspect-ratio.svg
  src/pages/guidelines/2x-grid/images/Layout_overview_Columns-rows-light-dense.svg
  src/pages/guidelines/2x-grid/images/Layout_overview_Columns-rows.svg
  src/pages/guidelines/2x-grid/images/Layout_overview_Fixed-base-unit.svg
  src/pages/guidelines/2x-grid/images/Layout_overview_Fluid-base-unit.svg
  src/pages/guidelines/2x-grid/images/Layout_overview_Gutters.svg
  src/pages/guidelines/2x-grid/images/Layout_overview_Hybrid.svg
  src/pages/guidelines/2x-grid/images/Layout_overview_Key-alignment.svg
  src/pages/guidelines/2x-grid/images/Layout_overview_Margins.svg
  src/pages/guidelines/2x-grid/images/Layout_overview_Paddings-do.svg
  src/pages/guidelines/2x-grid/images/Layout_overview_Paddings-dont.svg
  src/pages/guidelines/2x-grid/images/Layout_overview_Paddings.svg
  src/pages/guidelines/2x-grid/images/Layout_overview_Screen-regions-1.svg
  src/pages/guidelines/2x-grid/images/Layout_overview_Screen-regions-2.svg
  src/pages/guidelines/2x-grid/images/Layout_overview_Screen-regions-3.svg
  src/pages/guidelines/2x-grid/images/Layout_overview_Visual-rhythm-do.svg
  src/pages/guidelines/2x-grid/images/Layout_overview_Visual-rhythm-dont.svg
  src/pages/guidelines/2x-grid/images/MIxed_use_dont_2.png
  src/pages/guidelines/2x-grid/images/MIxed_use_dont_new.png
  src/pages/guidelines/2x-grid/images/Mixed_use.png
  src/pages/guidelines/2x-grid/images/Mixed_use_2.png
  src/pages/guidelines/2x-grid/images/Mixed_use_do.png
  src/pages/guidelines/2x-grid/images/Mixed_use_do_2.png
  src/pages/guidelines/2x-grid/images/Mixed_use_dont.png
  src/pages/guidelines/2x-grid/images/Mixed_use_new.png
  src/pages/guidelines/2x-grid/images/Mixed_use_revised.png
  src/pages/guidelines/2x-grid/images/Narrow.png
  src/pages/guidelines/2x-grid/images/Responsive_classes_do.png
  src/pages/guidelines/2x-grid/images/Responsive_classes_dont.png
  src/pages/guidelines/2x-grid/images/Wide.png
  src/pages/guidelines/2x-grid/implementation.mdx
  src/styles/_grid-demo.scss
  src/styles/index.scss
  static/videos/shell_animation_trim.mp4
  yarn.lock
Labels: status: content review ✍️, status: ready for review :eyes:

#447 docs: remove problematic images
  src/pages/experimental/cards/usage.mdx
Labels: status: ready for review :eyes:

#440 fix(typo correlation)
  src/pages/data-visualization/chart-types/index.mdx
Labels: status: ready to merge 🎉

#439 Fix text typo in vue step 3
  src/pages/tutorial/vue/step-3.mdx
Labels: status: ready to merge 🎉

#444 docs: data viz copyedits
  src/pages/data-visualization/axes-and-labels/index.mdx
  src/pages/data-visualization/basic-charts/index.mdx
  src/pages/data-visualization/chart-anatomy/index.mdx
  src/pages/data-visualization/color-palettes/index.mdx
  src/pages/data-visualization/dashboards/index.mdx
  src/pages/data-visualization/getting-started/vanilla.mdx
  src/pages/data-visualization/legends/index.mdx
Labels: status: one more review :eyes:

#442 docs: update links on charts pages
  src/pages/data-visualization/getting-started/other-frameworks.mdx
  src/pages/data-visualization/getting-started/vanilla.mdx
  src/pages/resources/index.mdx
Labels: status: ready to merge 🎉

#453 chore: update tertiary button values
  src/pages/components/button/style.mdx
Labels: status: ready to merge 🎉

#356 Merge and Update Remove and Delete patterns
  src/data/nav-items.yaml
  src/pages/experimental/delete-pattern/images/1_1.png
  src/pages/experimental/delete-pattern/images/1_2.png
  src/pages/experimental/delete-pattern/images/5_0.png
  src/pages/experimental/delete-pattern/images/5_1.png
  src/pages/experimental/delete-pattern/images/5_2.png
  src/pages/experimental/delete-pattern/index.mdx
  src/pages/experimental/remove-pattern/images/1.png
  src/pages/experimental/remove-pattern/images/2.png
  src/pages/experimental/remove-pattern/images/3.png
  src/pages/experimental/remove-pattern/images/6.png
  src/pages/experimental/remove-pattern/images/7_updated.png
  src/pages/experimental/remove-pattern/images/DeleteExample.png
  src/pages/experimental/remove-pattern/images/DoneMedium.png
  src/pages/experimental/remove-pattern/images/DoneSerious.png
  src/pages/experimental/remove-pattern/images/LowImpactDelete.png
  src/pages/experimental/remove-pattern/images/LowImpactRemove.png
  src/pages/experimental/remove-pattern/images/RemoveExample.png
  src/pages/experimental/remove-pattern/images/Requested.png
  src/pages/experimental/remove-pattern/images/modal-in-context.png
  src/pages/experimental/remove-pattern/images/second-view.png
  src/pages/experimental/remove-pattern/index.mdx
Labels: status: ready to merge 🎉

#450 Docs: change "file uploader" to be sentence case
  src/pages/components/file-uploader/usage.mdx
Labels: status: ready to merge 🎉

#457 fix(notification): style tab updates
  src/pages/components/.DS_Store
  src/pages/components/notification/.DS_Store
  src/pages/components/notification/images/notification-style-3.png
  src/pages/components/notification/images/notification-style-4.png
  src/pages/components/notification/style.mdx
Labels: status: one more review :eyes:, status: ready for review :eyes:

#465 docs:Typo fixes
  src/pages/components/dropdown/style.mdx
  src/pages/components/form/usage.mdx
  src/pages/components/tooltip/style.mdx
  src/pages/data-visualization/basic-charts/index.mdx
  src/pages/data-visualization/legends/index.mdx
  src/pages/experimental/dashboard-widgets/style.mdx
  src/pages/get-started/design/index.mdx
  src/pages/tutorial/vue/step-4.mdx
  src/pages/updates/roadmap/index.mdx
Labels: status: ready to merge 🎉

#322 Update/add tokens and values
  src/data/guidelines/color-tokens.js
Labels: status: ready to merge 🎉

#315 fix(Typography): Remove italic from helper-text-01
  src/components/TypesetStyle/TypesetStyle.js
Labels: 🛑 Don't merge!

#461 chore: pre-process images over 500kb
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/process-images.yml
  src/pages/components/tile/images/tile-usage-1.png
  src/pages/data-visualization/color-palettes/images/palettes-master.png
  src/pages/experimental/chatbot/images/chatbot-3.png
  src/pages/experimental/export-pattern/images/4.png
  src/pages/get-started/design/images/Carbon-kit-library.png
  src/pages/get-started/design/images/carbon-kit.png
  src/pages/get-started/design/images/grid-1.png
  src/pages/get-started/design/images/kit-2.png
  src/pages/get-started/design/images/kit-4.png
  src/pages/get-started/design/images/symbol-nav.png
  src/pages/get-started/design/images/template-1.png
  src/pages/get-started/design/images/template-2.png
  src/pages/get-started/design/images/template-3.png
  src/pages/get-started/design/images/text-styles-1.png
  src/pages/get-started/design/images/text-styles-2.png
  src/pages/guidelines/color/images/Dark_theme_03_new.png
  src/pages/guidelines/color/images/Light_theme_03.png
  src/pages/homepage/images/homepage-placeholder-img.png
  src/pages/resources/images/Carbon_what_to_expect.png
  src/pages/resources/images/because-colors.png
  src/pages/resources/images/security_pic.png
  src/pages/tutorial/shared/step-2/images/landing-layout.png
  src/pages/updates/roadmap/images/icon-proj.png
  src/pages/updates/v10-migration/images/Carbon-kit-library.png
  src/pages/updates/v10-migration/images/design-kit-step-2a.png
Labels: status: ready to merge 🎉

#463 docs: Typo fix
  src/pages/data-visualization/axes-and-labels/index.mdx
Labels: status: one more review :eyes:

#446 Additions to Chatbot Pattern
  src/pages/experimental/chatbot/content.mdx
  src/pages/experimental/chatbot/flows.mdx
  src/pages/experimental/chatbot/images/chatbot-0.png
  src/pages/experimental/chatbot/images/chatbot-11.png
  src/pages/experimental/chatbot/images/chatbot-12.png
  src/pages/experimental/chatbot/images/chatbot-13.png
  src/pages/experimental/chatbot/images/chatbot-14.png
  src/pages/experimental/chatbot/images/chatbot-15.png
  src/pages/experimental/chatbot/images/chatbot-16.png
  src/pages/experimental/chatbot/images/chatbot-17.png
  src/pages/experimental/chatbot/images/chatbot-18.png
  src/pages/experimental/chatbot/images/chatbot-4.png
  src/pages/experimental/chatbot/images/chatbot-5.png
  src/pages/experimental/chatbot/images/chatbot-6.png
  src/pages/experimental/chatbot/overview.mdx
  src/pages/experimental/chatbot/usage.mdx
Labels: status: one more review :eyes:

#478 docs(What's new): Add October release to what's new page
  src/pages/experimental/chatbot/images/chatbot-0.png
  src/pages/experimental/chatbot/images/chatbot-11.png
  src/pages/experimental/chatbot/images/chatbot-12.png
  src/pages/experimental/chatbot/images/chatbot-13.png
  src/pages/experimental/chatbot/images/chatbot-14.png
  src/pages/experimental/chatbot/images/chatbot-15.png
  src/pages/experimental/chatbot/images/chatbot-16.png
  src/pages/experimental/chatbot/images/chatbot-17.png
  src/pages/experimental/chatbot/images/chatbot-18.png
  src/pages/experimental/chatbot/images/chatbot-4.png
  src/pages/experimental/chatbot/images/chatbot-5.png
  src/pages/experimental/chatbot/images/chatbot-6.png
  src/pages/updates/whats-new/index.mdx
Labels: status: ready to merge 🎉

#441 fix: add classname prefix to component example wrapper
  src/components/ComponentExample/ComponentExample.js
  src/styles/_overrides.scss
Labels: status: ready to merge 🎉

#464 docs: charts note
  src/pages/data-visualization/getting-started/angular.mdx
  src/pages/data-visualization/getting-started/other-frameworks.mdx
  src/pages/data-visualization/getting-started/react.mdx
  src/pages/data-visualization/getting-started/vanilla.mdx
  src/pages/data-visualization/getting-started/vue.mdx
Labels: status: ready to merge 🎉

#490 docs:Latest article update
  src/pages/index.mdx
  src/pages/resources/images/v10.7-release.png
  src/pages/resources/index.mdx
Labels: status: one more review :eyes:

#495 fix(form): broken links
  src/pages/components/form/style.mdx
  src/pages/resources/images/v10.7-release.png
Labels: status: one more review :eyes:

#498 fix(notification): high low contrast usage
  src/pages/components/notification/images/notification-usage-1.png
  src/pages/components/notification/images/notification-usage-2.png
  src/pages/components/notification/images/notification-usage-3.png
  src/pages/components/notification/images/notification-usage-4.png
  src/pages/components/notification/usage.mdx
Labels: status: one more review :eyes:

#472 Add pre create to experimental create flow
  src/pages/experimental/create-flows/images/1.png
  src/pages/experimental/create-flows/images/Precreate1.png
  src/pages/experimental/create-flows/images/Precreate2.png
  src/pages/experimental/create-flows/images/Precreate3.png
  src/pages/experimental/create-flows/index.mdx
Labels: status: ready to merge 🎉

#500 Update experimental table
  src/pages/components/notification/images/notification-usage-1.png
  src/pages/components/notification/images/notification-usage-2.png
  src/pages/components/notification/images/notification-usage-3.png
  src/pages/components/notification/images/notification-usage-4.png
  src/pages/experimental/create-flows/images/1.png
  src/pages/experimental/create-flows/images/Precreate1.png
  src/pages/experimental/create-flows/images/Precreate2.png
  src/pages/experimental/create-flows/images/Precreate3.png
  src/pages/experimental/overview/index.mdx
Labels: status: one more review :eyes:

#482 add $inverse-focus-ui token data
  src/data/guidelines/color-tokens.js
Labels: status: ready to merge 🎉

#502 docs(pattern-template): Headers should be H2
  docs/pattern-template.mdx
Labels: status: ready to merge 🎉

#503 typo(form): replaced &
  src/pages/components/form/usage.mdx
Labels: status: one more review :eyes:

#501 fix (tutorial-vue): link in overview
  src/pages/tutorial/vue/overview.mdx
Labels: status: ready to merge 🎉

#513 docs: Remove old changelog content from What's new
  src/pages/updates/whats-new/index.mdx
Labels: status: ready for review :eyes:

#487 Docs: Added Experimental Edit pattern
  src/data/nav-items.yaml
  src/pages/experimental/edit-pattern/images/01.png
  src/pages/experimental/edit-pattern/images/02.png
  src/pages/experimental/edit-pattern/images/03.png
  src/pages/experimental/edit-pattern/images/04.png
  src/pages/experimental/edit-pattern/images/05.png
  src/pages/experimental/edit-pattern/images/06.png
  src/pages/experimental/edit-pattern/images/07.png
  src/pages/experimental/edit-pattern/images/08.png
  src/pages/experimental/edit-pattern/images/09.png
  src/pages/experimental/edit-pattern/images/10.png
  src/pages/experimental/edit-pattern/images/11.png
  src/pages/experimental/edit-pattern/images/12.png
  src/pages/experimental/edit-pattern/index.mdx
Labels: status: content review ✍️

#427 grayscale images in the disabled OverviewCard
  src/components/OverviewCard/overview-card.scss
Labels: status: waiting for response :thought_balloon:

#523 docs: fixed header, removed italics
  src/pages/experimental/edit-pattern/images/01.png
  src/pages/experimental/edit-pattern/images/02.png
  src/pages/experimental/edit-pattern/images/03.png
  src/pages/experimental/edit-pattern/images/04.png
  src/pages/experimental/edit-pattern/images/05.png
  src/pages/experimental/edit-pattern/images/06.png
  src/pages/experimental/edit-pattern/images/07.png
  src/pages/experimental/edit-pattern/images/08.png
  src/pages/experimental/edit-pattern/images/09.png
  src/pages/experimental/edit-pattern/images/10.png
  src/pages/experimental/edit-pattern/images/11.png
  src/pages/experimental/edit-pattern/images/12.png
  src/pages/patterns/filtering/index.mdx
Labels: status: one more review :eyes:

#506 Update $danger for g90 and g100
  src/data/guidelines/color-tokens.js
Labels: status: ready to merge 🎉

#517 Docs: Added Empty State experimental pattern
  src/data/nav-items.yaml
  src/pages/experimental/empty-state-pattern/images/0.png
  src/pages/experimental/empty-state-pattern/images/1.png
  src/pages/experimental/empty-state-pattern/images/2.png
  src/pages/experimental/empty-state-pattern/images/3.png
  src/pages/experimental/empty-state-pattern/index.mdx
Labels: status: ready to merge 🎉

#527 docs: reorganized experimental patterns
  src/data/nav-items.yaml
  src/pages/experimental/overview/index.mdx
Labels: status: one more review :eyes:

#494 feat: add accordion a11y docs
  src/pages/components/accordion/accessibility.mdx
  src/pages/components/accordion/code.mdx
  src/pages/components/accordion/style.mdx
  src/pages/components/accordion/usage.mdx
  src/pages/experimental/edit-pattern/index.mdx
  src/pages/experimental/empty-state-pattern/index.mdx
  src/pages/updates/whats-new/index.mdx
  src/styles/_structured-list.scss
  src/styles/index.scss
Labels: status: ready to merge 🎉

#535 fix: add missing links to a11y accordion docs
  src/pages/components/accordion/accessibility.mdx
Labels: status: ready to merge 🎉

#534 fix: pictogram usage gallery
  src/pages/guidelines/pictograms/images/18_In-Context_7.svg
  src/pages/guidelines/pictograms/usage.mdx
Labels: status: ready to merge 🎉

#529 fix(color): usage content updates
  src/data/guidelines/color-tokens.js
Labels: status: ready to merge 🎉

#528 docs: adds A11y breadcrumb docs
  src/pages/components/breadcrumb/accessibility.mdx
  src/pages/components/breadcrumb/code.mdx
  src/pages/components/breadcrumb/style.mdx
  src/pages/components/breadcrumb/usage.mdx
Labels: status: ready to merge 🎉

#542 Add agreed AI terms to Glossary
  src/data/guidelines/glossary.js
Labels: status: one more review :eyes:

#544 docs: fixed typos on accordion accessibility
  src/pages/components/accordion/accessibility.mdx
  src/pages/experimental/empty-state-pattern/images/0.png
  src/pages/experimental/empty-state-pattern/images/1.png
  src/pages/experimental/empty-state-pattern/images/2.png
  src/pages/experimental/empty-state-pattern/images/3.png
Labels: status: ready to merge 🎉

#537 docs(checkbox): A11y checkbox docs
  src/pages/components/breadcrumb/accessibility.mdx
  src/pages/components/checkbox/accessibility.mdx
  src/pages/components/checkbox/code.mdx
  src/pages/components/checkbox/style.mdx
  src/pages/components/checkbox/usage.mdx
Labels: status: ready to merge 🎉

#541 chore(project): update carbon packages
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#531 Docs: Update to background of contextual edit pattern images
  src/pages/experimental/edit-pattern/images/01.png
  src/pages/experimental/edit-pattern/images/04.png
  src/pages/experimental/edit-pattern/images/06.png
  src/pages/experimental/edit-pattern/images/07.png
Labels: status: ready to merge 🎉

#548 fix bx--col-xl doc typo
  src/pages/guidelines/2x-grid/implementation.mdx
Labels: status: ready to merge 🎉

#525 Carbon vue updates
  src/data/components.json
  src/pages/components/breadcrumb/code.mdx
  src/pages/components/data-table/code.mdx
  src/pages/components/dropdown/code.mdx
  src/pages/components/overflow-menu/code.mdx
  src/pages/components/pagination/code.mdx
  src/pages/components/progress-indicator/code.mdx
  src/pages/components/radio-button/code.mdx
  src/pages/components/tag/code.mdx
Labels: status: ready to merge 🎉

#556 docs(homepage): Latest articles > Latest news and articles
  src/pages/experimental/edit-pattern/images/01.png
  src/pages/experimental/edit-pattern/images/04.png
  src/pages/experimental/edit-pattern/images/06.png
  src/pages/experimental/edit-pattern/images/07.png
  src/pages/index.mdx
Labels: status: ready for review :eyes:
