Repository carbon-design-system/carbon-website, pull requests merged in 2019-08, with the labels that each got.

#49 feat: automate deployment (testing / WIP)
  .github/workflows/deploy.yml
Labels: status: WIP 👩‍💻

#103 feat: enable search
  gatsby-ssr.js
  package.json
  src/gatsby-theme-carbon/util/hooks/useSearch.js
  src/styles/_search.scss
  src/styles/index.scss
  yarn.lock
Labels: status: ready for review :eyes:

#33 feat: add icon library component
  gatsby-config.js
  package.json
  src/components/IconLibrary/ClickableTile/ClickableTile.js
  src/components/IconLibrary/ClickableTile/clickable-tile.scss
  src/components/IconLibrary/ClickableTile/index.js
  src/components/IconLibrary/IconCard.js
  src/components/IconLibrary/IconCategory.js
  src/components/IconLibrary/IconLibrary.js
  src/components/IconLibrary/IconLibrary.module.scss
  src/components/IconLibrary/NoResult.js
  src/components/IconLibrary/icon-library.scss
  src/components/IconLibrary/iconMetaData.js
  src/components/MdxIcon/icons/ase.svg
  src/components/MdxIcon/icons/illustrator.svg
  src/components/MdxIcon/index.js
  src/styles/index.scss
  yarn.lock
Labels: status: ready for review :eyes:

#111 docs: removed italics on checkbox usage
  src/pages/components/checkbox/usage.mdx
Labels: status: one more review :eyes:

#124 fix(ColorTokenTable): hard code theme names in array to fix references
  src/components/ColorTokenTable/ColorTokenTable.js
Labels: status: ready for review :eyes:

#130 fix vue tutorial step 5: reference cf instead of ibmcloud in Create m…
  src/pages/tutorial/vue/step-5.mdx
Labels: ready to merge 🎉

#131 fix vue tutorial internal links, add ci section to the step 1
  src/pages/tutorial/vue/overview.mdx
  src/pages/tutorial/vue/step-1.mdx
  src/pages/tutorial/vue/step-2.mdx
  src/pages/tutorial/vue/step-3.mdx
  src/pages/tutorial/vue/step-4.mdx
  src/pages/tutorial/vue/step-5.mdx
  src/pages/tutorial/vue/wrapping-up.mdx
Labels: ready to merge 🎉

#129 fix vue tutorial step 3: typo and 'connect to Apollo' code snippet
  src/pages/tutorial/vue/step-3.mdx
Labels: ready to merge 🎉

#128 Fix some punctuation, quotes and typos on the Carbon Vue tutorial step 3
  src/pages/tutorial/vue/step-3.mdx
  src/pages/tutorial/vue/step-4.mdx
Labels: ready to merge 🎉

#136 Update README.md
  README.md
Labels: status: content review ✍️, status: ready for review :eyes:

#134 docs: added security article
  src/pages/index.mdx
  src/pages/resources/images/security_pic.png
  src/pages/resources/index.mdx
Labels: status: ready to merge 🎉

#123 docs(nav): "Getting started" > "Get started"
  src/data/nav-items.yaml
  src/pages/contributions/component/index.mdx
  src/pages/get-started/about-carbon.mdx
  src/pages/get-started/design/images/Carbon-kit-library.png
  src/pages/get-started/design/images/carbon-kit.png
  src/pages/get-started/design/images/grid-1.png
  src/pages/get-started/design/images/grid-2.gif
  src/pages/get-started/design/images/ibm-carbon.png
  src/pages/get-started/design/images/kit-1.png
  src/pages/get-started/design/images/kit-2.png
  src/pages/get-started/design/images/kit-3.png
  src/pages/get-started/design/images/kit-4.png
  src/pages/get-started/design/images/layer-style-1.png
  src/pages/get-started/design/images/symbol-nav.png
  src/pages/get-started/design/images/template-1.png
  src/pages/get-started/design/images/template-2.png
  src/pages/get-started/design/images/template-3.png
  src/pages/get-started/design/images/text-styles-1.png
  src/pages/get-started/design/images/text-styles-2.png
  src/pages/get-started/design/index.mdx
  src/pages/get-started/develop/angular.mdx
  src/pages/get-started/develop/images/carbon-angular-starter.png
  src/pages/get-started/develop/images/codesandbox.png
  src/pages/get-started/develop/other-frameworks.mdx
  src/pages/get-started/develop/react.mdx
  src/pages/get-started/develop/vanilla.mdx
  src/pages/get-started/develop/vue.mdx
  src/pages/index.mdx
  src/pages/tutorial/react/overview.mdx
  src/pages/tutorial/vue/overview.mdx
  src/pages/updates/v10-migration/design.mdx
Labels: status: ready to merge 🎉

#151 fix: code snippet indenting
  src/components/CodeExample/code-example.scss
  src/components/CodeExample/prism.css
Labels: status: one more review :eyes:, status: ready for review :eyes:

#147 docs: moved videos from IDL
  src/pages/guidelines/color/overview.mdx
  src/pages/guidelines/layout/index.mdx
Labels: status: one more review :eyes:, status: ready for review :eyes:

#150 chore(react tutorial): adds file paths to code blocks
  src/pages/tutorial/react/step-1.mdx
  src/pages/tutorial/react/step-2.mdx
  src/pages/tutorial/react/step-3.mdx
  src/pages/tutorial/react/step-4.mdx
  src/pages/tutorial/react/step-5.mdx
Labels: status: ready for review :eyes:

#156 chore: update to v.11.2 gatsby-carbon-theme
  package.json
  yarn.lock
Labels: status: ready for review :eyes:

#196 docs: updated kit tiles
  src/pages/guidelines/iconography/usage.mdx
  src/pages/resources/index.mdx
Labels: status: ready to merge 🎉

#155 docs: New governance information and About Carbon edits
  src/pages/get-started/about-carbon.mdx
Labels: status: ready to merge 🎉

#207 doc(FAQ): guidance to layout 3 column content on 2x grid
  src/pages/help/faq/images/3col-layouts.png
  src/pages/help/faq/index.mdx
Labels: status: one more review :eyes:

#125 docs: Experimental overview page refresh
  src/data/nav-items.yaml
  src/pages/experimental/about/overview.mdx
  src/pages/experimental/about/usage.mdx
  src/pages/experimental/deleting-pattern/index.mdx
  src/pages/experimental/exporting-pattern/images/1.png
  src/pages/experimental/exporting-pattern/images/2.png
  src/pages/experimental/exporting-pattern/images/3.5.png
  src/pages/experimental/exporting-pattern/images/3.png
  src/pages/experimental/exporting-pattern/images/4.png
  src/pages/experimental/exporting-pattern/images/contextual.png
  src/pages/experimental/exporting-pattern/index.mdx
  src/pages/experimental/overview/index.mdx
  src/pages/patterns/overview.mdx
Labels: status: content review ✍️, status: ready for review :eyes:

#195 Clearer path to scss file in react tutorials
  src/pages/tutorial/react/step-5.mdx
Labels: status: one more review :eyes:
