Repository carbon-design-system/carbon-website, pull requests merged in 2019-01, with the labels that each got.

#628 fix: Update about-carbon developers section
  src/content/getting-started/about-carbon/about-carbon.md
Labels: type: dev :robot:, type: docs :book:

#630 Update component overview styles
  build-timestamp
  src/components/ComponentOverview/ComponentOverview.js
  src/components/ComponentOverview/component-overview.scss
  src/content/components/overview/images/Accordion.svg
  src/content/components/overview/images/Breadcrumb.svg
  src/content/components/overview/images/Button.svg
  src/content/components/overview/images/Checkbox.svg
  src/content/components/overview/images/Code Snippet.svg
  src/content/components/overview/images/Content Switcher.svg
  src/content/components/overview/images/Data Table.svg
  src/content/components/overview/images/Date Picker.svg
  src/content/components/overview/images/Dropdown.svg
  src/content/components/overview/images/File Uploader.svg
  src/content/components/overview/images/Form.svg
  src/content/components/overview/images/Inline Loading.svg
  src/content/components/overview/images/Link.svg
  src/content/components/overview/images/List.svg
  src/content/components/overview/images/Loading.svg
  src/content/components/overview/images/Modal.svg
  src/content/components/overview/images/Multiselect.svg
  src/content/components/overview/images/Notification.svg
  src/content/components/overview/images/Number Input.svg
  src/content/components/overview/images/Overflow Menu.svg
  src/content/components/overview/images/Pagination.svg
  src/content/components/overview/images/Progress Indicator.svg
  src/content/components/overview/images/Radio Button.svg
  src/content/components/overview/images/Search.svg
  src/content/components/overview/images/Select.svg
  src/content/components/overview/images/Slider.svg
  src/content/components/overview/images/Structured List.svg
  src/content/components/overview/images/Tabs.svg
  src/content/components/overview/images/Tag.svg
  src/content/components/overview/images/Text Input.svg
  src/content/components/overview/images/Tile.svg
  src/content/components/overview/images/Toggle.svg
  src/content/components/overview/images/Tooltip.svg
  src/content/getting-started/about-carbon/about-carbon.md
Labels: status: ready for review :eyes:, status: visual review :eyes:

#650 fix: anchor link, code snippet
  src/components/CodeSnippet/code-snippet.scss
  src/components/markdown/markdown.scss
Labels: status: ready for review :eyes:

#702 Image fix
  .yarn-offline-mirror/gatsby-remark-unwrap-images-1.0.1.tgz
  .yarn-offline-mirror/unist-util-remove-1.0.1.tgz
  build-timestamp
  docs/CONTENT.md
  gatsby-config.js
  package.json
  src/components/markdown/image-grid.scss
  src/content/components/accordion/code.md
  src/content/components/accordion/images/accordion-style-2.png
  src/content/components/accordion/style.md
  src/content/components/breadcrumb/style.md
  src/content/components/button/style.md
  src/content/components/checkbox/style.md
  src/content/components/checkbox/usage.md
  src/content/components/code-snippet/style.md
  src/content/components/content-switcher/code.md
  src/content/components/content-switcher/style.md
  src/content/components/content-switcher/usage.md
  src/content/components/date-picker/style.md
  src/content/components/dropdown/style.md
  src/content/components/file-uploader/style.md
  src/content/components/form/style.md
  src/content/components/inline-loading/style.md
  src/content/components/link/style.md
  src/content/components/list/style.md
  src/content/components/loading/style.md
  src/content/components/modal/style.md
  src/content/components/notification/style.md
  src/content/components/number-input/style.md
  src/content/components/overflow-menu/style.md
  src/content/components/pagination/style.md
  src/content/components/progress-indicator/style.md
  src/content/components/radio-button/style.md
  src/content/components/search/style.md
  src/content/components/select/style.md
  src/content/components/structured-list/style.md
  src/content/components/tabs/style.md
  src/content/components/tag/style.md
  src/content/components/text-input/style.md
  src/content/components/text-input/usage.md
  src/content/components/tile/style.md
  src/content/components/toggle/style.md
  src/content/components/tooltip/style.md
  src/content/data-visualization/tooltip/style.md
  src/styles/_page.scss
  src/styles/index.scss
  yarn.lock
Labels: status: ready for review :eyes:, status: visual review :eyes:

#713 fix: image captions
  src/styles/_page.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#714 Responsive fixes
  src/components/ComponentCode/ComponentCode.js
  src/components/PageHeader/PageHeader.js
  src/components/PageTable/page-table.scss
  src/components/PageTabs/PageTabs.js
  src/components/PageTabs/page-tabs.scss
  src/styles/_page.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#670 feat(color-token-table): added custom component color token table + content switcher
  .yarn-offline-mirror/@storybook-addon-info-4.1.7.tgz
  .yarn-offline-mirror/@storybook-addons-4.1.7.tgz
  .yarn-offline-mirror/@storybook-channels-4.1.7.tgz
  .yarn-offline-mirror/@storybook-client-logger-4.1.7.tgz
  .yarn-offline-mirror/@storybook-components-4.1.7.tgz
  .yarn-offline-mirror/caniuse-db-1.0.30000928.tgz
  .yarn-offline-mirror/caniuse-db-1.0.30000929.tgz
  .yarn-offline-mirror/caniuse-lite-1.0.30000928.tgz
  .yarn-offline-mirror/caniuse-lite-1.0.30000929.tgz
  .yarn-offline-mirror/carbon-components-9.66.3.tgz
  .yarn-offline-mirror/carbon-components-9.66.5.tgz
  .yarn-offline-mirror/carbon-components-9.67.0.tgz
  .yarn-offline-mirror/eslint-plugin-react-7.12.4.tgz
  .yarn-offline-mirror/node-libs-browser-2.2.0.tgz
  .yarn-offline-mirror/parse-asn1-5.1.2.tgz
  .yarn-offline-mirror/util-0.11.1.tgz
  .yarn-offline-mirror/webpack-dev-middleware-3.5.1.tgz
  docs/CONTENT.md
  packages/addons-website/src/components/WebsiteFooter/WebsiteFooter.js
  src/components/ColorTokenTable/ColorTokenTable.js
  src/components/ColorTokenTable/color-token-table.scss
  src/components/ColorTokenTable/index.js
  src/content/guidelines/color/usage.md
  src/data/guidelines/color-tokens.js
  src/styles/index.scss
  src/templates/page.js
  yarn.lock
Labels: status: ready for review :eyes:, status: visual review :eyes:

#717 [WIP] Page intros
  build-timestamp
  src/content/components/overview/overview.md
  src/content/patterns/overview/overview.md
  src/data/navigation/navigation.json
Labels: status: WIP 👩‍💻

#746 increase sidenav z-index to be above Tabs component
  packages/addons-website/scss/components/_website-side-nav.scss
Labels: type: bug 🐛, type: dev :robot:

#742 Addon nav padding
  lerna.json
  packages/addons-website/package.json
  packages/addons-website/scss/components/_website-side-nav.scss
  packages/addons-website/src/components/WebsiteFooter/WebsiteFooter-story.js
  packages/addons-website/src/components/WebsiteHeader/WebsiteHeader-story.js
Labels: status: ready for review :eyes:

#748 fix: move header styles from website to add-on
  lerna.json
  packages/addons-website/package.json
  packages/addons-website/scss/components/_website-header.scss
  src/styles/_page.scss
Labels: status: ready for review :eyes:

#716 V10 app switcher
  .yarn-offline-mirror/@storybook-addon-info-4.1.7.tgz
  .yarn-offline-mirror/@storybook-addons-4.1.7.tgz
  .yarn-offline-mirror/@storybook-channels-4.1.7.tgz
  .yarn-offline-mirror/@storybook-client-logger-4.1.7.tgz
  .yarn-offline-mirror/@storybook-components-4.1.7.tgz
  .yarn-offline-mirror/carbon-components-9.67.0.tgz
  .yarn-offline-mirror/eslint-plugin-react-7.12.4.tgz
  .yarn-offline-mirror/node-libs-browser-2.2.0.tgz
  .yarn-offline-mirror/parse-asn1-5.1.2.tgz
  .yarn-offline-mirror/util-0.11.1.tgz
  .yarn-offline-mirror/webpack-dev-middleware-3.5.1.tgz
  packages/addons-website/scss/components/_website-header.scss
  packages/addons-website/scss/components/_website-switcher.scss
  packages/addons-website/scss/styles.scss
  packages/addons-website/src/components/WebsiteHeader/WebsiteHeader-story.js
  packages/addons-website/src/components/WebsiteSwitcher/WebsiteSwitcher-story.js
  packages/addons-website/src/components/WebsiteSwitcher/WebsiteSwitcher.js
  packages/addons-website/src/components/WebsiteSwitcher/index.js
  packages/addons-website/src/index.js
  src/components/Layouts/index.js
  src/components/LeftNav/LeftNav.js
Labels: status: visual review :eyes:

#754 Adding animated gif to inline loading tab
  src/content/components/inline-loading/images/inline-loading-animated.gif
  src/content/components/inline-loading/style.md
Labels: status: visual review :eyes:

#699 Tabbed content module for website content pages
  docs/CONTENT.md
  src/components/WebsiteTabs/WebsiteTabs.js
  src/components/WebsiteTabs/index.js
  src/components/WebsiteTabs/website-tabs.scss
  src/content/guidelines/motion/motion.md
  src/styles/index.scss
  src/templates/page.js
Labels: status: ready for review :eyes:, status: visual review :eyes:

#779 Do dont update
  src/components/DoDontExample/DoDontExample.js
  src/components/DoDontExample/do-dont-example.scss
  src/content/guidelines/motion/images/Style-curves.svg
  src/content/guidelines/motion/images/example-FPO.png
  src/content/guidelines/motion/motion.md
  src/content/guidelines/motion/overview.md
  src/content/guidelines/motion/resources.md
Labels: type: bug 🐛

#775 fix: a11y and footer bugs
  lerna.json
  packages/addons-website/package.json
  packages/addons-website/src/components/WebsiteFooter/WebsiteFooter.js
  packages/addons-website/src/components/WebsiteSwitcher/WebsiteSwitcher.js
  src/components/BackToTop/BackToTop.js
Labels: status: ready for review :eyes:

#793 fix: color token for inverse text
  src/components/PageHeader/page-header.scss
  src/components/PageTabs/page-tabs.scss
Labels: status: ready for review :eyes:

#777 fix(banner): ensure banner text is responsive
  src/components/PageHeader/page-header.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#774 fix(code-snippet): adjust component example code-snippets
  src/components/CodeExample/CodeExample.js
  src/components/CodeExample/code-example.scss
  src/components/CodeSnippet/CodeSnippet.js
  src/components/CodeSnippet/code-snippet.scss
  src/components/PageTable/page-table.scss
Labels: status: visual review :eyes:

#755 Component overview edits
  src/content/components/overview/overview.md
Labels: status: visual review :eyes:

#784 fix(spacing): Adjusted spacing across the website
  src/components/ClickableTile/clickable-tile.scss
  src/components/ColorTokenTable/color-token-table.scss
  src/components/ComponentExample/component-example.scss
  src/components/DoDontExample/do-dont-example.scss
  src/components/GlossaryList/glossary-list.scss
  src/components/IconCard/icon-card.scss
  src/components/IconLibrary/IconLibrary.js
  src/components/PageTable/page-table.scss
  src/components/TypeWeight/type-weight.scss
  src/components/markdown/markdown.scss
  src/content/contributing/designers/designers.md
  src/content/experimental/ui-shell/code.md
  src/content/getting-started/developers/angular.md
  src/content/getting-started/developers/other-frameworks.md
  src/content/getting-started/developers/react.md
  src/content/guidelines/content/guidance.md
  src/content/guidelines/iconography/usage.md
  src/content/patterns/common-actions/common-actions.md
  src/styles/_page.scss
Labels: status: visual review :eyes:

#737 Patterns overview edits
  src/content/updates/migrating-to-carbon-x/migrating-to-carbon-x.md
Labels: status: visual review :eyes:

#802 fix: weird border in safari/ff on back to top
  src/components/BackToTop/back-to-top.scss
Labels: status: ready for review :eyes:

#817 chore: adds plugin to convert internal markdown links
  .yarn-offline-mirror/gatsby-plugin-catch-links-2.0.9.tgz
  gatsby-config.js
  package.json
  src/content/guidelines/themes/themes.md
  yarn.lock
Labels: status: ready for review :eyes:

#821 Added date picker style images
  src/content/components/date-picker/images/date-picker-style-1.png
  src/content/components/date-picker/images/date-picker-style-2.png
  src/content/components/date-picker/images/date-picker-style-3.png
  src/content/components/date-picker/images/date-picker-style-4.png
  src/content/components/date-picker/images/time-picker-style-1.png
  src/content/components/date-picker/style.md
Labels: status: one more review :eyes:

#776 New batch of Pattern images
  src/content/patterns/common-actions/common-actions.md
  src/content/patterns/common-actions/images/common-action-1.png
  src/content/patterns/common-actions/images/common-action-1.svg
  src/content/patterns/common-actions/images/common-action-10.png
  src/content/patterns/common-actions/images/common-action-10.svg
  src/content/patterns/common-actions/images/common-action-11.png
  src/content/patterns/common-actions/images/common-action-11.svg
  src/content/patterns/common-actions/images/common-action-12.png
  src/content/patterns/common-actions/images/common-action-12.svg
  src/content/patterns/common-actions/images/common-action-2.png
  src/content/patterns/common-actions/images/common-action-2.svg
  src/content/patterns/common-actions/images/common-action-3.png
  src/content/patterns/common-actions/images/common-action-3.svg
  src/content/patterns/common-actions/images/common-action-4.png
  src/content/patterns/common-actions/images/common-action-4.svg
  src/content/patterns/common-actions/images/common-action-5.png
  src/content/patterns/common-actions/images/common-action-5.svg
  src/content/patterns/common-actions/images/common-action-6.png
  src/content/patterns/common-actions/images/common-action-6.svg
  src/content/patterns/common-actions/images/common-action-7.png
  src/content/patterns/common-actions/images/common-action-7.svg
  src/content/patterns/common-actions/images/common-action-8.png
  src/content/patterns/common-actions/images/common-action-8.svg
  src/content/patterns/common-actions/images/common-action-9.png
  src/content/patterns/common-actions/images/common-action-9.svg
  src/content/patterns/disabled-states/images/disabled-1.png
  src/content/patterns/disabled-states/images/disabled-2.png
  src/content/patterns/disabled-states/images/disabled-3.png
  src/content/patterns/disabled-states/images/disabled-4.png
  src/content/patterns/filtering/filtering.md
  src/content/patterns/filtering/images/filter-1.png
  src/content/patterns/filtering/images/filter-1.svg
  src/content/patterns/filtering/images/filter-2.png
  src/content/patterns/filtering/images/filter-2.svg
  src/content/patterns/filtering/images/filter-3.png
  src/content/patterns/filtering/images/filter-3.svg
  src/content/patterns/filtering/images/filter-4.png
  src/content/patterns/filtering/images/filter-4.svg
  src/content/patterns/filtering/images/filter-5.png
  src/content/patterns/filtering/images/filter-5.svg
  src/content/patterns/filtering/images/filter-6.png
  src/content/patterns/filtering/images/filter-6.svg
  src/content/patterns/filtering/images/filter-7.png
  src/content/patterns/filtering/images/filter-7.svg
  src/content/patterns/loading/images/inline-loading-animated.gif
  src/content/patterns/loading/images/load-more.png
  src/content/patterns/loading/loading.md
  src/content/patterns/overflow-content/images/1c695894-538c-11e8-8cd2-bb0b1cac151b.png
  src/content/patterns/overflow-content/images/1c695894-538c-11e8-8cd2-bb0b1cac151b.svg
  src/content/patterns/overflow-content/images/BrowserTooltip.png
  src/content/patterns/overflow-content/images/BrowserTooltip.svg
  src/content/patterns/overflow-content/images/Ellipse.png
  src/content/patterns/overflow-content/images/Ellipse.svg
  src/content/patterns/overflow-content/images/Truncated-Paragraph.png
  src/content/patterns/overflow-content/images/Truncated-Paragraph.svg
  src/content/patterns/overflow-content/overflow-content.md
Labels: status: ready for review :eyes:

#824 fix: toggles X icon to close menu at mobile
  src/components/Layouts/index.js
Labels: status: ready for review :eyes:

#829 Hamburger spacing
  lerna.json
  packages/addons-website/package.json
  packages/addons-website/scss/components/_website-header.scss
Labels: status: ready for review :eyes:, status: visual review :eyes:

#856 Replaced old favicon with new one!
  src/content/global/images/favicon-32.png
Labels: status: ready for review :eyes:
