Repository carbon-design-system/carbon-website, pull requests merged in 2019-12, with the labels that each got.

#599 fix: add overflow container for tables
  src/components/ComponentExample/component-example.scss
  src/components/ComponentStatus/ComponentStatus.js
  src/components/ComponentStatus/component-status.scss
Labels: status: visual review :eyes:

#617 docs: add initial content switcher a11y docs
  src/pages/components/content-switcher/accessibility.mdx
  src/pages/components/content-switcher/code.mdx
  src/pages/components/content-switcher/style.mdx
  src/pages/components/content-switcher/usage.mdx
Labels: status: one more review :eyes:

#507 dataviz: use new bundle.js in code samples
  src/pages/data-visualization/getting-started/vanilla.mdx
Labels: status: ready for review :eyes:

#540 fix: card aspect ratio and image sizes
  src/pages/experimental/cards/usage.mdx
  src/pages/patterns/common-actions/index.mdx
Labels: status: waiting for response :thought_balloon:

#530 update charting demos to post-refactor
  package.json
  src/data/charts/bar.js
  src/data/charts/demo-chart-data.js
  src/data/charts/index.js
  src/data/charts/line.js
  src/data/charts/pie-donut.js
  src/pages/data-visualization/basic-charts/index.mdx
  src/pages/data-visualization/getting-started/angular.mdx
  src/pages/data-visualization/getting-started/react.mdx
  src/pages/data-visualization/getting-started/vanilla.mdx
  src/pages/data-visualization/getting-started/vue.mdx
  yarn.lock
Labels: status: waiting for response :thought_balloon:

#561 feat: live component demo
  package.json
  src/components/ComponentDemo/Code/Code.js
  src/components/ComponentDemo/Code/Code.module.scss
  src/components/ComponentDemo/Code/CodeBar.js
  src/components/ComponentDemo/Code/Sidebar.js
  src/components/ComponentDemo/Code/index.js
  src/components/ComponentDemo/Code/useCodesandbox.js
  src/components/ComponentDemo/ComponentDemo.js
  src/components/ComponentDemo/ComponentDemo.module.scss
  src/components/ComponentDemo/DemoContext.js
  src/components/ComponentDemo/ErrorBoundary.js
  src/components/ComponentDemo/KnobContainer.js
  src/components/ComponentDemo/index.js
  src/components/TypesetStyle/TypesetStyle.js
  src/data/components/code-snippet.js
  src/data/docgen/index.js
  src/data/docgen/overrides.json
  src/data/docgen/react-docgen.json
  src/gatsby-theme-carbon/components/MDXProvider/defaultComponents.js
  src/pages/components/accordion/code.mdx
  src/pages/components/breadcrumb/code.mdx
  src/pages/components/button/code.mdx
  src/pages/components/checkbox/code.mdx
  src/pages/components/code-snippet/code.mdx
  src/pages/components/content-switcher/code.mdx
  src/pages/components/date-picker/code.mdx
  src/pages/components/dropdown/code.mdx
  src/pages/components/inline-loading/code.mdx
  src/pages/components/loading/code.mdx
  src/styles/_overrides.scss
  yarn.lock
Labels: status: ready for review :eyes:

#667 docs: forms pattern final draft
  src/data/nav-items.yaml
  src/pages/patterns/forms-pattern/images/14_Empty state_inline documentation_website image_736 (1).png
  src/pages/patterns/forms-pattern/images/Bound_entry_controls.png
  src/pages/patterns/forms-pattern/images/Content_do.png
  src/pages/patterns/forms-pattern/images/Content_do_not.png
  src/pages/patterns/forms-pattern/images/Elements.png
  src/pages/patterns/forms-pattern/images/Help_text.png
  src/pages/patterns/forms-pattern/images/Help_text_alignment.png
  src/pages/patterns/forms-pattern/images/Inline_error_message.png
  src/pages/patterns/forms-pattern/images/Placeholder_guidance.png
  src/pages/patterns/forms-pattern/images/Placeholder_text.png
  src/pages/patterns/forms-pattern/images/Selection_controls.png
  src/pages/patterns/forms-pattern/images/Text_inputs.png
  src/pages/patterns/forms-pattern/images/Tooltip.png
  src/pages/patterns/forms-pattern/images/dedicated_pg_buttons.png
  src/pages/patterns/forms-pattern/images/dialog_and_panel_buttons.png
  src/pages/patterns/forms-pattern/images/do_bottom_buttons.png
  src/pages/patterns/forms-pattern/images/do_multi_step_form.png
  src/pages/patterns/forms-pattern/images/do_not_columns.png
  src/pages/patterns/forms-pattern/images/do_not_top_align_buttons.png
  src/pages/patterns/forms-pattern/images/do_placeholder.png
  src/pages/patterns/forms-pattern/images/dont_placeholder.png
  src/pages/patterns/forms-pattern/images/form_spacing.png
  src/pages/patterns/forms-pattern/images/horiztonal_prog_indicator.png
  src/pages/patterns/forms-pattern/images/labels.png
  src/pages/patterns/forms-pattern/images/optional_v_mandatory.png
  src/pages/patterns/forms-pattern/images/progressive_disclosure.png
  src/pages/patterns/forms-pattern/images/server_side.gif
  src/pages/patterns/forms-pattern/images/vertical_prog_indicator.png
  src/pages/patterns/forms-pattern/index.mdx
Labels: status: content review ✍️, status: ready for review :eyes:

#675 docs: fixing typos on Forms pattern
  src/pages/patterns/forms-pattern/images/14_Empty state_inline documentation_website image_736 (1).png
  src/pages/patterns/forms-pattern/images/Bound_entry_controls.png
  src/pages/patterns/forms-pattern/images/Content_do.png
  src/pages/patterns/forms-pattern/images/Content_do_not.png
  src/pages/patterns/forms-pattern/images/Elements.png
  src/pages/patterns/forms-pattern/images/Help_text.png
  src/pages/patterns/forms-pattern/images/Help_text_alignment.png
  src/pages/patterns/forms-pattern/images/Inline_error_message.png
  src/pages/patterns/forms-pattern/images/Placeholder_guidance.png
  src/pages/patterns/forms-pattern/images/Placeholder_text.png
  src/pages/patterns/forms-pattern/images/Selection_controls.png
  src/pages/patterns/forms-pattern/images/Text_inputs.png
  src/pages/patterns/forms-pattern/images/Tooltip.png
  src/pages/patterns/forms-pattern/images/dedicated_pg_buttons.png
  src/pages/patterns/forms-pattern/images/dialog_and_panel_buttons.png
  src/pages/patterns/forms-pattern/images/do_bottom_buttons.png
  src/pages/patterns/forms-pattern/images/do_multi_step_form.png
  src/pages/patterns/forms-pattern/images/do_not_columns.png
  src/pages/patterns/forms-pattern/images/do_not_top_align_buttons.png
  src/pages/patterns/forms-pattern/images/do_placeholder.png
  src/pages/patterns/forms-pattern/images/dont_placeholder.png
  src/pages/patterns/forms-pattern/images/form_spacing.png
  src/pages/patterns/forms-pattern/images/horiztonal_prog_indicator.png
  src/pages/patterns/forms-pattern/images/labels.png
  src/pages/patterns/forms-pattern/images/optional_v_mandatory.png
  src/pages/patterns/forms-pattern/images/progressive_disclosure.png
  src/pages/patterns/forms-pattern/images/vertical_prog_indicator.png
  src/pages/patterns/forms-pattern/index.mdx
Labels: status: ready to merge 🎉

#666 docs(radio-button): add radio button a11y docs
  src/pages/components/radio-button/accessibility.mdx
  src/pages/components/radio-button/code.mdx
  src/pages/components/radio-button/style.mdx
  src/pages/components/radio-button/usage.mdx
Labels: status: content review ✍️, status: ready for review :eyes:

#665 docs: final draft empty states pattern
  src/data/nav-items.yaml
  src/pages/patterns/empty-states-pattern/images/1.png
  src/pages/patterns/empty-states-pattern/images/10.png
  src/pages/patterns/empty-states-pattern/images/11.png
  src/pages/patterns/empty-states-pattern/images/12.png
  src/pages/patterns/empty-states-pattern/images/13.png
  src/pages/patterns/empty-states-pattern/images/14.png
  src/pages/patterns/empty-states-pattern/images/15.png
  src/pages/patterns/empty-states-pattern/images/16.png
  src/pages/patterns/empty-states-pattern/images/2.png
  src/pages/patterns/empty-states-pattern/images/3.png
  src/pages/patterns/empty-states-pattern/images/4.png
  src/pages/patterns/empty-states-pattern/images/5.png
  src/pages/patterns/empty-states-pattern/images/6.png
  src/pages/patterns/empty-states-pattern/images/7.png
  src/pages/patterns/empty-states-pattern/images/8.png
  src/pages/patterns/empty-states-pattern/images/9.png
  src/pages/patterns/empty-states-pattern/images/placeholder_guidance.png
  src/pages/patterns/empty-states-pattern/index.mdx
Labels: status: ready for review :eyes:

#676 docs: final draft notification pattern
  src/data/nav-items.yaml
  src/pages/patterns/notification-pattern/images/Banner_1120.png
  src/pages/patterns/notification-pattern/images/Inline_1120.png
  src/pages/patterns/notification-pattern/images/Modal_1120.png
  src/pages/patterns/notification-pattern/images/Notification_types_1120.png
  src/pages/patterns/notification-pattern/images/Panel_1120.png
  src/pages/patterns/notification-pattern/images/Status_1120.png
  src/pages/patterns/notification-pattern/images/Toast_1120.png
  src/pages/patterns/notification-pattern/index.mdx
  src/pages/patterns/overview.mdx
Labels: status: ready to merge 🎉

#677 docs(global header): Pattern for review
  src/data/nav-items.yaml
  src/pages/patterns/global-header/images/configurations.png
  src/pages/patterns/global-header/images/drill-down.png
  src/pages/patterns/global-header/images/global.png
  src/pages/patterns/global-header/images/global_02.png
  src/pages/patterns/global-header/images/header-leftpanel-example.png
  src/pages/patterns/global-header/images/header-only-example.png
  src/pages/patterns/global-header/images/landmark_zones.png
  src/pages/patterns/global-header/images/matchin-dom-visual.png
  src/pages/patterns/global-header/images/matching-dom-visual.png
  src/pages/patterns/global-header/images/nav_priority_changes.png
  src/pages/patterns/global-header/images/skip-to-main-content.gif
  src/pages/patterns/global-header/images/voiceover.png
  src/pages/patterns/global-header/images/within-offering.png
  src/pages/patterns/global-header/index.mdx
Labels: status: ready for review :eyes:

#686 docs: Overview update to include dialogs
  src/pages/patterns/overview.mdx
Labels: status: WIP 👩‍💻, 🛑 Don't merge!

#646 [pattern] dialog
  src/data/nav-items.yaml
  src/pages/patterns/dialog-pattern/images/dialog-1.png
  src/pages/patterns/dialog-pattern/images/dialog-2.png
  src/pages/patterns/dialog-pattern/images/dialog-3.png
  src/pages/patterns/dialog-pattern/images/dialog-4.png
  src/pages/patterns/dialog-pattern/images/dialog-5.png
  src/pages/patterns/dialog-pattern/images/dialog-focus-do.png
  src/pages/patterns/dialog-pattern/images/dialog-focus-dont.png
  src/pages/patterns/dialog-pattern/images/dialog-loading.png
  src/pages/patterns/dialog-pattern/images/dialog-modeless.png
  src/pages/patterns/dialog-pattern/images/dialog-table-do.png
  src/pages/patterns/dialog-pattern/images/dialog-table-dont.png
  src/pages/patterns/dialog-pattern/images/dialog-validate.png
  src/pages/patterns/dialog-pattern/images/do_placeholder.png
  src/pages/patterns/dialog-pattern/images/don't_placeholder.png
  src/pages/patterns/dialog-pattern/images/placeholder.png
  src/pages/patterns/dialog-pattern/images/server_side.gif
  src/pages/patterns/dialog-pattern/index.mdx
Labels: type: docs :book:

#633 Clarify Use Of React Web Hooks Definition
  src/pages/tutorial/react/step-3.mdx
Labels: status: one more review :eyes:

#688 Overview: added Global Header
  src/pages/patterns/overview.mdx
Labels: status: content review ✍️, status: ready for review :eyes:

#682 Update older dataviz developer instructions
  src/pages/data-visualization/getting-started/angular.mdx
  src/pages/data-visualization/getting-started/other-frameworks.mdx
  src/pages/data-visualization/getting-started/react.mdx
  src/pages/data-visualization/getting-started/shared-data-options-section.mdx
  src/pages/data-visualization/getting-started/vanilla.mdx
  src/pages/data-visualization/getting-started/vue.mdx
Labels: priority: high

#695 docs: Overview page update for Global header
  src/pages/patterns/overview.mdx
Labels: status: ready for review :eyes:

#640 docs(date-picker): adds A11y datepicker docs
  src/pages/components/date-picker/accessibility.mdx
  src/pages/components/date-picker/code.mdx
  src/pages/components/date-picker/style.mdx
  src/pages/components/date-picker/usage.mdx
Labels: status: ready to merge 🎉

#641 docs(dropdown): adds a11y docs for dropdown to website
  src/pages/components/dropdown/accessibility.mdx
  src/pages/components/dropdown/code.mdx
  src/pages/components/dropdown/style.mdx
  src/pages/components/dropdown/usage.mdx
Labels: status: ready to merge 🎉

#653 docs(vue-step 1): typo fix.
  src/pages/tutorial/vue/step-1.mdx
Labels: status: one more review 👀

#642 docs(file-uploader): adds a11y docs to website for file uploader
  src/pages/components/file-uploader/accessibility.mdx
  src/pages/components/file-uploader/code.mdx
  src/pages/components/file-uploader/style.mdx
  src/pages/components/file-uploader/usage.mdx
Labels: status: ready to merge 🎉

#663 docs(number-input): adds a11y number input docs
  src/pages/components/number-input/accessibility.mdx
  src/pages/components/number-input/code.mdx
  src/pages/components/number-input/style.mdx
  src/pages/components/number-input/usage.mdx
Labels: status: ready to merge 🎉

#664 docs(progress-indicator): add progress indicator a11y docs to website
  src/pages/components/progress-indicator/accessibility.mdx
  src/pages/components/progress-indicator/code.mdx
  src/pages/components/progress-indicator/style.mdx
  src/pages/components/progress-indicator/usage.mdx
Labels: status: ready to merge 🎉

#697 docs(pagination): adds a11y docs for pagination
  src/pages/components/pagination/accessibility.mdx
  src/pages/components/pagination/code.mdx
  src/pages/components/pagination/style.mdx
  src/pages/components/pagination/usage.mdx
Labels: status: ready to merge 🎉

#672 pattern(search): Draft for review
  docs/pattern-template.mdx
  src/data/nav-items.yaml
  src/pages/patterns/overview.mdx
  src/pages/patterns/search-pattern/images/10.png
  src/pages/patterns/search-pattern/images/11.png
  src/pages/patterns/search-pattern/images/11_focused_search.png
  src/pages/patterns/search-pattern/images/2.png
  src/pages/patterns/search-pattern/images/2_do.png
  src/pages/patterns/search-pattern/images/2_dont.png
  src/pages/patterns/search-pattern/images/5.png
  src/pages/patterns/search-pattern/images/6.png
  src/pages/patterns/search-pattern/images/7.png
  src/pages/patterns/search-pattern/images/active_search.png
  src/pages/patterns/search-pattern/images/anatomy.png
  src/pages/patterns/search-pattern/images/basic_search.png
  src/pages/patterns/search-pattern/images/do_hebrew.png
  src/pages/patterns/search-pattern/images/do_placeholder.png
  src/pages/patterns/search-pattern/images/dont_hebrew.png
  src/pages/patterns/search-pattern/images/dont_placeholder.png
  src/pages/patterns/search-pattern/images/focused_search_full.png
  src/pages/patterns/search-pattern/images/placeholder_guidance.png
  src/pages/patterns/search-pattern/index.mdx
Labels: status: ready to merge 🎉

#725 Removes leftover experimental navigation pattern
  src/data/nav-items.yaml
  src/pages/experimental/navigation-pattern/images/between-offerings.png
  src/pages/experimental/navigation-pattern/images/drill-down.png
  src/pages/experimental/navigation-pattern/images/header-leftpanel-example.png
  src/pages/experimental/navigation-pattern/images/header-only-example.png
  src/pages/experimental/navigation-pattern/images/within-offering.png
  src/pages/experimental/navigation-pattern/index.mdx
Labels: status: ready to merge 🎉

#135 feat: Add tutorial steps for Angular
  src/data/nav-items.yaml
  src/pages/tutorial/angular/images/carbon-badge.png
  src/pages/tutorial/angular/overview.mdx
  src/pages/tutorial/angular/step-1.mdx
  src/pages/tutorial/angular/step-2.mdx
  src/pages/tutorial/angular/step-3.mdx
  src/pages/tutorial/angular/step-4.mdx
  src/pages/tutorial/angular/step-5.mdx
  src/pages/tutorial/angular/wrapping-up.mdx
Labels: status: waiting for author's response 💬

#707 docs: login pattern
  src/data/nav-items.yaml
  src/pages/patterns/login-pattern/images/IBMid_field.png
  src/pages/patterns/login-pattern/images/Login_anatomy.png
  src/pages/patterns/login-pattern/images/Login_marketing_material.png
  src/pages/patterns/login-pattern/images/Login_password_field.png
  src/pages/patterns/login-pattern/images/Login_with_graphic.png
  src/pages/patterns/login-pattern/images/single_Col_login.png
  src/pages/patterns/login-pattern/index.mdx
  src/pages/patterns/overview.mdx
Labels: status: one more review 👀

#639 docs(data-table): adds A11y datatable docs
  src/pages/components/data-table/accessibility.mdx
  src/pages/components/data-table/code.mdx
  src/pages/components/data-table/style.mdx
  src/pages/components/data-table/usage.mdx
Labels: status: ready to merge 🎉
