Repository carbon-design-system/carbon-website, pull requests merged in 2020-05, with the labels that each got.

#1139 Fix broken link on Modal usage
  src/pages/components/modal/usage.mdx
Labels: status: ready to merge 🎉

#1035 feat: add component variant
  src/components/ComponentDemo/Code/Code.js
  src/components/ComponentDemo/ComponentDemo.js
  src/components/ComponentDemo/ComponentDemo.module.scss
  src/components/ComponentDemo/ComponentVariant.js
  src/components/ComponentDemo/KnobContainer.js
  src/data/components/code-snippet.js
  src/data/docgen/overrides.json
  src/gatsby-theme-carbon/components/MDXProvider/defaultComponents.js
  src/pages/components/accordion/code.mdx
  src/pages/components/breadcrumb/accessibility.mdx
  src/pages/components/breadcrumb/code.mdx
  src/pages/components/button/code.mdx
  src/pages/components/checkbox/code.mdx
  src/pages/components/code-snippet/code.mdx
  src/pages/components/content-switcher/code.mdx
  src/pages/components/data-table/code.mdx
  src/pages/components/date-picker/code.mdx
  src/pages/components/dropdown/code.mdx
  src/pages/components/file-uploader/code.mdx
  src/pages/components/form/code.mdx
  src/pages/components/inline-loading/code.mdx
  src/pages/components/link/code.mdx
  src/pages/components/list/code.mdx
  src/pages/components/loading/code.mdx
  src/pages/components/modal/code.mdx
  src/pages/components/notification/code.mdx
  src/pages/components/number-input/code.mdx
  src/pages/components/overflow-menu/code.mdx
  src/pages/components/pagination/code.mdx
  src/pages/components/progress-indicator/code.mdx
  src/pages/components/radio-button/code.mdx
  src/pages/components/search/code.mdx
  src/pages/components/select/code.mdx
  src/pages/components/slider/code.mdx
  src/pages/components/structured-list/code.mdx
  src/pages/components/tabs/code.mdx
  src/pages/components/tag/code.mdx
  src/pages/components/text-input/code.mdx
  src/pages/components/tile/code.mdx
  src/pages/components/toggle/code.mdx
  src/pages/components/tooltip/code.mdx
Labels: status: ready for review 👀

#1117 docs: Accessibility copy updates
  src/pages/guidelines/accessibility/color.mdx
  src/pages/guidelines/accessibility/developers.mdx
  src/pages/guidelines/accessibility/images/bee.svg
  src/pages/guidelines/accessibility/images/color-contrast-icon.png
  src/pages/guidelines/accessibility/images/high-contrast.png
  src/pages/guidelines/accessibility/images/stark.png
  src/pages/guidelines/accessibility/keyboard.mdx
  src/pages/guidelines/accessibility/overview.mdx
Labels: status: ready to merge 🎉

#1143 fix(accordion): update style tab
  src/pages/components/accordion/style.mdx
Labels: status: ready to merge 🎉

#1141 docs(accordion): style tab updates
  src/pages/components/accordion/images/accordion-anatomy.png
  src/pages/components/accordion/images/accordion-click-target.png
  src/pages/components/accordion/images/accordion-placement-2.png
  src/pages/components/accordion/images/accordion-placement-2m.png
  src/pages/components/accordion/images/accordion-state-1.png
  src/pages/components/accordion/images/accordion-state-2.png
  src/pages/components/accordion/images/accordion-style-1.png
  src/pages/components/accordion/images/accordion-style-2.png
  src/pages/components/accordion/images/accordion-style-3.png
  src/pages/components/accordion/style.mdx
  src/pages/components/accordion/usage.mdx
Labels: component: accordion, status: ready to merge 🎉

#1163 Disabled image swap
  src/data/docgen/react-docgen.json
  src/pages/community/patterns/create-flows/index.mdx
  src/pages/components/button/usage.mdx
  src/pages/components/dropdown/style.mdx
  src/pages/components/progress-indicator/usage.mdx
  src/pages/patterns/common-actions/index.mdx
  src/pages/patterns/disabled-states/images/disabled-3.png
  src/pages/patterns/filtering/index.mdx
  src/pages/patterns/forms-pattern/index.mdx
Labels: status: ready for review 👀

#1165 fix: revert Prettier autoformat
  src/data/docgen/react-docgen.json
Labels: status: ready for review 👀

#1167 chore: changed links to point to Usage tab
  src/pages/components/accordion/usage.mdx
  src/pages/components/breadcrumb/style.mdx
  src/pages/components/button/usage.mdx
  src/pages/components/checkbox/usage.mdx
  src/pages/components/content-switcher/usage.mdx
  src/pages/components/data-table/usage.mdx
  src/pages/components/date-picker/style.mdx
  src/pages/components/date-picker/usage.mdx
  src/pages/components/dropdown/usage.mdx
  src/pages/components/file-uploader/style.mdx
  src/pages/components/file-uploader/usage.mdx
  src/pages/components/form/style.mdx
  src/pages/components/form/usage.mdx
  src/pages/components/link/usage.mdx
  src/pages/components/list/usage.mdx
  src/pages/components/modal/usage.mdx
  src/pages/components/pagination/usage.mdx
  src/pages/components/search/usage.mdx
  src/pages/components/select/usage.mdx
  src/pages/components/structured-list/usage.mdx
  src/pages/components/tabs/usage.mdx
  src/pages/components/tile/usage.mdx
  src/pages/components/toggle/usage.mdx
  src/pages/patterns/dialog-pattern/index.mdx
  src/pages/patterns/disabled-states/index.mdx
  src/pages/patterns/global-header/index.mdx
  src/pages/patterns/loading-pattern/index.mdx
  src/pages/patterns/login-pattern/index.mdx
  src/pages/patterns/overflow-content/index.mdx
Labels: status: ready for review 👀

#1175 Docs: component content updates #2
  src/pages/components/data-table/usage.mdx
  src/pages/components/date-picker/usage.mdx
  src/pages/components/dropdown/usage.mdx
  src/pages/components/file-uploader/usage.mdx
  src/pages/components/form/usage.mdx
  src/pages/components/inline-loading/usage.mdx
Labels: component: data-table, component: date-picker, component: dropdown, component: file-uploader, component: form, component: inline-loading, role: content 📝, status: ready for review 👀

#1177 Docs: component content updates #4
  src/pages/components/button/usage.mdx
  src/pages/components/code-snippet/usage.mdx
  src/pages/components/content-switcher/usage.mdx
  src/pages/components/dropdown/usage.mdx
  src/pages/components/file-uploader/usage.mdx
  src/pages/components/form/usage.mdx
  src/pages/components/inline-loading/usage.mdx
  src/pages/components/list/usage.mdx
  src/pages/components/loading/usage.mdx
  src/pages/components/number-input/usage.mdx
  src/pages/components/overflow-menu/usage.mdx
  src/pages/components/pagination/usage.mdx
  src/pages/components/progress-indicator/usage.mdx
  src/pages/components/radio-button/usage.mdx
  src/pages/components/search/usage.mdx
  src/pages/components/select/usage.mdx
  src/pages/components/slider/usage.mdx
  src/pages/components/structured-list/usage.mdx
  src/pages/components/tabs/usage.mdx
Labels: component: button, component: radio-button, component: search, component: select, component: slider, component: structured-list, component: tabs, status: ready for review 👀

#1183 Docs: component content updates #5
  src/pages/components/loading/usage.mdx
  src/pages/components/modal/usage.mdx
  src/pages/components/notification/usage.mdx
  src/pages/components/number-input/usage.mdx
  src/pages/components/overflow-menu/usage.mdx
  src/pages/components/pagination/usage.mdx
  src/pages/components/progress-indicator/usage.mdx
  src/pages/components/radio-button/usage.mdx
  src/pages/components/search/usage.mdx
  src/pages/components/select/usage.mdx
  src/pages/components/slider/usage.mdx
  src/pages/components/tabs/usage.mdx
  src/pages/components/tag/usage.mdx
  src/pages/components/text-input/usage.mdx
  src/pages/components/tile/usage.mdx
  src/pages/components/toggle/usage.mdx
  src/pages/components/tooltip/usage.mdx
Labels: component: tags, component: text-input, component: tile, component: toggle, component: tooltip, status: ready for review 👀

#1191 Docs: component content updates #7
  src/pages/components/code-snippet/usage.mdx
  src/pages/components/content-switcher/usage.mdx
  src/pages/components/dropdown/usage.mdx
  src/pages/components/file-uploader/usage.mdx
  src/pages/components/form/usage.mdx
  src/pages/components/inline-loading/usage.mdx
  src/pages/components/link/usage.mdx
  src/pages/components/list/usage.mdx
Labels: component: code-snippet, component: content-switcher, component: dropdown, component: file-uploader, component: form, component: inline-loading, component: link, component: list, status: ready for review 👀

#1199 Docs: component usage content updates #8
  src/pages/components/accordion/usage.mdx
  src/pages/components/checkbox/usage.mdx
Labels: component: accordion, component: checkbox, status: ready for review 👀

#1193 Update contribute.mdx
  src/pages/guidelines/icons/contribute.mdx
Labels: status: ready to merge 🎉

#1196 remove unnecessary dataviz tutorials
  src/data/nav-items.yaml
  src/pages/data-visualization/getting-started/angular.mdx
  src/pages/data-visualization/getting-started/index.mdx
  src/pages/data-visualization/getting-started/other-frameworks.mdx
  src/pages/data-visualization/getting-started/react.mdx
  src/pages/data-visualization/getting-started/shared-data-options-section.mdx
  src/pages/data-visualization/getting-started/vanilla.mdx
  src/pages/data-visualization/getting-started/vue.mdx
Labels: status: ready to merge 🎉

#1133 Update style.mdx
  src/pages/components/text-input/style.mdx
Labels: status: ready to merge 🎉

#1228 fix(tutorial): pin dependencies to match later steps
  src/pages/tutorial/react/step-3.mdx
Labels: status: ready for review 👀

#1209 docs(date-picker): usage content updates
  src/pages/components/date-picker/images/calendar-picker-min-max.png
  src/pages/components/date-picker/images/date-format-placement.png
  src/pages/components/date-picker/images/date-picker-alignment-01.png
  src/pages/components/date-picker/images/date-picker-alignment-02.png
  src/pages/components/date-picker/images/date-picker-anatomy.png
  src/pages/components/date-picker/images/date-picker-light-prop.png
  src/pages/components/date-picker/images/date-picker-style-2.png
  src/pages/components/date-picker/images/date-picker-style-3.png
  src/pages/components/date-picker/images/date-picker-style-4.png
  src/pages/components/date-picker/images/date-picker-usage-1.png
  src/pages/components/date-picker/images/date-picker-usage-animation-1.gif
  src/pages/components/date-picker/images/date-picker-validation.png
  src/pages/components/date-picker/images/range-date-picker.png
  src/pages/components/date-picker/images/simple-date-input-states.png
  src/pages/components/date-picker/images/simple-date-input.png
  src/pages/components/date-picker/images/simple-date-picker.png
  src/pages/components/date-picker/images/single-date-input.png
  src/pages/components/date-picker/images/single-date-picker.png
  src/pages/components/date-picker/images/time-picker-anatomy.png
  src/pages/components/date-picker/images/time-picker-example.png
  src/pages/components/date-picker/images/time-picker-type.png
  src/pages/components/date-picker/style.mdx
  src/pages/components/date-picker/usage.mdx
Labels: status: ready for review 👀
