Repository carbon-design-system/carbon-website, pull requests merged in 2020-07, with the labels that each got.

#1306 Button usage updates
  src/pages/components/button/images/button-style-danger.png
  src/pages/components/button/images/button-style-ghost.png
  src/pages/components/button/images/button-style-primary.png
  src/pages/components/button/images/button-style-secondary.png
  src/pages/components/button/images/button-style-sizes.png
  src/pages/components/button/images/button-style-structure.png
  src/pages/components/button/images/button-style-tertiary.png
  src/pages/components/button/images/button-usage-1.png
  src/pages/components/button/images/button-usage-2.png
  src/pages/components/button/images/button-usage-3.png
  src/pages/components/button/images/button-usage-4.png
  src/pages/components/button/images/button-usage-5.png
  src/pages/components/button/images/button-usage-6.png
  src/pages/components/button/images/button-usage-7.png
  src/pages/components/button/images/button-usage-8.png
  src/pages/components/button/images/button-usage-9.png
  src/pages/components/button/images/button_usage_1.png
  src/pages/components/button/images/button_usage_10.png
  src/pages/components/button/images/button_usage_11.png
  src/pages/components/button/images/button_usage_12.png
  src/pages/components/button/images/button_usage_13.png
  src/pages/components/button/images/button_usage_14.png
  src/pages/components/button/images/button_usage_15.png
  src/pages/components/button/images/button_usage_15_test.png
  src/pages/components/button/images/button_usage_16.png
  src/pages/components/button/images/button_usage_17.png
  src/pages/components/button/images/button_usage_18.png
  src/pages/components/button/images/button_usage_19.png
  src/pages/components/button/images/button_usage_2.png
  src/pages/components/button/images/button_usage_20.png
  src/pages/components/button/images/button_usage_21.png
  src/pages/components/button/images/button_usage_22.png
  src/pages/components/button/images/button_usage_23.png
  src/pages/components/button/images/button_usage_24.png
  src/pages/components/button/images/button_usage_25.png
  src/pages/components/button/images/button_usage_26.png
  src/pages/components/button/images/button_usage_27.png
  src/pages/components/button/images/button_usage_28.png
  src/pages/components/button/images/button_usage_29.png
  src/pages/components/button/images/button_usage_3.png
  src/pages/components/button/images/button_usage_30.png
  src/pages/components/button/images/button_usage_5.png
  src/pages/components/button/images/button_usage_6.png
  src/pages/components/button/images/button_usage_7.png
  src/pages/components/button/images/button_usage_8.png
  src/pages/components/button/images/button_usage_8_test.png
  src/pages/components/button/images/button_usage_9.png
  src/pages/components/button/images/button_usage_9_test.png
  src/pages/components/button/usage.mdx
  src/pages/data-visualization/advanced-charts/index.mdx
Labels: status: one more review 👀

#1303 docs(text toolbar): new pattern content
  src/data/nav-items.yaml
  src/pages/components/content-switcher/usage.mdx
  src/pages/patterns/text-toolbar-pattern/images/text-toolbar-anatomy.png
  src/pages/patterns/text-toolbar-pattern/images/text-toolbar-attachment-hover.png
  src/pages/patterns/text-toolbar-pattern/images/text-toolbar-attachment.png
  src/pages/patterns/text-toolbar-pattern/images/text-toolbar-button-states.png
  src/pages/patterns/text-toolbar-pattern/images/text-toolbar-dropdowns.png
  src/pages/patterns/text-toolbar-pattern/images/text-toolbar-link-embed.png
  src/pages/patterns/text-toolbar-pattern/images/text-toolbar-link-open.png
  src/pages/patterns/text-toolbar-pattern/images/text-toolbar-menus.png
  src/pages/patterns/text-toolbar-pattern/images/text-toolbar-overflow-menu.png
  src/pages/patterns/text-toolbar-pattern/images/text-toolbar-responsive.png
  src/pages/patterns/text-toolbar-pattern/images/text-toolbar-save.png
  src/pages/patterns/text-toolbar-pattern/images/text-toolbar-search-flow.png
  src/pages/patterns/text-toolbar-pattern/images/text-toolbar-search-highlight.png
  src/pages/patterns/text-toolbar-pattern/images/text-toolbar-tooltip.png
  src/pages/patterns/text-toolbar-pattern/index.mdx
Labels: status: one more review 👀

#1190 docs(data table): usage update
  src/pages/components/data-table/images/data-table-style-1.png
  src/pages/components/data-table/images/data-table-style-3.png
  src/pages/components/data-table/images/data-table-style-7.png
  src/pages/components/data-table/images/data-table-usage-1.png
  src/pages/components/data-table/images/data-table-usage-10.png
  src/pages/components/data-table/images/data-table-usage-11.png
  src/pages/components/data-table/images/data-table-usage-12.png
  src/pages/components/data-table/images/data-table-usage-13.png
  src/pages/components/data-table/images/data-table-usage-2.png
  src/pages/components/data-table/images/data-table-usage-3.png
  src/pages/components/data-table/images/data-table-usage-6.png
  src/pages/components/data-table/images/data-table-usage-7.png
  src/pages/components/data-table/images/data-table-usage-8.png
  src/pages/components/data-table/images/data-table-usage-9.png
  src/pages/components/data-table/images/datatable-alignment-condensed.png
  src/pages/components/data-table/images/datatable-alignment-narrow.png
  src/pages/components/data-table/images/datatable-alignment-wide.png
  src/pages/components/data-table/images/datatable-anatomy.png
  src/pages/components/data-table/images/datatable-expand.png
  src/pages/components/data-table/images/datatable-header-size-do.png
  src/pages/components/data-table/images/datatable-header-size-dont.png
  src/pages/components/data-table/images/datatable-hover.png
  src/pages/components/data-table/images/datatable-inline-actions.png
  src/pages/components/data-table/images/datatable-multi-select.png
  src/pages/components/data-table/images/datatable-pagination.png
  src/pages/components/data-table/images/datatable-persistent-hover.png
  src/pages/components/data-table/images/datatable-sizes.png
  src/pages/components/data-table/images/datatable-skeleton.png
  src/pages/components/data-table/images/datatable-sorting.png
  src/pages/components/data-table/images/datatable-target.png
  src/pages/components/data-table/images/datatable-toolbar-sizes.png
  src/pages/components/data-table/images/datatable-toolbar.png
  src/pages/components/data-table/images/datatable-zebra.png
  src/pages/components/data-table/images/datatable_search.gif
  src/pages/components/data-table/usage.mdx
Labels: status: one more review 👀

#1317 chore(icons): remove outdated developing with carbon section
  src/pages/guidelines/icons/usage.mdx
Labels: status: ready to merge 🎉

#1333 Fix typography reference
  src/pages/components/notification/style.mdx
Labels: status: ready to merge 🎉

#1360 updated broken link
  src/pages/get-started/design/sketch.mdx
Labels: status: ready to merge 🎉

#1359 chore(release): bump carbon to v10.16.0
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#1337 fix(docs): update a11y resource cards
  src/pages/guidelines/accessibility/images/a11ybee.svg
  src/pages/guidelines/accessibility/images/nocoffee.png
  src/pages/guidelines/accessibility/overview.mdx
Labels: status: waiting for author's response 💬

#1353 chore: update node-fetch
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#1362 Update step-2.mdx
  src/pages/tutorial/react/step-2.mdx
Labels: status: ready to merge 🎉

#1331 chore: update theme and gatsby
  yarn.lock
Labels: status: ready to merge 🎉

#1381 Update contribute-icons text
  src/pages/how-to-contribute/contribute-icons.mdx
Labels: status: ready to merge 🎉

#1380 Updade contribute-pictograms, text edits
  src/pages/how-to-contribute/contribute-pictograms.mdx
Labels: status: one more review 👀

#1386 fix: closes #1344
  src/components/SVGLibraries/shared/ActionBar.js
  src/components/SVGLibraries/shared/SvgCard.js
Labels: status: ready to merge 🎉

#1382 Remove leading '$' from bash commands
  src/pages/get-started/develop/angular.mdx
  src/pages/get-started/develop/react.mdx
  src/pages/get-started/develop/vanilla.mdx
  src/pages/get-started/develop/vue.mdx
  src/pages/tutorial/angular/step-5.mdx
  src/pages/tutorial/react/step-1.mdx
  src/pages/tutorial/react/step-2.mdx
  src/pages/tutorial/react/step-3.mdx
  src/pages/tutorial/react/step-4.mdx
  src/pages/tutorial/react/step-5.mdx
  src/pages/tutorial/vue/step-1.mdx
  src/pages/tutorial/vue/step-2.mdx
  src/pages/tutorial/vue/step-3.mdx
  src/pages/tutorial/vue/step-4.mdx
  src/pages/tutorial/vue/step-5.mdx
Labels: status: one more review 👀

#1373 docs(checkbox): bug updates
  src/pages/components/checkbox/images/checkbox-style-1.png
  src/pages/components/checkbox/images/checkbox-style-2.png
  src/pages/components/checkbox/images/checkbox-style-3.png
  src/pages/components/checkbox/images/checkbox-usage-8.png
  src/pages/components/checkbox/images/checkbox-usage-9.png
  src/pages/components/checkbox/style.mdx
Labels: status: ready to merge 🎉

#1378 docs(colors): update gray 10 color on docs
  src/data/guidelines/color-tokens.js
Labels: status: ready to merge 🎉

#1415 docs(notification pattern): fix typos
  src/pages/patterns/notification-pattern/index.mdx
Labels: status: one more review 👀

#1400 chore: release Carbon 10.16
  package.json
  src/pages/data-visualization/basic-charts/index.mdx
  src/styles/index.scss
  yarn.lock
Labels: status: ready for review 👀

#1420 docs(code-snippet): usage content updates
  src/pages/components/code-snippet/images/code-snippet-usage-1.png
  src/pages/components/code-snippet/images/code-snippet-usage-2-do.png
  src/pages/components/code-snippet/images/code-snippet-usage-2-don't.png
  src/pages/components/code-snippet/images/code-snippet-usage-3.png
  src/pages/components/code-snippet/images/code-snippet-usage-4a.png
  src/pages/components/code-snippet/images/code-snippet-usage-4b.png
  src/pages/components/code-snippet/images/code-snippet-usage-4c.png
  src/pages/components/code-snippet/images/code-snippet-usage-5.png
  src/pages/components/code-snippet/images/code-snippet-usage-6a.png
  src/pages/components/code-snippet/images/code-snippet-usage-6b.png
  src/pages/components/code-snippet/images/code-snippet-usage-7a.png
  src/pages/components/code-snippet/images/code-snippet-usage-7b.png
  src/pages/components/code-snippet/images/code-snippet-usage-8.png
  src/pages/components/code-snippet/usage.mdx
Labels: status: ready to merge 🎉

#1422 docs: remove component status page
  src/data/nav-items.yaml
  src/pages/components/component-status/index.mdx
Labels: status: ready to merge 🎉

#1342 docs: fix broken links
  src/pages/how-to-contribute/component/index.mdx
Labels: status: ready to merge 🎉

#1398 chore(about-carbon): fix typo in contribution section
  src/pages/get-started/about-carbon.mdx
Labels: status: ready to merge 🎉

#1377 [Carbon] icons - contribution section text edit
  src/pages/guidelines/icons/contribute.mdx
Labels: status: ready to merge 🎉

#1424 chore(kodiak): add kodiak config for automerge
  .kodiak.toml
Labels: status: ready for review 👀

#1316 Updates to Export pattern
  src/pages/community/patterns/export-pattern/images/Format_Selection.png
  src/pages/community/patterns/export-pattern/index.mdx
Labels: status: ready to merge 🎉

#1384 Update contribute-icons.mdx
  src/pages/how-to-contribute/contribute-icons.mdx
Labels: status: ready to merge 🎉

#1435 Docs: punctuation updates
  src/pages/components/UI-shell-header/usage.mdx
  src/pages/components/breadcrumb/accessibility.mdx
  src/pages/components/button/accessibility.mdx
  src/pages/components/button/usage.mdx
  src/pages/components/data-table/usage.mdx
  src/pages/components/inline-loading/accessibility.mdx
  src/pages/components/list/accessibility.mdx
  src/pages/components/loading/accessibility.mdx
  src/pages/components/modal/usage.mdx
  src/pages/components/radio-button/accessibility.mdx
  src/pages/components/search/accessibility.mdx
  src/pages/components/search/usage.mdx
  src/pages/components/select/usage.mdx
  src/pages/data-visualization/chart-anatomy/index.mdx
  src/pages/guidelines/accessibility/overview.mdx
  src/pages/guidelines/content/guidance.mdx
  src/pages/guidelines/icons/contribute.mdx
  src/pages/guidelines/pictograms/contribute.mdx
  src/pages/how-to-contribute/contribute-icons.mdx
  src/pages/how-to-contribute/contribute-pictograms.mdx
  src/pages/patterns/dialog-pattern/index.mdx
  src/pages/patterns/forms-pattern/index.mdx
  src/pages/patterns/global-header/index.mdx
  src/pages/patterns/login-pattern/index.mdx
  src/pages/patterns/search-pattern/index.mdx
Labels: status: ready to merge 🎉

#1411 docs(content switcher): usage updates
  src/pages/components/content-switcher/images/content-switcher-usage-1.png
  src/pages/components/content-switcher/images/content-switcher-usage-2.png
  src/pages/components/content-switcher/images/content-switcher-usage-3-do.png
  src/pages/components/content-switcher/images/content-switcher-usage-3-don't.png
  src/pages/components/content-switcher/images/content-switcher-usage-4.png
  src/pages/components/content-switcher/usage.mdx
Labels: status: ready for review 👀

#1431 chore(percy): add percy to website
  gatsby-config.js
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#1421 docs(style): text input
  src/pages/components/accordion/style.mdx
  src/pages/components/text-input/images/text-area-style-1.png
  src/pages/components/text-input/images/text-input-style-1.png
  src/pages/components/text-input/images/text-input-style-2.png
  src/pages/components/text-input/images/text-input-style-3.png
  src/pages/components/text-input/style.mdx
Labels: status: ready to merge 🎉

#1425 fix(footer): add email to footer
  src/gatsby-theme-carbon/components/Footer.js
Labels: status: ready to merge 🎉

#1429 docs:(text toolbar) image fix and update content
  src/pages/patterns/text-toolbar-pattern/images/text-toolbar-save.png
  src/pages/patterns/text-toolbar-pattern/index.mdx
Labels: status: ready to merge 🎉

#1423 docs:(patterns) add text toolbar to overview page
  src/pages/patterns/overview.mdx
Labels: status: ready to merge 🎉

#1376 [Carbon] Pictograms - contribution section text edit
  src/pages/guidelines/pictograms/contribute.mdx
Labels: status: ready to merge 🎉

#1444 Docs: Change "help text" to "helper text"
  src/pages/components/date-picker/usage.mdx
  src/pages/components/dropdown/images/dropdown-usage-5.png
  src/pages/components/dropdown/style.mdx
  src/pages/components/dropdown/usage.mdx
  src/pages/components/form/usage.mdx
  src/pages/components/number-input/style.mdx
  src/pages/components/text-input/images/text-input-usage-3.png
  src/pages/components/text-input/usage.mdx
  src/pages/patterns/forms-pattern/images/Elements.png
  src/pages/patterns/forms-pattern/images/Help_text.png
  src/pages/patterns/forms-pattern/images/Help_text_alignment.png
  src/pages/patterns/forms-pattern/index.mdx
Labels: status: ready to merge 🎉

#1427 Update TypesetExample.js to use em instead of rem
  src/components/TypesetStyle/TypesetExample.js
Labels: status: ready to merge 🎉

#1455 Docs: component demo content fixes
  src/pages/components/date-picker/code.mdx
  src/pages/components/date-picker/usage.mdx
  src/pages/components/dropdown/code.mdx
  src/pages/components/dropdown/usage.mdx
  src/pages/components/form/code.mdx
  src/pages/components/form/usage.mdx
  src/pages/components/list/code.mdx
  src/pages/components/list/usage.mdx
  src/pages/components/number-input/code.mdx
  src/pages/components/number-input/usage.mdx
  src/pages/components/radio-button/code.mdx
  src/pages/components/radio-button/usage.mdx
  src/pages/components/select/code.mdx
  src/pages/components/select/usage.mdx
  src/pages/components/slider/code.mdx
  src/pages/components/slider/usage.mdx
  src/pages/components/text-input/code.mdx
  src/pages/components/text-input/usage.mdx
  src/pages/components/tile/code.mdx
  src/pages/components/tile/usage.mdx
  src/pages/components/tooltip/code.mdx
  src/pages/components/tooltip/usage.mdx
Labels: status: ready to merge 🎉

#1456 Change Community to Community assets
  src/data/nav-items.yaml
Labels: status: ready to merge 🎉

#1430 docs(typography): provide example of token name
  src/pages/guidelines/typography/code.mdx
Labels: status: ready to merge 🎉

#1463 docs: combo box content fixes
  src/pages/components/dropdown/usage.mdx
Labels: status: ready to merge 🎉

#1464 fix(data-table): add missing prop getter for sortable headers
  src/pages/components/data-table/usage.mdx
Labels: status: ready to merge 🎉

#1469 Update urls to Sketch libraries (short ones are being depreciated)
  src/pages/get-started/design/sketch.mdx
Labels: status: ready to merge 🎉

#1459 docs: update all component code tabs
  src/components/MdxIcon/icons/angular.png
  src/components/MdxIcon/icons/react.png
  src/components/MdxIcon/icons/vue.png
  src/components/MdxIcon/index.js
  src/pages/components/UI-shell-header/code.mdx
  src/pages/components/UI-shell-left-panel/code.mdx
  src/pages/components/UI-shell-right-panel/code.mdx
  src/pages/components/accordion/code.mdx
  src/pages/components/breadcrumb/code.mdx
  src/pages/components/button/code.mdx
  src/pages/components/checkbox/code.mdx
  src/pages/components/code-snippet/code.mdx
  src/pages/components/content-switcher/code.mdx
  src/pages/components/data-table/code.mdx
  src/pages/components/date-picker/code.mdx
  src/pages/components/dropdown/code.mdx
  src/pages/components/file-uploader/code.mdx
  src/pages/components/form/code.mdx
  src/pages/components/inline-loading/code.mdx
  src/pages/components/link/code.mdx
  src/pages/components/list/code.mdx
  src/pages/components/loading/code.mdx
  src/pages/components/modal/code.mdx
  src/pages/components/notification/code.mdx
  src/pages/components/notification/usage.mdx
  src/pages/components/number-input/code.mdx
  src/pages/components/overflow-menu/code.mdx
  src/pages/components/pagination/code.mdx
  src/pages/components/progress-indicator/code.mdx
  src/pages/components/radio-button/code.mdx
  src/pages/components/search/code.mdx
  src/pages/components/select/code.mdx
  src/pages/components/slider/code.mdx
  src/pages/components/structured-list/code.mdx
  src/pages/components/tabs/code.mdx
  src/pages/components/tag/code.mdx
  src/pages/components/text-input/code.mdx
  src/pages/components/tile/code.mdx
  src/pages/components/toggle/code.mdx
  src/pages/components/tooltip/code.mdx
  src/pages/resources/index.mdx
Labels: status: ready to merge 🎉
