Repository carbon-design-system/carbon-website, pull requests merged in 2020-06, with the labels that each got.

#1237 fix(tutorial): add back in dependency to step 1
  src/pages/tutorial/react/step-1.mdx
Labels: status: ready to merge 🎉

#1262 fix(tutorial): update cf login command on step 5
  src/pages/tutorial/react/step-5.mdx
Labels: status: ready to merge 🎉

#1230 (docs) Elements code tabs
  src/data/nav-items.yaml
  src/pages/guidelines/2x-grid/code.mdx
  src/pages/guidelines/2x-grid/overview.mdx
  src/pages/guidelines/accessibility/color.mdx
  src/pages/guidelines/accessibility/overview.mdx
  src/pages/guidelines/color/code.mdx
  src/pages/guidelines/color/overview.mdx
  src/pages/guidelines/color/usage.mdx
  src/pages/guidelines/content/action-labels.mdx
  src/pages/guidelines/content/guidance.mdx
  src/pages/guidelines/content/overview.mdx
  src/pages/guidelines/icons/code.mdx
  src/pages/guidelines/icons/contribute.mdx
  src/pages/guidelines/icons/library.js
  src/pages/guidelines/icons/usage.mdx
  src/pages/guidelines/motion/choreography.mdx
  src/pages/guidelines/motion/code.mdx
  src/pages/guidelines/motion/overview.mdx
  src/pages/guidelines/motion/resources.mdx
  src/pages/guidelines/pictograms/code.mdx
  src/pages/guidelines/pictograms/contribute.mdx
  src/pages/guidelines/pictograms/library.js
  src/pages/guidelines/pictograms/usage.mdx
  src/pages/guidelines/spacing/code.mdx
  src/pages/guidelines/spacing/overview.mdx
  src/pages/guidelines/themes/code.mdx
  src/pages/guidelines/themes/overview.mdx
  src/pages/guidelines/typography/code.mdx
  src/pages/guidelines/typography/expressive.mdx
  src/pages/guidelines/typography/overview.mdx
  src/pages/guidelines/typography/productive.mdx
Labels: type: docs 📖

#1305 fix(overview-card): update markup to handle min-height change for tag
  src/components/OverviewCard/OverviewCard.js
  src/components/OverviewCard/overview-card.scss
Labels: status: visual review 🔍

#987 Codesandbox examples for charting demos
  package.json
  src/components/ComponentDemo/Code/CodeBar.js
  src/components/ComponentDemo/Code/useCodesandbox.js
  src/components/data-visualization/AllDemos.js
  src/data/charts/bar.js
  src/data/charts/index.js
  src/data/charts/line.js
  src/data/charts/pie-donut.js
  src/data/data-visualization/index.js
  src/pages/data-visualization/basic-charts/index.mdx
  src/pages/data-visualization/chart-types/images/radar.svg
  src/pages/data-visualization/chart-types/index.mdx
  src/pages/data-visualization/data-visualization.scss
  yarn.lock
Labels: type: docs 📖
