Repository carbon-design-system/carbon-website, pull requests merged in 2020-01, with the labels that each got.

#726 docs(modal): usage tab updates
  src/pages/components/modal/accessibility.mdx
  src/pages/components/modal/code.mdx
  src/pages/components/modal/images/modal-usage-4a.png
  src/pages/components/modal/images/modal-usage-anatomy.png
  src/pages/components/modal/images/modal-usage-danger.png
  src/pages/components/modal/images/modal-usage-max-heights.png
  src/pages/components/modal/images/modal-usage-one-button.png
  src/pages/components/modal/images/modal-usage-passive.png
  src/pages/components/modal/images/modal-usage-progress.png
  src/pages/components/modal/images/modal-usage-scrolling.png
  src/pages/components/modal/images/modal-usage-sizes.png
  src/pages/components/modal/images/modal-usage-three-buttons.png
  src/pages/components/modal/images/modal-usage-title.png
  src/pages/components/modal/images/modal-usage-two-buttons.png
  src/pages/components/modal/style.mdx
  src/pages/components/modal/usage.mdx
Labels: status: ready for review 👀, status: visual review 🔍

#698 docs(select): add select a11y docs
  src/pages/components/select/accessibility.mdx
  src/pages/components/select/code.mdx
  src/pages/components/select/style.mdx
  src/pages/components/select/usage.mdx
Labels: status: ready to merge 🎉

#699 docs(slider): a11y slider docs added to website
  src/pages/components/slider/accessibility.mdx
  src/pages/components/slider/code.mdx
  src/pages/components/slider/style.mdx
  src/pages/components/slider/usage.mdx
Labels: status: ready to merge 🎉

#605 Docs: Updates to import pattern
  src/pages/experimental/import-pattern/images/0.5.png
  src/pages/experimental/import-pattern/images/0.png
  src/pages/experimental/import-pattern/images/01.png
  src/pages/experimental/import-pattern/images/02.png
  src/pages/experimental/import-pattern/images/03.png
  src/pages/experimental/import-pattern/images/04.png
  src/pages/experimental/import-pattern/images/05.png
  src/pages/experimental/import-pattern/images/06.png
  src/pages/experimental/import-pattern/images/07.png
  src/pages/experimental/import-pattern/images/08.png
  src/pages/experimental/import-pattern/images/09.png
  src/pages/experimental/import-pattern/images/1.png
  src/pages/experimental/import-pattern/images/10.png
  src/pages/experimental/import-pattern/images/11.png
  src/pages/experimental/import-pattern/images/2.png
  src/pages/experimental/import-pattern/images/3.png
  src/pages/experimental/import-pattern/images/4.png
  src/pages/experimental/import-pattern/images/5.png
  src/pages/experimental/import-pattern/index.mdx
Labels: status: ready to merge 🎉

#723 Pattern template update
  docs/pattern-template.mdx
  src/pages/how-to-contribute/pattern.mdx
Labels: status: ready to merge 🎉

#700 docs(structured-list): add a11y structured list docs
  src/pages/components/structured-list/accessibility.mdx
  src/pages/components/structured-list/code.mdx
  src/pages/components/structured-list/style.mdx
  src/pages/components/structured-list/usage.mdx
Labels: status: ready to merge 🎉

#701 docs(tabs): adds a11y tabs docs
  src/pages/components/tabs/accessibility.mdx
  src/pages/components/tabs/code.mdx
  src/pages/components/tabs/style.mdx
  src/pages/components/tabs/usage.mdx
Labels: status: ready to merge 🎉

#658 docs(form): adds a11y form docs
  src/pages/components/form/accessibility.mdx
  src/pages/components/form/code.mdx
  src/pages/components/form/style.mdx
  src/pages/components/form/usage.mdx
  src/pages/experimental/import-pattern/index.mdx
  src/pages/patterns/overview.mdx
  src/pages/patterns/search-pattern/index.mdx
Labels: status: ready to merge 🎉

#702 docs(tile): add a11y tile docs to website
  src/pages/components/tile/accessibility.mdx
  src/pages/components/tile/code.mdx
  src/pages/components/tile/style.mdx
  src/pages/components/tile/usage.mdx
Labels: status: ready to merge 🎉

#703 docs(toggle): adds a11y toggle docs
  src/pages/components/toggle/accessibility.mdx
  src/pages/components/toggle/code.mdx
  src/pages/components/toggle/style.mdx
  src/pages/components/toggle/usage.mdx
Labels: status: ready to merge 🎉

#704 docs(tooltip): add a11y tooltip docs
  src/pages/components/tooltip/accessibility.mdx
  src/pages/components/tooltip/code.mdx
  src/pages/components/tooltip/style.mdx
  src/pages/components/tooltip/usage.mdx
Labels: status: ready to merge 🎉

#706 docs(ui-shell): adds ui shell a11y docs
  src/pages/components/UI-shell-header/accessibility.mdx
  src/pages/components/UI-shell-header/code.mdx
  src/pages/components/UI-shell-header/style.mdx
  src/pages/components/UI-shell-header/usage.mdx
Labels: status: ready to merge 🎉

#730 Update step-5.mdx
  src/pages/tutorial/vue/step-5.mdx
Labels: status: ready to merge 🎉

#743 docs(vue-tutorial): update list of frameworks in step 2
  src/pages/tutorial/vue/step-2.mdx
Labels: status: ready to merge 🎉

#737 Update link to current Global Header page
  src/pages/guidelines/2x-grid/basics.mdx
Labels: status: ready to merge 🎉

#620 fix(overviewCards): fixes breakpoints for component overview and data viz overview cards
  src/components/ComponentOverview/component-overview.scss
  src/components/OverviewCard/overview-card-group.scss
  src/components/OverviewCard/overview-card.scss
  src/pages/data-visualization/chart-types/index.mdx
Labels: status: ready to merge 🎉

#749 docs: adding Feedback anchorlink
  src/pages/patterns/dialog-pattern/index.mdx
Labels: status: ready to merge 🎉

#740 Update Chatbot Pattern Docs
  src/pages/experimental/chatbot/images/chatbot-0.png
  src/pages/experimental/chatbot/images/chatbot-10.png
  src/pages/experimental/chatbot/images/chatbot-11.png
  src/pages/experimental/chatbot/images/chatbot-4.png
  src/pages/experimental/chatbot/images/chatbot-7.png
  src/pages/experimental/chatbot/images/chatbot-8.png
  src/pages/experimental/chatbot/images/chatbot-9.png
  src/pages/experimental/chatbot/usage.mdx
Labels: status: ready to merge 🎉

#748 docs: removing unnecessary link
  src/pages/experimental/chatbot/images/chatbot-0.png
  src/pages/experimental/chatbot/images/chatbot-10.png
  src/pages/experimental/chatbot/images/chatbot-11.png
  src/pages/experimental/chatbot/images/chatbot-4.png
  src/pages/experimental/chatbot/images/chatbot-7.png
  src/pages/experimental/chatbot/images/chatbot-8.png
  src/pages/experimental/chatbot/images/chatbot-9.png
  src/pages/guidelines/2x-grid/basics.mdx
Labels: status: ready to merge 🎉

#750 Remove duplicate patterns
  src/data/nav-items.yaml
  src/pages/experimental/overview/index.mdx
Labels: status: one more review 👀

#752 fix(dialog): small edits
  src/pages/patterns/dialog-pattern/index.mdx
Labels: status: one more review 👀

#751 docs(modal): update style tab
  src/pages/components/modal/images/modal-style-1.png
  src/pages/components/modal/images/modal-style-2.png
  src/pages/components/modal/images/modal-style-3.png
  src/pages/components/modal/images/modal-style-4.png
  src/pages/components/modal/style.mdx
  src/pages/components/modal/usage.mdx
Labels: status: ready for review 👀

#753 docs: Nav capitalization, Kit to kit
  src/gatsby-theme-carbon/components/LeftNav/ResourceLinks.js
  src/pages/help/faq/index.mdx
  src/pages/help/support/index.mdx
  src/pages/resources/index.mdx
  src/pages/updates/v10-migration/design.mdx
Labels: status: ready to merge 🎉

#759 docs(pattern): Empty state formatting
  src/pages/patterns/empty-states-pattern/index.mdx
Labels: status: ready for review 👀

#760 docs: minor form updates
  src/pages/patterns/forms-pattern/index.mdx
Labels: status: one more review 👀

#719 pattern(global header): incorporates feedback
  src/pages/patterns/global-header/index.mdx
Labels: status: ready to merge 🎉

#764 fix(Form): Incorrect font size font size
  src/pages/components/form/style.mdx
  src/pages/components/modal/images/modal-style-1.png
  src/pages/components/modal/images/modal-style-2.png
  src/pages/components/modal/images/modal-style-3.png
  src/pages/components/modal/images/modal-style-4.png
Labels: status: one more review 👀, type: docs 📖

#767 docs(buttons): update style and usage images
  src/pages/components/button/images/button-style-1.png
  src/pages/components/button/images/button-style-14.png
  src/pages/components/button/images/button-style-7.png
  src/pages/components/button/images/button-style-danger.png
  src/pages/components/button/images/button-style-ghost.png
  src/pages/components/button/images/button-style-primary.png
  src/pages/components/button/images/button-style-secondary.png
  src/pages/components/button/images/button-style-sizes.png
  src/pages/components/button/images/button-style-structure.png
  src/pages/components/button/images/button-style-tertiary.png
  src/pages/components/button/images/button-usage-3.png
  src/pages/components/button/style.mdx
Labels: status: one more review 👀

#763 fix: properly format PageDescription components closes #762
  src/pages/experimental/chatbot/overview.mdx
  src/pages/guidelines/color/overview.mdx
  src/pages/guidelines/motion/basics.mdx
  src/pages/guidelines/typography/overview.mdx
  src/pages/tutorial/react/overview.mdx
  src/pages/tutorial/react/step-1.mdx
  src/pages/tutorial/react/step-2.mdx
  src/pages/tutorial/react/step-3.mdx
  src/pages/tutorial/react/step-4.mdx
  src/pages/tutorial/react/step-5.mdx
  src/pages/tutorial/vue/overview.mdx
  src/pages/tutorial/vue/step-2.mdx
  src/pages/tutorial/vue/step-3.mdx
  src/pages/tutorial/vue/step-5.mdx
Labels: status: ready to merge 🎉

#781 feat: use gray 50 for favicon fill
  gatsby-config.js
  src/images/carbon.jpg
  src/images/favicon-32.png
  src/images/favicon.svg
Labels: stakeholder: brand

#784 docs: Chatbot pattern update to references
  src/pages/components/button/images/button-style-danger.png
  src/pages/components/button/images/button-style-ghost.png
  src/pages/components/button/images/button-style-primary.png
  src/pages/components/button/images/button-style-secondary.png
  src/pages/components/button/images/button-style-sizes.png
  src/pages/components/button/images/button-style-structure.png
  src/pages/components/button/images/button-style-tertiary.png
  src/pages/components/button/images/button-usage-3.png
  src/pages/experimental/chatbot/content.mdx
  src/pages/resources/images/patterns_announcement.png
Labels: status: ready to merge 🎉

#796 Update/add cards to "Get started"
  src/pages/get-started/design/index.mdx
Labels: status: ready to merge 🎉

#795 docs(Global header): adds anatomy section
  src/pages/patterns/global-header/images/header-anatomy.png
  src/pages/patterns/global-header/index.mdx
Labels: status: one more review 👀, type: docs 📖, type: pattern 💠

#770 docs: Fix ui shell image and update language
  src/pages/components/UI-shell-header/images/header-usage-2.png
  src/pages/components/UI-shell-header/usage.mdx
Labels: status: one more review 👀, type: docs 📖

#769 Notification pattern updates
  src/pages/patterns/notification-pattern/images/1_notification_status_1120.png
  src/pages/patterns/notification-pattern/images/2_Notification_types_1120.png
  src/pages/patterns/notification-pattern/images/3_Inline_736.png
  src/pages/patterns/notification-pattern/images/4_Toast_736.png
  src/pages/patterns/notification-pattern/images/5_Banner_736.png
  src/pages/patterns/notification-pattern/images/6_Panel_736.png
  src/pages/patterns/notification-pattern/images/7_Modal_736.png
  src/pages/patterns/notification-pattern/images/Banner_1120.png
  src/pages/patterns/notification-pattern/images/Inline_1120.png
  src/pages/patterns/notification-pattern/images/Modal_1120.png
  src/pages/patterns/notification-pattern/images/Notification_types_1120.png
  src/pages/patterns/notification-pattern/images/Panel_1120.png
  src/pages/patterns/notification-pattern/images/Status_1120.png
  src/pages/patterns/notification-pattern/images/Toast_1120.png
  src/pages/patterns/notification-pattern/index.mdx
Labels: status: ready for review 👀

#773 docs(dialog): update broken link
  src/pages/patterns/dialog-pattern/index.mdx
Labels: status: ready to merge 🎉

#772 docs: fix grid page
  src/pages/guidelines/2x-grid/implementation.mdx
Labels: status: ready to merge 🎉

#727 docs: update tutorial badge issuance turnaround time
  src/pages/tutorial/angular/wrapping-up.mdx
  src/pages/tutorial/react/wrapping-up.mdx
  src/pages/tutorial/vue/wrapping-up.mdx
Labels: status: ready to merge 🎉

#774 chore(footer): remove 'Netlify' link
  src/gatsby-theme-carbon/components/Footer.js
Labels: status: ready to merge 🎉

#820 docs: Sketch kit page copyedits
  src/pages/components/UI-shell-header/images/header-usage-2.png
  src/pages/get-started/design/index.mdx
  src/pages/patterns/global-header/images/header-anatomy.png
  src/pages/patterns/notification-pattern/images/1_notification_status_1120.png
  src/pages/patterns/notification-pattern/images/2_Notification_types_1120.png
  src/pages/patterns/notification-pattern/images/3_Inline_736.png
  src/pages/patterns/notification-pattern/images/4_Toast_736.png
  src/pages/patterns/notification-pattern/images/5_Banner_736.png
  src/pages/patterns/notification-pattern/images/6_Panel_736.png
  src/pages/patterns/notification-pattern/images/7_Modal_736.png
Labels: status: one more review 👀

#823 fix(getting started): broken links and icons
  src/pages/get-started/design/adobe-xd.mdx
  src/pages/get-started/design/axure.mdx
  src/pages/resources/index.mdx
Labels: status: one more review 👀

#805 fix(theme): update theme docs
  src/pages/guidelines/themes/index.mdx
Labels: status: ready for review 👀

#809 fix: add line break to homepage subhead
  src/gatsby-theme-carbon/templates/Homepage.js
Labels: status: ready to merge 🎉

#833 docs: Common actions refresh
  src/pages/patterns/common-actions/index.mdx
Labels: status: ready for review 👀, type: docs 📖

#802 feat: add cta tracking for homepage
  .eslintrc
  docs/analytics.md
  package.json
  src/gatsby-theme-carbon/templates/Homepage.js
  src/pages/get-started/design/sketch.mdx
  yarn.lock
Labels: status: ready for review 👀

#791 docs: Loading pattern refresh
  src/pages/patterns/loading-pattern/images/do_placeholder.png
  src/pages/patterns/loading-pattern/images/don't_placeholder.png
  src/pages/patterns/loading-pattern/images/placeholder_guidance.png
  src/pages/patterns/loading-pattern/index.mdx
  src/pages/patterns/loading/images/Large-Loader.png
  src/pages/patterns/loading/images/Progressive-Loading.png
  src/pages/patterns/loading/images/checkmark--glyph.svg
  src/pages/patterns/loading/images/data-table-skeleton-state.gif
  src/pages/patterns/loading/images/inline-loading-animated.gif
  src/pages/patterns/loading/images/load-more-1.png
  src/pages/patterns/loading/images/load-more-2.png
  src/pages/patterns/loading/images/load-more.png
  src/pages/patterns/loading/images/small-loading-1.gif
  src/pages/patterns/loading/images/small-loading-2.gif
  src/pages/patterns/loading/index.mdx
  src/pages/patterns/overview.mdx
Labels: type: docs 📖, type: pattern 💠

#835 fix(links): design getting started
  src/pages/get-started/design/adobe-xd.mdx
  src/pages/get-started/design/axure.mdx
Labels: status: ready to merge 🎉

#793 docs: Capitalization guidance updates
  src/gatsby-theme-carbon/templates/Homepage.js
  src/pages/guidelines/content/guidance.mdx
  src/pages/guidelines/content/images/sentence_case_786.png
  src/pages/patterns/loading-pattern/images/do_placeholder.png
  src/pages/patterns/loading-pattern/images/don't_placeholder.png
  src/pages/patterns/loading-pattern/images/placeholder_guidance.png
Labels: role: content 📝, type: docs 📖

#871 docs: content guidelines capitalization update
  src/pages/experimental/chatbot/content.mdx
  src/pages/guidelines/content/guidance.mdx
Labels: status: WIP 👩‍💻
