Repository carbon-design-system/carbon-website, pull requests merged in 2020-12, with the labels that each got.

#2016 Fix tokens for [Tertiary][Ghost] button:disabled
  src/pages/components/button/style.mdx
Labels: status: ready to merge 🎉

#2009 Fixes inconsistent combobox description
  src/pages/components/dropdown/usage.mdx
Labels: status: ready to merge 🎉

#2007 fix(data-viz): ensure color palette updates on theme change
  src/components/ColorPalette/ColorPalette.js
  src/data/data-visualization/palettes.js
Labels: status: ready to merge 🎉

#2022 docs(style): breadcrumb audit fixes
  src/pages/components/breadcrumb/images/breadcrumb-style-1.png
  src/pages/components/breadcrumb/images/breadcrumb-style-2.png
  src/pages/components/breadcrumb/images/breadcrumb-style-3.png
  src/pages/components/breadcrumb/images/breadcrumb-style-color.png
  src/pages/components/breadcrumb/style.mdx
Labels: status: ready to merge 🎉

#2025 chore(release): smoketest for v10.25.0-rc2
  package.json
  src/components/SVGLibraries/PictogramLibrary/PictogramCategory.js
  src/styles/index.scss
  yarn.lock
Labels: status: ready to merge 🎉

#2026 docs(button): addded danger variants
  src/pages/components/button/images/button-style-danger-ghost.png
  src/pages/components/button/images/button-style-danger-tertiary.png
  src/pages/components/button/images/button_usage_31.png
  src/pages/components/button/style.mdx
  src/pages/components/button/usage.mdx
Labels: status: ready to merge 🎉

#1992 Import Pattern Accessibility documentation
  src/pages/community/patterns/import-pattern/images/FullPageTabOrder.png
  src/pages/community/patterns/import-pattern/images/FullPageTabOrderComplete.png
  src/pages/community/patterns/import-pattern/images/FullPageTabOrderIncomplete.png
  src/pages/community/patterns/import-pattern/images/FullPageTabOrderURL.png
  src/pages/community/patterns/import-pattern/images/Importbuttons.png
  src/pages/community/patterns/import-pattern/images/ModalCompleteTabOrder.png
  src/pages/community/patterns/import-pattern/images/ModalTabOrder.png
  src/pages/community/patterns/import-pattern/images/ModalURLTabOrder.png
  src/pages/community/patterns/import-pattern/index.mdx
Labels: status: ready to merge 🎉

#2032 docs(Contact-us): add discord link
  src/pages/help/contact-us/index.mdx
Labels: status: ready to merge 🎉

#2029 chore: update gatsby theme to 1.27.1
  gatsby-config.js
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#1991 Export pattern accessibility documentation
  src/pages/community/patterns/export-pattern/images/ButtonInteractions.png
  src/pages/community/patterns/export-pattern/images/FailureInteractions.png
  src/pages/community/patterns/export-pattern/images/ModalInteractions.png
  src/pages/community/patterns/export-pattern/images/ModalInteractionsDefaults.png
  src/pages/community/patterns/export-pattern/images/ModalInteractionsRequired.png
  src/pages/community/patterns/export-pattern/index.mdx
Labels: status: ready to merge 🎉

#2033 docs(style): code snippet audit
  src/pages/components/code-snippet/images/code-snippet-style-1.png
  src/pages/components/code-snippet/images/code-snippet-style-2.png
  src/pages/components/code-snippet/images/code-snippet-style-3.png
  src/pages/components/code-snippet/images/code-snippet-style-color-1.png
  src/pages/components/code-snippet/images/code-snippet-style-color-2.png
  src/pages/components/code-snippet/images/code-snippet-style-color-3.png
  src/pages/components/code-snippet/images/code-snippet-style-color-4.png
  src/pages/components/code-snippet/style.mdx
Labels: status: ready to merge 🎉

#2035 docs(content): update type to variant
  src/pages/components/breadcrumb/usage.mdx
  src/pages/components/button/usage.mdx
  src/pages/components/code-snippet/usage.mdx
  src/pages/components/data-table/usage.mdx
  src/pages/components/date-picker/usage.mdx
  src/pages/components/dropdown/usage.mdx
  src/pages/components/file-uploader/usage.mdx
  src/pages/components/link/usage.mdx
  src/pages/components/list/usage.mdx
  src/pages/components/modal/usage.mdx
  src/pages/components/notification/usage.mdx
  src/pages/components/search/usage.mdx
  src/pages/components/select/usage.mdx
  src/pages/components/tabs/usage.mdx
  src/pages/components/text-input/usage.mdx
  src/pages/components/tile/usage.mdx
  src/pages/components/toggle/usage.mdx
  src/pages/components/tooltip/usage.mdx
Labels: status: ready to merge 🎉

#2030 chore(release): release v10.25.0
  package.json
  src/components/ComponentDemo/ComponentDemo.module.scss
  yarn.lock
Labels: status: ready to merge 🎉

#2038 docs(content switcher): audit updates
  src/pages/components/content-switcher/images/content-switcher-style-1.png
  src/pages/components/content-switcher/images/content-switcher-style-color.png
  src/pages/components/content-switcher/images/content-switcher-usage-sizes.png
  src/pages/components/content-switcher/style.mdx
  src/pages/components/content-switcher/usage.mdx
Labels: status: ready to merge 🎉

#2034 chore(tutorial): update cf login instructions for Vue, Angular
  src/pages/developing/angular-tutorial/step-5.mdx
  src/pages/developing/vue-tutorial/step-5.mdx
Labels: status: ready to merge 🎉

#2012 update example with selectorPrimaryFocus
  src/pages/components/overflow-menu/code.mdx
  src/pages/components/overflow-menu/usage.mdx
Labels: status: ready to merge 🎉

#2021 Fix rule color for dropdown gifs
  src/pages/components/dropdown/images/dropdown-usage-14.gif
  src/pages/components/select/images/select-usage-1.gif
Labels: status: ready to merge 🎉

#2036 chore(tutorial): update tutorial steps based on updated content
  src/pages/developing/react-tutorial/step-1.mdx
  src/pages/developing/react-tutorial/step-2.mdx
  src/pages/developing/react-tutorial/step-5.mdx
Labels: status: ready to merge 🎉

#2043 style(header): update header styles
  src/gatsby-theme-carbon/components/Header.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#2044 docs: style edits to usage guidance
  src/pages/components/date-picker/usage.mdx
  src/pages/components/radio-button/usage.mdx
  src/pages/components/toggle/usage.mdx
  src/pages/components/tooltip/usage.mdx
  src/pages/patterns/forms-pattern/index.mdx
  src/pages/patterns/global-header/index.mdx
Labels: status: ready to merge 🎉

#2031 fix & docs (tutorials): fix aat header violation and content updates
  src/pages/developing/angular-tutorial/wrapping-up.mdx
  src/pages/developing/react-tutorial/wrapping-up.mdx
  src/pages/developing/vue-tutorial/wrapping-up.mdx
Labels: status: content review ✍️, status: ready for review 👀

#2042 docs(data table): audit fixes
  src/pages/components/data-table/images/data-table-style-1.png
  src/pages/components/data-table/images/data-table-style-3.png
  src/pages/components/data-table/images/data-table-style-7.png
  src/pages/components/data-table/images/datatable-alignment-condensed.png
  src/pages/components/data-table/images/datatable-inline-actions.png
  src/pages/components/data-table/images/datatable-multi-select.png
  src/pages/components/data-table/images/datatable-persistent-hover.png
  src/pages/components/data-table/images/datatable-radio-select.png
  src/pages/components/data-table/images/datatable-search-2-a.png
  src/pages/components/data-table/images/datatable-search-2-b.png
  src/pages/components/data-table/images/datatable-style-1.png
  src/pages/components/data-table/images/datatable-style-2.png
  src/pages/components/data-table/images/datatable-style-3.png
  src/pages/components/data-table/images/datatable-style-4.png
  src/pages/components/data-table/images/datatable-style-5.png
  src/pages/components/data-table/images/datatable-style-7.png
  src/pages/components/data-table/images/datatable-style-8.png
  src/pages/components/data-table/images/datatable-style-sizes.png
  src/pages/components/data-table/style.mdx
  src/pages/components/data-table/usage.mdx
Labels: status: ready to merge 🎉

#2048 Update step-1.mdx
  src/pages/developing/angular-tutorial/step-1.mdx
Labels: status: ready to merge 🎉

#2049 docs: component and pattern intro updates
  src/pages/community/patterns/index.mdx
  src/pages/components/overview/index.mdx
  src/pages/patterns/overview.mdx
Labels: status: ready to merge 🎉

#2050 fix(DataTable): hover token for the row
  src/pages/components/data-table/style.mdx
Labels: status: ready to merge 🎉

#2052 docs(color) update and add danger tokens
  src/data/guidelines/color-tokens.js
Labels: status: ready to merge 🎉

#2055 docs: new pattern templates
  src/pages/contributing/component/index.mdx
  src/pages/contributing/pattern.mdx
Labels: status: ready to merge 🎉
