Repository carbon-design-system/carbon-website, pull requests merged in 2020-02, with the labels that each got.

#869 Add horizontal bar chart demos
  package.json
  src/data/charts/bar.js
  src/data/charts/index.js
  src/pages/data-visualization/basic-charts/index.mdx
  yarn.lock
Labels: status: content review ✍️

#868 fix: migrate h4s and do dont
  src/pages/components/UI-shell-header/usage.mdx
  src/pages/components/UI-shell-right-panel/usage.mdx
  src/pages/components/checkbox/accessibility.mdx
  src/pages/components/checkbox/usage.mdx
  src/pages/components/data-table/style.mdx
  src/pages/components/form/usage.mdx
  src/pages/components/link/accessibility.mdx
  src/pages/components/list/accessibility.mdx
  src/pages/components/loading/accessibility.mdx
  src/pages/components/modal/accessibility.mdx
  src/pages/components/notification/accessibility.mdx
  src/pages/components/notification/style.mdx
  src/pages/components/structured-list/usage.mdx
  src/pages/components/tag/accessibility.mdx
  src/pages/data-visualization/axes-and-labels/index.mdx
  src/pages/data-visualization/color-palettes/index.mdx
  src/pages/data-visualization/getting-started/angular.mdx
  src/pages/data-visualization/getting-started/react.mdx
  src/pages/data-visualization/getting-started/vanilla.mdx
  src/pages/data-visualization/getting-started/vue.mdx
  src/pages/experimental/cards/usage.mdx
  src/pages/experimental/create-flows/index.mdx
  src/pages/get-started/develop/react.mdx
  src/pages/get-started/develop/vanilla.mdx
  src/pages/guidelines/2x-grid/basics.mdx
  src/pages/guidelines/2x-grid/implementation.mdx
  src/pages/guidelines/color/overview.mdx
  src/pages/guidelines/content/guidance.mdx
  src/pages/guidelines/icons/usage.mdx
  src/pages/guidelines/motion/basics.mdx
  src/pages/guidelines/motion/choreography.mdx
  src/pages/guidelines/pictograms/usage.mdx
  src/pages/guidelines/spacing/index.mdx
  src/pages/guidelines/themes/index.mdx
  src/pages/guidelines/typography/overview.mdx
  src/pages/patterns/dialog-pattern/index.mdx
  src/pages/patterns/empty-states-pattern/index.mdx
  src/pages/patterns/forms-pattern/index.mdx
  src/pages/patterns/notification-pattern/index.mdx
  src/pages/patterns/overflow-content/index.mdx
  src/pages/tutorial/vue/step-1.mdx
  src/pages/tutorial/vue/step-2.mdx
  src/pages/tutorial/vue/step-3.mdx
  src/pages/tutorial/vue/step-4.mdx
  src/pages/tutorial/vue/step-5.mdx
Labels: status: one more review 👀

#829 Update overlay token
  src/pages/components/loading/style.mdx
Labels: status: ready to merge 🎉

#891 docs: content guidelines style clean-ups
  src/data/guidelines/glossary.js
  src/pages/guidelines/content/action-labels.mdx
  src/pages/guidelines/content/general.mdx
  src/pages/guidelines/content/guidance.mdx
Labels: status: WIP 👩‍💻

#893 Grid guidance typo fix
  src/pages/guidelines/2x-grid/implementation.mdx
Labels: status: one more review 👀

#894 (search) update color token on style tab
  src/pages/components/search/style.mdx
Labels: status: ready to merge 🎉

#904 docs: glossary link rewrite
  conf.d/rewrite.conf
Labels: status: ready to merge 🎉

#900 Token backticks
  src/pages/patterns/forms-pattern/index.mdx
Labels: status: ready to merge 🎉

#899 Fix broken link
  src/pages/patterns/dialog-pattern/index.mdx
Labels: status: ready to merge 🎉

#908 fix(docs): corrected disabled tokens
  src/pages/components/button/style.mdx
Labels: status: ready for review 👀

#903 Update charting sketch file resource card title
  src/pages/data-visualization/getting-started/vanilla.mdx
Labels: status: ready for review 👀

#935 docs: swapped dumb apostrophes
  src/pages/patterns/common-actions/index.mdx
  src/pages/patterns/dialog-pattern/index.mdx
  src/pages/patterns/disabled-states/index.mdx
  src/pages/patterns/empty-states-pattern/index.mdx
  src/pages/patterns/filtering/index.mdx
  src/pages/patterns/forms-pattern/index.mdx
  src/pages/patterns/global-header/index.mdx
  src/pages/patterns/loading-pattern/index.mdx
  src/pages/patterns/login-pattern/index.mdx
  src/pages/patterns/notification-pattern/index.mdx
  src/pages/patterns/overflow-content/index.mdx
  src/pages/patterns/search-pattern/index.mdx
Labels: status: ready for review 👀

#689 Update step-5.mdx
  src/pages/tutorial/angular/step-5.mdx
  src/pages/tutorial/react/step-5.mdx
  src/pages/tutorial/vue/step-5.mdx
Labels: status: ready to merge 🎉

#942 fix(modal) style format bugs
  src/pages/components/modal/images/modal-style-1.png
  src/pages/components/modal/images/modal-style-2.png
  src/pages/components/modal/images/modal-style-3.png
  src/pages/components/modal/style.mdx
Labels: status: ready for review 👀

#952 docs: fix broken link
  src/pages/patterns/overview.mdx
Labels: status: ready for review 👀, type: docs 📖

#951 docs: copy edit to remove newness and add cards
  src/data/nav-items.yaml
  src/gatsby-theme-carbon/templates/Homepage.js
  src/pages/updates/migration-guide/design.mdx
  src/pages/updates/migration-guide/develop.mdx
  src/pages/updates/migration-guide/images/Carbon-kit-library.png
  src/pages/updates/migration-guide/images/IDL-kit-library.png
  src/pages/updates/migration-guide/images/design-kit-step-1a.png
  src/pages/updates/migration-guide/images/design-kit-step-2a.png
  src/pages/updates/migration-guide/images/grid-template-1.png
  src/pages/updates/migration-guide/images/react-icon.png
  src/pages/updates/migration-guide/overview.mdx
  src/pages/updates/v10-migration/design.mdx
  src/pages/updates/v10-migration/develop.mdx
  src/pages/updates/v10-migration/overview.mdx
Labels: status: ready to merge 🎉

#956 docs: consolidating whats new and roadmap
  conf.d/rewrite.conf
  src/data/nav-items.yaml
  src/pages/updates/design-language/index.mdx
  src/pages/updates/roadmap/images/github-icon.png
  src/pages/updates/roadmap/images/icon-proj.png
  src/pages/updates/roadmap/index.mdx
  src/pages/updates/whats-new/images/dropdown-new.gif
  src/pages/updates/whats-new/images/sketch-libraries.png
  src/pages/updates/whats-new/images/sketch-palettes.png
  src/pages/updates/whats-new/images/small-toggle.gif
  src/pages/updates/whats-new/images/usage-bar-graph.png
  src/pages/updates/whats-new/images/usage-small-tooltip.png
  src/pages/updates/whats-new/images/z-icon.svg
  src/pages/updates/whats-new/index.mdx
Labels: status: one more review 👀

#957 docs: added new reading resource
  src/pages/resources/images/writing-is-designing.png
  src/pages/resources/index.mdx
Labels: status: ready for review 👀

#960 corrects a typo on style.mdx
  src/pages/components/modal/style.mdx
Labels: status: ready to merge 🎉

#949 fix(EmptyStatesPage):replaced tables
  package.json
  src/pages/patterns/empty-states-pattern/index.mdx
  src/pages/tutorial/react/overview.mdx
  src/styles/_overrides.scss
  yarn.lock
Labels: status: ready to merge 🎉

#964 docs: Added note and fathom tracking to component status page
  src/pages/components/component-status/index.mdx
Labels: status: ready to merge 🎉
