Repository carbon-design-system/carbon-website, pull requests merged in 2020-08, with the labels that each got.

#1446 Add code snippets to contribute-pictograms
  src/pages/guidelines/pictograms/contribute.mdx
  src/pages/how-to-contribute/contribute-pictograms.mdx
Labels: status: ready to merge 🎉

#1467 Update color.mdx
  src/pages/guidelines/accessibility/color.mdx
Labels: status: ready to merge 🎉

#1457 Update step-1.mdx
  src/pages/tutorial/angular/step-1.mdx
Labels: status: ready to merge 🎉

#1513 docs: remove content about experimental
  src/pages/get-started/about-carbon.mdx
Labels: status: ready to merge 🎉

#1538 Data table style images
  src/pages/components/data-table/images/data-table-style-1.png
  src/pages/components/data-table/images/data-table-style-3.png
  src/pages/components/data-table/images/data-table-style-7.png
Labels: status: ready to merge 🎉

#1477 fix: 1409-audit-avt1-homepage-more-than-1-banner
  src/gatsby-theme-carbon/components/Layout.js
Labels: status: ready to merge 🎉

#1534 docs(modal): update images
  src/pages/components/modal/images/modal-style-2.png
  src/pages/components/modal/images/modal-style-4.png
  src/pages/components/modal/images/modal-usage-alignment.png
  src/pages/components/modal/images/modal-usage-anatomy.png
  src/pages/components/modal/images/modal-usage-danger.png
  src/pages/components/modal/images/modal-usage-focus.png
  src/pages/components/modal/images/modal-usage-invalid.png
  src/pages/components/modal/images/modal-usage-loading.png
  src/pages/components/modal/images/modal-usage-max-heights.png
  src/pages/components/modal/images/modal-usage-progress.png
  src/pages/components/modal/images/modal-usage-scrolling.png
  src/pages/components/modal/images/modal-usage-sizes.png
  src/pages/components/modal/images/modal-usage-three-buttons.png
  src/pages/components/modal/images/modal-usage-title.png
  src/pages/components/modal/images/modal-usage-two-buttons.png
Labels: status: ready to merge 🎉

#1527 docs(file-uploader): usage content updates
  src/pages/components/file-uploader/images/dropdown-usage-10b.png
  src/pages/components/file-uploader/images/file-uploader-usage-1.png
  src/pages/components/file-uploader/images/file-uploader-usage-10a.png
  src/pages/components/file-uploader/images/file-uploader-usage-10b.png
  src/pages/components/file-uploader/images/file-uploader-usage-2.png
  src/pages/components/file-uploader/images/file-uploader-usage-3.png
  src/pages/components/file-uploader/images/file-uploader-usage-4.png
  src/pages/components/file-uploader/images/file-uploader-usage-5.png
  src/pages/components/file-uploader/images/file-uploader-usage-6.png
  src/pages/components/file-uploader/images/file-uploader-usage-7a.png
  src/pages/components/file-uploader/images/file-uploader-usage-7b.png
  src/pages/components/file-uploader/images/file-uploader-usage-8.png
  src/pages/components/file-uploader/images/file-uploader-usage-9.png
  src/pages/components/file-uploader/usage.mdx
Labels: status: ready to merge 🎉

#1470 upgrade to v10.17
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#1556 Update color page with new token
  src/data/guidelines/color-tokens.js
Labels: status: ready to merge 🎉

#1570 feat(index): add images and update entries
  gatsby-config.js
  package.json
  plugins/gatsby-plugin-component-index/gatsby-node.js
  plugins/gatsby-plugin-component-index/src/schema.js
  src/components/ComponentIndexPage/ComponentIndexList.js
  src/components/ComponentIndexPage/ComponentIndexListItem.js
  src/components/ComponentIndexPage/component-index.scss
  src/components/ComponentIndexPage/images/placeholder.svg
  src/components/ComponentIndexPage/index.js
  src/components/ComponentIndexPage/useComponentIndexData.js
  src/data/index/cdai/images/cards.png
  src/data/index/cdai/images/file-uploader.png
  src/data/index/cdai/images/headers.png
  src/data/index/cdai/images/modified-tabs.png
  src/data/index/cdai/images/page-header.png
  src/data/index/cdai/images/slide-in-panel.png
  src/data/index/cdai/images/slide-over-panel.png
  src/data/index/cdai/images/widget.png
  src/data/index/cloud-pal/images/card.png
  src/data/index/cloud-pal/images/enhanced-data-table.png
  src/data/index/cloud-pal/images/error-boundary.png
  src/data/index/cloud-pal/images/l2-world-level-nav.png
  src/data/index/cloud-pal/images/l3-world-level-nav.png
  src/data/index/cloud-pal/images/order-summary-v2.png
  src/data/index/cloud-pal/images/page-header.png
  src/data/index/cloud-pal/images/side-panel.png
  src/data/index/watson-health/images/action-widget.png
  src/data/index/watson-health/images/annotation.png
  src/data/index/watson-health/images/interactive-tooltip.png
  src/data/index/watson-health/images/list-builder.png
  src/data/index/watson-health/images/required-action-modal.png
  src/data/index/watson-health/images/slider.png
  src/data/index/watson-health/images/tag.png
  src/data/index/watson-iot/images/catalog-marketplace.png
  src/data/index/watson-iot/images/charts.png
  src/data/index/watson-iot/images/chips.png
  src/data/index/watson-iot/images/data-table.png
  src/data/index/watson-iot/images/dropdown.png
  src/data/index/watson-iot/images/fixed-button-bar.png
  src/data/index/watson-iot/images/floating-palette.png
  src/data/index/watson-iot/images/icon-buttons.png
  src/data/index/watson-iot/images/icon-content-switcher.png
  src/data/index/watson-iot/images/icon-tabs.png
  src/data/index/watson-iot/images/large-modals.png
  src/data/index/watson-iot/images/link-bar.png
  src/data/index/watson-iot/images/menus.png
  src/data/index/watson-iot/images/page-title-bar.png
  src/data/index/watson-iot/images/password-input.png
  src/data/index/watson-iot/images/progress-indicator.png
  src/data/index/watson-iot/images/rule-builder.png
  src/data/index/watson-iot/images/status-icons.png
  src/data/index/watson-iot/images/text-inputs.png
  src/data/index/watson-iot/images/tile.png
  src/data/index/watson-iot/images/ui-shell-header.png
  src/data/index/watson-iot/images/ui-shell-right-panel.png
  src/data/index/watson-iot/images/ui-shell-side-nav.png
  src/data/index/watson-iot/schematic-diagram.yml
  src/data/index/watson-iot/search.yml
  src/gatsby-theme-carbon/components/Footer.js
  yarn.lock
Labels: status: ready to merge 🎉

#1568 update carbon charts to 0.34.11, add new demos
  package.json
  src/pages/data-visualization/basic-charts/index.mdx
  src/pages/data-visualization/chart-types/images/gauge.svg
  src/pages/data-visualization/chart-types/images/meter.svg
  src/pages/data-visualization/chart-types/images/radar.svg
  src/pages/data-visualization/chart-types/images/stacked-bar-horizontal.svg
  src/pages/data-visualization/chart-types/index.mdx
  src/pages/resources/index.mdx
  yarn.lock
Labels: status: one more review 👀

#1578 Fix link to Content section
  src/pages/components/date-picker/usage.mdx
Labels: status: ready to merge 🎉

#1576 docs(typo): fix typo
  src/pages/components/content-switcher/accessibility.mdx
Labels: status: ready to merge 🎉

#1562 docs(usage): inline-loading
  src/pages/components/inline-loading/images/inline-loading-alignment.png
  src/pages/components/inline-loading/images/inline-loading-anatomy.png
  src/pages/components/inline-loading/images/inline-loading-animated.gif
  src/pages/components/inline-loading/images/inline-loading-interactions.png
  src/pages/components/inline-loading/images/inline-loading-modifier.png
  src/pages/components/inline-loading/images/inline-loading-states.png
  src/pages/components/inline-loading/images/inline-loading-usage-1.png
  src/pages/components/inline-loading/images/inline-loading-usage-2.png
  src/pages/components/inline-loading/images/inline-loading-usage-3.png
  src/pages/components/inline-loading/usage.mdx
Labels: status: ready to merge 🎉

#1581 update link to dataviz master file, remove link to dataviz palette file
  src/pages/data-visualization/getting-started/index.mdx
  src/pages/resources/index.mdx
Labels: status: ready to merge 🎉

#1585 (fix) typo on dropdown usage tab
  src/pages/components/dropdown/usage.mdx
Labels: status: ready to merge 🎉

#1598 Updates-to-community-remove-pattern
  src/pages/community/patterns/remove-pattern/images/LowImpactDelete.png
  src/pages/community/patterns/remove-pattern/images/LowImpactDelete2.png
  src/pages/community/patterns/remove-pattern/images/LowImpactRemove.png
  src/pages/community/patterns/remove-pattern/images/LowImpactRemove2.png
  src/pages/community/patterns/remove-pattern/index.mdx
Labels: status: ready to merge 🎉

#1584 feat(component-index): 1555-component-index-filter-ui-functionality
  conf.d/rewrite.conf
  src/components/ComponentIndexPage/ComponentIndexListItem.js
  src/components/ComponentIndexPage/ComponentIndexNotFound.js
  src/components/ComponentIndexPage/ComponentIndexSearch.js
  src/components/ComponentIndexPage/ComponentIndexSort.js
  src/components/ComponentIndexPage/component-index.scss
  src/components/ComponentIndexPage/index.js
  src/components/ComponentIndexPage/useComponentIndexData.js
  src/data/nav-items.yaml
  src/pages/community/component-index.mdx
  src/pages/community/components.mdx
Labels: status: ready to merge 🎉

#1610 fix(component-index): component-index-quick-fix
  src/components/ComponentIndexPage/component-index.scss
Labels: status: ready to merge 🎉

#1609 fix(data-table): fix isSortable examples
  src/pages/components/data-table/code.mdx
Labels: status: ready to merge 🎉

#1600 [content] update UI icon production guidance
  src/pages/guidelines/icons/contribute.mdx
Labels: status: ready to merge 🎉

#1611 update hex values for hover-primary-text token
  src/data/guidelines/color-tokens.js
Labels: status: ready to merge 🎉

#1624 fix(component-index): update maintainer names
  plugins/gatsby-plugin-component-index/migrations/2020-08-04.js
  plugins/gatsby-plugin-component-index/migrations/initial.js
  src/components/ComponentIndexPage/index.js
  src/data/index/ai-apps/catalog-marketplace.yml
  src/data/index/ai-apps/charts.yml
  src/data/index/ai-apps/chips.yml
  src/data/index/ai-apps/data-table.yml
  src/data/index/ai-apps/dropdown.yml
  src/data/index/ai-apps/fixed-button-bar.yml
  src/data/index/ai-apps/floating-palette.yml
  src/data/index/ai-apps/icon-buttons.yml
  src/data/index/ai-apps/icon-content-switcher.yml
  src/data/index/ai-apps/icon-tabs.yml
  src/data/index/ai-apps/images/catalog-marketplace.png
  src/data/index/ai-apps/images/charts.png
  src/data/index/ai-apps/images/chips.png
  src/data/index/ai-apps/images/data-table.png
  src/data/index/ai-apps/images/dropdown.png
  src/data/index/ai-apps/images/fixed-button-bar.png
  src/data/index/ai-apps/images/floating-palette.png
  src/data/index/ai-apps/images/icon-buttons.png
  src/data/index/ai-apps/images/icon-content-switcher.png
  src/data/index/ai-apps/images/icon-tabs.png
  src/data/index/ai-apps/images/large-modals.png
  src/data/index/ai-apps/images/link-bar.png
  src/data/index/ai-apps/images/menus.png
  src/data/index/ai-apps/images/page-title-bar.png
  src/data/index/ai-apps/images/password-input.png
  src/data/index/ai-apps/images/progress-indicator.png
  src/data/index/ai-apps/images/rule-builder.png
  src/data/index/ai-apps/images/status-icons.png
  src/data/index/ai-apps/images/text-inputs.png
  src/data/index/ai-apps/images/tile.png
  src/data/index/ai-apps/images/ui-shell-header.png
  src/data/index/ai-apps/images/ui-shell-right-panel.png
  src/data/index/ai-apps/images/ui-shell-side-nav.png
  src/data/index/ai-apps/large-modals.yml
  src/data/index/ai-apps/link-bar.yml
  src/data/index/ai-apps/list-builder.yml
  src/data/index/ai-apps/menus.yml
  src/data/index/ai-apps/page-title-bar.yml
  src/data/index/ai-apps/password-input.yml
  src/data/index/ai-apps/progress-indicator.yml
  src/data/index/ai-apps/rule-builder.yml
  src/data/index/ai-apps/status-icons.yml
  src/data/index/ai-apps/text-inputs.yml
  src/data/index/ai-apps/tile.yml
  src/data/index/ai-apps/ui-shell-header.yml
  src/data/index/ai-apps/ui-shell-right-panel.yml
  src/data/index/ai-apps/ui-shell-side-nav.yml
  src/data/index/maintainers.yml
Labels: status: ready to merge 🎉

#1599 Updates-to-community-API-key-pattern
  src/pages/community/patterns/generate-an-api-key/images/6.png
  src/pages/community/patterns/generate-an-api-key/images/Edit.png
  src/pages/community/patterns/generate-an-api-key/images/ManagementPage.png
  src/pages/community/patterns/generate-an-api-key/images/Recover1.png
  src/pages/community/patterns/generate-an-api-key/images/Recover2.png
  src/pages/community/patterns/generate-an-api-key/images/Recover3.png
  src/pages/community/patterns/generate-an-api-key/index.mdx
Labels: status: ready to merge 🎉

#1574 docs(usage): UI Shell header
  src/pages/components/UI-shell-header/images/example_placement.png
  src/pages/components/UI-shell-header/images/header-usage-2.png
  src/pages/components/UI-shell-header/images/header-usage-3.png
  src/pages/components/UI-shell-header/images/header-usage-4.png
  src/pages/components/UI-shell-header/images/header-usage-5.png
  src/pages/components/UI-shell-header/images/header-usage-6.png
  src/pages/components/UI-shell-header/images/header_anatomy.png
  src/pages/components/UI-shell-header/images/header_click_target.png
  src/pages/components/UI-shell-header/images/responsive_header.png
  src/pages/components/UI-shell-header/images/skip-to-main-content.gif
  src/pages/components/UI-shell-header/images/utility_placement_do.png
  src/pages/components/UI-shell-header/images/utility_placement_dont.png
  src/pages/components/UI-shell-header/usage.mdx
Labels: status: ready for review 👀

#1638 docs: curly quote fix for left nav
  src/data/nav-items.yaml
Labels: status: ready to merge 🎉

#1633 Update accessibility.mdx
  src/pages/components/content-switcher/accessibility.mdx
Labels: status: ready to merge 🎉

#1602 chore(release): v10.18.0
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#1605 fix(type): update heading-03 line-height
  src/components/TypesetStyle/TypesetStyle.js
Labels: status: ready to merge 🎉
