Repository carbon-design-system/carbon-website, pull requests merged in 2020-04, with the labels that each got.

#1075 Community: Add brand guidance reference to Domain guidance page
  src/pages/community/domain-guidance.mdx
  src/pages/community/images/bee.svg
Labels: status: ready for review 👀

#1085 Docs: Notification pattern update
  src/pages/patterns/notification-pattern/images/1_notification_status_1120.png
  src/pages/patterns/notification-pattern/images/5_Banner_736.png
  src/pages/patterns/notification-pattern/index.mdx
Labels: status: ready for review 👀

#1092 docs: Add sketch line to resources page
  src/pages/resources/index.mdx
Labels: status: ready to merge 🎉

#1081 Notification usage updates
  src/pages/components/notification/images/01_notification_anatomy.png
  src/pages/components/notification/images/02_notification_format_928_4up.png
  src/pages/components/notification/images/03_notification_placement_inline_608.png
  src/pages/components/notification/images/04_toast_format_928.png
  src/pages/components/notification/images/05_toast_context_608.png
  src/pages/components/notification/images/06_notification_contrast_608.png
  src/pages/components/notification/images/notification-usage-1.png
  src/pages/components/notification/images/notification-usage-2.png
  src/pages/components/notification/images/notification-usage-3.png
  src/pages/components/notification/images/notification-usage-4.png
  src/pages/components/notification/usage.mdx
Labels: status: ready for review 👀

#1109 Docs: add notification feedback section
  src/pages/components/notification/usage.mdx
Labels: status: one more review 👀

#1113 docs: New community pattern for in-app learning
  src/pages/community/patterns/index.mdx
Labels: status: ready for review 👀

#1119 Update step-1.mdx
  src/pages/tutorial/vue/step-1.mdx
Labels: status: ready for review 👀

#1122 docs: Modify 'About Carbon' page
  src/pages/get-started/about-carbon.mdx
Labels: status: ready to merge 🎉

#1114 fix(accordion): usage update
  src/pages/components/accordion/images/accordion-alignment-do.png
  src/pages/components/accordion/images/accordion-alignment-dont.png
  src/pages/components/accordion/images/accordion-anatomy.png
  src/pages/components/accordion/images/accordion-click-target.png
  src/pages/components/accordion/images/accordion-placement-1.png
  src/pages/components/accordion/images/accordion-placement-2.png
  src/pages/components/accordion/images/accordion-state-1.png
  src/pages/components/accordion/images/accordion-state-2.png
  src/pages/components/accordion/images/accordion-state-3.png
  src/pages/components/accordion/images/accordion-style-1.png
  src/pages/components/accordion/images/accordion-style-2.png
  src/pages/components/accordion/images/accordion-style-3.png
  src/pages/components/accordion/images/accordion-test-img.png
  src/pages/components/accordion/images/test1.png
  src/pages/components/accordion/style.mdx
  src/pages/components/accordion/usage.mdx
Labels: status: ready for review 👀

#1080 chore: Remove Vue CLI version and tweak text
  src/pages/get-started/develop/vue.mdx
Labels: status: ready to merge 🎉

#1125 Docs: Notification image size change
  src/pages/components/notification/images/02_notification_format_608.png
  src/pages/components/notification/images/02_notification_format_928_4up.png
  src/pages/components/notification/images/04_toast_format_608.png
  src/pages/components/notification/images/04_toast_format_928.png
  src/pages/components/notification/usage.mdx
Labels: status: ready for review 👀

#1128 Docs: content fix accessibility inconsistencies
  src/pages/components/accordion/accessibility.mdx
  src/pages/components/accordion/usage.mdx
Labels: role: content 📝

#1120 fix(checkbox): usage update
  src/pages/components/checkbox/images/checkbox-usage-1.png
  src/pages/components/checkbox/images/checkbox-usage-10.png
  src/pages/components/checkbox/images/checkbox-usage-11-do.png
  src/pages/components/checkbox/images/checkbox-usage-11-don't.png
  src/pages/components/checkbox/images/checkbox-usage-2-do.png
  src/pages/components/checkbox/images/checkbox-usage-2-dont.png
  src/pages/components/checkbox/images/checkbox-usage-3.png
  src/pages/components/checkbox/images/checkbox-usage-4.png
  src/pages/components/checkbox/images/checkbox-usage-5.png
  src/pages/components/checkbox/images/checkbox-usage-6.png
  src/pages/components/checkbox/images/checkbox-usage-7.png
  src/pages/components/checkbox/images/checkbox-usage-8.png
  src/pages/components/checkbox/images/checkbox-usage-9.png
  src/pages/components/checkbox/usage.mdx
Labels: status: ready for review 👀

#1129 docs(modal): usage content
  src/pages/components/modal/images/modal-usage-1.png
  src/pages/components/modal/images/modal-usage-2.png
  src/pages/components/modal/images/modal-usage-3.png
  src/pages/components/modal/images/modal-usage-4b.png
  src/pages/components/modal/images/modal-usage-alignment.png
  src/pages/components/modal/images/modal-usage-anatomy.png
  src/pages/components/modal/images/modal-usage-danger.png
  src/pages/components/modal/images/modal-usage-focus.png
  src/pages/components/modal/images/modal-usage-invalid.png
  src/pages/components/modal/images/modal-usage-loading.png
  src/pages/components/modal/images/modal-usage-max-heights.png
  src/pages/components/modal/images/modal-usage-one-button.png
  src/pages/components/modal/images/modal-usage-passive.png
  src/pages/components/modal/images/modal-usage-progress.png
  src/pages/components/modal/images/modal-usage-scrolling.png
  src/pages/components/modal/images/modal-usage-sizes.png
  src/pages/components/modal/images/modal-usage-three-buttons.png
  src/pages/components/modal/images/modal-usage-title.png
  src/pages/components/modal/images/modal-usage-two-buttons.png
  src/pages/components/modal/style.mdx
  src/pages/components/modal/usage.mdx
Labels: status: ready to merge 🎉
