Repository carbon-design-system/carbon-website, pull requests merged in 2020-03, with the labels that each got.

#975 docs: added table link
  src/pages/components/checkbox/usage.mdx
Labels: status: ready for review 👀

#976 docs(overflow pattern): Removing italics
  src/pages/patterns/disabled-states/index.mdx
Labels: status: ready for review 👀

#1002 feat: add netlify surveygizmo function
  functions/survey.js
  gatsby-config.js
  package.json
  yarn.lock
Labels: status: WIP 👩‍💻

#1018 feat: add feedback dialog
  package.json
  src/gatsby-theme-carbon/components/FeedbackDialog/FeedbackDialog.js
  yarn.lock
Labels: status: WIP 👩‍💻

#1006 Updated medium grid point value
  src/pages/guidelines/2x-grid/implementation.mdx
Labels: status: ready to merge 🎉

#1020 docs(code-snippet): add a11y code snippet docs
  src/pages/components/code-snippet/accessibility.mdx
  src/pages/components/code-snippet/code.mdx
  src/pages/components/code-snippet/style.mdx
  src/pages/components/code-snippet/usage.mdx
Labels: status: ready to merge 🎉

#1012 docs(button): adds button a11y docs
  src/pages/components/button/accessibility.mdx
  src/pages/components/button/code.mdx
  src/pages/components/button/style.mdx
  src/pages/components/button/usage.mdx
Labels: status: ready to merge 🎉

#1014 docs(overflow-menu): adds a11y overflow menu docs
  src/pages/components/overflow-menu/accessibility.mdx
  src/pages/components/overflow-menu/code.mdx
  src/pages/components/overflow-menu/style.mdx
  src/pages/components/overflow-menu/usage.mdx
Labels: status: ready to merge 🎉

#980 Docs: login pattern updates
  src/pages/patterns/login-pattern/images/10_Login_centered_736.png
  src/pages/patterns/login-pattern/images/11_Login_positions_736.png
  src/pages/patterns/login-pattern/images/12_Login_split_1120.png
  src/pages/patterns/login-pattern/images/13_Login_centered_fluid_specs_736.png
  src/pages/patterns/login-pattern/images/14_Login_centered_fixed_specs_736.png
  src/pages/patterns/login-pattern/images/15_Login_centered_fixed_form_specs_736.png
  src/pages/patterns/login-pattern/images/1_Login_anatomy_1120.png
  src/pages/patterns/login-pattern/images/2_Login_flow_1120.png
  src/pages/patterns/login-pattern/images/3_Login_alternates_1120.png
  src/pages/patterns/login-pattern/images/4_Login_errors_1120.png
  src/pages/patterns/login-pattern/images/5_Login_inline_error_736.png
  src/pages/patterns/login-pattern/images/6_Login_alternates_fixed_1120.png
  src/pages/patterns/login-pattern/images/7_Login_multiple_alts_1120.png
  src/pages/patterns/login-pattern/images/8_dont_alt_logins_544.png
  src/pages/patterns/login-pattern/images/9_dont_alt_logins_544.png
  src/pages/patterns/login-pattern/images/IBMid_field.png
  src/pages/patterns/login-pattern/images/Login_anatomy.png
  src/pages/patterns/login-pattern/images/Login_marketing_material.png
  src/pages/patterns/login-pattern/images/Login_password_field.png
  src/pages/patterns/login-pattern/images/Login_with_graphic.png
  src/pages/patterns/login-pattern/images/single_Col_login.png
  src/pages/patterns/login-pattern/index.mdx
Labels: status: ready for review 👀

#1034 fix(docs): button style bugs
  src/pages/components/button/style.mdx
Labels: status: ready to merge 🎉

#1053 docs: minor text updates, new images
  src/pages/community/domain-guidance.mdx
  src/pages/community/images/watson.svg
  src/pages/community/overview.mdx
Labels: status: ready to merge 🎉

#1052 docs: Community notification
  src/pages/get-started/design/adobe-xd.mdx
  src/pages/get-started/design/axure.mdx
  src/pages/get-started/develop/angular.mdx
  src/pages/get-started/develop/images/storybook.svg
  src/pages/get-started/develop/other-frameworks.mdx
  src/pages/get-started/develop/react.mdx
  src/pages/get-started/develop/vanilla.mdx
  src/pages/get-started/develop/vue.mdx
  src/pages/tutorial/angular/overview.mdx
  src/pages/tutorial/angular/step-1.mdx
  src/pages/tutorial/angular/step-2.mdx
  src/pages/tutorial/angular/step-3.mdx
  src/pages/tutorial/angular/step-4.mdx
  src/pages/tutorial/angular/step-5.mdx
  src/pages/tutorial/vue/overview.mdx
  src/pages/tutorial/vue/step-1.mdx
  src/pages/tutorial/vue/step-2.mdx
  src/pages/tutorial/vue/step-3.mdx
  src/pages/tutorial/vue/step-4.mdx
  src/pages/tutorial/vue/step-5.mdx
Labels: status: WIP 👩‍💻

#1072 docs: Update new link to CDAI site
  src/pages/community/domain-guidance.mdx
Labels: status: one more review 👀

#1059 Angular tutorial step 5 - fix link to correct repo
  src/pages/tutorial/angular/step-5.mdx
Labels: status: ready to merge 🎉
