Repository carbon-design-system/carbon-website, pull requests merged in 2021-01, with the labels that each got.

#2068 docs(audit): updated link and list
  src/pages/components/link/images/link-style-1.png
  src/pages/components/link/images/link-style-2.png
  src/pages/components/link/images/link-style-3.png
  src/pages/components/link/images/link-style-4.png
  src/pages/components/link/style.mdx
  src/pages/components/link/usage.mdx
  src/pages/components/list/images/list-style-1.png
  src/pages/components/list/images/list-style-2.png
  src/pages/components/list/style.mdx
Labels: status: ready for review 👀

#1929 [content] Case study: IBM commerce platform
  src/data/nav-items.yaml
  src/pages/case-studies/ibm-commerce-platform.mdx
  src/pages/case-studies/images/bee.svg
  src/pages/case-studies/images/carbon-modal.png
  src/pages/case-studies/images/checkout-after.png
  src/pages/case-studies/images/checkout-before.png
  src/pages/case-studies/images/continuity-1.png
  src/pages/case-studies/images/continuity-2.png
  src/pages/case-studies/images/continuity-3.png
  src/pages/case-studies/images/continuity-4.png
  src/pages/case-studies/images/continuity.png
  src/pages/case-studies/images/delivery.png
  src/pages/case-studies/images/in-prod.png
  src/pages/case-studies/images/iterate.png
  src/pages/case-studies/images/token-quiz.png
  src/pages/case-studies/overview.mdx
Labels: status: ready to merge 🎉

#2073 docs(inline loading): audit fixes
  src/pages/components/inline-loading/images/inline-loading-style-1.png
  src/pages/components/inline-loading/images/inline-loading-style-3.png
  src/pages/components/inline-loading/style.mdx
Labels: status: ready to merge 🎉

#2074 content: case study copy edits
  src/pages/case-studies/ibm-commerce-platform.mdx
Labels: status: ready to merge 🎉

#2075 docs(file uploader): audit fixes
  src/pages/components/file-uploader/images/file-uploader-style-1.png
  src/pages/components/file-uploader/images/file-uploader-style-2.png
  src/pages/components/file-uploader/images/file-uploader-style-3.png
  src/pages/components/file-uploader/images/file-uploader-style-4.png
  src/pages/components/file-uploader/images/file-uploader-style-5.png
  src/pages/components/file-uploader/style.mdx
Labels: status: ready to merge 🎉

#1964 Update style.mdx
  src/pages/components/UI-shell-header/style.mdx
Labels: status: ready to merge 🎉

#2067 chore: update the theme
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#2053 fix(docs: motion / news & articles): fix accesesibility violations
  src/pages/guidelines/2x-grid/implementation.mdx
  src/pages/guidelines/2x-grid/overview.mdx
  src/pages/guidelines/color/overview.mdx
  src/pages/guidelines/motion/choreography.mdx
  src/pages/guidelines/motion/overview.mdx
  src/pages/whats-happening/news-and-articles/images/writing-is-designing-img.png
  src/pages/whats-happening/news-and-articles/index.mdx
Labels: status: ready to merge 🎉

#2080 update the timing of the weekly dataviz playbacks
  src/pages/whats-happening/meetups/index.mdx
Labels: status: ready to merge 🎉

#2076 docs(date picker): audit fixes
  src/pages/components/date-picker/images/calendar-picker-min-max.png
  src/pages/components/date-picker/images/date-picker-alignment-02.png
  src/pages/components/date-picker/images/date-picker-light-prop.png
  src/pages/components/date-picker/images/date-picker-sizes.png
  src/pages/components/date-picker/images/date-picker-style-1.png
  src/pages/components/date-picker/images/date-picker-style-2.png
  src/pages/components/date-picker/images/date-picker-style-3.png
  src/pages/components/date-picker/images/date-picker-style-4.png
  src/pages/components/date-picker/images/date-picker-style-5.png
  src/pages/components/date-picker/images/date-picker-style-6.png
  src/pages/components/date-picker/images/date-picker-validation.png
  src/pages/components/date-picker/images/range-date-picker.png
  src/pages/components/date-picker/images/simple-date-input-states.png
  src/pages/components/date-picker/images/time-picker-anatomy.png
  src/pages/components/date-picker/images/time-picker-style-1.png
  src/pages/components/date-picker/style.mdx
  src/pages/components/date-picker/usage.mdx
Labels: status: ready to merge 🎉

#2084 Fix path to file
  src/pages/developing/vue-tutorial/step-1.mdx
Labels: status: ready to merge 🎉

#2078 Update card.yml
  src/data/index/cloud-pal/card.yml
Labels: status: ready to merge 🎉

#2087 docs: list Svelte as a community maintained code implementation
  src/pages/all-about-carbon/how-carbon-works.mdx
Labels: status: ready to merge 🎉

#2092 chore(project): update icons to 10.23
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#2088 docs: update carbon team page team members
  src/pages/all-about-carbon/images/team/do_thy.png
  src/pages/all-about-carbon/images/team/jones_taylor.png
  src/pages/all-about-carbon/images/team/king_tracey.png
  src/pages/all-about-carbon/the-team.mdx
Labels: status: ready to merge 🎉

#2093 feat(docs): add telemetry page
  src/pages/help/faq/index.mdx
Labels: status: ready to merge 🎉

#2100 chore(release): v10.27.0
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#2099 fix(typo): replace colon with period
  src/pages/guidelines/2x-grid/overview.mdx
Labels: status: ready to merge 🎉

#2098 fix(Footer): add missing space
  src/gatsby-theme-carbon/components/Footer.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#2102 Update links to Sketch icon libraries
  src/pages/guidelines/icons/usage.mdx
Labels: status: ready to merge 🎉

#2101 fix(Tabs): set `scrollIntoView` to `false`
  src/pages/components/tabs/code.mdx
  src/pages/components/tabs/usage.mdx
  yarn.lock
Labels: status: ready to merge 🎉

#2105 fix(partners): 2028-aat-all-about-carbon-partners-h3-element
  src/pages/all-about-carbon/partners.mdx
Labels: status: ready to merge 🎉

#2094 docs: update steering committee info
  src/pages/all-about-carbon/images/team/thorhauer_marko.png
  src/pages/all-about-carbon/partners.mdx
  src/styles/Layout.module.scss
Labels: status: visual review 🔍

#2103 docs(dropdown): audit style
  src/pages/components/dropdown/images/dropdown-style-1.png
  src/pages/components/dropdown/images/dropdown-style-2.png
  src/pages/components/dropdown/images/dropdown-style-3.png
  src/pages/components/dropdown/images/dropdown-style-4.png
  src/pages/components/dropdown/images/dropdown-style-5.png
  src/pages/components/dropdown/images/dropdown-style-6.png
  src/pages/components/dropdown/images/dropdown-style-7.png
  src/pages/components/dropdown/images/dropdown-style-8.png
  src/pages/components/dropdown/images/dropdown-style-9.png
  src/pages/components/dropdown/style.mdx
Labels: status: ready to merge 🎉

#2111 docs: adding Brand info to Designing > Get started
  src/pages/designing/get-started.mdx
  src/pages/designing/images/bee.svg
Labels: status: ready to merge 🎉
