Repository carbon-design-system/carbon-website, pull requests merged in 2021-02, with the labels that each got.

#2108 chore(package): Update gatsby-theme-carbon to latest
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#2114 docs(button): update rem values
  src/pages/components/button/style.mdx
Labels: status: ready to merge 🎉

#2117 chore(release): smoke test for v10.28.0-rc.0
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#2120 fix: update content for design kit
  src/pages/community/patterns/chatbot/overview.mdx
Labels: status: ready to merge 🎉

#2116 fix(community-index): 1800-avt1-community-index-downshift-label
  src/components/ComponentIndexPage/ComponentIndexSort.js
  src/components/ComponentIndexPage/component-index.scss
  src/components/ComponentIndexPage/index.js
Labels: status: one more review 👀, type: a11y ♿

#2124 chore(release): v10.28.0
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#2135 Update resource card link
  src/pages/community/patterns/chatbot/overview.mdx
Labels: status: ready to merge 🎉

#2054 Update images in community Create pattern
  src/pages/community/patterns/create-flows/images/Create-new-topic.gif
  src/pages/community/patterns/create-flows/images/Create_advanced_options_toggle.gif
  src/pages/community/patterns/create-flows/images/Full-page-1.png
  src/pages/community/patterns/create-flows/images/Full-page-2.png
  src/pages/community/patterns/create-flows/images/Full-page-3.png
  src/pages/community/patterns/create-flows/images/FullPageAnatomy64px.jpg
  src/pages/community/patterns/create-flows/images/FullPageAnatomy80px.jpg
  src/pages/community/patterns/create-flows/images/ModalMultistepAlignment.png
  src/pages/community/patterns/create-flows/images/ModalMultistepAnatomy.png
  src/pages/community/patterns/create-flows/images/ModalSingleStepAlignment.png
  src/pages/community/patterns/create-flows/images/ModalSingleStepAnatomy.png
  src/pages/community/patterns/create-flows/images/Narrow-Tearsheet-2.png
  src/pages/community/patterns/create-flows/images/Narrow-tearsheet-1.png
  src/pages/community/patterns/create-flows/images/SidePanelAlignment.png
  src/pages/community/patterns/create-flows/images/SidePanelAnatomy.jpg
  src/pages/community/patterns/create-flows/images/SidePanelAnatomy.png
  src/pages/community/patterns/create-flows/images/SidePanelMultistepAlignment.png
  src/pages/community/patterns/create-flows/images/SidePanelMultistepAnatomy.png
  src/pages/community/patterns/create-flows/images/SidePanelMultistepFocus.png
  src/pages/community/patterns/create-flows/images/SidePanelMultistepNonFocus.png
  src/pages/community/patterns/create-flows/images/SidePanelSingleStepFocus.png
  src/pages/community/patterns/create-flows/images/SidepanelSingleStepAlignment.png
  src/pages/community/patterns/create-flows/images/SidepanelSingleStepNonFocus.png
  src/pages/community/patterns/create-flows/images/SidepanelSinglestepAnatomy.png
  src/pages/community/patterns/create-flows/images/TearsheetAlignment.png
  src/pages/community/patterns/create-flows/images/TearsheetAnatomy.png
  src/pages/community/patterns/create-flows/images/TearsheetAnatomyShowAllOn.png
  src/pages/community/patterns/create-flows/images/Wide-tearsheet-1.png
  src/pages/community/patterns/create-flows/images/Wide-tearsheet-3.png
  src/pages/community/patterns/create-flows/images/Wide-tearsheet-4.png
  src/pages/community/patterns/create-flows/images/Wide-tearsheet-5.png
  src/pages/community/patterns/create-flows/images/Wide-tearsheet-6.png
  src/pages/community/patterns/create-flows/images/Wide-tearsheet-7.png
  src/pages/community/patterns/create-flows/images/WideTearsheetGridInfluencer.jpg
  src/pages/community/patterns/create-flows/images/WideTearsheetGridInfluencer80px.jpg
  src/pages/community/patterns/create-flows/index.mdx
Labels: status: ready to merge 🎉

#2136 feat(color): add link 02 token
  src/data/guidelines/color-tokens.js
  src/pages/guidelines/themes/overview.mdx
Labels: status: ready to merge 🎉

#2140 feat: add on demand and scheduled image processing
  .github/workflows/process-images.yml
Labels: status: ready to merge 🎉

#2137 fix(DataTable): fix broken component stories and CodeSandbox examples
  src/components/ComponentDemo/Code/useCodesandbox.js
  src/components/ComponentDemo/data/sampleData.js
  src/pages/components/data-table/code.mdx
  src/pages/components/data-table/usage.mdx
Labels: status: ready to merge 🎉

#2141 update Sketch resource card link
  src/pages/guidelines/2x-grid/overview.mdx
Labels: status: ready to merge 🎉

#2128 docs: button variant guidance refinements
  src/pages/components/button/usage.mdx
Labels: status: ready to merge 🎉

#2145 Fix typos
  src/pages/community/patterns/remove-pattern/index.mdx
  src/pages/components/UI-shell-header/style.mdx
  src/pages/components/accordion/accessibility.mdx
  src/pages/components/accordion/style.mdx
  src/pages/components/breadcrumb/accessibility.mdx
  src/pages/components/breadcrumb/usage.mdx
  src/pages/components/button/usage.mdx
  src/pages/components/checkbox/accessibility.mdx
  src/pages/components/checkbox/style.mdx
  src/pages/components/code-snippet/usage.mdx
  src/pages/components/content-switcher/usage.mdx
  src/pages/components/data-table/accessibility.mdx
  src/pages/components/data-table/style.mdx
  src/pages/components/date-picker/accessibility.mdx
  src/pages/components/dropdown/accessibility.mdx
  src/pages/components/dropdown/style.mdx
  src/pages/components/form/usage.mdx
  src/pages/components/list/accessibility.mdx
  src/pages/components/list/style.mdx
  src/pages/components/modal/accessibility.mdx
  src/pages/components/modal/style.mdx
  src/pages/components/notification/accessibility.mdx
  src/pages/components/notification/code.mdx
  src/pages/components/notification/style.mdx
  src/pages/components/slider/code.mdx
  src/pages/components/structured-list/accessibility.mdx
  src/pages/components/tabs/accessibility.mdx
  src/pages/components/tag/style.mdx
  src/pages/components/tile/accessibility.mdx
  src/pages/components/toggle/accessibility.mdx
  src/pages/components/tooltip/accessibility.mdx
  src/pages/data-visualization/axes-and-labels/index.mdx
  src/pages/data-visualization/color-palettes/index.mdx
  src/pages/data-visualization/legends/index.mdx
  src/pages/designing/kits/sketch.mdx
  src/pages/developing/angular-tutorial/step-1.mdx
  src/pages/developing/angular-tutorial/step-3.mdx
  src/pages/developing/angular-tutorial/step-4.mdx
  src/pages/developing/frameworks/other-frameworks.mdx
  src/pages/developing/get-started.mdx
  src/pages/developing/react-tutorial/step-4.mdx
  src/pages/developing/vue-tutorial/step-1.mdx
  src/pages/developing/vue-tutorial/step-2.mdx
  src/pages/developing/vue-tutorial/step-3.mdx
  src/pages/developing/vue-tutorial/step-4.mdx
  src/pages/guidelines/2x-grid/implementation.mdx
  src/pages/guidelines/2x-grid/overview.mdx
  src/pages/guidelines/color/overview.mdx
  src/pages/guidelines/pictograms/usage.mdx
  src/pages/patterns/dialog-pattern/index.mdx
  src/pages/patterns/filtering/index.mdx
  src/pages/patterns/forms-pattern/images/horizontal_prog_indicator.png
  src/pages/patterns/forms-pattern/index.mdx
  src/pages/patterns/global-header/index.mdx
  src/pages/patterns/login-pattern/index.mdx
  src/pages/patterns/search-pattern/index.mdx
Labels: status: ready to merge 🎉

#2113 docs(ColorTokenTable): update skeleton-02 value in g100 theme
  src/data/guidelines/color-tokens.js
Labels: status: ready for review 👀

#2154 Merge main -> master
  src/pages/community/patterns/chatbot/overview.mdx
  src/pages/guidelines/2x-grid/overview.mdx
Labels: status: ready to merge 🎉

#2149 fix(docs):avt-1-guidelines-pictograms-usage-img
  src/pages/guidelines/pictograms/usage.mdx
Labels: status: ready to merge 🎉

#2062 fix(grid-demo): bg color and full-bleed demo spacing
  src/components/TypeScaleTable/type-scale-table.scss
  src/styles/_grid-demo.scss
Labels: status: ready to merge 🎉, status: visual review 🔍

#2144 fix(icons): use icon button instead of definition tooltip
  src/components/SVGLibraries/shared/ActionBar.js
Labels: status: ready to merge 🎉

#2148 docs: fix npm command for running serve script
  src/pages/developing/frameworks/vue.mdx
Labels: status: ready to merge 🎉
