Repository carbon-design-system/carbon-website, pull requests merged in 2021-09, with the labels that each got.

#2459 docs(popover): new component usage and style tab content
  src/data/nav-items.yaml
  src/pages/components/popover/images/popover-style-1.png
  src/pages/components/popover/images/popover-style-2.png
  src/pages/components/popover/images/popover-style-3.png
  src/pages/components/popover/images/popover-style-4.png
  src/pages/components/popover/images/popover-style-5.png
  src/pages/components/popover/images/popover-style-6.png
  src/pages/components/popover/images/popover-usage-1.png
  src/pages/components/popover/images/popover-usage-10.png
  src/pages/components/popover/images/popover-usage-11.png
  src/pages/components/popover/images/popover-usage-12-do.png
  src/pages/components/popover/images/popover-usage-12-dont.png
  src/pages/components/popover/images/popover-usage-12.png
  src/pages/components/popover/images/popover-usage-13.png
  src/pages/components/popover/images/popover-usage-14.png
  src/pages/components/popover/images/popover-usage-15-do.png
  src/pages/components/popover/images/popover-usage-15-dont.png
  src/pages/components/popover/images/popover-usage-15.png
  src/pages/components/popover/images/popover-usage-16.png
  src/pages/components/popover/images/popover-usage-17.png
  src/pages/components/popover/images/popover-usage-18.png
  src/pages/components/popover/images/popover-usage-2.png
  src/pages/components/popover/images/popover-usage-3.png
  src/pages/components/popover/images/popover-usage-4-do.png
  src/pages/components/popover/images/popover-usage-4-dont.png
  src/pages/components/popover/images/popover-usage-5.png
  src/pages/components/popover/images/popover-usage-6.png
  src/pages/components/popover/images/popover-usage-7.png
  src/pages/components/popover/images/popover-usage-8-do.png
  src/pages/components/popover/images/popover-usage-8-dont.png
  src/pages/components/popover/images/popover-usage-8.png
  src/pages/components/popover/images/popover-usage-9.png
  src/pages/components/popover/style.mdx
  src/pages/components/popover/usage.mdx
Labels: status: ready to merge 🎉

#2536 docs(data table) fix content guidance links
  src/pages/components/data-table/usage.mdx
Labels: status: ready to merge 🎉

#2504 Term 'light' used instead of 'dark'
  src/pages/guidelines/color/overview.mdx
Labels: status: ready to merge 🎉

#2534 chore(project): update carbon to v10.43.0
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#2525 fix(UIShell): update storybook link
  src/pages/components/UI-shell-header/code.mdx
Labels: status: ready to merge 🎉

#2533 docs: partners and advisory board updates
  src/pages/all-about-carbon/images/team/alcorn_katrina.png
  src/pages/all-about-carbon/images/team/gilbert_phil.png
  src/pages/all-about-carbon/images/team/prentice_nigel.png
  src/pages/all-about-carbon/images/team/rodes_tessa.png
  src/pages/all-about-carbon/partners.mdx
Labels: status: one more review 👀, status: ready for review 👀

#2518 docs(v11): color implementation updates v3
  src/pages/guidelines/color/images/color-implementation-contextual-2-G10.png
  src/pages/guidelines/color/images/color-implementation-contextual-2-G100.png
  src/pages/guidelines/color/images/color-implementation-contextual-2-G90.png
  src/pages/guidelines/color/images/color-implementation-contextual-2-W.png
  src/pages/guidelines/color/images/color-implementation-inline-2.png
  src/pages/guidelines/color/images/color-implementation-mode-light.png
  src/pages/guidelines/color/images/color-light-dark-inline.png
  src/pages/guidelines/color/images/color-light-dark.png
  src/pages/guidelines/color/images/light-dark-mode-do-1.png
  src/pages/guidelines/color/images/light-dark-mode-do-2.png
  src/pages/guidelines/color/images/light-dark-mode-do-3.png
  src/pages/guidelines/color/images/light-dark-mode-dont-1.png
  src/pages/guidelines/color/images/sketch.svg
  src/pages/guidelines/color/implementation.mdx
  src/pages/guidelines/color/overview.mdx
Labels: status: ready to merge 🎉

#2543 docs(dataviz): add tree diagram demos, update network thumbnail
  package.json
  src/components/data-visualization/ChartDemoGroup.js
  src/pages/data-visualization/chart-types/images/networkdiagram.svg
  src/pages/data-visualization/chart-types/images/treediagram.svg
  src/pages/data-visualization/chart-types/index.mdx
  src/pages/data-visualization/complex-charts/index.mdx
  yarn.lock
Labels: type: docs 📖, status: ready to merge 🎉

#2522 Updating tooltip usage v11 docs
  src/pages/components/tooltip/images/tooltip-usage-1-bottom.png
  src/pages/components/tooltip/images/tooltip-usage-1-left-right.png
  src/pages/components/tooltip/images/tooltip-usage-1-top.png
  src/pages/components/tooltip/images/tooltip-usage-1.png
  src/pages/components/tooltip/images/tooltip-usage-10.png
  src/pages/components/tooltip/images/tooltip-usage-11.png
  src/pages/components/tooltip/images/tooltip-usage-2.png
  src/pages/components/tooltip/images/tooltip-usage-3-do.png
  src/pages/components/tooltip/images/tooltip-usage-3-dont.png
  src/pages/components/tooltip/images/tooltip-usage-3-v2.png
  src/pages/components/tooltip/images/tooltip-usage-3.png
  src/pages/components/tooltip/images/tooltip-usage-4-do.png
  src/pages/components/tooltip/images/tooltip-usage-4-dont.png
  src/pages/components/tooltip/images/tooltip-usage-5.png
  src/pages/components/tooltip/images/tooltip-usage-6.png
  src/pages/components/tooltip/images/tooltip-usage-7.png
  src/pages/components/tooltip/images/tooltip-usage-8.png
  src/pages/components/tooltip/images/tooltip-usage-9.png
  src/pages/components/tooltip/usage.mdx
Labels: status: ready for review 👀, component: tooltip

#2532 v11 tooltip style tab update
  src/pages/components/tooltip/images/tooltip-style-1.png
  src/pages/components/tooltip/images/tooltip-style-2.png
  src/pages/components/tooltip/images/tooltip-style-3.png
  src/pages/components/tooltip/images/tooltip-style-4.png
  src/pages/components/tooltip/images/tooltip-style-5.png
  src/pages/components/tooltip/style.mdx
Labels: status: ready for review 👀, component: tooltip

#2502 docs(dataviz): add network diagram demos & tree diagram card
  package.json
  src/pages/data-visualization/chart-types/images/network-diagram.svg
  src/pages/data-visualization/chart-types/index.mdx
  src/pages/data-visualization/complex-charts/index.mdx
  yarn.lock
Labels: status: ready to merge 🎉

#2513 docs(migration): beta 2 docs
  src/components/MdxIcon/icons/medium.svg
  src/components/MdxIcon/icons/sass.png
  src/components/MdxIcon/index.js
  src/pages/migrating/guide/design.mdx
  src/pages/migrating/guide/develop.mdx
  src/pages/migrating/guide/images/medium-icon.svg
  src/pages/migrating/guide/overview.mdx
Labels: status: ready to merge 🎉

#2546 demos(dataviz): add alluvial chart
  package.json
  src/pages/data-visualization/chart-types/index.mdx
  src/pages/data-visualization/complex-charts/index.mdx
  yarn.lock
Labels: status: ready to merge 🎉

#2545 fix(overview-page): update image import
  src/components/ComponentOverview/ComponentOverview.js
Labels: status: ready to merge 🎉

#2550 docs: update design migration docs for Beta 2
  src/pages/migrating/guide/design.mdx
  src/pages/migrating/guide/images/05_toast_context_608.gif
  src/pages/migrating/guide/images/color-implementation-compare-1.png
  src/pages/migrating/guide/images/color-implementation-compare-2.png
  src/pages/migrating/guide/images/color-implementation-inline-1.png
  src/pages/migrating/guide/images/color-implementation-layer-set-3.png
  src/pages/migrating/guide/images/contained-tabs.png
  src/pages/migrating/guide/images/light-or-dark-mode-1.png
  src/pages/migrating/guide/images/light-or-dark-mode-2.png
  src/pages/migrating/guide/images/popover-usage-1.png
  src/pages/migrating/guide/images/tooltip-usage-1.png
  src/pages/migrating/guide/images/ui-shell-themes.png
Labels: status: one more review 👀, status: ready for review 👀

#2551 chore(project): update carbon to v10.44.0
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#2521 fix(ClickableTile): fix padding issue
  src/components/ComponentDemo/ComponentDemo.module.scss
Labels: status: ready to merge 🎉

#2556 update double slider image
  src/pages/components/slider/usage.mdx
Labels: status: ready to merge 🎉

#2531 Update to include required labeling guidance
  src/pages/patterns/forms-pattern/index.mdx
Labels: status: ready to merge 🎉
