Repository carbon-design-system/carbon-website, pull requests merged in 2021-03, with the labels that each got.

#2157 fix(breadcrumb): demo matches usage guidelines
  src/pages/components/breadcrumb/code.mdx
  src/pages/components/breadcrumb/usage.mdx
Labels: status: ready to merge 🎉

#2150 fix(docs): audit-1591-breadcrumbs-usage-header-id
  src/pages/components/breadcrumb/style.mdx
Labels: status: ready to merge 🎉

#2163 chore(project): update carbon to v10.30.0
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#2162 Updates to stale URLs that point to the Accessibility Pages (aka IBM.com/able)
  src/data/docgen/react-docgen.json
  src/pages/components/UI-shell-header/accessibility.mdx
  src/pages/components/accordion/accessibility.mdx
  src/pages/components/breadcrumb/accessibility.mdx
  src/pages/components/button/accessibility.mdx
  src/pages/components/checkbox/accessibility.mdx
  src/pages/components/code-snippet/accessibility.mdx
  src/pages/components/content-switcher/accessibility.mdx
  src/pages/components/data-table/accessibility.mdx
  src/pages/components/date-picker/accessibility.mdx
  src/pages/components/dropdown/accessibility.mdx
  src/pages/components/file-uploader/accessibility.mdx
  src/pages/components/form/accessibility.mdx
  src/pages/components/inline-loading/accessibility.mdx
  src/pages/components/link/accessibility.mdx
  src/pages/components/link/usage.mdx
  src/pages/components/list/accessibility.mdx
  src/pages/components/loading/accessibility.mdx
  src/pages/components/modal/accessibility.mdx
  src/pages/components/notification/accessibility.mdx
  src/pages/components/number-input/accessibility.mdx
  src/pages/components/overflow-menu/accessibility.mdx
  src/pages/components/pagination/accessibility.mdx
  src/pages/components/progress-indicator/accessibility.mdx
  src/pages/components/radio-button/accessibility.mdx
  src/pages/components/search/accessibility.mdx
  src/pages/components/select/accessibility.mdx
  src/pages/components/slider/accessibility.mdx
  src/pages/components/structured-list/accessibility.mdx
  src/pages/components/tabs/accessibility.mdx
  src/pages/components/tag/accessibility.mdx
  src/pages/components/text-input/accessibility.mdx
  src/pages/components/tile/accessibility.mdx
  src/pages/components/toggle/accessibility.mdx
  src/pages/components/tooltip/accessibility.mdx
  src/pages/guidelines/accessibility/color.mdx
  src/pages/guidelines/accessibility/keyboard.mdx
  src/pages/guidelines/accessibility/overview.mdx
Labels: status: ready to merge 🎉

#2160 Small updates to button guidance
  src/pages/components/button/usage.mdx
Labels: status: ready to merge 🎉

#2172 fix: remove robin from team
  src/pages/all-about-carbon/the-team.mdx
Labels: status: ready to merge 🎉

#2166 chore: rename `master` branch references to `main` branch
  src/components/SVGLibraries/IconLibrary/IconLibrary.js
  src/components/SVGLibraries/PictogramLibrary/PictogramLibrary.js
  src/pages/case-studies/overview.mdx
  src/pages/community/contribute-a-chart.mdx
  src/pages/community/contribute-a-component.mdx
  src/pages/community/how-to-contribute.mdx
  src/pages/community/patterns/create-flows/index.mdx
  src/pages/community/patterns/import-pattern/index.mdx
  src/pages/community/patterns/remove-pattern/index.mdx
  src/pages/components/UI-shell-header/style.mdx
  src/pages/components/button/usage.mdx
  src/pages/components/dropdown/style.mdx
  src/pages/components/link/accessibility.mdx
  src/pages/components/link/usage.mdx
  src/pages/components/notification/style.mdx
  src/pages/components/overflow-menu/style.mdx
  src/pages/contributing/component/index.mdx
  src/pages/contributing/contribute-icons.mdx
  src/pages/designing/design-resources/index.mdx
  src/pages/developing/angular-tutorial/step-2.mdx
  src/pages/developing/angular-tutorial/step-4.mdx
  src/pages/developing/angular-tutorial/wrapping-up.mdx
  src/pages/developing/dev-resources/index.mdx
  src/pages/developing/frameworks/react.mdx
  src/pages/developing/frameworks/vanilla.mdx
  src/pages/developing/react-tutorial/step-1.mdx
  src/pages/developing/react-tutorial/step-2.mdx
  src/pages/developing/react-tutorial/step-4.mdx
  src/pages/developing/react-tutorial/wrapping-up.mdx
  src/pages/developing/vue-tutorial/step-1.mdx
  src/pages/developing/vue-tutorial/step-2.mdx
  src/pages/developing/vue-tutorial/step-4.mdx
  src/pages/developing/vue-tutorial/step-5.mdx
  src/pages/developing/vue-tutorial/wrapping-up.mdx
  src/pages/guidelines/2x-grid/implementation.mdx
  src/pages/guidelines/2x-grid/overview.mdx
  src/pages/guidelines/color/code.mdx
  src/pages/guidelines/color/overview.mdx
  src/pages/guidelines/icons/code.mdx
  src/pages/guidelines/icons/contribute.mdx
  src/pages/guidelines/icons/usage.mdx
  src/pages/guidelines/motion/overview.mdx
  src/pages/guidelines/pictograms/code.mdx
  src/pages/guidelines/pictograms/usage.mdx
  src/pages/guidelines/spacing/code.mdx
  src/pages/guidelines/themes/code.mdx
  src/pages/guidelines/themes/overview.mdx
  src/pages/guidelines/typography/code.mdx
  src/pages/guidelines/typography/overview.mdx
  src/pages/help/migration-guide/design.mdx
  src/pages/help/migration-guide/develop.mdx
  src/pages/index.mdx
Labels: status: ready to merge 🎉

#2139 fix(CodeSnippet): update single line and inline links and demo content
  src/components/ComponentDemo/ComponentDemo.module.scss
  src/data/components/code-snippet.js
  src/pages/components/code-snippet/code.mdx
  src/pages/components/code-snippet/usage.mdx
Labels: status: ready for review 👀, status: ready to merge 🎉

#2126 Radio button usage updates
  src/pages/components/radio-button/images/radio-button-usage-1.png
  src/pages/components/radio-button/images/radio-button-usage-10.png
  src/pages/components/radio-button/images/radio-button-usage-11.png
  src/pages/components/radio-button/images/radio-button-usage-12-do.png
  src/pages/components/radio-button/images/radio-button-usage-12-dont.png
  src/pages/components/radio-button/images/radio-button-usage-13.png
  src/pages/components/radio-button/images/radio-button-usage-2-do.png
  src/pages/components/radio-button/images/radio-button-usage-2-dont.png
  src/pages/components/radio-button/images/radio-button-usage-3.png
  src/pages/components/radio-button/images/radio-button-usage-4.png
  src/pages/components/radio-button/images/radio-button-usage-5.png
  src/pages/components/radio-button/images/radio-button-usage-6.png
  src/pages/components/radio-button/images/radio-button-usage-7.png
  src/pages/components/radio-button/images/radio-button-usage-8.png
  src/pages/components/radio-button/usage.mdx
Labels: status: content review ✍️, status: ready for review 👀

#2159 [docs] update button link for weekly playbacks
  src/pages/whats-happening/meetups/index.mdx
Labels: status: ready to merge 🎉

#2182 docs: steering committee updates
  src/pages/all-about-carbon/images/team/carotenuto_linda.png
  src/pages/all-about-carbon/partners.mdx
  src/pages/all-about-carbon/the-team.mdx
Labels: status: ready to merge 🎉

#2173 update and simplify Agular tutorial to reflect changes in recent versions of Angular and components-angular
  src/pages/components/button/usage.mdx
  src/pages/developing/angular-tutorial/step-1.mdx
  src/pages/developing/angular-tutorial/step-2.mdx
  src/pages/developing/angular-tutorial/step-3.mdx
  src/pages/developing/angular-tutorial/step-4.mdx
  src/pages/developing/angular-tutorial/step-5.mdx
Labels: status: ready to merge 🎉

#2185 chore(deploy): change deploy branch to main
  .github/workflows/deploy.yml
  docs/deployment.md
Labels: status: ready to merge 🎉

#2186 docs: inclusive language update in content guidelines
  src/pages/guidelines/content/writing-style.mdx
Labels: status: ready to merge 🎉

#2188 (fix) broken link on icon contribution tab
  src/pages/guidelines/icons/contribute.mdx
Labels: status: ready to merge 🎉

#2190 (fix) change button content on Meetups page
  src/pages/whats-happening/meetups/index.mdx
Labels: status: ready to merge 🎉

#2187 fix(overlay): remove overlay on mobile
  src/styles/_homepage.scss
Labels: status: ready to merge 🎉

#2179 fix(nav-items): resolve relative paths
  src/data/nav-items.yaml
  src/pages/developing/get-started.mdx
Labels: status: ready to merge 🎉

#2191 (fix) focus data table style image
  src/pages/components/data-table/images/datatable-style-4.png
Labels: status: ready to merge 🎉

#2181 feat(spacing): remove layout scale, update spacing scale
  src/pages/guidelines/spacing/images/spacing-01.svg
  src/pages/guidelines/spacing/images/spacing-02.svg
  src/pages/guidelines/spacing/images/spacing-03.svg
  src/pages/guidelines/spacing/images/spacing-04.svg
  src/pages/guidelines/spacing/images/spacing-05.svg
  src/pages/guidelines/spacing/images/spacing-06.svg
  src/pages/guidelines/spacing/images/spacing-07.svg
  src/pages/guidelines/spacing/images/spacing-08.svg
  src/pages/guidelines/spacing/images/spacing-09.svg
  src/pages/guidelines/spacing/images/spacing-10.svg
  src/pages/guidelines/spacing/images/spacing-11.svg
  src/pages/guidelines/spacing/images/spacing-12.svg
  src/pages/guidelines/spacing/images/spacing-13.svg
  src/pages/guidelines/spacing/images/spacing-14.svg
  src/pages/guidelines/spacing/images/spacing-15.svg
  src/pages/guidelines/spacing/images/spacing-16.svg
  src/pages/guidelines/spacing/images/spacing-17.svg
  src/pages/guidelines/spacing/images/spacing-18.svg
  src/pages/guidelines/spacing/overview.mdx
Labels: status: ready to merge 🎉

#2180 chore: add dco action
  .github/workflows/dco.yml
Labels: status: ready to merge 🎉

#2194 docs: update grid breakpoint confusion
  src/pages/guidelines/2x-grid/implementation.mdx
Labels: status: ready to merge 🎉

#2197 docs: domain guidance updates
  src/pages/community/domain-guidance.mdx
  src/pages/community/images/chat-bot.svg
Labels: status: ready to merge 🎉

#2201 (fix) broken link to heat maps section on advanced charts
  src/pages/data-visualization/advanced-charts/index.mdx
Labels: status: ready to merge 🎉

#2204 docs: adding new Gatsby kit, page reorg
  src/pages/designing/design-resources/index.mdx
Labels: status: ready to merge 🎉
