Repository carbon-design-system/carbon-website, pull requests merged in 2021-05, with the labels that each got.

#2264 fix(component-demo): update to emit component tokens
  src/components/ComponentDemo/ComponentDemo.module.scss
Labels: status: one more review 👀, status: ready for review 👀

#2265 chore(release): update website to latest release (v10.34.0)
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#2267 fix typo
  src/pages/components/dropdown/style.mdx
Labels: status: ready to merge 🎉

#2255 Comms: New v11 release page 🎉
  src/data/nav-items.yaml
  src/gatsby-theme-carbon/templates/Homepage.js
  src/pages/whats-happening/releases/index.mdx
  src/pages/whats-happening/v11-release/images/carbon_2021-april-update.png
  src/pages/whats-happening/v11-release/images/carbon_2021.png
  src/pages/whats-happening/v11-release/index.mdx
Labels: status: ready to merge 🎉

#2268 comms: update medium images
  src/pages/homepage/images/carbon_2021-april-update.png
  src/pages/homepage/images/carbon_2021.png
  src/pages/whats-happening/news-and-articles/images/carbon_2021-april-update.png
  src/pages/whats-happening/news-and-articles/images/carbon_2021.png
Labels: status: ready to merge 🎉

#2275 comms: copy tweak to message
  src/pages/whats-happening/v11-release/index.mdx
Labels: status: ready to merge 🎉

#2262 fix(ComponentDemo): properly theme floating components
  src/components/ComponentDemo/ComponentDemo.js
  src/components/ComponentDemo/ComponentDemo.module.scss
Labels: status: ready to merge 🎉

#2277 docs: adds Gatsby theme site to Dev and Design pgs
  src/pages/designing/design-resources/images/gatsby.svg
  src/pages/designing/design-resources/index.mdx
  src/pages/developing/dev-resources/images/gatsby.svg
  src/pages/developing/dev-resources/index.mdx
Labels: status: ready to merge 🎉

#2279 fix(modal): remove width column from max sizes table
  src/pages/components/modal/style.mdx
Labels: status: ready to merge 🎉

#2286 fix(number input): update images and documentation
  src/pages/components/number-input/images/number-input-style-1.png
  src/pages/components/number-input/images/number-input-style-2.png
  src/pages/components/number-input/images/number-input-usage-1.png
  src/pages/components/number-input/style.mdx
Labels: status: ready to merge 🎉

#2248 update the team page members
  src/pages/all-about-carbon/images/team/decoste_natasha.png
  src/pages/all-about-carbon/images/team/fras_zvonimir.png
  src/pages/all-about-carbon/images/team/li_nina.png
  src/pages/all-about-carbon/images/team/moosavi_eliad.png
  src/pages/all-about-carbon/images/team/smith_cal.png
  src/pages/all-about-carbon/images/team/williams_dean.png
  src/pages/all-about-carbon/the-team.mdx
Labels: status: ready to merge 🎉

#2291 Fixes angular tutorial
  src/pages/developing/angular-tutorial/step-3.mdx
  src/pages/developing/angular-tutorial/step-5.mdx
Labels: status: ready to merge 🎉

#2284 fix(loading): enable `withOverlay` knob
  src/components/ComponentDemo/ComponentDemo.module.scss
  src/data/docgen/react-docgen.json
  src/pages/components/loading/code.mdx
  src/pages/components/loading/usage.mdx
Labels: status: ready to merge 🎉, status: visual review 🔍

#2297 IA: add divider, move What's happening
  src/data/nav-items.yaml
Labels: status: ready to merge 🎉

#2303 fix tooltip style override issues in charting demos
  src/components/ComponentDemo/ComponentDemo.module.scss
Labels: impact: high 😱, severity: 2, status: ready to merge 🎉, type: a11y ♿, type: bug 🐛

#2240 update(List): add info on List expressive
  src/pages/components/list/style.mdx
Labels: status: ready to merge 🎉

#2239 update(button): add info on large-expressive
  src/pages/components/button/images/button_usage_3.png
  src/pages/components/button/style.mdx
  src/pages/components/button/usage.mdx
Labels: status: ready to merge 🎉

#2305 feat(release): update website to v10.35.0
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#2307 docs: component index reference
  src/pages/components/overview/index.mdx
Labels: status: ready to merge 🎉

#2321 token corrections
  src/pages/components/button/style.mdx
Labels: status: ready to merge 🎉

#2322 docs(Tooltip): reword interactive tooltip behavior description
  src/pages/components/tooltip/usage.mdx
Labels: status: ready to merge 🎉

#2332 chore: sync v11 branch with main
  gatsby-config.js
  gatsby-ssr.js
  src/components/ListSection/ListSection.js
  src/components/ListSection/ListSection.module.scss
  src/components/ListSection/index.js
  src/gatsby-theme-carbon/components/MDXProvider/defaultComponents.js
  src/pages/components/tooltip/usage.mdx
  src/pages/test/list-section.mdx
Labels: status: ready to merge 🎉

#2327 v11 color token updates for slider component
  src/pages/components/slider/style.mdx
Labels: status: ready to merge 🎉

#2328 docs: v11 color token updates for pagination component
  src/pages/components/pagination/style.mdx
Labels: status: ready to merge 🎉

#2288 docs(support-02): update support-02 value
  src/components/ColorGrid/ColorGrid.js
  src/data/guidelines/color-tokens.js
Labels: status: ready to merge 🎉

#2320 docs: v11 color token updates for overflow menu component
  src/pages/components/overflow-menu/style.mdx
Labels: status: ready to merge 🎉

#2317 docs: v11 color token updates for number input component
  src/pages/components/number-input/style.mdx
Labels: status: ready to merge 🎉

#2314 Docs: v11 color token updates for button component
  src/pages/components/button/style.mdx
Labels: status: ready to merge 🎉

#2315 docs: v11 color token updates for loading component
  src/pages/components/loading/style.mdx
Labels: status: ready to merge 🎉

#2313 docs: v11 color token updates for data table component
  src/pages/components/data-table/style.mdx
Labels: status: ready to merge 🎉

#2299 add button variants to live modal preivew
  src/pages/components/modal/code.mdx
  src/pages/components/modal/usage.mdx
Labels: status: ready to merge 🎉

#2336 chore(gatsby): remove v3.0 `FAST_REFRESH` flag
  gatsby-config.js
Labels: status: ready to merge 🎉

#2331 Docs: color token updates for Code snippet component
  src/pages/components/code-snippet/style.mdx
Labels: status: ready to merge 🎉

#2330 docs: v11 color token updates for date picker component
  src/pages/components/date-picker/style.mdx
Labels: status: ready to merge 🎉

#2329 docs: v11 color token updates for progress indicator component
  src/pages/components/progress-indicator/style.mdx
Labels: status: ready to merge 🎉

#2311 Docs: color token updates for accordion component
  src/pages/components/accordion/style.mdx
Labels: status: ready to merge 🎉

#2312 Docs: v11 color token updates for breadcrumb component
  src/pages/components/breadcrumb/style.mdx
Labels: status: ready to merge 🎉

#2316 docs: v11 color token updates for modal component
  src/pages/components/modal/style.mdx
Labels: status: ready to merge 🎉

#2318 Docs: v11 color token updates for checkbox component
  src/pages/components/checkbox/style.mdx
Labels: status: ready to merge 🎉

#2338 comms: All about Carbon additions, edits, deletions
  src/data/nav-items.yaml
  src/pages/all-about-carbon/images/ecosystem/bee.svg
  src/pages/all-about-carbon/images/ecosystem/blog.svg
  src/pages/all-about-carbon/images/ecosystem/carbon.svg
  src/pages/all-about-carbon/images/ecosystem/chat-bot.svg
  src/pages/all-about-carbon/images/ecosystem/data--1.svg
  src/pages/all-about-carbon/images/ecosystem/ibm-cloud.svg
  src/pages/all-about-carbon/images/ecosystem/iot--platform.svg
  src/pages/all-about-carbon/images/ecosystem/watson.svg
  src/pages/all-about-carbon/the-carbon-ecosystem.mdx
  src/pages/all-about-carbon/the-team.mdx
  src/pages/all-about-carbon/what-is-carbon.mdx
  src/pages/all-about-carbon/who-uses-carbon.mdx
  src/pages/designing/get-started.mdx
  src/pages/developing/get-started.mdx
Labels: status: ready to merge 🎉

#2319 Docs: v11 color token updates for Content switcher component
  src/pages/components/content-switcher/style.mdx
Labels: status: ready to merge 🎉

#2345 docs: v11 color token updates for notification
  src/pages/components/notification/style.mdx
Labels: status: ready to merge 🎉

#2347 Who uses carbon page copyedits
  src/pages/all-about-carbon/who-uses-carbon.mdx
Labels: status: ready to merge 🎉

#2333 docs: v11 color token updates for dropdown component
  src/pages/components/dropdown/style.mdx
Labels: status: ready to merge 🎉

#2325 v11 color token updates for radio button component
  src/pages/components/radio-button/style.mdx
Labels: status: ready to merge 🎉

#2326 v11 color token updates for search component
  src/pages/components/search/style.mdx
Labels: status: ready to merge 🎉

#2343 fix: update Carbon for IBM.com community index links
  src/data/index/dot-com/callout-media.yml
  src/data/index/dot-com/callout.yml
  src/data/index/dot-com/card-link.yml
  src/data/index/dot-com/card-section-image.yml
  src/data/index/dot-com/card-section.yml
  src/data/index/dot-com/content-block-cards.yml
  src/data/index/dot-com/content-block-media.yml
  src/data/index/dot-com/content-block-segmented.yml
  src/data/index/dot-com/content-block-simple.yml
  src/data/index/dot-com/content-group-cards.yml
  src/data/index/dot-com/content-group-horizontal.yml
  src/data/index/dot-com/content-group-pictogram.yml
  src/data/index/dot-com/content-group-simple.yml
  src/data/index/dot-com/cta-section.yml
  src/data/index/dot-com/digital-card.yml
  src/data/index/dot-com/expressive-modal.yml
  src/data/index/dot-com/feature-card-block-large.yml
  src/data/index/dot-com/feature-card-block-medium.yml
  src/data/index/dot-com/feature-card.yml
  src/data/index/dot-com/footer.yml
  src/data/index/dot-com/horizontal-rule.yml
  src/data/index/dot-com/image-with-caption.yml
  src/data/index/dot-com/lead-space-block.yml
  src/data/index/dot-com/lead-space.yml
  src/data/index/dot-com/lightbox-media-viewer.yml
  src/data/index/dot-com/link-list.yml
  src/data/index/dot-com/link-with-icon.yml
  src/data/index/dot-com/locale-modal.yml
  src/data/index/dot-com/logo-grid.yml
  src/data/index/dot-com/masthead.yml
  src/data/index/dot-com/table-of-contents.yml
  src/data/index/dot-com/video-player.yml
Labels: status: ready to merge 🎉

#2339 v11 color token updates for structured list
  src/pages/components/structured-list/style.mdx
Labels: status: ready to merge 🎉

#2341 v11 color token updates for select component
  src/pages/components/select/style.mdx
Labels: status: ready to merge 🎉

#2351 Removed space between paragraphs
  src/pages/all-about-carbon/what-is-carbon.mdx
Labels: status: ready to merge 🎉

#2353 docs: v11 color token updates for toggle
  src/pages/components/toggle/style.mdx
Labels: status: ready for review 👀

#2350 docs: v11 color token updates for tile
  src/pages/components/tile/style.mdx
Labels: status: ready to merge 🎉

#2346 docs: v11 color token updates for tag
  src/pages/components/tag/style.mdx
Labels: status: ready to merge 🎉

#2348 docs: v11 color token updates for text input
  src/pages/components/text-input/style.mdx
Labels: status: ready to merge 🎉

#2349 Copy edit: Added “be” to “they can be used”
  src/pages/all-about-carbon/the-carbon-ecosystem.mdx
Labels: status: ready to merge 🎉

#2352 fix: minor updates to vue tutorial
  src/pages/developing/vue-tutorial/step-1.mdx
  src/pages/developing/vue-tutorial/step-2.mdx
  src/pages/developing/vue-tutorial/step-4.mdx
Labels: status: ready to merge 🎉

#2357 docs: v11 color token updates for link component
  src/pages/components/link/images/link-style-1.png
  src/pages/components/link/images/link-style-3.png
  src/pages/components/link/images/link-style-4.png
  src/pages/components/link/images/link-style-5.png
  src/pages/components/link/style.mdx
Labels: status: ready to merge 🎉

#2354 docs: v11 color token updates for file uploader component
  src/pages/components/file-uploader/images/file-uploader-style-4.png
  src/pages/components/file-uploader/images/file-uploader-style-5.png
  src/pages/components/file-uploader/images/file-uploader-style-6.png
  src/pages/components/file-uploader/style.mdx
Labels: status: ready to merge 🎉
