Repository carbon-design-system/carbon-website, pull requests merged in 2021-11, with the labels that each got.

#2606 v11 Remove extra icon from tile
  src/pages/migrating/guide/develop.mdx
Labels: status: ready to merge 🎉

#2598 chore(Carbon Website): update to v10.47.0
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#2559 Form image updates for component usage page and pattern page
  src/pages/components/form/images/form-usage-1.png
  src/pages/components/form/images/form-usage-4.png
  src/pages/components/form/images/form-usage-5.png
  src/pages/components/form/images/form-usage-6.png
  src/pages/components/form/images/form-usage-7.png
  src/pages/components/form/images/form-usage-8.png
  src/pages/components/form/images/form-usage-optional.png
  src/pages/components/form/images/form-usage-required.png
  src/pages/components/form/usage.mdx
  src/pages/patterns/forms-pattern/images/Do-Form-required.png
  src/pages/patterns/forms-pattern/images/Dont-form-required.png
  src/pages/patterns/forms-pattern/images/Elements.png
  src/pages/patterns/forms-pattern/images/form-do.png
  src/pages/patterns/forms-pattern/images/form-dont.png
  src/pages/patterns/forms-pattern/images/form-usage-optional.png
  src/pages/patterns/forms-pattern/images/form-usage-required.png
  src/pages/patterns/forms-pattern/index.mdx
Labels: status: ready to merge 🎉

#2611 docs: add francinelucca to team page
  src/pages/all-about-carbon/images/team/lucca_francine.png
  src/pages/all-about-carbon/the-team.mdx
Labels: status: ready to merge 🎉

#2602 chore: update theme and other dependencies
  package.json
  src/pages/components/form/usage.mdx
  src/pages/components/tile/usage.mdx
  src/pages/designing/design-resources/index.mdx
  src/pages/developing/frameworks/svelte.mdx
  yarn.lock
Labels: status: ready to merge 🎉

#2604 docs: update v11 release date to Q1 22
  src/pages/whats-happening/releases/index.mdx
Labels: status: ready to merge 🎉

#2617 Update website deps for v10.47.2
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#2620 fix: medium card color on news and articles page
  src/pages/whats-happening/news-and-articles/index.mdx
Labels: status: ready to merge 🎉

#2609 Update to vue.mdx
  src/pages/developing/frameworks/vue.mdx
Labels: status: ready to merge 🎉

#2630 [bug]: notification style images
  src/pages/components/notification/images/notification-style-1.png
  src/pages/components/notification/images/notification-style-2.png
  src/pages/components/notification/images/notification-style-3.png
  src/pages/components/notification/images/notification-style-4.png
Labels: status: ready to merge 🎉

#2635 v11[bugs]: assorted color token bugs on style tabs
  src/pages/components/code-snippet/style.mdx
  src/pages/components/content-switcher/style.mdx
  src/pages/components/date-picker/style.mdx
  src/pages/components/dropdown/style.mdx
  src/pages/components/file-uploader/style.mdx
  src/pages/components/inline-loading/style.mdx
  src/pages/components/number-input/style.mdx
  src/pages/components/search/style.mdx
  src/pages/components/select/style.mdx
  src/pages/components/tabs/style.mdx
  src/pages/components/text-input/style.mdx
  src/pages/components/tile/style.mdx
Labels: status: ready to merge 🎉

#2645 add(kit): Figma
  src/pages/designing/kits/adobe-xd.mdx
  src/pages/designing/kits/axure.mdx
  src/pages/designing/kits/figma.mdx
  src/pages/designing/kits/sketch.mdx
Labels: status: ready to merge 🎉

#2647 [kit]Figma: Add in resource links
  src/pages/designing/kits/figma.mdx
Labels: status: ready to merge 🎉

#2648 Update accessibility.mdx
  src/pages/components/tooltip/accessibility.mdx
Labels: status: ready to merge 🎉

#2642 chore(ci): add ci workflow action
  .github/workflows/ci.yml
  package.json
  src/pages/community/patterns/chatbot/content.mdx
  src/pages/community/patterns/chatbot/overview.mdx
  src/pages/community/patterns/remove-pattern/index.mdx
  src/pages/components/UI-shell-left-panel/usage.mdx
  src/pages/components/UI-shell-right-panel/usage.mdx
  src/pages/components/breadcrumb/style.mdx
  src/pages/data-visualization/simple-charts/index.mdx
  src/pages/designing/kits/sketch.mdx
  src/pages/developing/dev-resources/index.mdx
  src/pages/developing/react-tutorial/step-1.mdx
  src/pages/guidelines/themes/overview.mdx
  src/pages/guidelines/typography/code.mdx
  src/pages/guidelines/typography/overview.mdx
  src/pages/guidelines/typography/type-sets.mdx
  src/pages/migrating/guide/develop.mdx
  src/pages/patterns/overflow-content/index.mdx
Labels: status: one more review 👀

#2651 fix(homepage): add pointer cursor to button
  src/components/HomepageVideo/homepage-video.scss
Labels: status: ready to merge 🎉

#2613 docs(disclosures): new pattern usage content
  src/data/nav-items.yaml
  src/pages/patterns/disclosures-pattern/images/disclosure-button-container-size.png
  src/pages/patterns/disclosures-pattern/images/disclosure-button-icon-size.png
  src/pages/patterns/disclosures-pattern/images/disclosure-dismmisible-do.png
  src/pages/patterns/disclosures-pattern/images/disclosure-dismmisible-dont.png
  src/pages/patterns/disclosures-pattern/images/disclosure-footer-content.png
  src/pages/patterns/disclosures-pattern/images/disclosure-heading-text.png
  src/pages/patterns/disclosures-pattern/images/disclosure-interactive-elements.png
  src/pages/patterns/disclosures-pattern/images/disclosure-multiple-sections.png
  src/pages/patterns/disclosures-pattern/images/disclosure-one-at-a-time-do.png
  src/pages/patterns/disclosures-pattern/images/disclosure-one-at-a-time-dont.png
  src/pages/patterns/disclosures-pattern/images/disclosure-popover.png
  src/pages/patterns/disclosures-pattern/images/disclosures-combo-button-anatomy.png
  src/pages/patterns/disclosures-pattern/images/disclosures-combo-button-do.png
  src/pages/patterns/disclosures-pattern/images/disclosures-combo-button-dont.png
  src/pages/patterns/disclosures-pattern/images/disclosures-combo-button-functionality.png
  src/pages/patterns/disclosures-pattern/images/disclosures-combo-button-structure.png
  src/pages/patterns/disclosures-pattern/images/disclosures-profile-menu-anatomy.png
  src/pages/patterns/disclosures-pattern/images/disclosures-profile-menu-simple-complex.png
  src/pages/patterns/disclosures-pattern/images/disclosures-profile-menu-structure.png
  src/pages/patterns/disclosures-pattern/images/disclosures-settings-anatomy.png
  src/pages/patterns/disclosures-pattern/images/disclosures-settings-functionality.png
  src/pages/patterns/disclosures-pattern/images/disclosures-settings-structure.png
  src/pages/patterns/disclosures-pattern/index.mdx
  src/pages/patterns/overview.mdx
Labels: status: one more review 👀, status: ready for review 👀
