Repository carbon-design-system/carbon-website, pull requests merged in 2021-08, with the labels that each got.

#2471 fix(color): fix v10 color page bugs
  src/components/ColorBlock/color-block.scss
Labels: status: one more review 👀

#2481 chore: fix carbon-components-react resolutions
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#2477 fix(dataviz): broken links
  src/pages/data-visualization/getting-started/index.mdx
Labels: status: ready to merge 🎉

#2478 chore(project): update carbon to v10.41.0
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#2486 docs: remove Andrew and Jillian from team page 😔
  src/pages/all-about-carbon/the-team.mdx
Labels: status: ready to merge 🎉

#2482 style(Meetups): add space to buttons
  src/pages/whats-happening/meetups/index.mdx
Labels: status: ready to merge 🎉

#2484 update carbon charts react to 0.41.101 & d3 to 7.0.0
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#2498 docs: add new medium article to v11 page
  src/pages/whats-happening/v11-release/images/carbon_2021-beta-1.png
  src/pages/whats-happening/v11-release/index.mdx
Labels: status: ready to merge 🎉

#2499 Fix broken link to React storybook for fixed sidenav
  src/pages/components/UI-shell-left-panel/code.mdx
Labels: status: ready to merge 🎉

#2473 docs(v11): color/overview updates
  src/pages/guidelines/color/images/Dark_theme_03_new.png
  src/pages/guidelines/color/images/Dark_theme_sample_revised.gif
  src/pages/guidelines/color/images/High_contrast_01.png
  src/pages/guidelines/color/images/High_contrast_02.png
  src/pages/guidelines/color/images/High_contrast_dark.png
  src/pages/guidelines/color/images/High_contrast_light.png
  src/pages/guidelines/color/images/Light_theme_03.png
  src/pages/guidelines/color/images/Light_theme_sample_revised.gif
  src/pages/guidelines/color/images/color-layering-model-2.png
  src/pages/guidelines/color/images/color-layering-model-dark.png
  src/pages/guidelines/color/images/color-layering-model-light.png
  src/pages/guidelines/color/images/color-layering-model.png
  src/pages/guidelines/color/images/color-overview-themes-gray10.png
  src/pages/guidelines/color/images/color-overview-themes-gray100.png
  src/pages/guidelines/color/images/color-overview-themes-gray90.png
  src/pages/guidelines/color/images/color-overview-themes-white.png
  src/pages/guidelines/color/images/component_example_dark_01.png
  src/pages/guidelines/color/images/component_example_white_01.png
  src/pages/guidelines/color/images/dark_theme_examples.png
  src/pages/guidelines/color/images/dark_theme_ui_sample.png
  src/pages/guidelines/color/images/digital_accessibility_01.png
  src/pages/guidelines/color/images/digital_accessibility_02.png
  src/pages/guidelines/color/images/light_theme_components.svg
  src/pages/guidelines/color/images/light_theme_examples.png
  src/pages/guidelines/color/images/light_theme_ui_samples.png
  src/pages/guidelines/color/overview.mdx
Labels: status: ready to merge 🎉

#2492 Content switcher images
  src/pages/components/content-switcher/images/content-switcher-style-1.png
  src/pages/components/content-switcher/images/content-switcher-style-color.png
  src/pages/components/content-switcher/images/content-switcher-style-size.png
  src/pages/components/content-switcher/images/content-switcher-usage-1.png
  src/pages/components/content-switcher/images/content-switcher-usage-2.png
  src/pages/components/content-switcher/images/content-switcher-usage-3-do.png
  src/pages/components/content-switcher/images/content-switcher-usage-3-don't.png
  src/pages/components/content-switcher/images/content-switcher-usage-4.png
  src/pages/components/content-switcher/images/content-switcher-usage-sizes.png
  src/pages/components/content-switcher/images/contentswitcher-usage-2.png
  src/pages/components/content-switcher/images/contentswitcher-usage-3-do.png
  src/pages/components/content-switcher/images/contentswitcher-usage-3-dont.png
  src/pages/components/content-switcher/images/contentswitcher-usage-4.png
  src/pages/components/content-switcher/style.mdx
  src/pages/components/content-switcher/usage.mdx
Labels: status: ready to merge 🎉

#2493 docs(dataviz): add histogram
  package.json
  src/pages/data-visualization/chart-types/index.mdx
  yarn.lock
Labels: status: ready to merge 🎉

#2496 docs(web-components): introduce CDN feature
  src/pages/developing/frameworks/web-components.mdx
Labels: status: visual review 🔍, status: one more review 👀

#2505 chore(project): update carbon to v10.42.0
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#2488 fix(Icons): add additional logic to handle glyph-only icons
  src/components/SVGLibraries/shared/ActionBar.js
  src/components/SVGLibraries/shared/SvgCard.js
Labels: status: ready to merge 🎉

#2495 fix: color implementation link
  src/pages/migrating/guide/design.mdx
Labels: status: ready to merge 🎉

#2526 docs: add myself to team page 👋
  src/pages/all-about-carbon/images/team/harvey_joe.png
  src/pages/all-about-carbon/the-team.mdx
Labels: status: ready to merge 🎉

#2512 docs(v11): update type tokens on style tabs
  src/pages/components/UI-shell-header/style.mdx
  src/pages/components/UI-shell-left-panel/style.mdx
  src/pages/components/UI-shell-right-panel/style.mdx
  src/pages/components/accordion/style.mdx
  src/pages/components/breadcrumb/style.mdx
  src/pages/components/button/style.mdx
  src/pages/components/checkbox/style.mdx
  src/pages/components/code-snippet/style.mdx
  src/pages/components/content-switcher/style.mdx
  src/pages/components/data-table/style.mdx
  src/pages/components/dropdown/style.mdx
  src/pages/components/file-uploader/style.mdx
  src/pages/components/form/style.mdx
  src/pages/components/inline-loading/style.mdx
  src/pages/components/link/style.mdx
  src/pages/components/list/style.mdx
  src/pages/components/modal/style.mdx
  src/pages/components/notification/style.mdx
  src/pages/components/number-input/style.mdx
  src/pages/components/overflow-menu/style.mdx
  src/pages/components/pagination/style.mdx
  src/pages/components/progress-indicator/style.mdx
  src/pages/components/radio-button/style.mdx
  src/pages/components/search/style.mdx
  src/pages/components/select/style.mdx
  src/pages/components/slider/style.mdx
  src/pages/components/structured-list/style.mdx
  src/pages/components/tabs/style.mdx
  src/pages/components/tag/style.mdx
  src/pages/components/text-input/style.mdx
  src/pages/components/toggle/style.mdx
  src/pages/components/tooltip/style.mdx
Labels: status: ready to merge 🎉
