Repository carbon-design-system/carbon-website, pull requests merged in 2022-04, with the labels that each got.

#2849 fix(faq): update browser support for v11 to remove IE11
  src/pages/help/faq/index.mdx
Labels: status: ready to merge 🎉

#2856 fix(icons): update file path for glyphs
  src/components/SVGLibraries/IconLibrary/IconLibrary.js
Labels: status: ready to merge 🎉

#2845 fix(homepage): use new corrected banner image
  src/components/Homepage/Carbon-V11-Banner-Image.jpg
  src/components/Homepage/Carbon-V11-Banner-Image.svg
  src/components/Homepage/Carbon-V11-Release-Image.jpg
  src/gatsby-theme-carbon/templates/Homepage.js
Labels: status: ready to merge 🎉

#2854 docs: update checkbox style tab
  src/pages/components/checkbox/images/checkbox-style-3.png
  src/pages/components/checkbox/images/checkbox-style-4.png
  src/pages/components/checkbox/style.mdx
Labels: status: ready to merge 🎉

#2858 QA: Color token roles
  src/data/guidelines/color-tokens.js
Labels: status: ready to merge 🎉

#2860 migration: update design intro
  src/pages/migrating/guide/design.mdx
Labels: status: ready to merge 🎉

#2837 Update usage.mdx
  src/pages/components/code-snippet/usage.mdx
Labels: status: ready to merge 🎉

#2859 docs: fix pagination style tab spec images
  src/pages/components/pagination/images/pagination-style-1.png
  src/pages/components/pagination/images/pagination-style-2.png
  src/pages/components/pagination/style.mdx
Labels: status: ready to merge 🎉

#2866 docs(frameworks): update framework support pages
  .gitignore
  src/pages/components/code-snippet/usage.mdx
  src/pages/developing/frameworks/angular.mdx
  src/pages/developing/frameworks/other-frameworks.mdx
  src/pages/developing/frameworks/react.mdx
  src/pages/developing/frameworks/svelte.mdx
  src/pages/developing/frameworks/vanilla.mdx
  src/pages/developing/frameworks/vue.mdx
  src/pages/developing/frameworks/web-components.mdx
  src/pages/migrating/guide/design.mdx
Labels: status: ready to merge 🎉

#2871 ci: add gh-pages deploy
  .github/workflows/deploy.yml
Labels: status: ready to merge 🎉

#2870 docs(notification): remove invalid migration note
  src/pages/migrating/guide/develop.mdx
Labels: status: ready to merge 🎉

#2857 fix(grid): update usage docs for v11
  src/pages/guidelines/2x-grid/implementation.mdx
Labels: status: ready to merge 🎉

#2865 fix(vanilla): update cdn links for v10
  .github/workflows/deploy.yml
  src/pages/developing/frameworks/vanilla.mdx
Labels: version: 10, status: ready to merge 🎉

#2855 2848 update typography page
  src/pages/guidelines/typography/code.mdx
Labels: status: ready to merge 🎉

#2873 docs(developing): update frameworks sentence
  src/pages/developing/get-started.mdx
Labels: status: ready to merge 🎉

#2863 chore: add redirects
  conf.d/rewrite.conf
Labels: status: ready to merge 🎉

#2878 ci: add CNAME file when deploying
  .github/workflows/deploy.yml
Labels: status: ready to merge 🎉

#2874 chore(carbon): update dependencies to latest
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#2869 Break apart color token table
  src/components/ColorTokenTable/ColorTokenTable.js
  src/data/guidelines/color-tokens.js
Labels: status: ready to merge 🎉

#2877 docs: add a11y figma kit to resources page
  src/pages/designing/design-resources/images/figma.svg
  src/pages/designing/design-resources/index.mdx
Labels: status: ready to merge 🎉

#2828 Update usage.mdx
  src/pages/components/accordion/usage.mdx
Labels: status: ready to merge 🎉

#2868 docs(modal): Update usage.mdx
  src/pages/components/file-uploader/images/file-uploader-usage-1.png
  src/pages/components/file-uploader/style.mdx
  src/pages/components/file-uploader/usage.mdx
Labels: status: one more review 👀

#2831 Update usage.mdx
  src/pages/components/checkbox/usage.mdx
Labels: status: one more review 👀, status: ready for review 👀

#2881 feat(project): automatically add new issues to github project
  .github/workflows/issue-triage.yml
Labels: status: ready to merge 🎉

#2886 File uploader accessibility
  src/pages/components/code-snippet/accessibility.mdx
  src/pages/components/data-table/accessibility.mdx
  src/pages/components/file-uploader/accessibility.mdx
  src/pages/components/file-uploader/images/file-uploader-accessibility-1.png
  src/pages/components/file-uploader/images/file-uploader-accessibility-2.png
  src/pages/components/file-uploader/usage.mdx
Labels: status: ready to merge 🎉

#2887 docs: update file uploader content and images
  src/pages/components/file-uploader/images/file-uploader-style-1.png
  src/pages/components/file-uploader/images/file-uploader-style-3.png
  src/pages/components/file-uploader/images/file-uploader-style-5.png
  src/pages/components/file-uploader/images/file-uploader-usage-10a.png
  src/pages/components/file-uploader/images/file-uploader-usage-10b.png
  src/pages/components/file-uploader/images/file-uploader-usage-7a.png
  src/pages/components/file-uploader/style.mdx
Labels: status: ready to merge 🎉

#2899 fix(ComponentDemo): reset contextual tokens
  src/components/ComponentDemo/ComponentDemo.module.scss
Labels: status: ready to merge 🎉

#2905 docs(figma): update v11 comms
  src/pages/designing/kits/figma.mdx
  src/pages/migrating/guide/design.mdx
Labels: status: ready to merge 🎉

#2861 docs(vanilla): update vanilla js docs
  src/pages/developing/frameworks/angular.mdx
  src/pages/developing/frameworks/other-frameworks.mdx
  src/pages/developing/frameworks/react.mdx
  src/pages/developing/frameworks/svelte.mdx
  src/pages/developing/frameworks/vanilla.mdx
  src/pages/developing/frameworks/vue.mdx
  src/pages/developing/frameworks/web-components.mdx
Labels: status: ready to merge 🎉
