Repository carbon-design-system/carbon-website, pull requests merged in 2022-11, with the labels that each got.

#3224 pagination accessibility update
  src/pages/components/pagination/accessibility.mdx
  src/pages/components/pagination/images/pagination-accessibility-1.png
  src/pages/components/pagination/images/pagination-accessibility-2.png
  src/pages/components/pagination/images/pagination-accessibility-3.png
Labels: status: ready to merge 🎉

#3223 accessibilty content for right panel
  src/pages/components/UI-shell-right-panel/accessibility.mdx
  src/pages/components/UI-shell-right-panel/code.mdx
  src/pages/components/UI-shell-right-panel/images/right-panel-accessibility-1.png
  src/pages/components/UI-shell-right-panel/images/right-panel-accessibility-2.png
  src/pages/components/UI-shell-right-panel/images/right-panel-accessibility-3.png
  src/pages/components/UI-shell-right-panel/style.mdx
  src/pages/components/UI-shell-right-panel/usage.mdx
Labels: status: ready to merge 🎉

#3242 fix(analytics): set SPA to false
  gatsby-ssr.js
Labels: role: dev 🤖

#3240 ci(content-sync): use github app for proper permissions scope
  .github/workflows/platform-content-sync.yml
Labels: status: ready to merge 🎉, role: dev 🤖

#3244 docs: revise a11y images and content
  src/pages/components/UI-shell-header/images/header-accessibility-1.png
  src/pages/components/UI-shell-header/images/header-accessibility-4.png
  src/pages/components/UI-shell-header/images/header-accessibility-5.png
  src/pages/components/UI-shell-left-panel/accessibility.mdx
  src/pages/components/UI-shell-left-panel/images/left-nav-accessibility-1.png
  src/pages/components/UI-shell-left-panel/images/left-nav-accessibility-2.png
  src/pages/components/UI-shell-left-panel/images/left-nav-accessibility-3.png
  src/pages/components/UI-shell-right-panel/accessibility.mdx
  src/pages/components/UI-shell-right-panel/images/right-panel-a11y-1.png
  src/pages/components/UI-shell-right-panel/images/right-panel-a11y-2.png
  src/pages/components/UI-shell-right-panel/images/right-panel-a11y-3.png
  src/pages/components/UI-shell-right-panel/images/right-panel-accessibility-1.png
  src/pages/components/UI-shell-right-panel/images/right-panel-accessibility-2.png
  src/pages/components/UI-shell-right-panel/images/right-panel-accessibility-3.png
  src/pages/components/button/images/button-accessibility-4.png
  src/pages/components/pagination/accessibility.mdx
  src/pages/components/pagination/images/pagination-a11y-1.png
  src/pages/components/pagination/images/pagination-a11y-2.png
  src/pages/components/pagination/images/pagination-a11y-3.png
  src/pages/components/pagination/images/pagination-accessibility-1.png
  src/pages/components/pagination/images/pagination-accessibility-2.png
  src/pages/components/pagination/images/pagination-accessibility-3.png
Labels: status: one more review 👀, status: ready for review 👀

#3253 fixing a typo on the Spacing page
  src/pages/guidelines/spacing/overview.mdx
Labels: status: ready to merge 🎉

#3233 feat: remove component index
  gatsby-node.js
  src/components/ComponentIndexPage/ComponentIndexList.js
  src/components/ComponentIndexPage/ComponentIndexListItem.js
  src/components/ComponentIndexPage/ComponentIndexNotFound.js
  src/components/ComponentIndexPage/ComponentIndexSearch.js
  src/components/ComponentIndexPage/ComponentIndexSort.js
  src/components/ComponentIndexPage/component-index.scss
  src/components/ComponentIndexPage/images/Angular.svg
  src/components/ComponentIndexPage/images/Axure.svg
  src/components/ComponentIndexPage/images/Figma.svg
  src/components/ComponentIndexPage/images/React.svg
  src/components/ComponentIndexPage/images/Sketch.svg
  src/components/ComponentIndexPage/images/Vanilla.svg
  src/components/ComponentIndexPage/images/Vue.svg
  src/components/ComponentIndexPage/images/XD.svg
  src/components/ComponentIndexPage/images/placeholder.svg
  src/components/ComponentIndexPage/images/placeholderCompIndex.svg
  src/components/ComponentIndexPage/index.js
  src/components/ComponentIndexPage/useComponentIndexData.js
  src/pages/community/component-index.mdx
  src/pages/community/contribute-a-component.mdx
  src/pages/community/images/carbon.svg
  src/pages/community/images/ecosystem.png
  src/pages/community/overview.mdx
  src/pages/community/patterns/index.mdx
  src/styles/index.scss
Labels: status: ready to merge 🎉

#3228 feat: add sass faq
  src/pages/migrating/faq.mdx
Labels: status: ready to merge 🎉

#3211 fix: missing images on platform art direction line breaks
  src/pages/components/accordion/usage.mdx
  src/pages/data-visualization/chart-anatomy/index.mdx
  src/pages/data-visualization/legends/index.mdx
  src/pages/guidelines/color/overview.mdx
  src/pages/guidelines/pictograms/usage.mdx
Labels: status: ready to merge 🎉

#3256 Update usage.mdx
  src/pages/components/toggle/usage.mdx
Labels: status: ready to merge 🎉

#3276 fix(RadioButton): fix a11y issues with `RadioButtonGroup`
  src/components/ComponentDemo/ComponentDemo.module.scss
  src/components/ComponentDemo/KnobContainer.js
  src/pages/components/radio-button/code.mdx
  src/pages/components/radio-button/usage.mdx
Labels: status: ready to merge 🎉

#3280 docs: fix filter pattern icon images
  src/pages/patterns/filtering/images/filter-4.png
  src/pages/patterns/filtering/images/filter-5.png
  src/pages/patterns/filtering/images/filter-6.png
  src/pages/patterns/filtering/index.mdx
Labels: status: ready to merge 🎉

#3251 Update accessibility.mdx
  src/pages/components/tree-view/accessibility.mdx
  src/pages/components/tree-view/images/tree-view-accessibility-1.png
  src/pages/components/tree-view/images/tree-view-accessibility-2.png
Labels: status: ready to merge 🎉
