Repository carbon-design-system/carbon-website, pull requests merged in 2023-11, with the labels that each got.

#3710 feat: convert React tutorial to NextJS tutorial
  README.md
  src/pages/all-about-carbon/what-is-carbon.mdx
  src/pages/all-about-carbon/who-uses-carbon.mdx
  src/pages/developing/frameworks/react.mdx
  src/pages/developing/get-started.mdx
  src/pages/developing/react-tutorial/faq.mdx
  src/pages/developing/react-tutorial/images/carbon-badge.png
  src/pages/developing/react-tutorial/overview.mdx
  src/pages/developing/react-tutorial/step-1.mdx
  src/pages/developing/react-tutorial/step-2.mdx
  src/pages/developing/react-tutorial/step-3.mdx
  src/pages/developing/react-tutorial/step-4.mdx
  src/pages/developing/react-tutorial/step-5.mdx
  src/pages/developing/react-tutorial/wrapping-up.mdx
  src/pages/developing/shared/step-2/images/landing-layout.png
  src/pages/developing/shared/step-2/images/landing-r1-spacing.png
  src/pages/developing/shared/step-2/images/landing-r1-type.png
  src/pages/developing/shared/step-2/images/landing-r2-spacing.png
  src/pages/developing/shared/step-2/images/landing-r3-spacing.png
  src/pages/developing/shared/step-4/images/info-layout.png
  src/pages/developing/shared/step-4/images/info-spacing.png
Labels: status: ready to merge 🎉

#3793 Fix broken link in lwc.mdx
  src/pages/developing/frameworks/lwc.mdx
Labels: status: ready to merge 🎉

#3799 fix(releases): create page redirect from old location to the new location
  gatsby-node.js
Labels: status: ready to merge 🎉, role: dev 🤖

#3794 fix: broken link on Designing > get started page
  src/pages/designing/get-started.mdx
Labels: status: ready to merge 🎉

#3801 chore(website): update to yarn 4
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .yarn/install-state.gz
  .yarnrc.yml
  docs/deployment.md
  package.json
  yarn.lock
Labels: status: ready for review 👀, status: ready to merge 🎉, role: dev 🤖, type: infrastructure 🤖

#3809 chore(project): upgrade to node 20
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/update-carbon-gatsby-deps.yml
  .nvmrc
  .yarn/install-state.gz
  package.json
Labels: status: one more review 👀, status: ready for review 👀, status: ready to merge 🎉

#3804 chore(website): Update LWC Framework page
  src/pages/developing/frameworks/lwc.mdx
Labels: status: one more review 👀, status: ready to merge 🎉

#3789 docs: update slider with range variant
  .github/workflows/ci.yml
  .yarn/install-state.gz
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  src/pages/components/slider/accessibility.mdx
  src/pages/components/slider/code.mdx
  src/pages/components/slider/images/anatomy-default-slider.png
  src/pages/components/slider/images/anatomy-range-slider.png
  src/pages/components/slider/images/color-default-slider.png
  src/pages/components/slider/images/color-range-slider.png
  src/pages/components/slider/images/content-range-slider-do.png
  src/pages/components/slider/images/content-range-slider-dont.png
  src/pages/components/slider/images/default-slider-ui.png
  src/pages/components/slider/images/range-slider-ui.png
  src/pages/components/slider/images/slider-accessibility-1.png
  src/pages/components/slider/images/slider-accessibility-2.png
  src/pages/components/slider/images/slider-accessibility-4.png
  src/pages/components/slider/images/slider-accessibility-5.png
  src/pages/components/slider/images/slider-accessibility-6.png
  src/pages/components/slider/images/slider-accessibility-default-mp4-image.png
  src/pages/components/slider/images/slider-accessibility-range-mp4-image.png
  src/pages/components/slider/images/slider-default-style-states.png
  src/pages/components/slider/images/slider-modifier-tooltip.png
  src/pages/components/slider/images/slider-range-style-states.png
  src/pages/components/slider/images/slider-style-color.png
  src/pages/components/slider/images/slider-style-spec-enabled.png
  src/pages/components/slider/images/slider-style-spec-error.png
  src/pages/components/slider/images/slider-style-states.png
  src/pages/components/slider/images/slider-style-structure-default-enabled.png
  src/pages/components/slider/images/slider-style-structure-default-error.png
  src/pages/components/slider/images/slider-style-structure-default-tooltip.png
  src/pages/components/slider/images/slider-style-structure-range-enabled.png
  src/pages/components/slider/images/slider-style-structure-range-error.png
  src/pages/components/slider/images/slider-style-structure-range-tooltip.png
  src/pages/components/slider/images/slider-usage-animation-1.gif
  src/pages/components/slider/images/slider-usage-overview.png
  src/pages/components/slider/images/slider-usage-states.png
  src/pages/components/slider/images/variant-range-slider-do.png
  src/pages/components/slider/images/variant-range-slider-dont.png
  src/pages/components/slider/style.mdx
  src/pages/components/slider/usage.mdx
  src/pages/components/slider/videos/default-slider-demo.mp4
  src/pages/components/slider/videos/range-slider-demo.mp4
  src/pages/components/slider/videos/slider.mp4
Labels: status: ready to merge 🎉

#3814 fix: broken link in chatbot pattern docs
  src/pages/community/patterns/chatbot/content.mdx
Labels: status: ready to merge 🎉
