Repository carbon-design-system/carbon-website, pull requests merged in 2023-10, with the labels that each got.

#3756 docs: and Carbon champion names
  src/pages/contributing/get-started.mdx
Labels: status: ready to merge 🎉

#3746 Update step-4 documentation due to mistype founded in ```InfoSection``` reference code
  src/pages/developing/react-tutorial/step-4.mdx
Labels: status: ready to merge 🎉

#3764 Delete .github/workflows/platform-content-sync.yml
  .github/workflows/platform-content-sync.yml
Labels: status: ready to merge 🎉, status: enable automerge 🟠

#3772 Update get-started.mdx
  src/pages/contributing/get-started.mdx
Labels: status: one more review 👀, status: ready for review 👀, status: ready to merge 🎉

#3781 (date picker) update broken link in variant table
  src/pages/components/date-picker/usage.mdx
Labels: status: one more review 👀

#3785 fix(homepage): correct contributing link
  src/gatsby-theme-carbon/templates/Homepage.js
Labels: status: ready to merge 🎉

#3786 Update vue.mdx
  src/pages/developing/frameworks/vue.mdx
Labels: status: ready to merge 🎉

#3766 Update get-started.mdx
  src/pages/contributing/get-started.mdx
Labels: status: ready to merge 🎉

#3763 feat(ContributionGallery): now in MDX!
  .env.production
  src/gatsby-theme-carbon/components/ArticleCard/ArticleCard.js
  src/gatsby-theme-carbon/components/ArticleCard/article-card.scss
  src/gatsby-theme-carbon/components/ArticleCard/index.js
  src/pages/contributing/get-started.mdx
  src/pages/contributing/images/combo-button.gif
  src/pages/contributing/images/icon-only-switcher.gif
  src/pages/contributing/images/left-hand-nav-delay.gif
  src/pages/contributing/images/read-only-form-inputs.gif
  src/pages/contributing/images/rtl2.gif
  src/pages/contributing/images/two-handle-slider.gif
  src/styles/_images.scss
  src/styles/index.scss
Labels: status: ready to merge 🎉

#3782 docs: update releases page
  src/pages/all-about-carbon/releases.mdx
Labels: status: one more review 👀, status: ready to merge 🎉
