Repository carbon-design-system/carbon-website, pull requests merged in 2023-06, with the labels that each got.

#3575 chore: update version v11.30.0
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#3577 Fix migrating guide typo
  src/pages/migrating/guide/develop.mdx
Labels: status: ready to merge 🎉

#3560 docs: update warning/error slider images with adjusted spec
  src/pages/components/slider/images/slider-style-color.png
  src/pages/components/slider/images/slider-style-spec-enabled.png
  src/pages/components/slider/images/slider-style-spec-error.png
  src/pages/components/slider/images/slider-style-states.png
  src/pages/components/slider/images/slider-usage-overview.png
  src/pages/components/slider/images/slider-usage-states.png
  src/pages/components/slider/style.mdx
  src/pages/components/slider/usage.mdx
Labels: status: ready to merge 🎉

#3561 docs: add localized date content to date picker
  src/pages/components/date-picker/images/date-picker-usage-localized.png
  src/pages/components/date-picker/usage.mdx
Labels: status: ready to merge 🎉

#3576 docs(V10): add more information about v10 tokens in v11
  src/pages/migrating/faq.mdx
  src/pages/migrating/guide/develop.mdx
Labels: status: visual review 🔍, status: one more review 👀, status: ready to merge 🎉

#3583 docs: update vanilla framework docs
  src/pages/developing/frameworks/other-frameworks.mdx
  src/pages/developing/frameworks/vanilla.mdx
Labels: status: ready to merge 🎉

#3602 fix: update broken link on form component usage tab
  src/pages/components/form/usage.mdx
Labels: status: ready to merge 🎉

#3588 Update get-started.mdx
  src/pages/designing/get-started.mdx
Labels: status: visual review 🔍

#3587 Color docs: Update tab names for consistency
  conf.d/rewrite.conf
  src/pages/guidelines/color/code.mdx
  src/pages/guidelines/color/implementation.mdx
  src/pages/guidelines/color/overview.mdx
  src/pages/guidelines/color/tokens.mdx
  src/pages/guidelines/color/usage.mdx
Labels: type: docs 📖, status: ready to merge 🎉

#3605 chore(deps): update carbon deps to RC
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#3610 chore(deps): update carbon to stable release
  package.json
  yarn.lock
Labels: status: visual review 🔍, status: ready for review 👀
