Repository carbon-design-system/carbon-website, pull requests merged in 2023-02, with the labels that each got.

#3374 Update .kodiak.toml
  .kodiak.toml
Labels: status: ready to merge 🎉

#3373 fix(v10): remove outdated info about the v11 release
  src/gatsby-theme-carbon/templates/Homepage.js
  src/pages/whats-happening/v11-release/images/carbon_2021-april-update.png
  src/pages/whats-happening/v11-release/images/carbon_2021-beta-1.png
  src/pages/whats-happening/v11-release/images/carbon_2021-beta-2.png
  src/pages/whats-happening/v11-release/images/carbon_2021-beta-3.png
  src/pages/whats-happening/v11-release/images/carbon_2021.png
  src/pages/whats-happening/v11-release/index.mdx
Labels: status: ready to merge 🎉

#3376 Rename sync-platform-branch to sync-platform-branch.yml
  .github/workflows/sync-platform-branch.yml
Labels: status: ready for review 👀, status: enable automerge 🟠

#3369 fix(react): replace codesandbox link with stackblitz
  src/components/MdxIcon/icons/stackblitz.svg
  src/components/MdxIcon/index.js
  src/pages/developing/frameworks/react.mdx
Labels: status: one more review 👀, status: ready to merge 🎉

#3380 Carbon platform update
  .github/workflows/deploy.yml
  .github/workflows/sync-platform-branch.yml
  .kodiak.toml
  package.json
  src/components/ColorGrid/ColorGrid.js
  src/data/guidelines/color-tokens.js
  src/data/status-indicators/palettes.js
  src/data/status-indicators/status-indicators.yaml
  src/pages/components/dropdown/accessibility.mdx
  src/pages/components/dropdown/images/dropdown-accessibility-1.png
  src/pages/components/dropdown/images/dropdown-accessibility-2.png
  src/pages/components/dropdown/images/dropdown-accessibility-3.png
  src/pages/components/dropdown/images/dropdown-accessibility-4.png
  src/pages/components/loading/accessibility.mdx
  src/pages/components/modal/accessibility.mdx
  src/pages/components/overflow-menu/accessibility.mdx
  src/pages/components/search/accessibility.mdx
  src/pages/components/select/accessibility.mdx
  src/pages/components/select/images/select-accessibility-1.png
  src/pages/components/select/images/select-accessibility-2.png
  src/pages/patterns/forms-pattern/index.mdx
  src/pages/patterns/status-indicator-pattern/images/status_indicator_13.png
  src/pages/patterns/status-indicator-pattern/images/status_indicator_14.png
  src/pages/patterns/status-indicator-pattern/images/status_indicator_5.png
  src/pages/patterns/status-indicator-pattern/images/status_indicator_6.png
  static/status-icons/glyph/dark/circle-fill.svg
  static/status-icons/glyph/light/circle-fill.svg
  static/status-icons/glyph/light/incomplete.svg
  static/status-icons/glyph/light/new.svg
  static/status-icons/glyph/light/square-fill.svg
  static/status-icons/low/light/information-circle-filled.svg
  static/status-icons/low/light/information-circle-outline.svg
  static/status-icons/low/light/information-square-filled.svg
  static/status-icons/low/light/information-square-outline.svg
  static/status-icons/medium/dark/checkmark-circle-green-filled.svg
  static/status-icons/medium/dark/checkmark-circle-green-outline.svg
  static/status-icons/medium/dark/checkmark.svg
  static/status-icons/medium/light/checkmark-circle-blue-filled.svg
  static/status-icons/medium/light/checkmark-circle-blue-outline.svg
  static/status-icons/medium/light/checkmark-circle-green-filled.svg
  static/status-icons/medium/light/checkmark-circle-green-outline.svg
  static/status-icons/medium/light/checkmark.svg
  static/status-icons/medium/light/circle-dash.svg
  static/status-icons/medium/light/incomplete.svg
  static/status-icons/medium/light/inprogress.svg
  yarn.lock
Labels: status: ready for review 👀

#3383 fix(migration): clarify package usage recommendation
  src/pages/migrating/guide/develop.mdx
Labels: role: dev 🤖, status: enable automerge 🟠

#3366 docs: data table comp/react tutorial links/typos
  src/pages/components/data-table/code.mdx
  src/pages/components/data-table/usage.mdx
  src/pages/developing/react-tutorial/step-2.mdx
  src/pages/developing/react-tutorial/step-3.mdx
  src/pages/developing/react-tutorial/step-5.mdx
Labels: status: ready to merge 🎉

#3385 Use Github Script action to sync carbon-platform. branch
  .github/workflows/sync-platform-branch.yml
Labels: status: ready to merge 🎉

#3382 Fluid pattern v2
  .github/workflows/deploy.yml
  .github/workflows/sync-platform-branch.yml
  .kodiak.toml
  package.json
  src/components/ColorGrid/ColorGrid.js
  src/components/MdxIcon/icons/stackblitz.svg
  src/components/MdxIcon/index.js
  src/data/guidelines/color-tokens.js
  src/data/nav-items.yaml
  src/data/status-indicators/palettes.js
  src/data/status-indicators/status-indicators.yaml
  src/pages/components/dropdown/accessibility.mdx
  src/pages/components/dropdown/images/dropdown-accessibility-1.png
  src/pages/components/dropdown/images/dropdown-accessibility-2.png
  src/pages/components/dropdown/images/dropdown-accessibility-3.png
  src/pages/components/dropdown/images/dropdown-accessibility-4.png
  src/pages/components/select/accessibility.mdx
  src/pages/components/select/images/select-accessibility-1.png
  src/pages/components/select/images/select-accessibility-2.png
  src/pages/components/tooltip/accessibility.mdx
  src/pages/developing/frameworks/react.mdx
  src/pages/patterns/fluid-styles/images/Layout_overview_Fluid-base-unit.svg
  src/pages/patterns/fluid-styles/images/fluid-pattern-button-2.png
  src/pages/patterns/fluid-styles/images/fluid-pattern-buttons.png
  src/pages/patterns/fluid-styles/images/fluid-pattern-form.png
  src/pages/patterns/fluid-styles/images/fluid-pattern-inputs-1.png
  src/pages/patterns/fluid-styles/images/fluid-pattern-inputs-2.png
  src/pages/patterns/fluid-styles/images/fluid-pattern-overview.png
  src/pages/patterns/fluid-styles/images/fluid-pattern-placement.png
  src/pages/patterns/fluid-styles/images/form-usage-4-do.png
  src/pages/patterns/fluid-styles/images/form-usage-4-dont.png
  src/pages/patterns/fluid-styles/index.mdx
  src/pages/patterns/forms-pattern/index.mdx
  src/pages/patterns/status-indicator-pattern/images/status_indicator_13.png
  src/pages/patterns/status-indicator-pattern/images/status_indicator_14.png
  src/pages/patterns/status-indicator-pattern/images/status_indicator_5.png
  src/pages/patterns/status-indicator-pattern/images/status_indicator_6.png
  static/status-icons/glyph/dark/circle-fill.svg
  static/status-icons/glyph/light/circle-fill.svg
  static/status-icons/glyph/light/incomplete.svg
  static/status-icons/glyph/light/new.svg
  static/status-icons/glyph/light/square-fill.svg
  static/status-icons/low/light/information-circle-filled.svg
  static/status-icons/low/light/information-circle-outline.svg
  static/status-icons/low/light/information-square-filled.svg
  static/status-icons/low/light/information-square-outline.svg
  static/status-icons/medium/dark/checkmark-circle-green-filled.svg
  static/status-icons/medium/dark/checkmark-circle-green-outline.svg
  static/status-icons/medium/dark/checkmark.svg
  static/status-icons/medium/light/checkmark-circle-blue-filled.svg
  static/status-icons/medium/light/checkmark-circle-blue-outline.svg
  static/status-icons/medium/light/checkmark-circle-green-filled.svg
  static/status-icons/medium/light/checkmark-circle-green-outline.svg
  static/status-icons/medium/light/checkmark.svg
  static/status-icons/medium/light/circle-dash.svg
  static/status-icons/medium/light/incomplete.svg
  static/status-icons/medium/light/inprogress.svg
  yarn.lock
Labels: status: ready for review 👀

#3397 fix(releases): updated the link to the roadmap
  src/pages/all-about-carbon/releases.mdx
Labels: status: one more review 👀, status: ready to merge 🎉

#3400 bug: remove fixed in images
  src/pages/components/dropdown/images/dropdown-usage-formatting-1.png
  src/pages/components/dropdown/usage.mdx
  src/pages/components/number-input/images/number-input-usage-11.png
  src/pages/components/number-input/usage.mdx
  src/pages/components/search/usage.mdx
Labels: status: ready to merge 🎉

#3398 feat(docs): add TreeView LiveDemo
  src/data/docgen/react-docgen.json
  src/pages/components/tree-view/code.mdx
  src/pages/components/tree-view/usage.mdx
Labels: status: ready to merge 🎉
