Repository carbon-design-system/carbon-website, pull requests merged in 2023-05, with the labels that each got.

#3512 docs: add slider error and warning states
  src/pages/components/slider/images/slider-style-spec-enabled.png
  src/pages/components/slider/images/slider-style-spec-error.png
  src/pages/components/slider/images/slider-style-spec.png
  src/pages/components/slider/images/slider-style-states.png
  src/pages/components/slider/images/slider-usage-states.png
  src/pages/components/slider/style.mdx
  src/pages/components/slider/usage.mdx
Labels: status: ready to merge 🎉

#3502 docs(read-only): text area docs
  src/pages/components/text-input/images/text-area-style-color-fixed.png
  src/pages/components/text-input/images/text-area-style-color-fluid.png
  src/pages/components/text-input/images/text-area-style-states-fixed.png
  src/pages/components/text-input/images/text-area-style-states-fluid.png
  src/pages/components/text-input/images/text-area-style-structure-fixed.png
  src/pages/components/text-input/images/text-area-style-structure-fluid.png
  src/pages/components/text-input/images/text-input-style-states-fixed.png
  src/pages/components/text-input/images/text-input-style-states-fluid.png
  src/pages/components/text-input/images/text-input-style-structure-fluid.png
  src/pages/components/text-input/style.mdx
  src/pages/components/text-input/usage.mdx
Labels: status: ready to merge 🎉

#3500 docs(read-only): date and time picker docs
  src/pages/components/date-picker/images/calendar-picker-min-max.png
  src/pages/components/date-picker/images/date-picker-alignment-02.png
  src/pages/components/date-picker/images/date-picker-formatting-styling.png
  src/pages/components/date-picker/images/date-picker-sizes-fluid.png
  src/pages/components/date-picker/images/date-picker-sizes.png
  src/pages/components/date-picker/images/date-picker-style-2.png
  src/pages/components/date-picker/images/date-picker-style-3.png
  src/pages/components/date-picker/images/date-picker-style-6-fluid.png
  src/pages/components/date-picker/images/date-picker-style-6.png
  src/pages/components/date-picker/images/date-picker-style-7-fluid.png
  src/pages/components/date-picker/images/date-picker-style-7.png
  src/pages/components/date-picker/images/date-picker-style-color-calendar.png
  src/pages/components/date-picker/images/date-picker-style-color-default.png
  src/pages/components/date-picker/images/date-picker-style-color-fluid.png
  src/pages/components/date-picker/images/date-picker-style-size.png
  src/pages/components/date-picker/images/date-picker-style-states-default.png
  src/pages/components/date-picker/images/date-picker-style-states-fluid.png
  src/pages/components/date-picker/images/date-picker-validation.png
  src/pages/components/date-picker/images/range-date-picker.png
  src/pages/components/date-picker/images/simple-date-input-states-default.png
  src/pages/components/date-picker/images/simple-date-input-states-fluid.png
  src/pages/components/date-picker/images/time-picker-style-color-default.png
  src/pages/components/date-picker/images/time-picker-style-color-fluid.png
  src/pages/components/date-picker/images/time-picker-style-size.png
  src/pages/components/date-picker/images/time-picker-style-states-default.png
  src/pages/components/date-picker/images/time-picker-style-states-fluid.png
  src/pages/components/date-picker/style.mdx
  src/pages/components/date-picker/usage.mdx
Labels: status: ready to merge 🎉

#3525 fix(wip): removed the wip page
  conf.d/rewrite.conf
  src/data/nav-items.yaml
  src/pages/all-about-carbon/who-uses-carbon.mdx
  src/pages/help/faq/index.mdx
  src/pages/whats-happening/work-in-progress/images/github-icon.png
  src/pages/whats-happening/work-in-progress/images/sketch-icon.png
  src/pages/whats-happening/work-in-progress/index.mdx
Labels: status: ready to merge 🎉

#3530 docs(dev resources): minor updates to the dev resources page
  src/pages/developing/dev-resources/index.mdx
Labels: status: ready to merge 🎉

#3534 docs(about): minor updates to about pages
  src/pages/all-about-carbon/how-carbon-works.mdx
  src/pages/all-about-carbon/what-is-carbon.mdx
  src/pages/all-about-carbon/who-uses-carbon.mdx
  src/pages/developing/get-started.mdx
Labels: status: one more review 👀

#3497 docs(grid): new code tab
  src/pages/guidelines/2x-grid/code.mdx
  src/pages/guidelines/2x-grid/implementation.mdx
  src/pages/guidelines/2x-grid/overview.mdx
  src/pages/guidelines/color/code.mdx
  src/pages/guidelines/motion/code.mdx
  src/pages/guidelines/spacing/code.mdx
  src/pages/guidelines/themes/code.mdx
  src/pages/guidelines/typography/code.mdx
Labels: status: visual review 🔍, status: ready for review 👀, status: content review ✍️, status: ready to merge 🎉

#3522 fix: rewrite designing pages
  src/data/nav-items.yaml
  src/pages/all-about-carbon/what-is-carbon.mdx
  src/pages/designing/design-resources/index.mdx
  src/pages/designing/get-started.mdx
  src/pages/designing/kits/adobe-xd.mdx
  src/pages/designing/kits/axure.mdx
  src/pages/designing/kits/figma.mdx
  src/pages/designing/kits/sketch.mdx
  src/pages/designing/tutorials.mdx
Labels: status: ready for review 👀, status: ready to merge 🎉

#3540 docs(migration): prefix removal carbon-- v11
  src/pages/migrating/guide/develop.mdx
Labels: type: enhancement 💡, type: docs 📖, status: ready to merge 🎉

#3523 [Select] Update doc for select component
  src/pages/components/select/images/select-accessibility-1.png
  src/pages/components/select/images/select-accessibility-2.png
  src/pages/components/select/images/select-anatomy-default.png
  src/pages/components/select/images/select-anatomy-fixed.png
  src/pages/components/select/images/select-anatomy-fluid.png
  src/pages/components/select/images/select-invalid-state-fixed.png
  src/pages/components/select/images/select-invalid-state-fluid.png
  src/pages/components/select/images/select-keyboard-interaction-fixed.png
  src/pages/components/select/images/select-keyboard-interaction-fluid.png
  src/pages/components/select/images/select-list-order.png
  src/pages/components/select/images/select-menu-order.png
  src/pages/components/select/images/select-mouse-interaction-fixed.png
  src/pages/components/select/images/select-mouse-interaction-fluid.png
  src/pages/components/select/images/select-sizes-fixed.png
  src/pages/components/select/images/select-sizes-fluid.png
  src/pages/components/select/images/select-states-default.png
  src/pages/components/select/images/select-states-fixed.png
  src/pages/components/select/images/select-states-fluid.png
  src/pages/components/select/images/select-style-color-fixed.png
  src/pages/components/select/images/select-style-color-fluid.png
  src/pages/components/select/images/select-style-default-size.png
  src/pages/components/select/images/select-style-enabled-default.png
  src/pages/components/select/images/select-style-enabled-fluid.png
  src/pages/components/select/images/select-style-inline-size.png
  src/pages/components/select/images/select-style-interactive-states-default.png
  src/pages/components/select/images/select-style-interactive-states-fluid.png
  src/pages/components/select/images/select-style-size-default.png
  src/pages/components/select/images/select-style-size-fluid.png
  src/pages/components/select/images/select-style-size-inline.png
  src/pages/components/select/images/select-style-sizes-default-inline.png
  src/pages/components/select/images/select-style-sizes-default.png
  src/pages/components/select/images/select-style-sizes-fluid.png
  src/pages/components/select/images/select-style-states-fixed.png
  src/pages/components/select/images/select-style-states-fluid.png
  src/pages/components/select/images/select-style-structure-default-fixed.png
  src/pages/components/select/images/select-style-structure-default-fluid.png
  src/pages/components/select/images/select-style-structure-default.png
  src/pages/components/select/images/select-style-structure-fluid.png
  src/pages/components/select/images/select-style-structure-inline-fixed.png
  src/pages/components/select/images/select-style-structure-inline.png
  src/pages/components/select/images/select-styles.png
  src/pages/components/select/images/select-usage-1.png
  src/pages/components/select/images/select-usage-2.png
  src/pages/components/select/images/select-usage-3.png
  src/pages/components/select/images/select-usage-4.png
  src/pages/components/select/images/select-usage-interaction-default.png
  src/pages/components/select/images/select-usage-interaction-fluid.png
  src/pages/components/select/images/select-usage-keyboard-interaction-default.png
  src/pages/components/select/images/select-usage-keyboard-interaction-fluid.png
  src/pages/components/select/images/select-usage-styling.png
  src/pages/components/select/style.mdx
  src/pages/components/select/usage.mdx
  src/pages/components/tabs/usage.mdx
Labels: status: ready to merge 🎉

#3315 Remove design recommendations sections where no content
  src/pages/components/pagination/accessibility.mdx
  src/pages/components/radio-button/accessibility.mdx
Labels: status: ready for review 👀, status: ready to merge 🎉

#3542 update: misc sketch maintenance
  conf.d/rewrite.conf
  src/pages/all-about-carbon/how-carbon-works.mdx
  src/pages/all-about-carbon/what-is-carbon.mdx
  src/pages/all-about-carbon/who-uses-carbon.mdx
  src/pages/contributing/contribute-icons.mdx
  src/pages/contributing/contribute-pictograms.mdx
  src/pages/data-visualization/getting-started/index.mdx
  src/pages/designing/design-resources/index.mdx
  src/pages/designing/get-started.mdx
  src/pages/guidelines/2x-grid/implementation.mdx
  src/pages/guidelines/2x-grid/overview.mdx
  src/pages/guidelines/accessibility/color.mdx
  src/pages/guidelines/accessibility/overview.mdx
  src/pages/guidelines/color/implementation.mdx
  src/pages/guidelines/icons/code.mdx
  src/pages/guidelines/icons/contribute.mdx
  src/pages/guidelines/icons/library.js
  src/pages/guidelines/icons/usage.mdx
  src/pages/guidelines/pictograms/code.mdx
  src/pages/guidelines/pictograms/contribute.mdx
  src/pages/guidelines/pictograms/library.js
  src/pages/guidelines/pictograms/usage.mdx
  src/pages/help/faq/index.mdx
  src/pages/migrating/faq.mdx
  src/pages/migrating/guide/design.mdx
  src/pages/migrating/guide/overview.mdx
Labels: status: ready to merge 🎉

#3557 [Progress bar] Update the images in Style tab
  src/pages/components/progress-bar/images/progress-bar-style-2.png
  src/pages/components/progress-bar/images/progress-bar-style-3.png
  src/pages/components/progress-bar/style.mdx
Labels: status: ready to merge 🎉

#3558 docs: update treeview spacing
  src/pages/components/tree-view/images/tree-view-style-2.png
  src/pages/components/tree-view/images/tree-view-style-4.png
  src/pages/components/tree-view/images/tree-view-usage-0.png
  src/pages/components/tree-view/images/tree-view-usage-1.png
  src/pages/components/tree-view/images/tree-view-usage-2.png
  src/pages/components/tree-view/images/tree-view-usage-3.png
  src/pages/components/tree-view/images/tree-view-usage-4.png
  src/pages/components/tree-view/images/tree-view-usage-5.png
  src/pages/components/tree-view/images/tree-view-usage-6.png
  src/pages/components/tree-view/images/tree-view-usage-7.png
  src/pages/components/tree-view/images/tree-view-usage-8.png
  src/pages/components/tree-view/images/tree-view-usage-do-10a.png
  src/pages/components/tree-view/images/tree-view-usage-dont-10b.png
  src/pages/components/tree-view/style.mdx
Labels: status: ready to merge 🎉
