Repository carbon-design-system/carbon-website, pull requests merged in 2023-12, with the labels that each got.

#3823 Update overview.mdx
  src/pages/developing/react-tutorial/overview.mdx
Labels: status: one more review 👀, status: ready for review 👀

#3825 Update overview.mdx
  src/pages/developing/vue-tutorial/overview.mdx
Labels: status: ready to merge 🎉

#3829 fix(website-pictograms): unhide watsonx pictograms
  src/components/SVGLibraries/PictogramLibrary/PictogramCategory.js
Labels: status: ready for review 👀, role: dev 🤖

#3824 Update overview.mdx
  src/pages/developing/angular-tutorial/overview.mdx
Labels: status: ready to merge 🎉

#3822 fix(components/contained-list): link to Angular dev resource
  .yarn/install-state.gz
  src/pages/components/contained-list/code.mdx
Labels: status: ready to merge 🎉

#3800 docs(contribution): added carbon tutorial
  src/pages/contributing/get-started.mdx
  src/pages/contributing/images/carbon-tutorial.gif
  src/pages/contributing/images/rtl2.gif
Labels: status: ready to merge 🎉

#3835 Update code.mdx
  src/pages/guidelines/typography/code.mdx
Labels: status: ready to merge 🎉

#3842 docs(text-area): added word counter guidance
  .yarn/install-state.gz
  src/pages/components/text-input/images/text-area-character-counter.png
  src/pages/components/text-input/images/text-area-usage-counter.png
  src/pages/components/text-input/images/text-area-word-counter.png
  src/pages/components/text-input/usage.mdx
  src/pages/guidelines/typography/code.mdx
Labels: status: ready to merge 🎉
