Repository carbon-design-system/carbon-website, pull requests merged in 2023-08, with the labels that each got.

#3679 v10: Update figma.mdx with theme deprecation files content
  src/pages/designing/kits/figma.mdx
  src/pages/designing/kits/images/kit-figma-1.png
  src/pages/designing/kits/images/kit-figma-2.png
Labels: status: ready to merge 🎉

#3674 docs: update v11 figma content with theme file deprecation change
  src/pages/designing/get-started.mdx
  src/pages/designing/kits/figma.mdx
  src/pages/designing/kits/images/axure-icon.png
  src/pages/designing/kits/images/axure-updates.png
  src/pages/designing/kits/images/kit-adobexd-1.png
  src/pages/designing/kits/images/kit-adobexd-2.png
  src/pages/designing/kits/images/kit-adobexd-3.png
  src/pages/designing/kits/images/kit-adobexd-4.png
  src/pages/designing/kits/images/kit-adobexd-5.png
  src/pages/designing/kits/images/kit-adobexd-6.png
  src/pages/designing/kits/images/kit-figma-1.png
  src/pages/designing/kits/images/kit-figma-2.png
  src/pages/designing/kits/images/kit-figma-3.png
  src/pages/designing/kits/images/kit-figma-4.png
  src/pages/designing/kits/images/kit-figma-5.png
  src/pages/migrating/guide/design.mdx
  src/pages/migrating/guide/overview.mdx
Labels: status: one more review 👀, status: ready for review 👀, DO NOT MERGE

#3684 chore: update carbon and gatsby-theme-carbon deps
  package.json
  src/components/ColorPalette/ColorPalette.module.scss
  src/pages/guidelines/motion/code.mdx
  src/pages/guidelines/spacing/code.mdx
  src/pages/guidelines/themes/code.mdx
  src/pages/guidelines/themes/overview.mdx
  src/pages/migrating/faq.mdx
  src/pages/migrating/guide/develop.mdx
  yarn.lock
Labels: status: ready for review 👀

#3693 docs(migration): added type token module
  src/pages/migrating/guide/develop.mdx
Labels: status: ready to merge 🎉

#3695 Update develop.mdx
  src/pages/migrating/guide/develop.mdx
Labels: status: ready to merge 🎉

#3707 fix: figma guidance content bug
  src/pages/designing/kits/figma.mdx
Labels: status: one more review 👀, status: ready for review 👀

#3708 [Tile] Update usage.mdx
  src/pages/components/tile/usage.mdx
Labels: status: ready to merge 🎉

#3706 fix(notification): remove links from live demo examples
  src/pages/components/notification/code.mdx
  src/pages/components/notification/usage.mdx
Labels: status: ready to merge 🎉

#3699 fix(docs): URL - /designing/tutorials/ is broken (404) added v10
  src/pages/all-about-carbon/who-uses-carbon.mdx
Labels: status: ready to merge 🎉

#3655 docs: update tooltip content from a11y review
  src/pages/components/tooltip/images/definition_tooltip_image.png
  src/pages/components/tooltip/images/interactive_tooltip.png
  src/pages/components/tooltip/images/tooltip-style-1.png
  src/pages/components/tooltip/images/tooltip-style-2.png
  src/pages/components/tooltip/images/tooltip-style-3.png
  src/pages/components/tooltip/images/tooltip-style-4.png
  src/pages/components/tooltip/images/tooltip-style-5.png
  src/pages/components/tooltip/images/tooltip-style-6.png
  src/pages/components/tooltip/images/tooltip-style-7.png
  src/pages/components/tooltip/images/tooltip-toggletip.png
  src/pages/components/tooltip/images/tooltip-usage-1.png
  src/pages/components/tooltip/images/tooltip-usage-10.png
  src/pages/components/tooltip/images/tooltip-usage-12.png
  src/pages/components/tooltip/images/tooltip-usage-13.png
  src/pages/components/tooltip/images/tooltip-usage-14.png
  src/pages/components/tooltip/images/tooltip-usage-15.png
  src/pages/components/tooltip/images/tooltip-usage-2.png
  src/pages/components/tooltip/images/tooltip-usage-3-do.png
  src/pages/components/tooltip/images/tooltip-usage-3-dont.png
  src/pages/components/tooltip/images/tooltip-usage-4-do.png
  src/pages/components/tooltip/images/tooltip-usage-4-dont.png
  src/pages/components/tooltip/images/tooltip-usage-6.png
  src/pages/components/tooltip/images/tooltip-usage-7.png
  src/pages/components/tooltip/images/tooltip-usage-8.png
  src/pages/components/tooltip/images/tooltip-usage-standard-tooltip.png
  src/pages/components/tooltip/images/tooltip-usage-standard.png
  src/pages/components/tooltip/images/tooltip_placement.png
  src/pages/components/tooltip/style.mdx
  src/pages/components/tooltip/usage.mdx
Labels: status: ready to merge 🎉

#3685 Update contained list accessibility.mdx
  src/pages/components/contained-list/accessibility.mdx
  src/pages/components/contained-list/images/contained-list-accessibility-1.png
  src/pages/components/contained-list/images/contained-list-accessibility-2.png
  src/pages/components/contained-list/images/contained-list-accessibility-3.png
  src/pages/components/contained-list/images/contained-list-accessibility-5.png
Labels: status: ready to merge 🎉

#3661 Update tabs accessibility.mdx
  src/pages/components/tabs/accessibility.mdx
  src/pages/components/tabs/images/tab-accessibility-1a.png
  src/pages/components/tabs/images/tab-accessibility-1b.png
  src/pages/components/tabs/images/tab-accessibility-2.png
  src/pages/components/tabs/images/tab-accessibility-3.png
  src/pages/components/tabs/images/tab-accessibility-4.png
Labels: status: one more review 👀
