Repository carbon-design-system/carbon-website, pull requests merged in 2023-03, with the labels that each got.

#3406 docs(read-only): number input docs
  src/pages/components/number-input/images/number-input-accessibility-1.png
  src/pages/components/number-input/images/number-input-accessibility-3.png
  src/pages/components/number-input/images/number-input-style-2.png
  src/pages/components/number-input/images/number-input-style-3.png
  src/pages/components/number-input/images/number-input-style-size.png
  src/pages/components/number-input/images/number-input-usage-3-fluid.png
  src/pages/components/number-input/images/number-input-usage-6-fluid.png
  src/pages/components/number-input/images/number-input-usage-6.png
  src/pages/components/number-input/style.mdx
  src/pages/components/number-input/usage.mdx
Labels: status: ready to merge 🎉

#3409 fix(Notification): fix react storybook links
  src/pages/components/notification/code.mdx
  src/pages/components/notification/usage.mdx
Labels: status: ready to merge 🎉

#3405 docs(read-only): radio button docs
  src/pages/components/radio-button/images/radio-button-style-2.png
  src/pages/components/radio-button/images/radio-button-usage-7.png
  src/pages/components/radio-button/images/radio-button-usage-8.png
  src/pages/components/radio-button/style.mdx
  src/pages/components/radio-button/usage.mdx
Labels: status: ready to merge 🎉

#3404 docs(read-only): checkbox docs
  src/pages/components/checkbox/images/checkbox-style-1.png
  src/pages/components/checkbox/images/checkbox-style-2.png
  src/pages/components/checkbox/images/checkbox-usage-8.png
  src/pages/components/checkbox/style.mdx
  src/pages/components/checkbox/usage.mdx
Labels: status: ready to merge 🎉

#3408 Update color-tokens.js
  src/data/guidelines/color-tokens.js
Labels: status: ready for review 👀, status: ready to merge 🎉

#3368 [Tile] Update content + Images for experimental tile
  src/pages/components/tile/images/tile-style-1.png
  src/pages/components/tile/images/tile-style-10.png
  src/pages/components/tile/images/tile-style-11.png
  src/pages/components/tile/images/tile-style-12.png
  src/pages/components/tile/images/tile-style-2.png
  src/pages/components/tile/images/tile-style-3.png
  src/pages/components/tile/images/tile-style-4.png
  src/pages/components/tile/images/tile-style-5.png
  src/pages/components/tile/images/tile-style-6.png
  src/pages/components/tile/images/tile-style-7.png
  src/pages/components/tile/images/tile-style-8.png
  src/pages/components/tile/images/tile-style-9.png
  src/pages/components/tile/images/tile-usage-1.png
  src/pages/components/tile/images/tile-usage-10.png
  src/pages/components/tile/images/tile-usage-11.png
  src/pages/components/tile/images/tile-usage-12.png
  src/pages/components/tile/images/tile-usage-13.png
  src/pages/components/tile/images/tile-usage-14.png
  src/pages/components/tile/images/tile-usage-15.png
  src/pages/components/tile/images/tile-usage-16.png
  src/pages/components/tile/images/tile-usage-17.png
  src/pages/components/tile/images/tile-usage-18.png
  src/pages/components/tile/images/tile-usage-19.png
  src/pages/components/tile/images/tile-usage-2.png
  src/pages/components/tile/images/tile-usage-20.png
  src/pages/components/tile/images/tile-usage-21.png
  src/pages/components/tile/images/tile-usage-22.png
  src/pages/components/tile/images/tile-usage-23.png
  src/pages/components/tile/images/tile-usage-24.png
  src/pages/components/tile/images/tile-usage-25.png
  src/pages/components/tile/images/tile-usage-26.png
  src/pages/components/tile/images/tile-usage-27.png
  src/pages/components/tile/images/tile-usage-28.png
  src/pages/components/tile/images/tile-usage-3.png
  src/pages/components/tile/images/tile-usage-4.png
  src/pages/components/tile/images/tile-usage-5.gif
  src/pages/components/tile/images/tile-usage-5.png
  src/pages/components/tile/images/tile-usage-6.png
  src/pages/components/tile/images/tile-usage-7.png
  src/pages/components/tile/images/tile-usage-8.png
  src/pages/components/tile/images/tile-usage-9.png
  src/pages/components/tile/style.mdx
  src/pages/components/tile/usage.mdx
Labels: status: ready to merge 🎉

#3426 docs: use v11 deployments for previews in react tutorial
  src/pages/developing/react-tutorial/overview.mdx
  src/pages/developing/react-tutorial/step-1.mdx
  src/pages/developing/react-tutorial/step-2.mdx
  src/pages/developing/react-tutorial/step-3.mdx
  src/pages/developing/react-tutorial/step-4.mdx
  src/pages/developing/react-tutorial/step-5.mdx
Labels: status: one more review 👀, status: enable automerge 🟠

#3423 docs(states): radio button and checkbox
  src/pages/components/checkbox/images/checkbox-style-2.png
  src/pages/components/checkbox/images/checkbox-usage-8.png
  src/pages/components/checkbox/style.mdx
  src/pages/components/checkbox/usage.mdx
  src/pages/components/radio-button/images/radio-button-style-2.png
  src/pages/components/radio-button/images/radio-button-usage-8.png
  src/pages/components/radio-button/style.mdx
  src/pages/components/radio-button/usage.mdx
Labels: status: ready to merge 🎉

#3421 feat: contained list demo code and usage tabs
  package.json
  src/data/docgen/react-docgen.json
  src/pages/components/accordion/code.mdx
  src/pages/components/contained-list/ComponentDemo.js
  src/pages/components/contained-list/code.mdx
  src/pages/components/contained-list/usage.mdx
  yarn.lock
Labels: status: ready to merge 🎉

#3429 docs(typography): fix code type styles not using mono font
  src/components/TypesetStyle/TypesetExample.js
Labels: status: ready to merge 🎉

#3425 docs(read-only): select docs
  src/pages/components/select/images/select-invalid-state-fluid.png
  src/pages/components/select/images/select-states-fixed.png
  src/pages/components/select/images/select-states-fluid.png
  src/pages/components/select/images/select-style-sizes-default-inline.png
  src/pages/components/select/images/select-style-sizes-default.png
  src/pages/components/select/images/select-style-sizes-fluid.png
  src/pages/components/select/images/select-style-states-fixed.png
  src/pages/components/select/images/select-style-states-fluid.png
  src/pages/components/select/style.mdx
  src/pages/components/select/usage.mdx
Labels: status: one more review 👀, status: ready for review 👀

#3434 Update writing-style.mdx
  src/pages/guidelines/content/writing-style.mdx
Labels: status: ready to merge 🎉

#3438 perf: remove redundant text from usage section
  src/pages/components/select/usage.mdx
Labels: status: ready to merge 🎉

#3446 docs(read-only): text input docs
  src/pages/components/text-input/images/text-input-style-states-fixed.png
  src/pages/components/text-input/images/text-input-style-states-fluid.png
  src/pages/components/text-input/images/text-input-usage-states-fixed.png
  src/pages/components/text-input/images/text-input-usage-states-fluid.png
  src/pages/components/text-input/style.mdx
  src/pages/components/text-input/usage.mdx
Labels: status: ready to merge 🎉

#3444 docs(read-only): slider docs
  src/pages/components/slider/images/slider-style-1.png
  src/pages/components/slider/images/slider-style-color.png
  src/pages/components/slider/images/slider-style-spec.png
  src/pages/components/slider/images/slider-style-states.png
  src/pages/components/slider/images/slider-usage-1.png
  src/pages/components/slider/images/slider-usage-overview.png
  src/pages/components/slider/images/slider-usage-states.png
  src/pages/components/slider/style.mdx
  src/pages/components/slider/usage.mdx
Labels: status: ready to merge 🎉

#3436 docs(read-only): toggle docs
  src/pages/components/toggle/images/toggle-style-1.png
  src/pages/components/toggle/images/toggle-style-2.png
  src/pages/components/toggle/images/toggle-style-3.png
  src/pages/components/toggle/images/toggle-style-color.png
  src/pages/components/toggle/images/toggle-style-default-spec.png
  src/pages/components/toggle/images/toggle-style-size.png
  src/pages/components/toggle/images/toggle-style-sizes.png
  src/pages/components/toggle/images/toggle-style-small-spec.png
  src/pages/components/toggle/images/toggle-style-states.png
  src/pages/components/toggle/images/toggle-usage-1.png
  src/pages/components/toggle/images/toggle-usage-2.png
  src/pages/components/toggle/images/toggle-usage-default.png
  src/pages/components/toggle/images/toggle-usage-small.png
  src/pages/components/toggle/images/toggle-usage-states.png
  src/pages/components/toggle/images/toggle-usage-variants.png
  src/pages/components/toggle/style.mdx
  src/pages/components/toggle/usage.mdx
Labels: status: ready to merge 🎉

#3445 docs(table): expansion and selection
  src/pages/components/data-table/images/datatable-batch-action.png
  src/pages/components/data-table/images/datatable-expand-all.png
  src/pages/components/data-table/images/datatable-expand.png
  src/pages/components/data-table/images/datatable-expandable+selectable.png
  src/pages/components/data-table/images/datatable-hover.png
  src/pages/components/data-table/images/datatable-multi-select.png
  src/pages/components/data-table/images/datatable-radio-select.png
  src/pages/components/data-table/images/datatable-style-4.png
  src/pages/components/data-table/images/datatable-style-5.png
  src/pages/components/data-table/images/datatable-style-5b.png
  src/pages/components/data-table/images/datatable-style-5c.png
  src/pages/components/data-table/images/datatable-target.png
  src/pages/components/data-table/images/datatable-toolbar.png
  src/pages/components/data-table/style.mdx
  src/pages/components/data-table/usage.mdx
Labels: status: ready to merge 🎉

#3456 (project): update `carbon-website` to node v18
  .eslintrc
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .nvmrc
  api/survey.ts
  gatsby-ssr.js
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#3469 Revert "(project): update `carbon-website` to node v18"
  .eslintrc
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .nvmrc
  api/survey.ts
  gatsby-ssr.js
  package.json
  yarn.lock
Labels: status: ready to merge 🎉

#3468 docs(code-pages): removing web components from community
  src/pages/components/UI-shell-header/code.mdx
  src/pages/components/UI-shell-left-panel/code.mdx
  src/pages/components/accordion/code.mdx
  src/pages/components/accordion/usage.mdx
  src/pages/components/breadcrumb/code.mdx
  src/pages/components/breadcrumb/usage.mdx
  src/pages/components/button/code.mdx
  src/pages/components/button/usage.mdx
  src/pages/components/checkbox/code.mdx
  src/pages/components/checkbox/usage.mdx
  src/pages/components/code-snippet/code.mdx
  src/pages/components/code-snippet/usage.mdx
  src/pages/components/content-switcher/code.mdx
  src/pages/components/content-switcher/usage.mdx
  src/pages/components/data-table/code.mdx
  src/pages/components/data-table/usage.mdx
  src/pages/components/date-picker/code.mdx
  src/pages/components/date-picker/usage.mdx
  src/pages/components/dropdown/code.mdx
  src/pages/components/dropdown/usage.mdx
  src/pages/components/file-uploader/code.mdx
  src/pages/components/file-uploader/usage.mdx
  src/pages/components/form/code.mdx
  src/pages/components/inline-loading/code.mdx
  src/pages/components/inline-loading/usage.mdx
  src/pages/components/link/code.mdx
  src/pages/components/list/code.mdx
  src/pages/components/loading/code.mdx
  src/pages/components/loading/usage.mdx
  src/pages/components/modal/code.mdx
  src/pages/components/notification/code.mdx
  src/pages/components/notification/usage.mdx
  src/pages/components/number-input/code.mdx
  src/pages/components/number-input/usage.mdx
  src/pages/components/overflow-menu/code.mdx
  src/pages/components/overflow-menu/usage.mdx
  src/pages/components/pagination/code.mdx
  src/pages/components/pagination/usage.mdx
  src/pages/components/progress-indicator/code.mdx
  src/pages/components/progress-indicator/usage.mdx
  src/pages/components/radio-button/code.mdx
  src/pages/components/radio-button/usage.mdx
  src/pages/components/search/code.mdx
  src/pages/components/search/usage.mdx
  src/pages/components/select/code.mdx
  src/pages/components/slider/code.mdx
  src/pages/components/slider/usage.mdx
  src/pages/components/structured-list/code.mdx
  src/pages/components/structured-list/usage.mdx
  src/pages/components/tabs/code.mdx
  src/pages/components/tag/code.mdx
  src/pages/components/text-input/code.mdx
  src/pages/components/text-input/usage.mdx
  src/pages/components/tile/code.mdx
  src/pages/components/toggle/code.mdx
  src/pages/components/toggle/usage.mdx
  src/pages/components/tooltip/code.mdx
  src/pages/components/tooltip/usage.mdx
Labels: status: ready to merge 🎉
