Repository carbon-design-system/carbon-website, pull requests merged in 2023-04, with the labels that each got.

#3472 fix: correct broken vue storybook links
  src/pages/components/UI-shell-left-panel/code.mdx
  src/pages/components/link/code.mdx
  src/pages/components/tag/code.mdx
Labels: status: one more review 👀

#3455 docs(read-only): dropdown docs
  src/pages/components/dropdown/images/dropdown-combobox-style-default-states.png
  src/pages/components/dropdown/images/dropdown-combobox-style-fluid-states.png
  src/pages/components/dropdown/images/dropdown-multiselect-style-default-states.png
  src/pages/components/dropdown/images/dropdown-multiselect-style-fluid-states.png
  src/pages/components/dropdown/images/dropdown-multiselect-usage-default-states.png
  src/pages/components/dropdown/images/dropdown-multiselect-usage-fluid-states.png
  src/pages/components/dropdown/images/dropdown-style-1.png
  src/pages/components/dropdown/images/dropdown-style-1b.png
  src/pages/components/dropdown/images/dropdown-style-2.png
  src/pages/components/dropdown/images/dropdown-style-2b.png
  src/pages/components/dropdown/images/dropdown-style-3.png
  src/pages/components/dropdown/images/dropdown-style-3b.png
  src/pages/components/dropdown/images/dropdown-style-5.png
  src/pages/components/dropdown/images/dropdown-style-5b.png
  src/pages/components/dropdown/images/dropdown-style-7.png
  src/pages/components/dropdown/images/dropdown-style-9.png
  src/pages/components/dropdown/images/dropdown-style-size-fixed.png
  src/pages/components/dropdown/images/dropdown-style-size-fluid.png
  src/pages/components/dropdown/images/dropdown-style-size.png
  src/pages/components/dropdown/images/dropdown-usage-1-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-1.png
  src/pages/components/dropdown/images/dropdown-usage-10b-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-10b.png
  src/pages/components/dropdown/images/dropdown-usage-10d-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-11c.png
  src/pages/components/dropdown/images/dropdown-usage-13.png
  src/pages/components/dropdown/images/dropdown-usage-3-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-3.png
  src/pages/components/dropdown/images/dropdown-usage-5.png
  src/pages/components/dropdown/images/dropdown-usage-9a-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-9a.png
  src/pages/components/dropdown/images/dropdown-usage-formatting-1.png
  src/pages/components/dropdown/style.mdx
  src/pages/components/dropdown/usage.mdx
  src/pages/components/slider/usage.mdx
  src/pages/components/toggle/images/toggle-style-color.png
  src/pages/components/toggle/images/toggle-usage-variants.png
  src/pages/components/toggle/usage.mdx
Labels: status: ready to merge 🎉

#3482 fix: small toggle live demo
  src/pages/components/toggle/code.mdx
  src/pages/components/toggle/usage.mdx
Labels: status: ready to merge 🎉

#3491 docs: remove watson health community resource card
  src/pages/community/domain-guidance.mdx
Labels: status: ready to merge 🎉

#3483 docs: remove badge info from vue tutorial
  src/pages/developing/angular-tutorial/wrapping-up.mdx
  src/pages/developing/react-tutorial/wrapping-up.mdx
  src/pages/developing/vue-tutorial/wrapping-up.mdx
Labels: status: ready to merge 🎉

#3484 fix: grid size dataviz images at tablet
  src/pages/data-visualization/axes-and-labels/index.mdx
Labels: status: ready for review 👀

#3473 docs(content switcher): add icon-only variant
  src/pages/components/content-switcher/images/content-switcher-alignment-2.png
  src/pages/components/content-switcher/images/content-switcher-alignment-3.png
  src/pages/components/content-switcher/images/content-switcher-icon-reponsive.png
  src/pages/components/content-switcher/images/content-switcher-icon.png
  src/pages/components/content-switcher/images/content-switcher-style-4.png
  src/pages/components/content-switcher/images/content-switcher-style-color-icon.png
  src/pages/components/content-switcher/images/content-switcher-usage-alignment-do.png
  src/pages/components/content-switcher/images/content-switcher-usage-alignment-dont.png
  src/pages/components/content-switcher/images/content-switcher-usage-sizes-icon.png
  src/pages/components/content-switcher/style.mdx
  src/pages/components/content-switcher/usage.mdx
Labels: status: ready to merge 🎉

#3501 Update design kits
  src/pages/designing/design-resources/index.mdx
Labels: status: ready to merge 🎉

#3258 docs: contained list enhancements
  src/pages/components/contained-list/images/contained-list-style-1.png
  src/pages/components/contained-list/images/contained-list-style-10.png
  src/pages/components/contained-list/images/contained-list-style-7.png
  src/pages/components/contained-list/images/contained-list-style-9.png
  src/pages/components/contained-list/images/contained-list-usage-1.png
  src/pages/components/contained-list/images/contained-list-usage-10.png
  src/pages/components/contained-list/images/contained-list-usage-11.png
  src/pages/components/contained-list/images/contained-list-usage-12.png
  src/pages/components/contained-list/images/contained-list-usage-13.png
  src/pages/components/contained-list/images/contained-list-usage-14.png
  src/pages/components/contained-list/images/contained-list-usage-15.png
  src/pages/components/contained-list/images/contained-list-usage-2.png
  src/pages/components/contained-list/images/contained-list-usage-3.png
  src/pages/components/contained-list/images/contained-list-usage-4.png
  src/pages/components/contained-list/images/contained-list-usage-5.png
  src/pages/components/contained-list/images/contained-list-usage-6.png
  src/pages/components/contained-list/images/contained-list-usage-7.png
  src/pages/components/contained-list/images/contained-list-usage-8.png
  src/pages/components/contained-list/images/contained-list-usage-9.png
  src/pages/components/contained-list/style.mdx
  src/pages/components/contained-list/usage.mdx
Labels: status: ready to merge 🎉
