Repository carbon-design-system/carbon-website, pull requests merged in 2024-01, with the labels that each got.

#3860 feat: add missing components to overview page
  src/components/ComponentOverview/images/Contained list.svg
  src/components/ComponentOverview/images/Menu buttons.svg
  src/components/ComponentOverview/images/Menu.svg
  src/components/ComponentOverview/images/Popover.svg
  src/components/ComponentOverview/images/Progress bar.svg
  src/components/ComponentOverview/images/Toggletip.svg
  src/components/ComponentOverview/images/Treeview.svg
  src/data/components.json
  src/pages/components/overview/images/Accordion.svg
  src/pages/components/overview/images/Breadcrumb.svg
  src/pages/components/overview/images/Button.svg
  src/pages/components/overview/images/Checkbox.svg
  src/pages/components/overview/images/Code snippet.svg
  src/pages/components/overview/images/Content switcher.svg
  src/pages/components/overview/images/Data table.svg
  src/pages/components/overview/images/Date picker.svg
  src/pages/components/overview/images/Dropdown.svg
  src/pages/components/overview/images/File uploader.svg
  src/pages/components/overview/images/Form.svg
  src/pages/components/overview/images/Inline loading.svg
  src/pages/components/overview/images/Link.svg
  src/pages/components/overview/images/List.svg
  src/pages/components/overview/images/Loading.svg
  src/pages/components/overview/images/Modal.svg
  src/pages/components/overview/images/Multiselect.svg
  src/pages/components/overview/images/NoImage.svg
  src/pages/components/overview/images/Notification.svg
  src/pages/components/overview/images/Number input.svg
  src/pages/components/overview/images/Overflow menu.svg
  src/pages/components/overview/images/Pagination.svg
  src/pages/components/overview/images/Progress indicator.svg
  src/pages/components/overview/images/Radio button.svg
  src/pages/components/overview/images/Search.svg
  src/pages/components/overview/images/Select.svg
  src/pages/components/overview/images/Slider.svg
  src/pages/components/overview/images/Structured list.svg
  src/pages/components/overview/images/Tabs.svg
  src/pages/components/overview/images/Tag.svg
  src/pages/components/overview/images/Text input.svg
  src/pages/components/overview/images/Tile.svg
  src/pages/components/overview/images/Toggle.svg
  src/pages/components/overview/images/Tooltip.svg
  src/pages/components/overview/images/UI shell.svg
Labels: status: ready for review 👀

#3876 fix(migrating): small typo in small-to-size-prop
  src/pages/migrating/guide/develop.mdx
Labels: status: ready for review 👀, status: ready to merge 🎉

#3882 Added missing anchor link
  src/pages/contributing/get-started.mdx
Labels: status: ready to merge 🎉

#3880 feat: update component images for overview page
  src/components/ComponentOverview/images/Accordion.svg
  src/components/ComponentOverview/images/Breadcrumb.svg
  src/components/ComponentOverview/images/Button.svg
  src/components/ComponentOverview/images/Checkbox.svg
  src/components/ComponentOverview/images/Code snippet.svg
  src/components/ComponentOverview/images/Contained list.svg
  src/components/ComponentOverview/images/Content switcher.svg
  src/components/ComponentOverview/images/Data table.svg
  src/components/ComponentOverview/images/Date picker.svg
  src/components/ComponentOverview/images/Dropdown.svg
  src/components/ComponentOverview/images/File uploader.svg
  src/components/ComponentOverview/images/Form.svg
  src/components/ComponentOverview/images/Inline loading.svg
  src/components/ComponentOverview/images/Link.svg
  src/components/ComponentOverview/images/List.svg
  src/components/ComponentOverview/images/Loading.svg
  src/components/ComponentOverview/images/Menu buttons.svg
  src/components/ComponentOverview/images/Menu.svg
  src/components/ComponentOverview/images/Modal.svg
  src/components/ComponentOverview/images/Multiselect.svg
  src/components/ComponentOverview/images/Notification.svg
  src/components/ComponentOverview/images/Number input.svg
  src/components/ComponentOverview/images/Overflow menu.svg
  src/components/ComponentOverview/images/Pagination.svg
  src/components/ComponentOverview/images/Popover.svg
  src/components/ComponentOverview/images/Progress bar.svg
  src/components/ComponentOverview/images/Progress indicator.svg
  src/components/ComponentOverview/images/Radio button.svg
  src/components/ComponentOverview/images/Search.svg
  src/components/ComponentOverview/images/Select.svg
  src/components/ComponentOverview/images/Slider.svg
  src/components/ComponentOverview/images/Structured list.svg
  src/components/ComponentOverview/images/Tabs.svg
  src/components/ComponentOverview/images/Tag.svg
  src/components/ComponentOverview/images/Text input.svg
  src/components/ComponentOverview/images/Tile.svg
  src/components/ComponentOverview/images/Toggle.svg
  src/components/ComponentOverview/images/Toggletip.svg
  src/components/ComponentOverview/images/Tooltip.svg
  src/components/ComponentOverview/images/Treeview.svg
  src/components/ComponentOverview/images/UI shell.svg
Labels: status: visual review 🔍, status: ready for review 👀

#3881 Fixed typo in index.mdx
  src/pages/data-visualization/chart-anatomy/index.mdx
Labels: status: one more review 👀, status: ready for review 👀
