Repository carbon-design-system/carbon-website, pull requests merged in 2024-05, with the labels that each got.

#4030 docs: update single variant usage template
  src/pages/components/accordion/usage.mdx
  src/pages/components/content-switcher/usage.mdx
  src/pages/contributing/documentation.mdx
Labels: status: ready to merge 🎉

#4042 fix: broken link reference on status indicator pattern
  src/pages/patterns/status-indicator-pattern/index.mdx
Labels: status: ready to merge 🎉

#4046 fix: popover live demo
  src/pages/components/popover/code.mdx
  src/pages/components/popover/usage.mdx
Labels: status: ready to merge 🎉

#4054 docs: add truncation docs to tag usage and a11y tabs
  src/pages/components/tag/accessibility.mdx
  src/pages/components/tag/images/tag-usage-overflow-do.png
  src/pages/components/tag/images/tag-usage-overflow-dont.png
  src/pages/components/tag/images/tag-usage-overflow.png
  src/pages/components/tag/usage.mdx
Labels: status: ready to merge 🎉

#4061 [Structured list] Updated component overview image
  src/components/ComponentOverview/images/Structured list.svg
Labels: status: ready to merge 🎉

#4043 Update fluid heading styles docs
  src/pages/elements/typography/type-sets.mdx
Labels: status: one more review 👀

#4067 docs: fix incorrect image name for tag docs
  src/pages/components/tag/usage.mdx
Labels: status: ready for review 👀, status: ready to merge 🎉

#4068 docs: remove unused anchor link for content switcher
  src/pages/components/content-switcher/usage.mdx
Labels: status: ready to merge 🎉

#4060 AI doc update - Select & Date picker
  src/pages/components/date-picker/images/date-picker-usage-AI-presence-default.png
  src/pages/components/date-picker/images/date-picker-usage-AI-presence-fluid.png
  src/pages/components/date-picker/images/date-picker-usage-revert-to-AI-default.png
  src/pages/components/date-picker/images/date-picker-usage-revert-to-AI-fluid.png
  src/pages/components/date-picker/style.mdx
  src/pages/components/date-picker/usage.mdx
  src/pages/components/select/images/select-usage-AI-presence-default.png
  src/pages/components/select/images/select-usage-AI-presence-fluid.png
  src/pages/components/select/images/select-usage-revert-to-AI-default.png
  src/pages/components/select/images/select-usage-revert-to-AI-fluid.png
  src/pages/components/select/style.mdx
  src/pages/components/select/usage.mdx
Labels: status: ready to merge 🎉

#4059 ai-alina
  src/pages/components/number-input/images/number-input-style-ai-default.png
  src/pages/components/number-input/images/number-input-style-ai-fluid.png
  src/pages/components/number-input/images/number-input-usage-12.png
  src/pages/components/number-input/images/number-input-usage-13.png
  src/pages/components/number-input/images/number-input-usage-14.png
  src/pages/components/number-input/images/number-input-usage-15.png
  src/pages/components/number-input/style.mdx
  src/pages/components/number-input/usage.mdx
  src/pages/components/text-input/images/text-input-text-area-ai-presence-default.png
  src/pages/components/text-input/images/text-input-text-area-ai-presence-fluid.png
  src/pages/components/text-input/images/text-input-text-area-ai-presence.png
  src/pages/components/text-input/images/text-input-text-area-ai-revert-fluid.png
  src/pages/components/text-input/images/text-input-text-area-ai-revert.png
  src/pages/components/text-input/style.mdx
  src/pages/components/text-input/usage.mdx
Labels: status: ready to merge 🎉

#4078 chore: remove old pages
  src/pages/community/contribute-a-chart.mdx
  src/pages/community/how-to-contribute.mdx
  src/pages/help/migration-guide/design.mdx
  src/pages/help/migration-guide/develop.mdx
  src/pages/migrating/benefits.mdx
  src/pages/test/list-section.mdx
Labels: status: ready to merge 🎉

#4081 ai_m_d
  src/pages/components/dropdown/images/dropdown-ai-presence-default.png
  src/pages/components/dropdown/images/dropdown-ai-presence-fluid.png
  src/pages/components/dropdown/images/dropdown-ai-revert-default.png
  src/pages/components/dropdown/images/dropdown-ai-revert-fluid.png
  src/pages/components/dropdown/images/dropdown-style-ai-presence-ai-revert-default.png
  src/pages/components/dropdown/images/dropdown-style-ai-presence-ai-revert-fluid.png
  src/pages/components/dropdown/images/usage-ai-combobox-vertical-divider-do.png
  src/pages/components/dropdown/images/usage-ai-combobox-vertical-divider-dont.png
  src/pages/components/dropdown/style.mdx
  src/pages/components/dropdown/usage.mdx
  src/pages/components/modal/images/modal-usage-ai-presence-g100.png
  src/pages/components/modal/images/modal-usage-ai-presence-w.png
  src/pages/components/modal/images/modal-usage-style-presence.png
  src/pages/components/modal/style.mdx
  src/pages/components/modal/usage.mdx
  src/pages/components/number-input/images/number-input-style-ai-presence-ai-revert-default.png
  src/pages/components/number-input/images/number-input-style-ai-presence-ai-revert-fluid.png
  src/pages/components/number-input/style.mdx
  src/pages/components/number-input/usage.mdx
  src/pages/components/text-input/images/text-input-text-area-ai-presence-ai-revert-default.png
  src/pages/components/text-input/images/text-input-text-area-ai-presence-ai-revert-fluid.png
  src/pages/components/text-input/style.mdx
  src/pages/components/text-input/usage.mdx
Labels: status: one more review 👀
