Repository carbon-design-system/carbon-website, pull requests merged in 2024-04, with the labels that each got.

#3995 Fixes the Tag LiveDemo
  src/pages/components/tag/usage.mdx
Labels: status: one more review 👀

#3996 [Docs] Update progress indicator style tab
  src/pages/components/progress-indicator/images/progress-indicator-style-1.png
  src/pages/components/progress-indicator/style.mdx
  src/pages/components/progress-indicator/usage.mdx
Labels: status: ready for review 👀

#4003 add dataviz kit Figma link
  src/pages/data-visualization/getting-started/index.mdx
Labels: status: one more review 👀

#4001 [Notification] A minor typo
  src/pages/components/notification/style.mdx
Labels: status: ready to merge 🎉

#3985 Fix typo in content switcher usage guidelines
  src/pages/components/content-switcher/usage.mdx
Labels: status: ready to merge 🎉

#4000 giphy images
  src/pages/community/patterns/create-flows/images/WideTearsheet.png
  src/pages/community/patterns/create-flows/images/WideTearsheetShowAll.png
  src/pages/community/patterns/create-flows/images/inline-create-example.png
  src/pages/community/patterns/create-flows/index.mdx
  src/pages/components/UI-shell-header/images/skip-to-main-content.png
  src/pages/components/UI-shell-header/usage.mdx
  src/pages/components/content-switcher/style.mdx
  src/pages/components/content-switcher/usage.mdx
  src/pages/components/data-table/images/data-table-usage-search.png
  src/pages/components/data-table/usage.mdx
  src/pages/components/notification/images/notification-usage-toast.png
  src/pages/components/notification/usage.mdx
  src/pages/components/progress-bar/images/progress-bar-usage-2.png
  src/pages/components/progress-bar/images/progress-bar-usage-3.png
  src/pages/components/progress-bar/usage.mdx
  src/pages/components/text-input/images/text-input-usage-invalid.png
  src/pages/components/text-input/usage.mdx
  src/pages/designing/kits/images/grid-2.png
  src/pages/designing/kits/sketch.mdx
  src/pages/migrating/guide/design.mdx
  src/pages/migrating/guide/images/05_toast_context_608.png
  src/pages/patterns/forms-pattern/images/inline-error-message.png
  src/pages/patterns/forms-pattern/images/server-side.png
  src/pages/patterns/forms-pattern/index.mdx
  src/pages/patterns/global-header/images/skip-to-main-content.png
  src/pages/patterns/global-header/index.mdx
  src/pages/patterns/loading-pattern/images/inline-loading.png
  src/pages/patterns/loading-pattern/index.mdx
  src/pages/patterns/notification-pattern/images/4_toast-736.png
  src/pages/patterns/notification-pattern/index.mdx
  src/pages/patterns/overflow-content/images/show-more.png
  src/pages/patterns/overflow-content/index.mdx
Labels: status: ready for review 👀, status: ready to merge 🎉

#4027 fix: fluid components path issue
  src/pages/components/dropdown/code.mdx
  src/pages/components/dropdown/usage.mdx
Labels: status: ready to merge 🎉

#3967 [Selectable Components: Structured List - Usage] Website Doc
  src/pages/components/structured-list/images/structured-list-usage-1.png
  src/pages/components/structured-list/images/structured-list-usage-2.png
  src/pages/components/structured-list/images/structured-list-usage-3.png
  src/pages/components/structured-list/images/structured-list-usage-4.png
  src/pages/components/structured-list/images/structured-list-usage-5.png
  src/pages/components/structured-list/images/structured-list-usage-6.png
  src/pages/components/structured-list/usage.mdx
Labels: status: ready to merge 🎉

#3965 [Selectable Components: Structured List - Style] Website Doc
  src/pages/components/structured-list/images/structured-list-style-1.png
  src/pages/components/structured-list/images/structured-list-style-2.png
  src/pages/components/structured-list/images/structured-list-style-3.png
  src/pages/components/structured-list/images/structured-list-style-4.png
  src/pages/components/structured-list/images/structured-list-style-5.png
  src/pages/components/structured-list/images/structured-list-style-6.png
  src/pages/components/structured-list/images/structured-list-style-7.png
  src/pages/components/structured-list/style.mdx
Labels: status: one more review 👀, DO NOT MERGE

#4023 Fixed vercel links
  src/pages/developing/react-tutorial/step-1.mdx
  src/pages/developing/react-tutorial/step-2.mdx
  src/pages/developing/react-tutorial/step-3.mdx
  src/pages/developing/react-tutorial/step-4.mdx
  src/pages/developing/shared/step-2/images/landing-r1-spacing.png
  src/pages/developing/shared/step-2/images/landing-r1-type.png
  src/pages/developing/shared/step-2/images/landing-r2-spacing.png
  src/pages/developing/shared/step-2/images/landing-r3-spacing.png
Labels: status: visual review 🔍, status: ready to merge 🎉
