Repository carbon-design-system/carbon-website, pull requests merged in 2024-02, with the labels that each got.

#3866 feat(avt): a11y status page and a11y status table component
  .yarn/install-state.gz
  conf.d/rewrite.conf
  src/components/A11yStatus/A11yStatus.js
  src/components/A11yStatus/a11y-status.module.scss
  src/components/A11yStatus/index.js
  src/components/A11yStatusTag/A11yStatusTag.js
  src/components/A11yStatusTag/a11y-status-tag.module.scss
  src/components/A11yStatusTag/index.js
  src/components/ComponentOverview/ComponentOverview.js
  src/data/components.json
  src/data/nav-items.yaml
  src/pages/components/UI-shell-header/accessibility.mdx
  src/pages/components/UI-shell-left-panel/accessibility.mdx
  src/pages/components/UI-shell-right-panel/accessibility.mdx
  src/pages/components/accordion/accessibility.mdx
  src/pages/components/breadcrumb/accessibility.mdx
  src/pages/components/button/accessibility.mdx
  src/pages/components/checkbox/accessibility.mdx
  src/pages/components/code-snippet/accessibility.mdx
  src/pages/components/contained-list/accessibility.mdx
  src/pages/components/content-switcher/accessibility.mdx
  src/pages/components/data-table/accessibility.mdx
  src/pages/components/date-picker/accessibility.mdx
  src/pages/components/dropdown/accessibility.mdx
  src/pages/components/file-uploader/accessibility.mdx
  src/pages/components/form/accessibility.mdx
  src/pages/components/inline-loading/accessibility.mdx
  src/pages/components/link/accessibility.mdx
  src/pages/components/list/accessibility.mdx
  src/pages/components/loading/accessibility.mdx
  src/pages/components/menu-buttons/accessibility.mdx
  src/pages/components/menu/accessibility.mdx
  src/pages/components/modal/accessibility.mdx
  src/pages/components/notification/accessibility.mdx
  src/pages/components/number-input/accessibility.mdx
  src/pages/components/overview/accessibility-status.mdx
  src/pages/components/overview/components.mdx
  src/pages/components/pagination/accessibility.mdx
  src/pages/components/progress-bar/accessibility.mdx
  src/pages/components/progress-indicator/accessibility.mdx
  src/pages/components/radio-button/accessibility.mdx
  src/pages/components/search/accessibility.mdx
  src/pages/components/select/accessibility.mdx
  src/pages/components/slider/accessibility.mdx
  src/pages/components/structured-list/accessibility.mdx
  src/pages/components/tabs/accessibility.mdx
  src/pages/components/tabs/code.mdx
  src/pages/components/tag/accessibility.mdx
  src/pages/components/text-input/accessibility.mdx
  src/pages/components/tile/accessibility.mdx
  src/pages/components/toggle/accessibility.mdx
  src/pages/components/toggletip/accessibility.mdx
  src/pages/components/tooltip/accessibility.mdx
  src/pages/components/tree-view/accessibility.mdx
  src/styles/_overrides.scss
Labels: status: ready to merge 🎉

#3891 chore: add common js for compliance to v10
  gatsby-ssr.js
Labels: status: ready for review 👀

#3894 [Gantt Chart] Fixing minor typo
  src/pages/data-visualization/gantt-charts/index.mdx
Labels: status: ready to merge 🎉

#3895 docs: add images and description of drag and drop single file functionality
  .yarn/install-state.gz
  src/pages/components/file-uploader/images/file-uploader-style-4.png
  src/pages/components/file-uploader/images/file-uploader-style-5.png
  src/pages/components/file-uploader/images/file-uploader-style-6.png
  src/pages/components/file-uploader/images/file-uploader-style-7.png
  src/pages/components/file-uploader/images/file-uploader-usage-10b.png
  src/pages/components/file-uploader/images/file-uploader-usage-10c.png
  src/pages/components/file-uploader/images/file-uploader-usage-10d.png
  src/pages/components/file-uploader/images/file-uploader-usage-5.png
  src/pages/components/file-uploader/style.mdx
  src/pages/components/file-uploader/usage.mdx
Labels: status: ready to merge 🎉

#3902 docs(ecosystem): added and removed cards
  src/pages/all-about-carbon/images/ecosystem/carbonforsalesforce32.svg
  src/pages/all-about-carbon/images/ecosystem/ibm-security.svg
  src/pages/all-about-carbon/images/ecosystem/react.png
  src/pages/all-about-carbon/images/ecosystem/storybook.svg
  src/pages/all-about-carbon/the-carbon-ecosystem.mdx
  src/pages/community/domain-guidance.mdx
  src/pages/community/images/storybook.svg
Labels: status: ready to merge 🎉

#3904 Changed guidance "Use a period only if the title is a full sentence."
  src/pages/components/notification/usage.mdx
  src/pages/components/radio-button/usage.mdx
Labels: status: one more review 👀, status: ready for review 👀

#3915 docs(case-studies): removed them
  conf.d/rewrite.conf
  src/data/nav-items.yaml
  src/pages/case-studies/consistency-in-the-cloud.mdx
  src/pages/case-studies/ibm-commerce-platform.mdx
  src/pages/case-studies/images/Voltron.png
  src/pages/case-studies/images/bee.svg
  src/pages/case-studies/images/carbon-modal.png
  src/pages/case-studies/images/checkout-after.png
  src/pages/case-studies/images/checkout-before.png
  src/pages/case-studies/images/continuity-1.png
  src/pages/case-studies/images/continuity-2.png
  src/pages/case-studies/images/continuity-3.png
  src/pages/case-studies/images/continuity-4.png
  src/pages/case-studies/images/continuity.png
  src/pages/case-studies/images/delivery.png
  src/pages/case-studies/images/design-jam.jpg
  src/pages/case-studies/images/ibm-cloud.svg
  src/pages/case-studies/images/in-prod.png
  src/pages/case-studies/images/iterate.png
  src/pages/case-studies/images/token-quiz.png
  src/pages/case-studies/overview.mdx
Labels: status: one more review 👀, status: ready to merge 🎉

#3918 fix: changed step 5 of react tutorial
  src/pages/developing/react-tutorial/step-5.mdx
Labels: status: ready to merge 🎉

#3917 docs: fix broken charts links
  src/pages/data-visualization/chart-types/index.mdx
Labels: status: ready to merge 🎉

#3930 fix: h3 heading spacing on a11y component pages
  src/components/A11yStatus/A11yStatus.js
  src/components/A11yStatus/A11yStatus.module.scss
Labels: status: visual review 🔍, status: one more review 👀, status: ready for review 👀

#3943 Fix broken link to Patternfly
  src/pages/patterns/filtering/index.mdx
Labels: status: one more review 👀

#3950 fix: add redirects to gatsby-node
  conf.d/rewrite.conf
  gatsby-node.js
Labels: status: ready to merge 🎉

#3947 docs: update icon and pictogram resource card links
  src/pages/elements/icons/usage.mdx
  src/pages/elements/pictograms/usage.mdx
Labels: status: ready for review 👀

#3942 fix: "Github" --> "GitHub"
  .github/ISSUE_TEMPLATE/component-accessibility-deliverables.yaml
  src/components/A11yStatus/A11yStatus.js
  src/pages/developing/angular-tutorial/step-3.mdx
  src/pages/developing/frameworks/vanilla.mdx
  src/pages/developing/react-tutorial/faq.mdx
  src/pages/developing/react-tutorial/step-3.mdx
  src/pages/developing/react-tutorial/step-5.mdx
  src/pages/elements/pictograms/usage.mdx
  src/pages/guidelines/content/overview.mdx
  src/pages/patterns/login-pattern/index.mdx
Labels: status: one more review 👀

#3933 docs: add tag section to color token page
  src/components/ColorTokenTable/ColorTokenTable.js
  src/data/guidelines/color-tokens.js
Labels: status: ready to merge 🎉
