Repository carbon-design-system/carbon-website, pull requests merged in 2024-10, with the labels that each got.

#4306 docs(deprecations): improve formatting
  src/pages/deprecations.mdx
Labels: status: ready for review 👀

#4273 Docs: Definition of done
  src/data/nav-items.yaml
  src/pages/contributing/component-checklist/index.mdx
  src/pages/contributing/get-started/code.mdx
  src/pages/contributing/get-started/design.mdx
  src/pages/contributing/get-started/images/carbon-tutorial.gif
  src/pages/contributing/get-started/images/combo-button.gif
  src/pages/contributing/get-started/images/icon-only-switcher.gif
  src/pages/contributing/get-started/images/left-hand-nav-delay.gif
  src/pages/contributing/get-started/images/read-only-form-inputs.gif
  src/pages/contributing/get-started/images/two-handle-slider.gif
  src/pages/contributing/get-started/overview.mdx
  src/styles/_component-checklist.scss
  src/styles/index.scss
Labels: status: one more review 👀

#4303 Fixed a few broken links
  src/pages/components/ai-label/code.mdx
  src/pages/components/breadcrumb/code.mdx
  src/pages/components/file-uploader/code.mdx
  src/pages/components/inline-loading/code.mdx
  src/pages/components/menu/code.mdx
Labels: status: ready to merge 🎉

#4299 fix: broken contribution images
  src/pages/contributing/get-started/overview.mdx
  src/styles/_images.scss
Labels: status: ready to merge 🎉

#4307 fix: add carbon svg to mdxicon component
  src/components/MdxIcon/icons/carbon.svg
  src/components/MdxIcon/index.js
  src/pages/all-about-carbon/the-carbon-ecosystem.mdx
  src/pages/community/component-index.mdx
  src/pages/deprecations.mdx
  src/pages/migrating/guide/overview.mdx
Labels: status: ready to merge 🎉

#4287 docs(Modal, Menu buttons (Overflow menu), Treeview) Feature flag usage, code tab update
  src/pages/components/menu-buttons/code.mdx
  src/pages/components/menu-buttons/usage.mdx
  src/pages/components/modal/code.mdx
  src/pages/components/modal/usage.mdx
  src/pages/components/tree-view/code.mdx
  src/pages/components/tree-view/usage.mdx
Labels: status: ready to merge 🎉

#4258 docs(structured list) feature flag usage, style, code tab update
  src/pages/components/structured-list/code.mdx
  src/pages/components/structured-list/images/structured-list-style-1.png
  src/pages/components/structured-list/images/structured-list-style-2.png
  src/pages/components/structured-list/images/structured-list-style-3.png
  src/pages/components/structured-list/images/structured-list-style-4.png
  src/pages/components/structured-list/images/structured-list-style-5.png
  src/pages/components/structured-list/images/structured-list-style-6.png
  src/pages/components/structured-list/images/structured-list-style-7.png
  src/pages/components/structured-list/images/structured-list-style-color-default-transparent.png
  src/pages/components/structured-list/images/structured-list-style-color-selectable-background-flag-disabled.png
  src/pages/components/structured-list/images/structured-list-style-color-selectable-background-flag-enabled.png
  src/pages/components/structured-list/images/structured-list-style-color-selectable-flag-disabled.png
  src/pages/components/structured-list/images/structured-list-style-color-selectable-flag-enabled.png
  src/pages/components/structured-list/images/structured-list-style-interactive-color-selectable-background-flag-disabled.png
  src/pages/components/structured-list/images/structured-list-style-interactive-color-selectable-background-flag-enabled.png
  src/pages/components/structured-list/images/structured-list-style-interactive-color-selectable-background.png
  src/pages/components/structured-list/images/structured-list-style-interactive-color-selectable-flag-disabled.png
  src/pages/components/structured-list/images/structured-list-style-interactive-color-selectable-flag-enabled.png
  src/pages/components/structured-list/images/structured-list-style-size.png
  src/pages/components/structured-list/images/structured-list-style-structure-selectable-flag-enabled.png
  src/pages/components/structured-list/images/structured-list-style-structure.png
  src/pages/components/structured-list/images/structured-list-usage-1.png
  src/pages/components/structured-list/images/structured-list-usage-2.png
  src/pages/components/structured-list/images/structured-list-usage-3.png
  src/pages/components/structured-list/images/structured-list-usage-4.png
  src/pages/components/structured-list/images/structured-list-usage-5.png
  src/pages/components/structured-list/images/structured-list-usage-6.png
  src/pages/components/structured-list/images/structured-list-usage-alignment.png
  src/pages/components/structured-list/images/structured-list-usage-default-anatomy.png
  src/pages/components/structured-list/images/structured-list-usage-default.png
  src/pages/components/structured-list/images/structured-list-usage-feature-flag-disabled.png
  src/pages/components/structured-list/images/structured-list-usage-feature-flag-enabled.png
  src/pages/components/structured-list/images/structured-list-usage-modifiers.png
  src/pages/components/structured-list/images/structured-list-usage-selectable-anatomy.png
  src/pages/components/structured-list/images/structured-list-usage-selectable-clickable-areas.png
  src/pages/components/structured-list/images/structured-list-usage-selectable-flag-disabled.png
  src/pages/components/structured-list/images/structured-list-usage-selectable-flag-enabled.png
  src/pages/components/structured-list/images/structured-list-usage-sizing.png
  src/pages/components/structured-list/style.mdx
  src/pages/components/structured-list/usage.mdx
Labels: status: ready to merge 🎉

#4320 fix: update typo on tile usage tab
  src/pages/components/tile/usage.mdx
Labels: status: ready to merge 🎉

#4318 Tags: Remove AI presence for operable and selectable tags
  src/pages/components/tag/images/tag-style-structure-ai.png
  src/pages/components/tag/images/tag-usage-ai-presence.png
  src/pages/components/tag/usage.mdx
Labels: status: ready to merge 🎉

#4326 [Design kits] Update the the Figma file name
  src/pages/designing/kits/figma.mdx
  src/pages/designing/kits/images/design-figma-1.png
  src/pages/designing/kits/images/design-figma-2.png
  src/pages/designing/kits/images/design-figma-3.png
  src/pages/designing/kits/images/design-figma-4.png
  src/pages/designing/kits/images/design-figma-5.png
  src/pages/designing/kits/images/kit-figma-1.png
  src/pages/designing/kits/images/kit-figma-2.png
  src/pages/designing/kits/images/kit-figma-3.png
  src/pages/designing/kits/images/kit-figma-4.png
  src/pages/designing/kits/images/kit-figma-5.png
Labels: type: bug 🐛

#4336 feat: add launch action for AILabel icon in icon library
  src/components/SVGLibraries/shared/ActionBar.js
  src/components/SVGLibraries/shared/ActionBar.module.scss
Labels: status: one more review 👀, status: ready for review 👀

#4332 docs: remove partners page
  src/data/nav-items.yaml
  src/pages/all-about-carbon/partners.mdx
Labels: status: ready to merge 🎉

#4331 [DoD]: PDLC + contribution
  src/data/nav-items.yaml
  src/pages/contributing/component-checklist/index.mdx
  src/pages/contributing/product-development-lifecycle/images/PDLC-01.png
  src/pages/contributing/product-development-lifecycle/index.mdx
Labels: status: ready to merge 🎉
