Repository carbon-design-system/carbon-website, pull requests merged in 2024-06, with the labels that each got.

#4084 AI doc update - Tile
  src/pages/components/tile/images/tile-AI-presence-style.png
  src/pages/components/tile/images/tile-AI-presence-usage.png
  src/pages/components/tile/style.mdx
  src/pages/components/tile/usage.mdx
Labels: status: ready to merge 🎉

#4086 chore(release): update to carbon 1.58.1
  .yarn/install-state.gz
  package.json
  src/components/A11yStatusTag/A11yStatusTag.js
  src/components/A11yStatusTag/a11y-status-tag.module.scss
  yarn.lock
Labels: type: bug 🐛, status: one more review 👀, role: dev 🤖

#4088 docs: update experimental inline notification content for tags
  src/pages/components/tag/usage.mdx
Labels: status: ready to merge 🎉

#4022 feat: Show light and dark theme applied using system preferences
  src/pages/elements/themes/code.mdx
Labels: status: one more review 👀

#4107 Fixed the alphabetical order under the nav-item
  src/data/nav-items.yaml
Labels: status: one more review 👀

#4097 docs: added AI slug examples for demo to components mentioned in #4072
  .yarn/install-state.gz
  src/pages/components/checkbox/code.mdx
  src/pages/components/checkbox/usage.mdx
  src/pages/components/data-table/code.mdx
  src/pages/components/data-table/usage.mdx
  src/pages/components/date-picker/code.mdx
  src/pages/components/date-picker/usage.mdx
  src/pages/components/dropdown/code.mdx
  src/pages/components/dropdown/usage.mdx
  src/pages/components/modal/code.mdx
  src/pages/components/modal/usage.mdx
  src/pages/components/number-input/code.mdx
  src/pages/components/number-input/usage.mdx
  src/pages/components/radio-button/code.mdx
  src/pages/components/radio-button/usage.mdx
  src/pages/components/select/code.mdx
  src/pages/components/select/usage.mdx
  src/pages/components/tag/code.mdx
  src/pages/components/tag/usage.mdx
  src/pages/components/text-input/code.mdx
  src/pages/components/text-input/usage.mdx
  src/pages/components/tile/code.mdx
  src/pages/components/tile/usage.mdx
Labels: status: merge conflict 🚫, status: ready to merge 🎉

#4070 Tabs usage a11y updates
  src/pages/components/tabs/images/tab-usage-1.png
  src/pages/components/tabs/images/tab-usage-10.png
  src/pages/components/tabs/images/tab-usage-11.png
  src/pages/components/tabs/images/tab-usage-12a-animated.gif
  src/pages/components/tabs/images/tab-usage-12a.png
  src/pages/components/tabs/images/tab-usage-12b-animated.gif
  src/pages/components/tabs/images/tab-usage-12b.png
  src/pages/components/tabs/images/tab-usage-13.png
  src/pages/components/tabs/images/tab-usage-14.png
  src/pages/components/tabs/images/tab-usage-15.png
  src/pages/components/tabs/images/tab-usage-16.png
  src/pages/components/tabs/images/tab-usage-17.png
  src/pages/components/tabs/images/tab-usage-18.png
  src/pages/components/tabs/images/tab-usage-19.png
  src/pages/components/tabs/images/tab-usage-2.png
  src/pages/components/tabs/images/tab-usage-3.png
  src/pages/components/tabs/images/tab-usage-4.png
  src/pages/components/tabs/images/tab-usage-5.png
  src/pages/components/tabs/images/tab-usage-6-do.png
  src/pages/components/tabs/images/tab-usage-6-dont.png
  src/pages/components/tabs/images/tab-usage-7.png
  src/pages/components/tabs/images/tab-usage-8.png
  src/pages/components/tabs/images/tab-usage-9.png
  src/pages/components/tabs/images/tabs-usage-1.png
  src/pages/components/tabs/images/tabs-usage-15.png
  src/pages/components/tabs/images/tabs-usage-16.png
  src/pages/components/tabs/usage.mdx
Labels: status: visual review 🔍, status: one more review 👀, status: ready for review 👀

#4117 Bug: Add H2 for Formatting
  src/pages/components/toggletip/usage.mdx
Labels: status: one more review 👀

#4101 [Structured list] Implement feature flag in live demo
  src/pages/components/structured-list/code.mdx
  src/pages/components/structured-list/usage.mdx
Labels: status: ready to merge 🎉

#4099 chore(release): update to carbon 1.59.0
  package.json
  yarn.lock
Labels: status: ready for review 👀, status: ready to merge 🎉

#4121 docs: fix broken link and content on faq page
  src/pages/help/faq/index.mdx
Labels: status: ready to merge 🎉

#4125 revised first sentence under Typography
  src/pages/components/notification/style.mdx
Labels: status: ready to merge 🎉

#4102 feat: remove feedback dialog
  api/survey.ts
  src/gatsby-theme-carbon/components/FeedbackDialog/FeedbackDialog.js
Labels: status: ready to merge 🎉

#4124 feat: add ai docs to form and data table
  src/pages/components/data-table/images/style-ai-presence-datatable-row-hover.png
  src/pages/components/data-table/images/style-ai-presence-datatable.png
  src/pages/components/data-table/images/style-ai-presence-entire-datatable.png
  src/pages/components/data-table/images/style-ai-presence-individual-cells.png
  src/pages/components/data-table/images/style-ai-presence-row-columns.png
  src/pages/components/data-table/images/usage-ai-presence-datatable-column-ai.png
  src/pages/components/data-table/images/usage-ai-presence-datatable-row-ai-d.png
  src/pages/components/data-table/images/usage-ai-presence-datatable-row-ai-l.png
  src/pages/components/data-table/images/usage-ai-presence-datatable.png
  src/pages/components/data-table/images/usage-ai-presence-inline-datatable.png
  src/pages/components/data-table/style.mdx
  src/pages/components/data-table/usage.mdx
  src/pages/components/form/images/form-style-presence.png
  src/pages/components/form/images/form-usage-states-ai.png
  src/pages/components/form/images/usage-ai-presence-form.png
  src/pages/components/form/style.mdx
  src/pages/components/form/usage.mdx
  src/pages/components/modal/images/modal-style-presence.png
  src/pages/components/modal/images/modal-usage-style-presence.png
  src/pages/components/modal/style.mdx
  src/pages/components/modal/usage.mdx
  src/pages/components/number-input/style.mdx
  src/pages/components/text-input/style.mdx
Labels: status: ready for review 👀

#4134 Fixed a color token (tag-hover-cyan color)
  src/data/guidelines/color-tokens.js
Labels: status: ready to merge 🎉

#4132 chore(release): update to carbon 1.60.1
  package.json
  yarn.lock
Labels: status: one more review 👀, status: ready to merge 🎉
