Repository carbon-design-system/carbon-website, pull requests merged in 2024-09, with the labels that each got.

#4211 fix: Enhancement in color page token
  src/components/ColorTokenTable/ColorTokenTable.js
  src/data/guidelines/color-tokens.js
  src/pages/elements/color/tokens.mdx
Labels: status: ready to merge 🎉

#4026 Docs (dropdown): Select all functionality for usage and a11y tabs
  src/pages/components/dropdown/images/dropdown-accessibility-3.png
  src/pages/components/dropdown/images/dropdown-usage-1-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-1.png
  src/pages/components/dropdown/images/dropdown-usage-16.png
  src/pages/components/dropdown/images/dropdown-usage-17.png
  src/pages/components/dropdown/usage.mdx
Labels: status: ready to merge 🎉

#4053 Docs (dropdown): Images on style tab for select all functionality
  src/pages/components/dropdown/images/dropdown-multiselect-style-default-states.png
  src/pages/components/dropdown/images/dropdown-multiselect-style-fluid-states.png
  src/pages/components/dropdown/images/dropdown-style-1.png
  src/pages/components/dropdown/images/dropdown-style-1b.png
  src/pages/components/dropdown/images/dropdown-style-7.png
Labels: status: ready to merge 🎉

#4247 feat(ai-label): add overview image & accessibility table
  src/components/ComponentOverview/images/AI label.svg
  src/data/components.json
  src/pages/components/ai-label/accessibility.mdx
  src/pages/components/ai-label/usage.mdx
Labels: status: one more review 👀

#4254 fix: broken link to react on the tree view code tab
  src/pages/components/tree-view/code.mdx
Labels: status: ready to merge 🎉

#4240 Menu buttons accessibility tab doc update
  src/pages/components/menu-buttons/accessibility.mdx
  src/pages/components/menu-buttons/images/combo-button-accessibility-1.png
  src/pages/components/menu-buttons/images/combo-button-accessibility-2.png
  src/pages/components/menu-buttons/images/combo-button-accessibility-3.png
  src/pages/components/menu-buttons/images/menu-button-accessibility-1.png
  src/pages/components/menu-buttons/images/menu-button-accessibility-2.png
  src/pages/components/menu-buttons/images/overflow-menu-accessibility-1.png
  src/pages/components/menu-buttons/images/overflow-menu-accessibility-2.png
  src/pages/components/menu-buttons/images/overflow-menu-accessibility-3.png
  src/pages/components/menu-buttons/images/style-menu-button-sizes.png
  src/pages/components/menu-buttons/images/style-structure-combo-button.png
  src/pages/components/menu-buttons/images/usage-menu-keyboard-combo-button.png
  src/pages/components/menu-buttons/images/usage-menu-mouse-combo-button.png
  src/pages/components/menu-buttons/usage.mdx
  src/pages/components/toggle/usage.mdx
Labels: status: ready for review 👀

#4262 bug: fix table
  src/pages/components/progress-bar/usage.mdx
Labels: status: ready to merge 🎉

#4263 chore: modify update-carbon-gatsby-deps.yml
  .github/workflows/update-carbon-gatsby-deps.yml
Labels: status: ready for review 👀

#4250 Menu accessibility tab doc update
  src/pages/components/menu-buttons/accessibility.mdx
  src/pages/components/menu/accessibility.mdx
  src/pages/components/menu/images/accessibility-menu-1.png
  src/pages/components/menu/images/accessibility-menu-2.png
  src/pages/components/menu/images/usage-menu-RTL.png
  src/pages/components/menu/images/usage-menu-overflow-truncate.png
  src/pages/components/menu/usage.mdx
Labels: status: ready to merge 🎉

#4279 fix: remove codesandbox embed
  src/pages/data-visualization/flow-charts/index.mdx
Labels: status: ready to merge 🎉

#4267 docs: fix pagination table
  src/pages/components/pagination/usage.mdx
Labels: status: ready to merge 🎉

#4274 chore(web-components): update cwc links to point to carbon core
  src/pages/all-about-carbon/what-is-carbon.mdx
  src/pages/developing/dev-resources/index.mdx
  src/pages/developing/frameworks/web-components.mdx
  src/pages/help/contact-us/index.mdx
  src/pages/help/faq/index.mdx
Labels: status: ready to merge 🎉

#4201 feat(kaltura): adding kaltura video player to gatsby
  gatsby-ssr.js
  src/components/KalturaVideo/KalturaVideo.js
  src/components/KalturaVideo/index.js
  src/pages/case-studies/ibm-commerce-platform.mdx
  src/pages/designing/tutorials.mdx
  src/pages/guidelines/2x-grid/implementation.mdx
  src/pages/guidelines/2x-grid/overview.mdx
  src/pages/guidelines/color/overview.mdx
  src/pages/guidelines/motion/choreography.mdx
  src/pages/guidelines/motion/overview.mdx
Labels: status: one more review 👀, status: blocked 🙅‍♀️, DO NOT MERGE

#4288 fix: formatting
  src/pages/contributing/get-started.mdx
Labels: status: ready for review 👀

#4300 fix: title on AI component cards
  src/pages/guidelines/carbon-for-ai/index.mdx
Labels: status: ready for review 👀, status: ready to merge 🎉

#4301 docs(deprecations): add new page including upcoming deprecation details
  src/pages/all-about-carbon/releases.mdx
  src/pages/all-about-carbon/who-uses-carbon.mdx
  src/pages/deprecations.mdx
  src/pages/elements/2x-grid/overview.mdx
  src/pages/elements/color/code.mdx
  src/pages/elements/color/overview.mdx
  src/pages/elements/icons/code.mdx
  src/pages/elements/icons/usage.mdx
  src/pages/elements/motion/overview.mdx
  src/pages/elements/pictograms/code.mdx
  src/pages/elements/pictograms/usage.mdx
  src/pages/elements/spacing/code.mdx
  src/pages/elements/themes/overview.mdx
  src/pages/elements/typography/code.mdx
  src/pages/elements/typography/overview.mdx
  src/pages/index.mdx
  src/pages/migrating/faq.mdx
  src/pages/migrating/guide/develop.mdx
Labels: status: one more review 👀, status: ready for review 👀
