Repository carbon-design-system/carbon-website, pull requests merged in 2024-07, with the labels that each got.

#4113 [Docs] AI overview guidelines
  src/data/nav-items.yaml
  src/pages/guidelines/carbon-for-ai/images/ai-accessibility-dark.png
  src/pages/guidelines/carbon-for-ai/images/ai-accessibility-light.png
  src/pages/guidelines/carbon-for-ai/images/ai-chat-dark.png
  src/pages/guidelines/carbon-for-ai/images/ai-chat-light.png
  src/pages/guidelines/carbon-for-ai/images/ai-components-dark.png
  src/pages/guidelines/carbon-for-ai/images/ai-components-light.png
  src/pages/guidelines/carbon-for-ai/images/ai-components-revert.png
  src/pages/guidelines/carbon-for-ai/images/ai-explainability-dark.png
  src/pages/guidelines/carbon-for-ai/images/ai-explainability-light.png
  src/pages/guidelines/carbon-for-ai/images/ai-label-dark.png
  src/pages/guidelines/carbon-for-ai/images/ai-label-in-context.png
  src/pages/guidelines/carbon-for-ai/images/ai-label-light.png
  src/pages/guidelines/carbon-for-ai/images/ai-overview.png
  src/pages/guidelines/carbon-for-ai/images/ai-style-elements-dark.png
  src/pages/guidelines/carbon-for-ai/images/ai-style-elements-light.png
  src/pages/guidelines/carbon-for-ai/images/mini-checkbox.png
  src/pages/guidelines/carbon-for-ai/images/mini-data-table.png
  src/pages/guidelines/carbon-for-ai/images/mini-date-picker.png
  src/pages/guidelines/carbon-for-ai/images/mini-dropdown.png
  src/pages/guidelines/carbon-for-ai/images/mini-form.png
  src/pages/guidelines/carbon-for-ai/images/mini-modal.png
  src/pages/guidelines/carbon-for-ai/images/mini-number-input.png
  src/pages/guidelines/carbon-for-ai/images/mini-radio-button.png
  src/pages/guidelines/carbon-for-ai/images/mini-select.png
  src/pages/guidelines/carbon-for-ai/images/mini-tag.png
  src/pages/guidelines/carbon-for-ai/images/mini-text-input.png
  src/pages/guidelines/carbon-for-ai/images/mini-tile.png
  src/pages/guidelines/carbon-for-ai/index.mdx
Labels: status: ready to merge 🎉

#4137 [Homepage] Homepage revamp + Banner change
  src/components/Homepage/Carbon-AI-banner-image.jpg
  src/components/Homepage/Carbon-V11-Banner-Image.jpg
  src/gatsby-theme-carbon/templates/Homepage.js
  src/pages/homepage/images/homepage-design.png
  src/pages/homepage/images/homepage-develop.png
  src/pages/homepage/images/homepage-migration.png
  src/pages/index.mdx
Labels: status: ready to merge 🎉

#4154 Update code.mdx - fix React link
  src/pages/components/structured-list/code.mdx
Labels: status: ready to merge 🎉

#4152 Incorrect reference to Figma property
  src/pages/elements/2x-grid/overview.mdx
Labels: status: ready to merge 🎉

#4139 Removed duplicated line
  src/pages/migrating/faq.mdx
Labels: status: one more review 👀, status: ready for review 👀

#4116 add vertical tab usage and style documentation
  src/pages/components/tabs/images/tab-style-20.png
  src/pages/components/tabs/images/tab-style-21.png
  src/pages/components/tabs/images/tab-style-22.png
  src/pages/components/tabs/images/tab-style-4.png
  src/pages/components/tabs/images/tab-style-5.png
  src/pages/components/tabs/images/tab-usage-10.png
  src/pages/components/tabs/images/tab-usage-20.png
  src/pages/components/tabs/images/tab-usage-21.png
  src/pages/components/tabs/images/tab-usage-3.png
  src/pages/components/tabs/images/tab-usage-4.png
  src/pages/components/tabs/images/tab-usage-5.png
  src/pages/components/tabs/style.mdx
  src/pages/components/tabs/usage.mdx
Labels: status: merge conflict 🚫

#4143 fixed live demo tags in usage and code
  src/pages/components/tag/code.mdx
  src/pages/components/tag/usage.mdx
Labels: status: one more review 👀, status: ready for review 👀

#4155 docs: AI tag
  src/pages/components/tag/images/tag-style-structure-ai.png
  src/pages/components/tag/images/tag-usage-ai-presence.png
  src/pages/components/tag/style.mdx
  src/pages/components/tag/usage.mdx
Labels: status: ready to merge 🎉

#4162 docs: remove reference to carbon-components slack channel
  src/pages/designing/get-started.mdx
Labels: status: one more review 👀, status: ready for review 👀

#4161 Added a few new color tokens
  src/data/guidelines/color-tokens.js
Labels: status: one more review 👀, status: ready for review 👀

#4166 bug: incorrect chat kit link
  src/pages/guidelines/carbon-for-ai/index.mdx
Labels: status: ready to merge 🎉

#4170 docs(intake): added a new template
  .github/ISSUE_TEMPLATE/docs-issue.yaml
Labels: status: ready to merge 🎉

#4133 docs: Al label component
  src/data/nav-items.yaml
  src/pages/components/ai-label/accessibility.mdx
  src/pages/components/ai-label/code.mdx
  src/pages/components/ai-label/images/ai-explainability-light.png
  src/pages/components/ai-label/images/ai-label-01.png
  src/pages/components/ai-label/images/ai-label-accessibility-1.png
  src/pages/components/ai-label/images/ai-label-accessibility-3.png
  src/pages/components/ai-label/images/ai-label-accessibility-4.png
  src/pages/components/ai-label/images/ai-label-anatomy.png
  src/pages/components/ai-label/images/ai-label-click-target.png
  src/pages/components/ai-label/images/ai-label-explainability-01.png
  src/pages/components/ai-label/images/ai-label-explainability-anatomy.png
  src/pages/components/ai-label/images/ai-label-explainability-orientation.png
  src/pages/components/ai-label/images/ai-label-levels-both.png
  src/pages/components/ai-label/images/ai-label-levels-broad.png
  src/pages/components/ai-label/images/ai-label-levels-focused.png
  src/pages/components/ai-label/images/ai-label-localization.png
  src/pages/components/ai-label/images/ai-label-placement-containers.png
  src/pages/components/ai-label/images/ai-label-placement-data-table.png
  src/pages/components/ai-label/images/ai-label-placement-form.png
  src/pages/components/ai-label/images/ai-label-placement-icons-exception.png
  src/pages/components/ai-label/images/ai-label-placement-icons.png
  src/pages/components/ai-label/images/ai-label-placement-inputs.png
  src/pages/components/ai-label/images/ai-label-revert.png
  src/pages/components/ai-label/images/ai-label-sizes-default.png
  src/pages/components/ai-label/images/ai-label-sizes-inline.png
  src/pages/components/ai-label/images/ai-label-states.png
  src/pages/components/ai-label/images/ai-label-variants.png
  src/pages/components/ai-label/images/style-ai-label-explainability-structure.png
  src/pages/components/ai-label/images/style-ai-label-explainability.png
  src/pages/components/ai-label/images/style-ai-label-states-default.png
  src/pages/components/ai-label/images/style-ai-label-states-inline.png
  src/pages/components/ai-label/images/style-ai-label-structure-default.png
  src/pages/components/ai-label/images/style-ai-label-structure-inline.png
  src/pages/components/ai-label/style.mdx
  src/pages/components/ai-label/usage.mdx
  src/pages/guidelines/carbon-for-ai/index.mdx
Labels: status: ready to merge 🎉

#4179 Update get-started.mdx
  src/pages/contributing/get-started.mdx
Labels: status: ready to merge 🎉
