Repository carbon-design-system/carbon-website, pull requests merged in 2024-12, with the labels that each got.

#4378 Update overview.mdx
  src/pages/guidelines/content/overview.mdx
Labels: status: one more review 👀, status: ready for review 👀

#4379 fix(issue-triage-area): workflow cleanup
  .github/workflows/issue-triage.yml
Labels: status: ready to merge 🎉

#4389 docs: fix broken links on migration and color pages
  src/pages/elements/color/overview.mdx
  src/pages/elements/color/usage.mdx
  src/pages/migrating/guide/design.mdx
Labels: status: one more review 👀

#4381 docs(pagination): update a11y tab bugs for pagination nav
  src/pages/components/pagination/accessibility.mdx
  src/pages/components/pagination/images/pagination-a11y-3.png
  src/pages/components/pagination/images/pagination-a11y-4.png
  src/pages/components/pagination/images/pagination-a11y-5.png
Labels: status: ready to merge 🎉

#4383 (docs) Carbon Labs on core
  src/pages/contributing/get-started/images/carbon-labs.png
  src/pages/contributing/get-started/overview.mdx
  src/pages/contributing/product-development-lifecycle/index.mdx
Labels: status: ready to merge 🎉

#4398 fix: update all internal links from guidelines to elements
  src/components/A11yStatus/A11yStatus.js
  src/pages/all-about-carbon/who-uses-carbon.mdx
  src/pages/components/button/usage.mdx
  src/pages/components/number-input/style.mdx
  src/pages/components/overflow-menu/style.mdx
  src/pages/components/progress-indicator/style.mdx
  src/pages/components/tabs/usage.mdx
  src/pages/components/tile/usage.mdx
  src/pages/designing/kits/sketch.mdx
  src/pages/developing/angular-tutorial/step-2.mdx
  src/pages/developing/frameworks/react.mdx
  src/pages/developing/react-tutorial/step-2.mdx
  src/pages/developing/vue-tutorial/step-2.mdx
  src/pages/elements/2x-grid/usage.mdx
  src/pages/elements/icons/code.mdx
  src/pages/elements/icons/usage.mdx
  src/pages/elements/pictograms/code.mdx
  src/pages/elements/themes/code.mdx
  src/pages/elements/themes/overview.mdx
  src/pages/elements/typography/code.mdx
  src/pages/elements/typography/overview.mdx
  src/pages/elements/typography/type-sets.mdx
  src/pages/migrating/guide/overview.mdx
  src/pages/patterns/fluid-styles/index.mdx
  src/pages/patterns/forms-pattern/index.mdx
Labels: status: ready for review 👀

#4386 [Combobox] Autocomplete
  src/pages/components/dropdown/usage.mdx
Labels: status: ready to merge 🎉

#4400 docs(typography) Fix broken code blocks
  src/pages/elements/typography/code.mdx
Labels: status: ready to merge 🎉

#4415 fix: tooltip storybook link
  src/pages/components/tooltip/code.mdx
  src/pages/elements/typography/code.mdx
Labels: status: one more review 👀

#4408 docs (tag): remove experimental message from inline notification since it is stable
  src/pages/components/tag/usage.mdx
Labels: status: ready to merge 🎉
