Repository carbon-design-system/carbon-website, pull requests merged in 2024-08, with the labels that each got.

#4183 bugs: content switcher docs
  src/pages/components/content-switcher/style.mdx
  src/pages/components/content-switcher/usage.mdx
Labels: status: ready to merge 🎉

#4193 docs(color): add missing support tokens
  src/data/guidelines/color-tokens.js
Labels: status: ready to merge 🎉

#4190 fix(IconLibrary): hide ai icon from icon library search
  src/components/SVGLibraries/IconLibrary/IconCategory.js
  src/components/SVGLibraries/PictogramLibrary/PictogramCategory.js
Labels: status: ready to merge 🎉

#4175 docs: update pagination usage tab
  src/pages/components/pagination/images/pagination-usage-anatomy-nav.png
  src/pages/components/pagination/images/pagination-usage-anatomy.png
  src/pages/components/pagination/images/pagination-usage-clickable-areas-pagination-nav.png
  src/pages/components/pagination/images/pagination-usage-clickable-areas-pagination.png
  src/pages/components/pagination/images/pagination-usage-modifier-page-naming.png
  src/pages/components/pagination/images/pagination-usage-overflow-pagination-nav.png
  src/pages/components/pagination/images/pagination-usage-overview-in-context.png
  src/pages/components/pagination/images/pagination-usage-pagination-in-context.png
  src/pages/components/pagination/images/pagination-usage-pagination-nav-in-context.png
  src/pages/components/pagination/images/pagination-usage-placement-data-table-do.png
  src/pages/components/pagination/images/pagination-usage-placement-data-table-dont.png
  src/pages/components/pagination/images/pagination-usage-placement-pagination-nav.png
  src/pages/components/pagination/images/pagination-usage-placement-pagination.png
  src/pages/components/pagination/images/pagination-usage-responsive-behavior-pagination-nav.png
  src/pages/components/pagination/images/pagination-usage-responsiveness-pagination.png
  src/pages/components/pagination/images/pagination-usage-size-pairings.png
  src/pages/components/pagination/images/pagination-usage-sizes-pagination-nav.png
  src/pages/components/pagination/images/pagination-usage-sizes.png
  src/pages/components/pagination/usage.mdx
Labels: status: ready to merge 🎉

#4194 Fix broken link to gutter mode guidelines
  src/pages/components/data-table/usage.mdx
Labels: status: ready to merge 🎉

#4192 AI docs: Updated links and notifications
  src/pages/components/ai-label/code.mdx
  src/pages/components/ai-label/usage.mdx
  src/pages/components/checkbox/code.mdx
  src/pages/components/checkbox/style.mdx
  src/pages/components/checkbox/usage.mdx
  src/pages/components/data-table/code.mdx
  src/pages/components/data-table/style.mdx
  src/pages/components/data-table/usage.mdx
  src/pages/components/date-picker/code.mdx
  src/pages/components/date-picker/style.mdx
  src/pages/components/date-picker/usage.mdx
  src/pages/components/dropdown/code.mdx
  src/pages/components/dropdown/style.mdx
  src/pages/components/dropdown/usage.mdx
  src/pages/components/form/style.mdx
  src/pages/components/form/usage.mdx
  src/pages/components/modal/code.mdx
  src/pages/components/modal/style.mdx
  src/pages/components/modal/usage.mdx
  src/pages/components/number-input/code.mdx
  src/pages/components/number-input/style.mdx
  src/pages/components/number-input/usage.mdx
  src/pages/components/radio-button/code.mdx
  src/pages/components/radio-button/style.mdx
  src/pages/components/radio-button/usage.mdx
  src/pages/components/select/code.mdx
  src/pages/components/select/style.mdx
  src/pages/components/select/usage.mdx
  src/pages/components/tag/code.mdx
  src/pages/components/tag/usage.mdx
  src/pages/components/text-input/code.mdx
  src/pages/components/text-input/style.mdx
  src/pages/components/text-input/usage.mdx
  src/pages/components/tile/code.mdx
  src/pages/components/tile/style.mdx
  src/pages/components/tile/usage.mdx
Labels: DO NOT MERGE

#4196 docs: update pagination style tab
  src/pages/components/pagination/images/pagination-style-1.png
  src/pages/components/pagination/images/pagination-style-2.png
  src/pages/components/pagination/images/pagination-style-color-pagination-nav.png
  src/pages/components/pagination/images/pagination-style-color-pagination.png
  src/pages/components/pagination/images/pagination-style-interactive-pagination-nav.png
  src/pages/components/pagination/images/pagination-style-interactive-pagination.png
  src/pages/components/pagination/images/pagination-style-structure-pagination-nav.png
  src/pages/components/pagination/images/pagination-style-structure-pagination.png
  src/pages/components/pagination/images/pagination-usage-sizes-pagination-nav.png
  src/pages/components/pagination/images/pagination-usage-sizes.png
  src/pages/components/pagination/style.mdx
Labels: status: ready to merge 🎉

#4200 fix: update ai label callout to explainability popover in demo
  src/pages/components/ai-label/code.mdx
  src/pages/components/ai-label/usage.mdx
Labels: status: ready to merge 🎉

#4197 (docs) Content template: updated style sections
  src/pages/contributing/documentation.mdx
Labels: status: ready to merge 🎉

#4207 fix: increase live demo size for ailabel to tall
  src/pages/components/ai-label/code.mdx
  src/pages/components/ai-label/usage.mdx
Labels: status: ready for review 👀

#4191 feat(kaltura): adding kaltura video player to gatsby
  gatsby-ssr.js
  src/components/KalturaVideo/KalturaVideo.js
  src/components/KalturaVideo/index.js
  src/pages/all-about-carbon/what-is-carbon.mdx
  src/pages/elements/2x-grid/overview.mdx
  src/pages/elements/2x-grid/usage.mdx
  src/pages/elements/color/overview.mdx
  src/pages/elements/motion/choreography.mdx
  src/pages/elements/motion/overview.mdx
Labels: status: visual review 🔍, status: one more review 👀

#4205 docs: remove toggletip references from tag docs
  src/pages/components/tag/images/tag-style-interactive-color-selectable.png
  src/pages/components/tag/images/tag-style-structure-operational-examples.png
  src/pages/components/tag/images/tag-style-structure-operational-popover.png
  src/pages/components/tag/images/tag-style-structure-operational-tooltip-toggletip.png
  src/pages/components/tag/images/tag-style-structure-operational-tooltip.png
  src/pages/components/tag/style.mdx
  src/pages/components/tag/usage.mdx
Labels: status: ready to merge 🎉

#4209 docs: add accessibility tab to popover component
  src/pages/components/popover/accessibility.mdx
  src/pages/components/popover/code.mdx
  src/pages/components/popover/images/popover-a11y-1.png
  src/pages/components/popover/images/popover-a11y-2.png
  src/pages/components/popover/style.mdx
  src/pages/components/popover/usage.mdx
Labels: status: ready to merge 🎉

#4208 fix(SvgLibrary): remove left margin for empty state text
  src/components/SVGLibraries/shared/SvgLibrary.module.scss
Labels: status: ready to merge 🎉

#4214 Toggle doc updates
  src/pages/components/toggle/images/toggle-style-color.png
  src/pages/components/toggle/images/toggle-style-default-spec.png
  src/pages/components/toggle/images/toggle-style-sizes.png
  src/pages/components/toggle/images/toggle-style-small-spec.png
  src/pages/components/toggle/images/toggle-style-states.png
  src/pages/components/toggle/images/toggle-usage-anatomy.png
  src/pages/components/toggle/images/toggle-usage-small-with-action-text.png
  src/pages/components/toggle/images/toggle-usage-variants.png
  src/pages/components/toggle/images/toggle_usage_overview.png
  src/pages/components/toggle/style.mdx
  src/pages/components/toggle/usage.mdx
Labels: status: ready to merge 🎉

#4184 Update accessibility.mdx
  src/pages/components/UI-shell-header/accessibility.mdx
  src/pages/components/UI-shell-left-panel/accessibility.mdx
  src/pages/components/UI-shell-right-panel/accessibility.mdx
  src/pages/components/accordion/accessibility.mdx
  src/pages/components/breadcrumb/accessibility.mdx
  src/pages/components/button/accessibility.mdx
  src/pages/components/checkbox/accessibility.mdx
  src/pages/components/code-snippet/accessibility.mdx
  src/pages/components/contained-list/accessibility.mdx
  src/pages/components/content-switcher/accessibility.mdx
  src/pages/components/data-table/accessibility.mdx
  src/pages/components/date-picker/accessibility.mdx
  src/pages/components/dropdown/accessibility.mdx
  src/pages/components/file-uploader/accessibility.mdx
  src/pages/components/form/accessibility.mdx
  src/pages/components/inline-loading/accessibility.mdx
  src/pages/components/link/accessibility.mdx
  src/pages/components/list/accessibility.mdx
  src/pages/components/loading/accessibility.mdx
  src/pages/components/menu-buttons/accessibility.mdx
  src/pages/components/modal/accessibility.mdx
  src/pages/components/notification/accessibility.mdx
  src/pages/components/number-input/accessibility.mdx
  src/pages/components/pagination/accessibility.mdx
  src/pages/components/popover/accessibility.mdx
  src/pages/components/progress-bar/accessibility.mdx
  src/pages/components/progress-indicator/accessibility.mdx
  src/pages/components/radio-button/accessibility.mdx
  src/pages/components/search/accessibility.mdx
  src/pages/components/select/accessibility.mdx
  src/pages/components/slider/accessibility.mdx
  src/pages/components/structured-list/accessibility.mdx
  src/pages/components/tabs/accessibility.mdx
  src/pages/components/tag/accessibility.mdx
  src/pages/components/text-input/accessibility.mdx
  src/pages/components/tile/accessibility.mdx
  src/pages/components/toggle/accessibility.mdx
  src/pages/components/toggletip/accessibility.mdx
  src/pages/components/tooltip/accessibility.mdx
  src/pages/components/tree-view/accessibility.mdx
Labels: status: one more review 👀, status: ready for review 👀, DO NOT MERGE
