Repository carbon-design-system/carbon-website, pull requests merged in 2024-11, with the labels that each got.

#4341 chore(workflows): add types and website area field automatically
  .github/ISSUE_TEMPLATE/accessibility-issue.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/component-accessibility-deliverables.yaml
  .github/ISSUE_TEMPLATE/docs-issue.yaml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feedback.md
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/issue-triage.yml
Labels: status: one more review 👀

#4312 Copy edits for data-table usage content
  src/pages/components/data-table/usage.mdx
Labels: status: ready to merge 🎉

#4330 feat: Updated feature flag links
  src/pages/components/menu-buttons/code.mdx
  src/pages/components/modal/code.mdx
  src/pages/components/overview/feature-flags.mdx
  src/pages/components/structured-list/code.mdx
  src/pages/components/structured-list/usage.mdx
  src/pages/components/tile/code.mdx
  src/pages/components/tile/usage.mdx
  src/pages/components/tree-view/code.mdx
  src/pages/help/faq/index.mdx
Labels: status: one more review 👀

#4243 docs (notifications pattern): guidance for Callout
  src/pages/patterns/notification-pattern/images/notification-pattern-callout.png
  src/pages/patterns/notification-pattern/images/notification-pattern-types.png
  src/pages/patterns/notification-pattern/index.mdx
Labels: status: ready to merge 🎉

#4270 docs (notifications a11y): update to new template
  src/pages/components/notification/accessibility.mdx
  src/pages/components/notification/images/notification-accessibility-actionable.png
  src/pages/components/notification/images/notification-accessibility-callout.png
Labels: status: ready to merge 🎉

#4218 docs (notifications): usage and style guidance for Callout
  src/pages/components/notification/images/1_notification_status_1120.png
  src/pages/components/notification/images/notification-style-callout.png
  src/pages/components/notification/images/notification-usage-anatomy.png
  src/pages/components/notification/images/notification-usage-calloutplacement.png
  src/pages/components/notification/images/notification-usage-microlayouts.png
  src/pages/components/notification/style.mdx
  src/pages/components/notification/usage.mdx
Labels: status: ready to merge 🎉

#4345 Update usage.mdx
  src/pages/components/modal/usage.mdx
Labels: type: docs 📖, status: ready to merge 🎉, status: enable automerge 🟠

#4360 Update who-uses-carbon.mdx
  src/pages/all-about-carbon/who-uses-carbon.mdx
Labels: status: ready to merge 🎉

#4342 fix: Updated images in the Dropdown's Style and Accessibility tabs to display the focus state
  src/pages/components/dropdown/images/combobox-style-default-states.png
  src/pages/components/dropdown/images/combobox-style-fluid-states.png
  src/pages/components/dropdown/images/dropdown-accessibility-1.png
  src/pages/components/dropdown/images/dropdown-accessibility-2.png
  src/pages/components/dropdown/images/dropdown-accessibility-3.png
  src/pages/components/dropdown/images/dropdown-accessibility-4.png
  src/pages/components/dropdown/images/dropdown-combobox-style-default-states.png
  src/pages/components/dropdown/images/dropdown-combobox-style-fluid-states.png
  src/pages/components/dropdown/images/dropdown-multiselect-style-default-states.png
  src/pages/components/dropdown/images/dropdown-multiselect-style-fluid-states.png
  src/pages/components/dropdown/images/dropdown-style-1.png
  src/pages/components/dropdown/images/dropdown-style-1b.png
  src/pages/components/dropdown/images/dropdown-style-4.png
  src/pages/components/dropdown/images/dropdown-style-5.png
  src/pages/components/dropdown/images/dropdown-style-5b.png
  src/pages/components/dropdown/images/dropdown-style-6.png
  src/pages/components/dropdown/images/dropdown-style-7.png
  src/pages/components/dropdown/images/dropdown-style-8.png
  src/pages/components/dropdown/images/dropdown-style-ai-presence-ai-revert-default.png
  src/pages/components/dropdown/images/dropdown-style-ai-presence-ai-revert-fluid.png
  src/pages/components/dropdown/images/dropdown-style-default-states.png
  src/pages/components/dropdown/images/dropdown-style-fluid-states.png
  src/pages/components/dropdown/images/dropdown-style-size-fixed.png
  src/pages/components/dropdown/images/dropdown-style-size-fluid.png
  src/pages/components/dropdown/images/dropdown-style-size.png
  src/pages/components/dropdown/images/multiselect-style-default-states.png
  src/pages/components/dropdown/images/multiselect-style-fluid-states.png
  src/pages/components/dropdown/style.mdx
Labels: status: ready to merge 🎉

#4346 fix: Updated the Dropdown component's Usage tab to address a11y comments
  src/pages/components/dropdown/images/dropdown-ai-presence-default.png
  src/pages/components/dropdown/images/dropdown-ai-presence-fluid.png
  src/pages/components/dropdown/images/dropdown-ai-revert-default-1.png
  src/pages/components/dropdown/images/dropdown-ai-revert-default.png
  src/pages/components/dropdown/images/dropdown-ai-revert-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-1-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-1.png
  src/pages/components/dropdown/images/dropdown-usage-10a-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-10a.png
  src/pages/components/dropdown/images/dropdown-usage-10b-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-10b.png
  src/pages/components/dropdown/images/dropdown-usage-10c.png
  src/pages/components/dropdown/images/dropdown-usage-10d-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-10d.png
  src/pages/components/dropdown/images/dropdown-usage-10e.png
  src/pages/components/dropdown/images/dropdown-usage-10f-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-10f.png
  src/pages/components/dropdown/images/dropdown-usage-11a.png
  src/pages/components/dropdown/images/dropdown-usage-11b.png
  src/pages/components/dropdown/images/dropdown-usage-11c-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-11c.png
  src/pages/components/dropdown/images/dropdown-usage-12.png
  src/pages/components/dropdown/images/dropdown-usage-16.png
  src/pages/components/dropdown/images/dropdown-usage-17.png
  src/pages/components/dropdown/images/dropdown-usage-2.png
  src/pages/components/dropdown/images/dropdown-usage-3-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-3.png
  src/pages/components/dropdown/images/dropdown-usage-4-do-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-4-do.png
  src/pages/components/dropdown/images/dropdown-usage-4-dont-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-4-dont.png
  src/pages/components/dropdown/images/dropdown-usage-5.png
  src/pages/components/dropdown/images/dropdown-usage-6.png
  src/pages/components/dropdown/images/dropdown-usage-7a.png
  src/pages/components/dropdown/images/dropdown-usage-8a-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-8a.png
  src/pages/components/dropdown/images/dropdown-usage-8b-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-8b.png
  src/pages/components/dropdown/images/dropdown-usage-8c.png
  src/pages/components/dropdown/images/dropdown-usage-8d.png
  src/pages/components/dropdown/images/dropdown-usage-9a-fluid.png
  src/pages/components/dropdown/images/dropdown-usage-9a.png
  src/pages/components/dropdown/images/dropdown-usage-9b.png
  src/pages/components/dropdown/images/dropdown-usage-formatting-1.png
  src/pages/components/dropdown/images/usage-ai-combobox-vertical-divider-do.png
  src/pages/components/dropdown/images/usage-ai-combobox-vertical-divider-dont.png
  src/pages/components/dropdown/images/usage-combobox-vertical-divider-do-1.png
  src/pages/components/dropdown/images/usage-combobox-vertical-divider-do-3.png
  src/pages/components/dropdown/images/usage-combobox-vertical-divider-dont-4.png
  src/pages/components/dropdown/images/usage-combobox-vertical-divider-dont.png
  src/pages/components/dropdown/usage.mdx
Labels: status: ready to merge 🎉

#4364 docs(Dropdown): Update Usage tab with Combo box custom value functionality
  src/pages/components/dropdown/images/dropdown-usage-11d.png
  src/pages/components/dropdown/usage.mdx
Labels: status: one more review 👀, status: ready for review 👀

#4367 fix: updates old image on the icon usage tab
  src/pages/elements/icons/images/iconography-usage-sizing-2.svg
  src/pages/elements/icons/usage.mdx
Labels: status: one more review 👀, status: ready for review 👀

#4366 docs(Data Table): Update AI Presence section image in Style tab
  src/pages/components/data-table/images/style-ai-presence-entire-datatable.png
Labels: status: one more review 👀, status: ready for review 👀

#4357 docs(Notification) Feature flag usage, code tab update
  src/pages/components/notification/code.mdx
  src/pages/components/notification/usage.mdx
Labels: status: one more review 👀, status: ready for review 👀

#4365 Update broken links on Carbon for AI page
  src/pages/guidelines/carbon-for-ai/index.mdx
Labels: status: one more review 👀, status: ready for review 👀

#4362 Update accessibility.mdx
  src/pages/components/dropdown/accessibility.mdx
Labels: status: one more review 👀, status: ready for review 👀

#4370 chore(pictograms): hide tokyo--volcano
  src/components/SVGLibraries/PictogramLibrary/PictogramCategory.js
Labels: status: one more review 👀, status: ready for review 👀
