Repository carbon-design-system/carbon-website, pull requests merged in 2025-04, with the labels that each got.

#4517 docs: fix broken links on form pattern page
  src/pages/patterns/forms-pattern/index.mdx
Labels: status: ready to merge 🎉

#4510 docs: remove excess space and fix misc issues
  package.json
  src/data/index/watson-health/required-action-modal.yml
  src/pages/components/accordion/usage.mdx
  src/pages/components/ai-label/usage.mdx
  src/pages/components/data-table/code.mdx
  src/pages/components/data-table/usage.mdx
  src/pages/components/select/usage.mdx
  src/pages/contributing/documentation.mdx
  src/pages/data-visualization/axes-and-labels/index.mdx
  src/pages/data-visualization/chart-anatomy/index.mdx
  src/pages/data-visualization/chart-types/images/network-diagram.svg
  src/pages/data-visualization/chart-types/images/networkdiagram.svg
  src/pages/data-visualization/chart-types/index.mdx
  src/pages/data-visualization/flow-charts/index.mdx
  src/pages/data-visualization/legends/index.mdx
  src/pages/data-visualization/spatial-charts/index.mdx
  src/pages/elements/color/overview.mdx
  src/pages/elements/pictograms/images/15_Alignment_1-mobile.svg
  src/pages/patterns/global-header/index.mdx
  src/pages/whats-happening/news-and-articles/index.mdx
Labels: status: ready to merge 🎉

#4514 Docs: Breadcrumb [small breadcrumb] website updates
  src/pages/components/breadcrumb/images/breadcrumb-accessibility-1.png
  src/pages/components/breadcrumb/images/breadcrumb-accessibility-2.png
  src/pages/components/breadcrumb/images/breadcrumb-anatomy-1.png
  src/pages/components/breadcrumb/images/breadcrumb-anatomy.png
  src/pages/components/breadcrumb/images/breadcrumb-modifiers-1.png
  src/pages/components/breadcrumb/images/breadcrumb-placement-1.png
  src/pages/components/breadcrumb/images/breadcrumb-placement.png
  src/pages/components/breadcrumb/images/breadcrumb-sizing-1.png
  src/pages/components/breadcrumb/images/breadcrumb-sizing-medium-size-1.png
  src/pages/components/breadcrumb/images/breadcrumb-sizing-small-size-1.png
  src/pages/components/breadcrumb/images/breadcrumb-style-color-1.png
  src/pages/components/breadcrumb/images/breadcrumb-style-color-overflow-2.png
  src/pages/components/breadcrumb/images/breadcrumb-style-interactive-state-color-1.png
  src/pages/components/breadcrumb/images/breadcrumb-style-interactive-state-color-overflow-1.png
  src/pages/components/breadcrumb/images/breadcrumb-style-size.png
  src/pages/components/breadcrumb/images/breadcrumb-style-structure-medium-1.png
  src/pages/components/breadcrumb/images/breadcrumb-style-structure-medium-overflow-2.png
  src/pages/components/breadcrumb/images/breadcrumb-style-structure-small-1.png
  src/pages/components/breadcrumb/images/breadcrumb-style-structure-small-overflow-2.png
  src/pages/components/breadcrumb/images/breadcrumb-truncated.png
  src/pages/components/breadcrumb/images/breadcrumb-truncation.png
  src/pages/components/breadcrumb/style.mdx
  src/pages/components/breadcrumb/usage.mdx
Labels: status: ready to merge 🎉

#4515 fix: added medium article from from design-ibm account
  gatsby-config.js
  package.json
  src/gatsby-theme-carbon/components/MediumPosts/index.js
  yarn.lock
Labels: status: ready to merge 🎉

#4529 fix(links): update various v10 github links to main
  src/components/SVGLibraries/IconLibrary/IconLibrary.js
  src/components/SVGLibraries/PictogramLibrary/PictogramLibrary.js
  src/pages/developing/frameworks/react.mdx
  src/pages/elements/color/overview.mdx
  src/pages/elements/pictograms/usage.mdx
Labels: type: bug 🐛, severity: 3, status: ready to merge 🎉

#4541 chore: update deploy command to force override
  .github/workflows/deploy.yml
Labels: status: ready to merge 🎉

#4434 Updated notification/usage.mdx with content-focused edits
  src/pages/components/notification/usage.mdx
Labels: status: ready to merge 🎉

#4545 Docs: Updated Homepage contributing link
  src/components/Homepage.js
Labels: status: ready to merge 🎉

#4549 docs: update slider style tab with correct range structure images
  src/pages/components/notification/usage.mdx
  src/pages/components/slider/style.mdx
Labels: status: ready to merge 🎉

#4548 docs: remove mention of idl playbacks on the meetups page
  src/pages/whats-happening/meetups/index.mdx
Labels: status: ready to merge 🎉

#4542 docs: add import to clarify dependencies
  src/pages/elements/2x-grid/code.mdx
Labels: status: ready to merge 🎉

#4556 Updating the caption to full width
  src/pages/components/UI-shell-header/style.mdx
  src/pages/components/UI-shell-left-panel/style.mdx
  src/pages/components/UI-shell-right-panel/style.mdx
  src/pages/components/breadcrumb/style.mdx
  src/pages/components/checkbox/style.mdx
  src/pages/components/code-snippet/style.mdx
  src/pages/components/contained-list/style.mdx
  src/pages/components/content-switcher/style.mdx
  src/pages/components/data-table/style.mdx
  src/pages/components/date-picker/style.mdx
  src/pages/components/dropdown/style.mdx
  src/pages/components/file-uploader/style.mdx
  src/pages/components/form/style.mdx
  src/pages/components/link/style.mdx
  src/pages/components/list/style.mdx
  src/pages/components/menu/style.mdx
  src/pages/components/modal/style.mdx
  src/pages/components/notification/style.mdx
  src/pages/components/number-input/style.mdx
  src/pages/components/pagination/style.mdx
  src/pages/components/popover/style.mdx
  src/pages/components/progress-bar/style.mdx
  src/pages/components/progress-indicator/style.mdx
  src/pages/components/radio-button/style.mdx
  src/pages/components/search/style.mdx
  src/pages/components/select/style.mdx
  src/pages/components/structured-list/style.mdx
  src/pages/components/tabs/style.mdx
  src/pages/components/tag/style.mdx
  src/pages/components/text-input/style.mdx
  src/pages/components/tile/style.mdx
  src/pages/components/toggle/style.mdx
  src/pages/components/tooltip/style.mdx
  src/pages/components/tree-view/style.mdx
  src/pages/contributing/documentation.mdx
Labels: status: one more review 👀

#4561 feat(animated-icons): added resource card
  src/pages/elements/icons/usage.mdx
Labels: status: ready for review 👀
