Repository carbon-design-system/carbon-website, pull requests merged in 2025-06, with the labels that each got.

#4610 Fix: Content switcher styling bug on Color tokens page
  src/components/ColorTokenTable/color-token-table.scss
Labels: status: one more review 👀

#4606 docs: correct spelling issues throughout codebase
  .gitignore
  docs/dependency-management.md
  docs/lets-encrypt.md
  src/pages/components/content-switcher/usage.mdx
  src/pages/components/list/usage.mdx
  src/pages/components/popover/code.mdx
  src/pages/components/tabs/style.mdx
  src/pages/contributing/documentation.mdx
  src/pages/designing/design-resources/index.mdx
  src/pages/developing/vue-tutorial/step-1.mdx
  src/pages/developing/web-components-tutorial/step-4.mdx
Labels: status: one more review 👀

#4621 docs: typos and wording in patterns common actions
  src/pages/patterns/common-actions/index.mdx
Labels: status: one more review 👀

#4625 chore(codepen): remove codepen embed per cookie compliance
  src/pages/patterns/common-actions/index.mdx
  src/pages/patterns/overflow-content/index.mdx
Labels: status: ready to merge 🎉

#4613 docs: update content templates with optional sections
  src/pages/contributing/documentation.mdx
Labels: status: ready for review 👀

#4612 fix: forms-pattern formatting
  src/pages/patterns/forms-pattern/index.mdx
Labels: status: ready for review 👀

#4642 docs: add v12 term where feature flag content is mentioned
  src/pages/components/menu-buttons/code.mdx
  src/pages/components/menu-buttons/usage.mdx
  src/pages/components/modal/code.mdx
  src/pages/components/modal/usage.mdx
  src/pages/components/notification/code.mdx
  src/pages/components/notification/usage.mdx
  src/pages/components/overview/feature-flags.mdx
  src/pages/components/overview/images/feature-flag-implementation-1.png
  src/pages/components/overview/images/feature-flag-implementation-2.png
  src/pages/components/structured-list/code.mdx
  src/pages/components/structured-list/usage.mdx
  src/pages/components/tile/code.mdx
  src/pages/components/tile/usage.mdx
  src/pages/components/tree-view/code.mdx
  src/pages/components/tree-view/usage.mdx
  src/pages/help/faq/index.mdx
Labels: status: ready to merge 🎉
