Repository carbon-design-system/carbon-website, pull requests merged in 2025-03, with the labels that each got.

#4462 [Tooltip] update Style tab
  src/pages/components/tooltip/images/tooltip-style-1.png
  src/pages/components/tooltip/images/tooltip-style-2.png
  src/pages/components/tooltip/images/tooltip-style-3.png
  src/pages/components/tooltip/images/tooltip-style-4.png
  src/pages/components/tooltip/images/tooltip-style-5.png
  src/pages/components/tooltip/style.mdx
Labels: status: one more review 👀

#4477 doc(list): Update the Style tab with the latest content template
  src/pages/components/list/images/list-style-1.png
  src/pages/components/list/images/list-style-2.png
  src/pages/components/list/images/list-style-color.png
  src/pages/components/list/images/list-style-structure.png
  src/pages/components/list/style.mdx
Labels: status: ready to merge 🎉

#4492 docs: fixed typo "theme changer"
  src/pages/developing/web-components-tutorial/step-1.mdx
Labels: status: ready to merge 🎉

#4475 Update accessibility.mdx
  src/pages/components/link/accessibility.mdx
Labels: status: one more review 👀, status: ready to merge 🎉

#4499 [Popover] Updated nesting section in the Usage tab
  src/pages/components/popover/images/popover-usage-nested.png
  src/pages/components/popover/usage.mdx
Labels: status: ready to merge 🎉

#4479 chore: update caniuse-lite browser DB
  yarn.lock
Labels: status: one more review 👀

#4501 docs: update grid aware aligment tab guidance
  src/pages/components/tabs/images/tab-usage-20.png
  src/pages/components/tabs/images/tab-usage-3.png
  src/pages/components/tabs/images/tab-usage-4.png
  src/pages/components/tabs/images/tab-usage-5.png
  src/pages/components/tabs/images/tab-usage-6-do.png
  src/pages/components/tabs/images/tab-usage-6-dont.png
  src/pages/components/tabs/usage.mdx
Labels: status: ready to merge 🎉

#4495 feat: adds treeview with links storybook demo
  src/pages/components/tree-view/code.mdx
  src/pages/components/tree-view/usage.mdx
Labels: status: ready to merge 🎉

#4468 [Toggletip] Update Usage and Style tab
  src/pages/all-about-carbon/images/team/seabrook_billy.png
  src/pages/components/toggletip/images/toggle-tip-style-1.png
  src/pages/components/toggletip/images/toggle-tip-style-2.png
  src/pages/components/toggletip/images/toggle-tip-usage-anatomy.png
  src/pages/components/toggletip/style.mdx
  src/pages/components/toggletip/usage.mdx
  yarn.lock
Labels: status: ready to merge 🎉

#4493 doc(list): Update the Usage & A11y tab
  src/pages/components/list/accessibility.mdx
  src/pages/components/list/images/list-usage-1.png
  src/pages/components/list/images/list-usage-alignment-content.png
  src/pages/components/list/images/list-usage-alignment-do.png
  src/pages/components/list/images/list-usage-alignment-dont.png
  src/pages/components/list/images/list-usage-alignment-nested.png
  src/pages/components/list/images/list-usage-anatomy.png
  src/pages/components/list/images/list-usage-ordered-alignment-number.png
  src/pages/components/list/images/list-usage-ordered-in-context.png
  src/pages/components/list/images/list-usage-overflow.png
  src/pages/components/list/images/list-usage-overview-in-context.png
  src/pages/components/list/images/list-usage-placement-do.png
  src/pages/components/list/images/list-usage-placement-dont.png
  src/pages/components/list/images/list-usage-sizing.png
  src/pages/components/list/images/list-usage-unordered-in-context.png
  src/pages/components/list/usage.mdx
Labels: status: ready to merge 🎉

#4508 docs: fix image bug on the Tile usage docs
  src/pages/components/tile/images/tile-usage-narrow-grid.png
Labels: status: ready to merge 🎉
