Repository carbon-design-system/carbon-website, pull requests merged in 2025-02, with the labels that each got.

#4459 chore(pictogram): update package
  package.json
  src/components/SVGLibraries/PictogramLibrary/PictogramCategory.js
  yarn.lock
Labels: status: one more review 👀, status: ready for review 👀

#4446 doc(toggle): Update the Style tab with the latest content template
  src/pages/components/toggle/images/toggle-style-color.png
  src/pages/components/toggle/images/toggle-style-default-spec.png
  src/pages/components/toggle/images/toggle-style-states.png
  src/pages/components/toggle/style.mdx
Labels: status: ready to merge 🎉

#4455 Menu buttons guidance PR
  src/pages/components/menu-buttons/images/style-menu-buttons.png
  src/pages/components/menu-buttons/images/usage-combo-button-height.png
  src/pages/components/menu-buttons/images/usage-menu-button-1.png
  src/pages/components/menu-buttons/images/usage-menu-buttons-width.png
  src/pages/components/menu-buttons/images/usage-menu-combo-button-1.png
  src/pages/components/menu-buttons/style.mdx
  src/pages/components/menu-buttons/usage.mdx
Labels: status: ready to merge 🎉

#4453 docs: fix broken resource card link to carbon for ibm.com
  src/pages/community/domain-guidance.mdx
Labels: status: ready to merge 🎉

#4440 doc(toggle): Update the Usage tab with the latest content template
  src/pages/components/toggle/images/toggle-usage-anatomy.png
  src/pages/components/toggle/images/toggle-usage-clickable-areas.png
  src/pages/components/toggle/images/toggle-usage-sizes.png
  src/pages/components/toggle/images/toggle-usage-variants.png
  src/pages/components/toggle/images/toggle_usage_overview.png
  src/pages/components/toggle/usage.mdx
Labels: status: ready to merge 🎉

#4456 [Tile] Update Tile in Accessibility Tab
  src/pages/components/tile/accessibility.mdx
  src/pages/components/tile/images/tile-accessibility-1.png
  src/pages/components/tile/images/tile-accessibility-2.png
  src/pages/components/tile/images/tile-accessibility-3.png
  src/pages/components/tile/images/tile-accessibility-4.png
  src/pages/components/tile/images/tile-accessibility-5.png
  src/pages/components/tile/images/tile-accessibility-6.png
  src/pages/components/tile/images/tile-accessibility-7.png
Labels: status: ready for review 👀, status: ready to merge 🎉

#4458 docs: update carbon champions to 2024 names
  src/pages/contributing/get-started/overview.mdx
Labels: status: ready to merge 🎉

#4463 [Bug] Update ai-label-explainability-01.png
  src/pages/components/ai-label/images/ai-label-explainability-01.png
Labels: status: ready to merge 🎉

#4478 chore(release): update gatsby theme
  package.json
  yarn.lock
Labels: status: ready for review 👀

#4347 Carbon tutorial web components
  .github/CODEOWNERS
  gatsby-node.js
  src/data/nav-items.yaml
  src/pages/all-about-carbon/who-uses-carbon.mdx
  src/pages/developing/dev-resources/resources.mdx
  src/pages/developing/get-started.mdx
  src/pages/developing/react-tutorial/wrapping-up.mdx
  src/pages/developing/web-components-tutorial/images/step-5/asset-404.png
  src/pages/developing/web-components-tutorial/images/step-5/linter-error-details.png
  src/pages/developing/web-components-tutorial/images/step-5/linter-error.png
  src/pages/developing/web-components-tutorial/images/step-5/spelling-illo.png
  src/pages/developing/web-components-tutorial/images/step-5/spelling-suggestions.png
  src/pages/developing/web-components-tutorial/overview.mdx
  src/pages/developing/web-components-tutorial/step-1.mdx
  src/pages/developing/web-components-tutorial/step-2.mdx
  src/pages/developing/web-components-tutorial/step-3.mdx
  src/pages/developing/web-components-tutorial/step-4.mdx
  src/pages/developing/web-components-tutorial/step-5.mdx
Labels: type: enhancement 💡
